.l-nav {
	top      : 0;
	left     : 0;
	width    : 100%;
	position : absolute;
	@include transition(margin-left $transition-times , 0);
}

.l-body {
	left     : 0;
	width    : 100%;
	position : relative;
	@include transition((margin-top $transition-times , left $transition-times) , 0);
}

.l-header {
	position   : relative;
	background : #FFF;
	@include box-sizing(border-box);
}

.l-main {
	position : relative;
}

.l-main-hd {
	position : relative;
}

.l-main-bd {
	margin     : -36px auto 0 auto;
	width      : 100%;
	max-width  : $main-min-width;
	background : $sub-color;
	position   : relative;
	@include box-sizing(border-box);
	@include box-shadow(rgba(#000 , .15) 0 1px 4px);

	&.is-content-right {
		.l-content {
			width : ($main-min-width - $side-width);
			float : right;
		}

		.l-side {
			float : left;
		}
	}

	&.is-content-left {
		.l-content {
			width : ($main-min-width - $side-width);
			float : left;
		}

		.l-side {
			float : right;
		}
	}
}

.l-content {
	padding    : 10px 0;
	width      : 100%;
	border-top : 4px solid #D2D2D2;
	position   : relative;
	background : #FFF;
	@include clearfix;
	@include box-sizing(border-box);
}

.l-side {
	padding    : 0 20px;
	width      : $side-width;
	border-top : 4px solid $major-color;
	position   : relative;
	@include clearfix;
	@include box-sizing(border-box);
}

.l-footer {
	margin-top : 45px;
	background : #7C7C7C;
}

/* screen width <= 800 */
@media screen and ( max-width : 800px ) {
	.l-nav {
		margin-left : -80%;
		width       : 80%;
		height      : 100%;
		position    : fixed;

		&.is-animate {
			margin-left : 0%;
			position    : relative;
		}
	}

	.l-body {
		&.is-animate {
			top      : 0;
			left     : 80%;
			height   : 100%;
			position : fixed;

			&.is-lock {
				overflow : hidden;	
			}
		}
	}

	.l-main-bd {
		margin-top : -18px;
		padding    :  0 10px;
		max-width  : inherit;
		background : none;
		@include box-shadow(rgba(#000 , .15) 0 0 0);

		&.is-content-right , &.is-content-left {
			.l-content  {
				width : 100%;
				float : none;
				@include box-shadow(rgba(#000 , .15) 0 1px 4px);
			}

			.l-side {
				width      : 0;
				height     : 0;
				visibility : hidden;
			}
		}
	}

	.l-side {
		width      : 0;
		height     : 0;
		visibility : hidden;
	}

	.l-footer {
		margin-top : 25px;
	}
}

/* screen width <= 800 and width > 598 */
@media screen and ( min-width : 598px ) and ( max-width : 800px ) {
	
}

/* screen width < 598 */
@media screen and ( max-width : 597px ) {
}