.m-button {
	margin         : 0;
	padding        : 5px 10px;
	font           : 14px/1.6 $font-family;
	color          : $text-major-color;
	text-align     : center;
	border         : 1px solid transparent;
	border-spacing : 0;
	position       : relative;
	background     : none;
	outline        : 0;
	cursor         : pointer;
	text-indent    : 0;
	white-space    : nowrap;
	z-index        : 1;
	@include inline-block;
	@include touch-action;
	@include transition((background (($transition-times * 2) - 0.1) , color (($transition-times * 2) - 0.1)) , 0);
	@include border-radius($module-border-radius);

	&.m-button-sitemap {
		padding-top    : 0;
		padding-bottom : 0;
		color          : $text-minor-color;
		height         : 24px;
		border         : 1px solid $border-major-color;
		background     : #EDEDED;
		@include border-radius(30px);
		@include box-sizing(border-box);
		@include box-shadow(rgba(#000 , .5) 0 1px 3px);

		.m-icon {
			margin-top  : -2px;
			margin-left : 3px;
			font-size   : 12px;
		}
	}
}