.m-breadcrumb {
	margin-right : $inner-Width;
	margin-left  : $inner-Width;
	color        : $text-sub-color;
	@include display(table);

	> li {
		font-size   : 13px;
		line-height : 1.2;
		position    : relative;
		@include display(table-cell);

		&:before {
			content : "\003E";
			margin  : 0 5px;
			@include inline-block;
		}

		&:first-child {
			&:before {
				display : none;
			}

			> a {
				&:hover {
					color               : $major-color;
					border-bottom-color : transparent;
				}
			}
		}

		> a {
			color         : $text-sub-color;
			border-bottom : 1px solid transparent;
			@include inline-block;
			@include transition((color $transition-times , border-bottom-color $transition-times) , 0);

			&:hover {
				border-bottom-color : $text-sub-color;
			}

			> .m-icon {
				font-size : 150%;
			}
		}

		> em {
			@include inline-block;
		}
	}
}

/* screen width <= 800 */
@media screen and ( max-width : 800px ) {
	.m-breadcrumb {
		margin-right : ($inner-Width - 10);
		margin-left  : ($inner-Width - 10);
	}
}

/* screen width <= 800 and width > 598 */
@media screen and ( min-width : 598px ) and ( max-width : 800px ) {
	
}

/* screen width < 598 */
@media screen and ( max-width : 597px ) {
	
}