.m-media {
	height   : 280px;
	position : relative;
	@include clearfix;
}

.m-media-item {
	left        : 50%;
	margin-left : -$main-min-width;
	text-align  : center;
	width       : ($main-min-width * 2);
	position    : relative;
}