.m-sitemap {
	max-height : 0;
	position   : relative;
	@include clearfix;
	@include transition(max-height $transition-times , 0);

	&.is-show {
		max-height : 500px;
	}
}

.m-sitemap-bd {
	> ul {
		width : 100%;
		@include display(table);

		> li {
			position : relative;
			float    : none;
			@include display(table-cell , top);

			/*&:before {
				content    : "";
				top        : 0;
				left       : 0;
				width      : 1px;
				height     : 100%;
				position   : absolute;
				background : #FFF;
			}

			&:first-child {
				&:before {
					display : none;
				}
			}*/


			> ul {
				margin-top: 20px;

				&:first-child {
					margin-top : 0;
				}

				> li {
					&:first-child {
						margin-bottom : 10px;
						font-size     : 16px;
						line-height   : 1.6;
					}		
				}
			}
			
		}	
	}

	
}

/* screen width <= 800 */
@media screen and ( max-width : 800px ) {
	
}

/* screen width <= 800 and width > 598 */
@media screen and ( min-width : 598px ) and ( max-width : 800px ) {
	
}

/* screen width < 598 */
@media screen and ( max-width : 597px ) {
	.m-sitemap-bd {
		> ul {
			@include display(block);

			> li {
				@include display(block , middle);
			}
		}
	}
}