.m-table {
	margin-bottom   : 10px;
	font-size       : 14px;
	vertical-align  : middle;
	width           : 100%;
	max-width       : 100%;
	border-spacing  : 0;
	border-collapse : collapse;
	background      : transparent;

	[class^="b-col-"] , [class*=" b-col-"] {
		padding : 0;
		float   : none;
		@include display(table-cell);
	}

	thead {
		color          : #FFF;
		vertical-align : middle;
		background     : tint($major-color , 42%);
	}

	tbody {
		vertical-align : middle;
	}

	tr {
		vertical-align : middle;
	}

	th , td {
		padding        : 10px;
		vertical-align : middle;
		line-height    : 1.6;
		@include box-sizing(border-box);

		&[class^="b-col-"] , &[class*=" b-col-"] {
			padding : 10px;
		}
	}

	&.m-table-center {
		th , td {
			text-align : center;
		}
	}
}

/* screen width <= 800 */
@media screen and ( max-width : 800px ) {
	
}

/* screen width <= 800 and width > 598 */
@media screen and ( min-width : 598px ) and ( max-width : 800px ) {
	
}

/* screen width < 598 */
@media screen and ( max-width : 597px ) {
	.m-table {
		[class^="b-col-"] , [class*=" b-col-"] {
			@include display(table);
		}

		thead {
			display : none;
		}

		tr {
			margin-top : 10px;
			border     : 1px solid $border-minor-color;
			@include display(block);
			@include border-radius($module-border-radius);
			@include clearfix;

			&:first-child {
				margin-top : 0;
			}
		}

		tbody {
			th , td {
				padding     : 0;
				width       : 100%;
				line-height : 1.6;
				min-height  : 40px;
				border-top  : 1px solid $border-minor-color;
				@include display(table);

				&:first-child {
					border-top : 0;
				}

				&:before {
					content        : attr(data-label);
					padding-right  : 5px;
					text-align     : right;
					text-transform : uppercase;
					color          : #FFF;
					width          : 33.3333%;
					background     : tint($major-color , 42%);
					@include display(table-cell);
					@include box-sizing(border-box);
				}

				> *:not(before) {
					padding-left: 5px;
					@include display(table-cell);
				}
			}
		}
	}
}