/* background-vertical-gradient */
@mixin background-vertical-gradient($startColor , $startPosition , $endColor , $endPosition) {
	background : $endColor; /* Old browsers */
	background : -moz-linear-gradient(top, $startColor $startPosition, $endColor $endPosition); /* FF3.6+ */
	background : -webkit-gradient(linear, left top, left bottom, color-stop($startPosition, $startColor), color-stop($endPosition, $endColor)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(top, $startColor $startPosition, $endColor $endPosition); /* Chrome10+,Safari5.1+ */
	background : -o-linear-gradient(top, $startColor $startPosition, $endColor $endPosition); /* Opera 11.10+ */
	background : -ms-linear-gradient(top, $startColor $startPosition, $endColor $endPosition); /* IE10+ */
	background : linear-gradient(to bottom, $startColor $startPosition, $endColor $endPosition); /* W3C */
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#{darken($startColor , 0.15%)}' , endColorstr='#{darken($endColor , 0.15%)}',GradientType=0);
}

/* background-horizontal-gradient */
@mixin background-horizontal-gradient($startColor , $startPosition , $endColor , $endPosition) {
	background : $endColor; /* Old browsers */
	background : -moz-linear-gradient(left, $startColor $startPosition, $endColor $endPosition); /* FF3.6+ */
	background : -webkit-gradient(linear, left top, right top, color-stop($startPosition, $startColor), color-stop($endPosition, $endColor)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(left, $startColor $startPosition, $endColor $endPosition); /* Chrome10+,Safari5.1+ */
	background : -o-linear-gradient(left, $startColor $startPosition, $endColor $endPosition); /* Opera 11.10+ */
	background : -ms-linear-gradient(left, $startColor $startPosition, $endColor $endPosition); /* IE10+ */
	background : linear-gradient(to right, $startColor $startPosition, $endColor $endPosition); /* W3C */
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#{darken($startColor , 0.15%)}' , endColorstr='#{darken($endColor , 0.15%)}',GradientType=1);
}

/* transition */
@mixin transition($transition , $delay) {
	-webkit-transition                 : $transition;
	-moz-transition                    : $transition;
	-ms-transition                     : $transition;
	-o-transition                      : $transition;
	transition                         : $transition;
	-webkit-transition-delay           : $delay;
	-moz-transition-delay              : $delay;
	-ms-transition-delay               : $delay;
	-o-transition-delay                : $delay;
	transition-delay                   : $delay;
	-webkit-transition-timing-function : ease;
	-moz-transition-timing-function    : ease;
	-ms-transition-timing-function     : ease;
	-o-transition-timing-function      : ease;
	transition-timing-function         : ease;
}

@mixin transition-in($kind , $inTime , $delay) {
	-webkit-transition       : $kind ease-in $inTime;
	-moz-transition          : $kind ease-in $inTime;
	-ms-transition           : $kind ease-in $inTime;
	-o-transition            : $kind ease-in $inTime;
	transition               : $kind ease-in $inTime;
	-webkit-transition-delay : $delay;
	-moz-transition-delay    : $delay;
	-ms-transition-delay     : $delay;
	-o-transition-delay      : $delay;
	transition-delay         : $delay;
}

@mixin transition-out($kind , $outTime , $delay) {
	-webkit-transition       : $kind ease-out $outTime;
	-moz-transition          : $kind ease-out $outTime;
	-ms-transition           : $kind ease-out $outTime;
	-o-transition            : $kind ease-out $outTime;
	transition               : $kind ease-out $outTime;
	-webkit-transition-delay : $delay;
	-moz-transition-delay    : $delay;
	-ms-transition-delay     : $delay;
	-o-transition-delay      : $delay;
	transition-delay         : $delay;
}

@mixin transition-none {
	-webkit-transition : none;
	-moz-transition    : none;
	-ms-transition     : none;
	-o-transition      : all 0 ease-in;
	transition         : none;
}

/* transform scale */
@mixin transform-scale($zoom) {
	-webkit-transform : scale($zoom , $zoom);
	-moz-transform    : scale($zoom , $zoom);
	-o-transform      : scale($zoom , $zoom);
	-ms-transform     : scale($zoom , $zoom);
	transform         : scale($zoom , $zoom);
}

/* placeholder text */
@mixin placeholder( $color : $placeholder-color ) {
	font-family : $font-family;

	&::-moz-placeholder {
		color   : $color;
		opacity : 1;
	}

	&:-ms-input-placeholder {
		color : $color;
	}

	&::-webkit-input-placeholder { 
		color : $color;
	}
}

@mixin autofill( $background-color : #FFF !important , $color : #CCC !important ) {
	&::-moz-autofill {
		color            : $color;
		background-color : $background-color;
	}

	&:-ms-autofill {
		color            : $color;
		background-color : $background-color;
	}

	&:-webkit-autofill , &:-webkit-autofill:hover , &:-webkit-autofill:focus { 
		color            : $color;
		background-color : $background-color;
	}
}

/* text-size-adjust */
@mixin text-size-adjust {
	-webkit-text-size-adjust : none;
	-moz-text-size-adjust    : none;
	-o-text-size-adjust      : none;
	-ms-text-size-adjust     : none;
	text-size-adjust         : none;
}

/* table-cell */
@mixin display( $type , $vertical : middle ) {
	display        : $type;
	vertical-align : $vertical;
}

/* touch-action */
@mixin touch-action {
	-ms-touch-action    : manipulation;
	touch-action        : manipulation;
	-webkit-user-select : none;
	-moz-user-select    : none;
	-ms-user-select     : none;
	user-select         : none;
}

/* disabled */
@mixin disabled {
	color        : lighten($text-sub-color , 15%);
	border-color : darken($color-disabled , 5%);
	background   : $color-disabled;
	cursor       : not-allowed;
	@include text-shadow(#FFF 1px 1px 0);
}