<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-海內外服務據點-台灣地區服務據點</title>
	<link rel="canonical" href="https://www.fubon.com/financialholdings/location/location_oversea.html" />
	<link rel="shortcut icon" type="image/x-icon" href="/financialholdings/Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="/financialholdings/Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="/financialholdings/Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="/financialholdings/Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="/financialholdings/Scripts/plugin/sugarfunbox/css/sugarfunbox.css?CSS=20150630_01">
	<link rel="stylesheet" href="/financialholdings/Content/css/location/location.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="/financialholdings/Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!--#include virtual="/financialholdings/header.inc" -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main oversea-content ng-controller" ng-controller="Location">
			<!--#include virtual="header.inc" -->
			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd is-content-left b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-breadcrumb begin =================== -->
					<ol class="m-breadcrumb b-clearfix">
						<li>
							<a href="/financialholdings/home/index.html"><i class="m-icon m-icon-home"></i></a>
						</li>
						<li>
							<a href="/financialholdings/Service/Contact.html">海內外服務據點</a>
						</li>
						<li>
							<em>海外地區服務據點</em>
						</li>
					</ol>
					<!-- ==================== m-breadcrumb end =================== -->

					<!-- ==================== m-section begin =================== -->
					<section class="m-section">
						<header class="m-section-hd is-col b-clearfix">
							<h2>海外地區服務據點</h2>
						</header>
						<main class="m-section-bd b-clearfix">
							<div class="m-search">
								<div class="m-search-hd is-margin-bottom b-clearfix b-row">
									<div class="m-step b-col-md-12 b-col-sm-12 b-col-xs-6">
										<span class="m-step-title no-number">
											<i class="m-icon m-icon-number-1"></i>
											<em>請選擇地區</em>
										</span>
										<div class="m-step-item">
											<div class="m-form-group m-form-select ng-select">
												<div class="m-form-ctrl b-col-xs-6 b-col-xs-padding-reset">
													<label>
														<select class="m-form m-form-control is-bgcolor" ng-model="Location.Overseas.Model.Area">
															<option value="">請選擇地區</option>
															<option value="中國">中國</option>
															<option value="香港">香港</option>
															<option value="越南">越南</option>
															<option value="泰國">泰國</option>
															<option value="馬來西亞">馬來西亞</option>
															<option value="菲律賓">菲律賓</option>
															<option value="印尼">印尼</option>
															<option value="美國">美國</option>
														</select>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="m-search-bd is-margin-bottom">
									<div class="m-tab">
										<div class="m-tab-bd">
											<ul class="m-list-content">
												<li ng-if="Location.Overseas.Model.Area === '' || Location.Overseas.Model.Area === '中國'">
													<em class="b-h3">中國 <a href="http://www.fubon.com.cn" target="_blank" class="b-link">www.fubon.com.cn</a></em>
													<em class="b-h3">富邦人壽</em>
													<table class="m-table">
														<thead>
															<tr>
																<th class="b-col-md-4 b-col-sm-4">營業單位</th>
																<th class="b-col-md-5 b-col-sm-5">地址</th>
																<th>客服電話</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td data-label="營業單位"><em>富邦人壽保險股份有限公司<br>北京代表處</em></td>
																<td data-label="地址"><em>北京市朝陽區建國路91號金地中心A座1209室</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 1058658847" class="ng-tel">TEL:(86) 1058658847</a>
																		<a href="FAX:(86) 1058658842" class="ng-tel">FAX:(86) 1058658842</a>
																	</span>
																</td>
															</tr>
														</tbody>
													</table>

													<em class="b-h3">富邦華一銀行</em>
													<table class="m-table">
														<thead>
															<tr>
																<th class="b-col-md-4 b-col-sm-4">營業單位</th>	
																<th class="b-col-md-5 b-col-sm-5">地址</th>
																<th>客服電話</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td data-label="營業單位"><em>總行營業部</em></td>
																<td data-label="地址"><em>上海市世紀大道1168號A座1樓</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 021-20619888" class="ng-tel">TEL:(86) 021-20619888</a>
																		<a href="FAX:(86) 021-68863630" class="ng-tel">FAX:(86) 021-68863630</a>
																		<a href="FAX:(86) 021-58409292" class="ng-tel">FAX:(86) 021-58409292</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>深圳分行</em></td>
																<td data-label="地址"><em>深圳市福田區深南大道4019號航天大廈B座一樓<br><518048></em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 0755-83935966" class="ng-tel">TEL:(86) 0755-83935966</a>
																		<a href="FAX:(86) 0755-82020290" class="ng-tel">FAX:(86) 0755-82020290</a>
																		<a href="FAX:(86) 0755-82024172" class="ng-tel">FAX:(86) 0755-82024172</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>深圳寶安支行</em></td>
																<td data-label="地址"><em>深圳市寶安中心區N5區宏發領域花園4棟A85、B83商鋪</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 0755-29485788" class="ng-tel">TEL:(86) 0755-29485788</a>
																		<a href="FAX:(86) 0755-29069917" class="ng-tel">FAX:(86) 0755-29069917</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>天津分行</em></td>
																<td data-label="地址"><em>天津市南開區衛津路16號新都大廈底商<300073></em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 022-27503188" class="ng-tel">TEL:(86) 022-27503188</a>
																		<a href="FAX:(86) 022-27778950" class="ng-tel">FAX:(86) 022-27778950</a>
																		<a href="FAX:(86) 022-27778951" class="ng-tel">FAX:(86) 022-27778951</a>
																		<a href="FAX:(86) 022-27778952" class="ng-tel">FAX:(86) 022-27778952</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>天津濱海支行</em></td>
																<td data-label="地址"><em>天津市開發區新城西路52號濱海金融街西區七號樓底商</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 022-66287628" class="ng-tel">TEL:(86) 022-66287628</a>
																		<a href="FAX:(86) 022-66287693" class="ng-tel">FAX:(86) 022-66287693</a>
																		<a href="FAX:(86) 022-66287692" class="ng-tel">FAX:(86) 022-66287692</a>
																		<a href="FAX:(86) 022-66287631" class="ng-tel">FAX:(86) 022-66287631</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>蘇州分行</em></td>
																<td data-label="地址"><em>蘇州市工業園區星海街188號恒宇廣場1F-3F</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 0512-62555777" class="ng-tel">TEL:(86) 0512-62555777</a>
																		<a href="FAX:(86) 0512-67628617" class="ng-tel">FAX:(86) 0512-67628617</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>上海虹橋支行</em></td>
																<td data-label="地址"><em>上海市長寧區榮華東道88號（近古北路口）</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 021-62951616" class="ng-tel">TEL:(86) 021-62951616</a>
																		<a href="FAX:(86) 021-62786599" class="ng-tel">FAX:(86) 021-62786599</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>上海徐匯支行</em></td>
																<td data-label="地址"><em>中山西路2020號華宜大廈1-3樓（近宜山路）</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 021-54259696" class="ng-tel">TEL:(86) 021-54259696</a>
																		<a href="FAX:(86) 021-64686753" class="ng-tel">FAX:(86) 021-64686753</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>上海嘉定支行</em></td>
																<td data-label="地址"><em>上海市嘉定區墨玉南路888號上海國際汽車城大廈底層</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 021-69503300" class="ng-tel">TEL:(86) 021-69503300</a>
																		<a href="FAX:(86) 021-69503537" class="ng-tel">FAX:(86) 021-69503537</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>上海松江支行</em></td>
																<td data-label="地址"><em> 上海市松江區文誠路338弄二號嘉禾廣場<br>（易初蓮花購物廣場旁）</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 021-37799300" class="ng-tel">TEL:(86) 021-37799300</a>
																		<a href="FAX:(86) 021-37799302" class="ng-tel">FAX:(86) 021-37799302</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>上海閔行支行</em></td>
																<td data-label="地址"><em>上海市閔行區吳寶路255號力國大廈底樓（近吳中路）</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 021-54471616" class="ng-tel">TEL:(86) 021-54471616</a>
																		<a href="FAX:(86) 021-54477990" class="ng-tel">FAX:(86) 021-54477990</a>
																		<a href="FAX:(86) 021-54477445" class="ng-tel">FAX:(86) 021-54477445</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>上海青浦支行</em></td>
																<td data-label="地址"><em>上海市青浦區青湖路1023號105室（晨興商務樓）</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 021-69728088" class="ng-tel">TEL:(86) 021-69728088</a>
																		<a href="FAX:(86) 021-69728099" class="ng-tel">FAX:(86) 021-69728099</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>上海新天地支行</em></td>
																<td data-label="地址"><em>上海市盧灣區馬當路226號</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 021-23295678" class="ng-tel">TEL:(86) 021-23295678</a>
																		<a href="FAX:(86) 021-53069275" class="ng-tel">FAX:(86) 021-53069275</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>上海靜安支行</em></td>
																<td data-label="地址"><em>上海市靜安區南京西路555號</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 021-62550055" class="ng-tel">TEL:(86) 021-62550055</a>
																		<a href="FAX:(86) 021-62556166" class="ng-tel">FAX:(86) 021-62556166</a>
																		<a href="FAX:(86) 021-62559299" class="ng-tel">FAX:(86) 021-62559299</a>
																	</span>
																</td>
															</tr>
														</tbody>
													</table>

													<em class="b-h3">富邦產險</em>
													<table class="m-table">
														<thead>
															<tr>
																<th class="b-col-md-4 b-col-sm-4">營業單位</th>
																<th class="b-col-md-5 b-col-sm-5">地址</th>
																<th>客服電話</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td data-label="營業單位"><em>北京代表人辦事處</em></td>
																<td data-label="地址"><em>北京市朝陽區建國路91號金地中心A座1210室</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 1058658843/45" class="ng-tel">TEL:(86) 1058658843/45</a>
																		<a href="FAX:(86) 1058658842" class="ng-tel">FAX:(86) 1058658842</a>
																	</span>
																</td>
															</tr>
														</tbody>
													</table>

													<em class="b-h3">富邦財險</em>
													<table class="m-table">
														<thead>
															<tr>
																<th class="b-col-md-4 b-col-sm-4">營業單位</th>
																<th class="b-col-md-5 b-col-sm-5">地址</th>
																<th>客服電話</th>
															</tr>
														</thead>
														<tbody>
															<tr>
															    <td data-label="營業單位"><em>(廈門)富邦財產保險有限公司總公司</em></td>
																<td data-label="地址"><em>廈門市思明區湖濱北路101號商業銀行大廈4樓A區</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 592-5353666" class="ng-tel">TEL:(86) 592-5353666</a>
																		<a href="FAX:(86) 592-5353600" class="ng-tel">FAX:(86) 592-5353600</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>(廈門)軟件園营销服务部</em></td>
																<td data-label="地址"><em>廈門市思明區軟件園二期望海路21號福富軟體5樓</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 592-2522058" class="ng-tel">TEL:(86) 592-2522058</a>
																		<a href="FAX:(86) 592-2522079" class="ng-tel">FAX:(86) 592-2522079</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>(廈門)思明营销服务部</em></td>
																<td data-label="地址"><em>廈門市思明區後埭溪路28號皇達大廈門20樓H、N單元</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 592-5868260" class="ng-tel">TEL:(86) 592-5868260</a>
																		<a href="FAX:(86) 592-5867200" class="ng-tel">FAX:(86) 592-5867200</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>(廈門)同安营销服务部</em></td>
																<td data-label="地址"><em>廈門市同安區祥平街道鳳嶺二路99號5樓</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 592-7265254" class="ng-tel">TEL:(86) 592-7265254</a>
																		<a href="FAX:(86) 592-7265257" class="ng-tel">FAX:(86) 592-7265257</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>(廈門)廈禾营销服务部</em></td>
																<td data-label="地址"><em>廈門市思明區廈禾路862號金山大廈15BDF</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 592-5838105" class="ng-tel">TEL:(86) 592-5838105</a>
																		<a href="FAX:(86) 592-5838942" class="ng-tel">FAX:(86) 592-5838942</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>(廈門)海滄营销服务部</em></td>
																<td data-label="地址"><em>廈門市海滄區鐘林路8號海投大廈10層01單元</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 592-6803912" class="ng-tel">TEL:(86) 592-6803912</a>
																		<a href="FAX:(86) 592-6803909" class="ng-tel">FAX:(86) 592-6803909</a>
																	</span>
																</td>
															</tr>
															<tr>
															    <td data-label="營業單位"><em>福建分公司</em></td>
																<td data-label="地址"><em>福州市鼓樓區溫泉街道東大路92號華源大廈四層02室</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 059188313515" class="ng-tel">TEL:(86) 059188313515</a>
																		<a href="FAX:(86) 059188313500" class="ng-tel">FAX:(86) 059188313500</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>(福建)泉州营销服务部</em></td>
																<td data-label="地址"><em>泉州市刺桐南路東側泉州晚報社附屬大樓二層K區</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 595-28208620" class="ng-tel">TEL:(86) 595-28208620</a>
																		<a href="FAX:(86) 595-28208600" class="ng-tel">FAX:(86) 595-28208600</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>(福建)漳州营销服务部</em></td>
																<td data-label="地址"><em>漳州市薌城區新華北路華元公寓B區17、18、19號店面及夾層</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 596-2999931" class="ng-tel">TEL:(86) 596-2999931</a>
																		<a href="FAX:(86) 596-2999937" class="ng-tel">FAX:(86) 596-2999937</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>(福建)平潭营销服务部</em></td>
																<td data-label="地址"><em>平潭縣潭城鎮萬寶路南側寶城花園186號</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 591-23177057" class="ng-tel">TEL:(86) 591-23177057</a>
																		<a href="FAX:(86) 591-23177057" class="ng-tel">FAX:(86) 591-23177057</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>(福建)晉江营销服务部</em></td>
																<td data-label="地址"><em>晉江市和平中路華泰大廈3樓3C室</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 595-82663330" class="ng-tel">TEL:(86) 595-82663330</a>
																		<a href="FAX:(86) 595-82663329" class="ng-tel">FAX:(86) 595-82663329</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
															    <td data-label="營業單位"><em>重慶分公司</em></td>
																<td data-label="地址"><em>重慶市渝中區鄒容路68號大都會商廈第36層<br>01+02+03+04+05+06號</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 23-63803899" class="ng-tel">TEL:(86) 23-63803899</a>
																		<a href="FAX:(86) 23-63800093" class="ng-tel">FAX:(86) 23-63800093</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>重慶市長壽支公司</em></td>
																<td data-label="地址"><em>重慶市長壽區桃源西路15號4－4</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 23-85328288" class="ng-tel">TEL:(86) 23-85328288</a>
																		<a href="FAX:(86) 23-85327081" class="ng-tel">FAX:(86) 23-85327081</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
															    <td data-label="營業單位"><em>大連分公司</em></td>
																<td data-label="地址"><em>大連市中山區港灣街2－12號4層</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 411-39689999" class="ng-tel">TEL:(86) 411-39689999</a>
																		<a href="FAX:(86) 411-39689999" class="ng-tel">FAX:(86) 411-39689999</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>大連分公司開發區支公司</em></td>
																<td data-label="地址"><em>遼寧省大連經濟技術開發區金馬路349號</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 0411-39253525" class="ng-tel">TEL:(86) 0411-39253525</a>
																		<a href="FAX:(86) 0411-87920989" class="ng-tel">FAX:(86) 0411-87920989</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>大連分公司瓦房店支公司</em></td>
																<td data-label="地址"><em>遼寧省瓦房店市西長春路昌盛經典147-10網點</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 0411-39193526" class="ng-tel">TEL:(86) 0411-39193526</a>
																		<a href="FAX:(86) 0411-39922789" class="ng-tel">FAX:(86) 0411-39922789</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>(大連)莊河市支公司</em></td>
																<td data-label="地址"><em>莊河市城關街道工會委富貴苑社區26號</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 411-39193526" class="ng-tel">TEL:(86) 411-39193526</a>
																		<a href="FAX:(86) 411-89859660" class="ng-tel">FAX:(86) 411-89859660</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
															    <td data-label="營業單位"><em>瀋陽中心支公司</em></td>
																<td data-label="地址"><em>瀋陽市皇姑區陵東街29號陵東大廈6層</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 24-86697098" class="ng-tel">TEL:(86) 24-86697098</a>
																		<a href="FAX:(86) 24-86697057" class="ng-tel">FAX:(86) 24-86697057</a>
																	</span>
																</td>
															</tr>
															<tr>
																<td data-label="營業單位"><em>(瀋陽)錦州中心支公司</em></td>
																<td data-label="地址"><em>錦州市太和區市府東路2－3號第三層</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 0416-2116888" class="ng-tel">TEL:(86) 0416-2116888</a>
																		<a href="FAX:(86) 0416-2116888" class="ng-tel">FAX:(86) 0416-2116888</a>
																	</span>
																</td>
															</tr>
															<tr class="is-bgcolor">
																<td data-label="營業單位"><em>(瀋陽)阜新中心支公司</em></td>
																<td data-label="地址"><em>阜新市細河區東風路150號1門</em></td>
																<td data-label="客服電話">
																	<span>
																		<a href="TEL:(86) 0418-2669666" class="ng-tel">TEL:(86) 0418-2669666</a>
																		<a href="FAX:(86) 0418-2669111" class="ng-tel">FAX:(86) 0418-2669111</a>
																	</span>
																</td>
															</tr>
														</tbody>										
													</table>
												</li>
												<li ng-if="Location.Overseas.Model.Area === '' || Location.Overseas.Model.Area === '香港'">香港</li>
												<li ng-if="Location.Overseas.Model.Area === '' || Location.Overseas.Model.Area === '越南'">越南</li>
												<li ng-if="Location.Overseas.Model.Area === '' || Location.Overseas.Model.Area === '泰國'">泰國</li>
												<li ng-if="Location.Overseas.Model.Area === '' || Location.Overseas.Model.Area === '馬來西亞'">馬來西亞</li>
												<li ng-if="Location.Overseas.Model.Area === '' || Location.Overseas.Model.Area === '菲律賓'">菲律賓</li>
												<li ng-if="Location.Overseas.Model.Area === '' || Location.Overseas.Model.Area === '印尼'">印尼</li>
												<li ng-if="Location.Overseas.Model.Area === '' || Location.Overseas.Model.Area === '美國'">美國</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
				<!--#include virtual="sub_menu.inc" -->
				<!-- ==================== top botton begin =================== -->
				<button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button>
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!--#include virtual="/financialholdings/footer.inc" -->
	</div>
	<!-- ==================== l-body end =================== -->
	<!--#include virtual="/financialholdings/nav.inc" -->
</body>
<!--#include virtual="/financialholdings/common_script.inc" -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="/financialholdings/Scripts/plugin/sugarfunbox/js/sugarfunbox.js?JS=20150630_01"></script>
<script type="text/javascript" src="/financialholdings/Scripts/js/location/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>