<!DOCTYPE HTML>
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-人才招募-多元學習與發展</title>
	<link rel="canonical" href="" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="../../Content/css/hr/development.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				<div class="m-header-logo b-clearfix b-middle">
					<button class="m-button m-button-navicon ng-navicon"><i class="m-icon m-icon-navicon"></i></button>
					<a href="../../Views/home/index.html" class="m-icon-stack m-icon-fubon-group">
						<i class="m-icon m-icon-fubon-blue is-absolute"></i>
						<i class="m-icon m-icon-fubon-green"></i>
						<i class="m-icon m-icon-fubon-text"></i>
					</a>
					<div class="m-header-company">
						<h1>富邦金控</h1>
					</div>
				</div>
				<ul class="m-header-tools">
					<li class="b-middle"><a href="../../eng/">EN</a></li>
					<li class="m-header-search b-middle" ng-class="{'is-open' : Common.Search.Click}">
						<a href="../../Views/search/search.html?k={{ Common.Search.Value }}" class="m-button m-button-search ng-search"><i class="m-icon m-icon-search"></i></a>
						<div class="m-form-group m-form-search">
							<input type="search" class="m-form m-form-control ng-search-result" ng-model="Common.Search.Value" />
						</div>
					</li>
				</ul>
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main development-content ng-controller" ng-controller="Hr">
			<!-- ==================== l-main-hd begin =================== -->
			<header class="l-main-hd b-clearfix">
				<div class="m-media ng-image-load">
					<div class="b-loading">
						<span class="m-icon-stack">
							<i class="m-icon m-icon-fubon-blue is-absolute"></i>
							<i class="m-icon m-icon-fubon-green"></i>
						</span>
					</div>
					<figure class="m-media-item">
						<img ng-src="../../Content/img/hr/kv.jpg" alt="富邦金控-人才招募">
					</figure>
					<ul class="m-media-tools is-right-top b-middle">
						<li><a href="javascript:;"><i class="m-icon m-icon-m-plus"></i></a></li>
						<li>
							<a href="javascript:;">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-youtube-you is-absolute"></i>
									<i class="m-icon m-icon-youtube-tube"></i>
								</span>
							</a>
						</li>
						<li><a href="javascript:;"><i class="m-icon m-icon-facebook-official"></i></a></li>
					</ul>
				</div>
			</header>
			<!-- ==================== l-main-hd end =================== -->

			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd is-content-left b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-breadcrumb begin =================== -->
					<ol class="m-breadcrumb b-clearfix">
						<li>
							<a href="../../Views/home/index.html"><i class="m-icon m-icon-home"></i></a>
						</li>
						<li>
							<a href="../../Views/hr/jobs.html">人才招募</a>
						</li>
						<li>
							<em>多元學習與發展</em>
						</li>
					</ol>
					<!-- ==================== m-breadcrumb end =================== -->

					<!-- ==================== m-section begin =================== -->
					<section class="m-section">
						<header class="m-section-hd is-col b-clearfix">
							<h2>多元學習與發展</h2>
						</header>
						<main class="m-section-bd b-clearfix">
							<article class="m-article is-titles">
								<main class="m-article-bd">
									<div class="m-article-data">
										<p>富邦金控深信：『人才』是企業無法被複製的競爭優勢，是成就企業不斷邁向高峰的決勝力！因此公司十分重視內部人才培育，除建置多元發展平台外，亦提供多樣學習資源與機會，激勵員工自我成長。富邦金控依據職務、業務與職涯發展需要，規劃人才發展計劃。透過計劃性培育，使員工能隨時因應經營環境、業務變化等，提升專業能力，提供優質的金融服務。</p>
										<ul class="m-icon-stack m-icon-border b-row b-clearfix">
											<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-right b-align-sm-right b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-book-line m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>專業職能發展</p>
												</div>
											</li>
											<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-global  m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>國際人才培育</p>
												</div>
											</li>
											<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-left b-align-sm-left b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-user-o m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>自我發展</p>
												</div>
											</li>
											<li class="b-col-md-6 b-col-sm-6 b-col-xs-6 b-align-md-right b-align-sm-right b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-graduate m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>內部講師培育</p>
												</div>
											</li>
											<li class="b-col-md-6 b-col-sm-6 b-col-xs-6 b-align-md-left b-align-sm-left b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-user-double  m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>新進人員培訓</p>
												</div>
											</li>
										</ul>
										<h3>新進人員培訓</h3>
										<p>針對新加入富邦的員工，我們將安排一系列「新富邦人」學程，除組織介紹、法令遵循相關課程外，亦宣導企業文化、價值觀，以及經營理念，幫助每位新加入員工，能瞭解並遵守本公司對社會、客戶及員工的承諾；在短期內適應環境，並能在工作中展現核心價值。</p>
										<ul class="m-icon-stack m-icon-border b-row b-clearfix">
											<li class="b-col-md-3 b-col-sm-3 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-badge-o m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>認識富邦</p>
												</div>
											</li>
											<li class="b-col-md-3 b-col-sm-3 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-heart-plus  m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>核心價值</p>
												</div>
											</li>
											<li class="b-col-md-3 b-col-sm-3 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-building  m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>基礎專業</p>
												</div>
											</li>
											<li class="b-col-md-3 b-col-sm-3 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-bookmark-alt m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>法令遵循</p>
												</div>
											</li>
										</ul>
										<h3>專業職能發展</h3>
										<p>規劃關鍵職系之學習藍圖，讓員工能夠按圖索驥，瞭解各職務階段，需具備的專業知能。同時規劃內外部專業金融訓練計劃，協助員工職涯發展，並為發展至下一階段預作能力的儲備。</p>
										<div class="m-time-line m-time-line-horizontal is-item-align-bottom">
											<ul class="b-row">
												<li class="b-clearfix b-col-md-3 b-col-sm-3 b-col-xs-6 b-align-md-left b-align-sm-left b-align-xs-center">
													<div class="m-time-line-item m-chart">
														<ul class="m-chart-bd">
															<li class="b-align-md-center b-align-sm-center b-align-xs-center">
																<span class="m-chart-item m-chart-height-1 b-middle b-inverse"><em>新人基礎專業</em></span>
															</li>
														</ul>
													</div>
													<time class="m-time-line-time"><span><em>1年</em></span></time>
												</li>
												<li class="b-clearfix b-col-md-3 b-col-sm-3 b-col-xs-6 b-align-md-left b-align-sm-left b-align-xs-center">
													<div class="m-time-line-item m-chart">
														<ul class="m-chart-bd">
															<li class="b-align-md-center b-align-sm-center b-align-xs-center">
																<span class="m-chart-item m-chart-height-2 b-middle b-major"><em>各職系基礎必修課程</em></span>
															</li>
														</ul>
													</div>
													<time class="m-time-line-time"><span><em>1-3年</em></span></time>
												</li>
												<li class="b-clearfix b-col-md-3 b-col-sm-3 b-col-xs-6 b-align-md-left b-align-sm-left b-align-xs-center">
													<div class="m-time-line-item m-chart">
														<ul class="m-chart-bd">
															<li class="b-align-md-center b-align-sm-center b-align-xs-center">
																<span class="m-chart-item m-chart-height-1 b-middle b-minor"><em>各職系進階必修課程</em></span>
																<span class="m-chart-item m-chart-height-2 b-middle b-major"><em>各職系基礎選修課程</em></span>
															</li>
														</ul>
													</div>
													<time class="m-time-line-time"><span><em>3-8年</em></span></time>
												</li>
												<li class="b-clearfix b-col-md-3 b-col-sm-3 b-col-xs-6 b-align-md-left b-align-sm-left b-align-xs-center">
													<div class="m-time-line-item m-chart">
														<ul class="m-chart-bd">
															<li class="b-align-md-center b-align-sm-center b-align-xs-center">
																<span class="m-chart-item m-chart-height-4 b-middle b-major"><em>各職系進階選修課程</em></span>
															</li>
														</ul>
													</div>
													<time class="m-time-line-time"><span><em>8年以上</em></span></time>
												</li>
											</ul>
											<p class="b-mark b-align-md-center b-align-sm-center b-align-xs-center">在職訓練、E-Learning 數位學習平台</p>
										</div>
										<h3>內部講師培育</h3>
										<p>為提供優秀人才發展的舞台，並鼓勵內部經驗的傳承，富邦金控建立內部講師制度，並設有客觀、公正之評選標準，遴選年度績優講師，給予另一種不同於工作的成就與滿足。</p>
										<div class="m-chart">
											<ul class="m-chart-bd b-row">
												<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
													<span class="m-chart-item m-chart-height-3 b-middle b-inverse"><em>年度優秀講師評選</em></span>
												</li>
												<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
													<span class="m-chart-item m-chart-height-3 b-middle b-major"><em>課程規劃<br />課程發展<br />教學表達</em></span>
												</li>
												<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
													<span class="m-chart-item m-chart-height-3 b-middle b-minor"><em>建立講師風采<br />教學活動策略<br />實用教學手法<br />多媒體教學設計</em></span>
												</li>
											</ul>
											<ul class="m-chart-ft b-row">
												<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">講師獎勵制度</li>
												<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">初階講師培訓</li>
												<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">進階講師培訓</li>
											</ul>
										</div>
										<h3>國際人才培育</h3>
										<b>為因應持續拓展海外業務的策略，富邦金控積極的培養海外人才，每年定期辦理海外業務研習課程，增進對外派國家的了解，讓有志於海外發展的員工，在外派前即做好一切準備。</b>
										<ul class="m-item">
											<li>政經文化</li>
											<li>勞動管理實務</li>
											<li>金融監理制度</li>
										</ul>
										<h3>自我發展</h3>
										<p>為鼓勵員工持續學習，富邦金控提供語言進修、學位進修、證照獎勵等補助，並定期舉辦由跨產業、跨領域之專家、達人主講之「名人講座」；同時結合富邦講堂等人文藝術活動，拓展員工視野。</p>
									</div>
								</main>
							</article>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
				<!-- ==================== l-side begin =================== -->
				<div class="l-side">
					<aside class="m-aside m-aside-accordion ng-aside-accordion" ng-class="{'is-selected' : Common.Aside.Selected}">
						<header class="m-aside-hd">
							<button class="ng-cloak ng-aside-select">
								{{ Common.Aside.Toggle.Text }}
								<span class="m-icon-stack m-icon-toggle">
									<i class="m-icon m-icon-arrow-angle-down"></i>
									<i class="m-icon m-icon-arrow-angle-up"></i>
								</span>
							</button>
						</header>
						<main class="m-aside-bd">
							<ul id="aside-item" class="ng-aside-accordion-item">
								<li data-channel="jobs">
									<h6>
										<a href="../../Views/hr/jobs.html" class="b-middle">
											<em>焦點職缺</em>
										</a>
									</h6>
								</li>
								<li>
									<h6>
										<a href="javascript:;" class="b-middle">
											<em>目前職缺查詢</em>
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
									</h6>
									<div>
										<ul>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦金控(總處、各處及中心)</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦人壽</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>台北富邦銀行</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦產險</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦證券</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦投信</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦投顧</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦期貨</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦行銷</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦人壽(越南)</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦銀行(香港)</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦華ㄧ銀行(大陸)</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦財險(大陸)</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦產險(越南)</em>
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li data-channel="development">
									<h6>
										<a href="../../Views/hr/development.html" class="b-middle">
											<em>多元學習與發展</em>
										</a>
									</h6>
								</li>
								<li data-channel="life">
									<h6>
										<a href="../../Views/hr/life.html" class="b-middle">
											<em>富邦生活</em>
										</a>
									</h6>
								</li>
								<li data-channel="announcements">
									<h6>
										<a href="../../Views/hr/announcements.html" class="b-middle">
											<em>重要資訊公告</em>
										</a>
									</h6>
								</li>
								<li data-channel="FAQ">
									<h6>
										<a href="../../Views/hr/FAQ.html" class="b-middle">
											<em>FAQ</em>
										</a>
									</h6>
								</li>
							</ul>
						</main>
					</aside>
					<div class="m-aside">
						<div class="m-aside-bd">
							<ul class="m-icon-stack m-icon-circle-group b-row">
								<li class="b-col-md-12 b-col-sm-6 b-col-xs-6 b-align-md-center b-align-sm-right b-align-xs-center">
									<a href="javascript:;" class="m-icon-circle-item">
										<span>
											<i class="m-icon m-icon-download m-icon-size-md-4 m-icon-size-sm-4 m-icon-size-xs-4 is-absolute"></i>
											<i class="m-icon m-icon-circle m-icon-size-md-8 m-icon-size-sm-8 m-icon-size-xs-8"></i>
										</span>
										<em>富邦金控制式履歷下載</em>
									</a>
								</li>
								<li class="b-col-md-12 b-col-sm-6 b-col-xs-6 b-align-md-center b-align-sm-left b-align-xs-center">
									<a href="../../Views/hr/contact.html" class="m-icon-circle-item">
										<span>
											<i class="m-icon m-icon-comment m-icon-size-md-4 m-icon-size-sm-4 m-icon-size-xs-4 is-absolute"></i>
											<i class="m-icon m-icon-circle m-icon-size-md-8 m-icon-size-sm-8 m-icon-size-xs-8"></i>
										</span>
										<em>與我們聯繫</em>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- ==================== l-side end =================== -->

				<!-- ==================== top botton begin =================== -->
				<button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button>
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer b-clearfix">
			<footer class="m-footer">
				<div class="m-footer-hd">
					<div class="m-button-group is-inline-block">
						<button type="button" class="m-button m-button-sitemap ng-sitemap">
							網站導覽
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-up is-hide" ng-class="{'is-hide' : ! Common.Footer.Sitemap.Click}"></i>
								<i class="m-icon m-icon-arrow-angle-down" ng-class="{'is-hide' : Common.Footer.Sitemap.Click}"></i>
							</span>
						</button>
					</div>
					<div class="m-sitemap" ng-class="{'is-show' : Common.Footer.Sitemap.Click}">
						<div class="m-sitemap-bd b-row">
							<ul>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/about/info.html">關於富邦金控</a></li>
										<li><a href="../../Views/about/info.html">富邦金控簡介</a></li>
										<li><a href="../../Views/about/business_philosophy.html">核心價值</a></li>
										<li><a href="../../Views/about/team.html">經營團隊</a></li>
										<li><a href="../../Views/about/sub.html">金控子公司成員</a></li>
										<li><a href="../../Views/about/honor.html">專業殊榮</a></li>
										<li><a href="../../Views/about/milestone.html">大事紀</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/story/future.html">品牌故事</a></li>
										<li><a href="../../Views/story/future.html">延續傳承 走向未來</a></li>
										<li><a href="../../Views/story/positive.html">正向的力量</a></li>
										<li><a href="../../Views/story/identity.html">富邦品牌標誌</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/csr/chairmans_messages.html">企業社會責任</a></li>
										<li><a href="../../Views/csr/chairmans_messages.html">董事長的話</a></li>
										<li><a href="../../Views/csr/sustainable_operations.html">永續經營</a></li>
										<li><a href="../../Views/csr/corporate_governance.html">公司治理</a></li>
										<li><a href="../../Views/csr/commitment.html">客戶承諾</a></li>
										<li><a href="../../Views/csr/carehtml">員工關懷</a></li>
										<li><a href="../../Views/csr/core_competencies.html">核心職能</a></li>
										<li><a href="../../Views/csr/green.html">綠色金融</a></li>
										<li><a href="../../Views/csr/foundation.html">基金會</a></li>
										<li><a href="../../Views/csr/sponsorship.html">體育贊助</a></li>
										<li><a href="../../Views/csr/stakeholders.html">利害關係人專區</a></li>
										<li><a href="../../Views/csr/contact.html">聯絡我們</a></li>
										<li><a href="../../Views/csr/news.html">最新消息</a></li>
										<li><a href="../../Views/csr/media.html">影音專區</a></li>
										<li><a href="../../Views/csr/downloadlist.html">企業社會責任報告下載</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/ir/overview.html">投資人關係</a></li>
										<li><a href="../../Views/ir/overview.html">公司概況</a></li>
										<li><a href="../../Views/ir/financial.html">財務資訊</a></li>
										<li><a href="../../Views/ir/shareholder-Services.html">股務資訊</a></li>
										<li><a href="../../Views/ir/announcements.html">活動與公告</a></li>
										<li><a href="../../Views/ir/contact.html">聯絡我們</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/governance/status.html">公司治理</a></li>
										<li><a href="../../Views/governance/status.html">公司治理現況</a></li>
										<li><a href="../../Views/governance/framework.html">公司治理架構</a></li>
										<li><a href="../../Views/governance/operation.html">公司治理運作情形</a></li>
										<li><a href="../../Views/governance/shareholders.html">股東會</a></li>
										<li><a href="../../Views/governance/board_of_directors.html">董事會</a></li>
										<li><a href="../../Views/governance/committee.html">功能性委員會</a></li>
										<li><a href="../../Views/governance/organization.html">內部稽核組織及運作</a></li>
										<li><a href="../../Views/governance/regulation.html">公司重要章則</a></li>
										<li><a href="../../Views/governance/mail.html">獨立董事信箱</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/news/list.html">新聞中心</a></li>
									</ul>
								</li>	
							</ul>
						</div>
					</div>
				</div>
				<ul class="m-footer-bd b-clearfix">
					<li><a href="../../Views/hr/jobs.html">人才招募</a></li>
					<li><a href="../../Views/announcement/announcement.html">法定揭露事項</a></li>
					<li><a href="../../Views/location/location_tw.html">海內外服務據點</a></li>
					<li><a href="../../Views/privacy_policy/privacy.html">隱私權聲明</a></li>
					<li><a href="../../Views/consumer_protection/consumer_protection.html">消費者保護</a></li>
					<li><a href="../../Views/service/contact.html">服務中心</a></li>
					<li><a href="../../Views/epaper/list.html">富邦理財電子報</a></li>
				</ul>
				<small class="m-footer-ft">© 富邦金融控股股份有限公司</small>
			</footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->

	<!-- ==================== l-nav begin =================== -->
	<nav class="l-nav" ng-class="{'is-animate' : Common.Nav.Mobile.Click}">
		<div class="m-nav ng-nav" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
			<ul class="b-clearfix ng-nav-item">
				<li class="b-middle" data-channel="about">
					<a href="../../Views/about/info.html">
						<em>關於富邦金控</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/about/info.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦金控簡介</em></a></li>
							<li><a href="../../Views/about/business_philosophy.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心價值</em></a></li>
							<li><a href="../../Views/about/team.html"><i class="m-icon m-icon-nav-arrow"></i><em>經營團隊</em></a></li>
							<li><a href="../../Views/about/sub.html"><i class="m-icon m-icon-nav-arrow"></i><em>金控子公司成員</em></a></li>
							<li><a href="../../Views/about/honor.html"><i class="m-icon m-icon-nav-arrow"></i><em>專業殊榮</em></a></li>
							<li><a href="../../Views/about/milestone.html"><i class="m-icon m-icon-nav-arrow"></i><em>大事記</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle" data-channel="story">
					<a href="../../Views/story/future.html">
						<em>品牌故事</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/story/future.html"><i class="m-icon m-icon-nav-arrow"></i><em>延續傳承 走向未來</em></a></li>
							<li><a href="../../Views/story/positive.html"><i class="m-icon m-icon-nav-arrow"></i><em>正向的力量</em></a></li>
							<li><a href="../../Views/story/identity.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦品牌標誌</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle" data-channel="csr">
					<a href="../../Views/csr/chairmans_messages.html">
						<em>企業社會責任</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/csr/chairmans_messages.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事長的話</em></a></li>
							<li><a href="../../Views/csr/sustainable_operations.html"><i class="m-icon m-icon-nav-arrow"></i><em>永續經營</em></a></li>
							<li><a href="../../Views/csr/corporate_governance.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理</em></a></li>
							<li><a href="../../Views/csr/commitment.html"><i class="m-icon m-icon-nav-arrow"></i><em>客戶承諾</em></a></li>
							<li><a href="../../Views/csr/care.html"><i class="m-icon m-icon-nav-arrow"></i><em>員工關懷</em></a></li>
							<li><a href="../../Views/csr/core_competencies.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心職能</em></a></li>
							<li><a href="../../Views/csr/green.html"><i class="m-icon m-icon-nav-arrow"></i><em>綠色金融</em></a></li>
							<li><a href="../../Views/csr/foundation.html"><i class="m-icon m-icon-nav-arrow"></i><em>基金會</em></a></li>
							<li><a href="../../Views/csr/sponsorship.html"><i class="m-icon m-icon-nav-arrow"></i><em>體育贊助</em></a></li>
							<li><a href="../../Views/csr/stakeholders.html"><i class="m-icon m-icon-nav-arrow"></i><em>利害關係人專區</em></a></li>
							<li><a href="../../Views/csr/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
							<li><a href="../../Views/csr/news.html"><i class="m-icon m-icon-nav-arrow"></i><em>最新消息</em></a></li>
							<li><a href="../../Views/csr/media.html"><i class="m-icon m-icon-nav-arrow"></i><em>影音專區</em></a></li>
							<li><a href="../../Views/csr/downloadlist.html"><i class="m-icon m-icon-nav-arrow"></i><em>企業社會責任報告下載</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle" data-channel="ir">
					<a href="../../Views/ir/overview.html">
						<em>投資人關係</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/ir/overview.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司概況</em></a></li>
							<li><a href="../../Views/ir/financial.html"><i class="m-icon m-icon-nav-arrow"></i><em>財務資訊</em></a></li>
							<li><a href="../../Views/ir/shareholder_services.html"><i class="m-icon m-icon-nav-arrow"></i><em>股務資訊</em></a></li>
							<li><a href="../../Views/ir/announcements.html"><i class="m-icon m-icon-nav-arrow"></i><em>活動與公告</em></a></li>
							<li><a href="../../Views/ir/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle" data-channel="governance">
					<a href="../../Views/governance/status.html">
						<em>公司治理</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/governance/status.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理現況</em></a></li>
							<li><a href="../../Views/governance/framework.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理架構</em></a></li>
							<li><a href="../../Views/governance/operation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理運作情形</em></a></li>
							<li><a href="../../Views/governance/letter.html"><i class="m-icon m-icon-nav-arrow"></i><em>股東會</em></a></li>
							<li><a href="../../Views/governance/board_of_directors.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事會</em></a></li>
							<li><a href="../../Views/governance/committee.html"><i class="m-icon m-icon-nav-arrow"></i><em>功能性委員會</em></a></li>
							<li><a href="../../Views/governance/organization.html"><i class="m-icon m-icon-nav-arrow"></i><em>內部稽核組織及運作</em></a></li>
							<li><a href="../../Views/governance/regulation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司重要章則</em></a></li>
							<li><a href="../../Views/governance/mail.html"><i class="m-icon m-icon-nav-arrow"></i><em>獨立董事信箱</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle" data-channel="news">
					<a href="../../Views/news/list.html">
						<em>新聞中心</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
				</li>
			</ul>
			<span class="m-nav-bar" ng-class="{'is-show' : Common.Nav.Bar.Hover}" ng-style="{'left' : Common.Nav.Bar.Left , 'width' : Common.Nav.Bar.Width}"></span>
			<div class="m-nav-path ng-nav-path" ng-style="{'top' : Common.Nav.Path.Top , 'height' : Common.Nav.Path.Height}">
				<ul>
					<li ng-style="{'height' : Common.Nav.Path.Height}">
						<a href="javascript:;" class="ng-path">
							服務捷徑
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<!--[if lt IE 10]><span></span><![endif]-->
						<div>
							<ul>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>台北富邦銀行</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦銀行(香港)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦華一銀行(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦財險(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦證券</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投信</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦期貨</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投顧</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦行銷 | 富昇保代</a></li>
							</ul>	
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- ==================== l-nav end =================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular/angular.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/common.js?JS=20150630_01"></script>
<!-- master page include scripts end -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="../../Scripts/js/hr/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>