<!DOCTYPE HTML>
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-人才招募-焦點職缺-[金控] 儲備幹部MA</title>
	<link rel="canonical" href="" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="../../Content/css/hr/jobs.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				<div class="m-header-logo b-clearfix b-middle">
					<button class="m-button m-button-navicon ng-navicon"><i class="m-icon m-icon-navicon"></i></button>
					<a href="../../Views/home/index.html" class="m-icon-stack m-icon-fubon-group">
						<i class="m-icon m-icon-fubon-blue is-absolute"></i>
						<i class="m-icon m-icon-fubon-green"></i>
						<i class="m-icon m-icon-fubon-text"></i>
					</a>
					<div class="m-header-company">
						<h1>富邦金控</h1>
					</div>
				</div>
				<ul class="m-header-tools">
					<li class="b-middle"><a href="../../eng/">EN</a></li>
					<li class="m-header-search b-middle" ng-class="{'is-open' : Common.Search.Click}">
						<a href="../../Views/search/search.html?k={{ Common.Search.Value }}" class="m-button m-button-search ng-search"><i class="m-icon m-icon-search"></i></a>
						<div class="m-form-group m-form-search">
							<input type="search" class="m-form m-form-control ng-search-result" ng-model="Common.Search.Value" />
						</div>
					</li>
				</ul>
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main jobs-content ng-controller" ng-controller="Hr">
			<!-- ==================== l-main-hd begin =================== -->
			<header class="l-main-hd b-clearfix">
				<div class="m-media ng-image-load">
					<div class="b-loading">
						<span class="m-icon-stack">
							<i class="m-icon m-icon-fubon-blue is-absolute"></i>
							<i class="m-icon m-icon-fubon-green"></i>
						</span>
					</div>
					<figure class="m-media-item">
						<img ng-src="../../Content/img/hr/kv.jpg" alt="富邦金控-人才招募">
					</figure>
					<ul class="m-media-tools is-right-top b-middle">
						<li><a href="javascript:;"><i class="m-icon m-icon-m-plus"></i></a></li>
						<li>
							<a href="javascript:;">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-youtube-you is-absolute"></i>
									<i class="m-icon m-icon-youtube-tube"></i>
								</span>
							</a>
						</li>
						<li><a href="javascript:;"><i class="m-icon m-icon-facebook-official"></i></a></li>
					</ul>
				</div>
			</header>
			<!-- ==================== l-main-hd end =================== -->

			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd is-content-left b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-breadcrumb begin =================== -->
					<ol class="m-breadcrumb b-clearfix">
						<li>
							<a href="../../Views/home/index.html"><i class="m-icon m-icon-home"></i></a>
						</li>
						<li>
							<a href="../../Views/hr/jobs.html">人才招募</a>
						</li>
						<li>
							<a href="../../Views/hr/jobs.html">焦點職缺</a>
						</li>
						<li>
							<em>[金控] 儲備幹部MA</em>
						</li>
					</ol>
					<!-- ==================== m-breadcrumb end =================== -->

					<!-- ==================== m-section begin =================== -->
					<section class="m-section">
						<header class="m-section-hd is-col b-clearfix">
							<h2>[金控] 儲備幹部MA</h2>
							<div class="m-section-tools">
								<div class="m-button-group">
									<button type="button" class="m-button b-inverse ng-history-back">回上一頁</button>
								</div>
							</div>
						</header>
						<main class="m-section-bd b-clearfix">
							<div class="m-tab m-tab-respond ng-tab">
								<ul class="m-tab-bd b-clearfix">
									<li class="b-clearfix">
										<a href="javascript:;" class="m-tab-button is-active b-col-md-2 b-col-sm-12 b-col-xs-6">
											職缺介紹
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
										<div class="m-tab-content b-clearfix">
											<article class="m-article is-titles">
												<main class="m-article-bd">
													<div class="m-article-data">
														<div class="m-button-group m-button-icon article-margin-default b-align-md-right b-align-sm-right b-align-xs-right">
															<a href="javascript:;" class="m-button b-primary">MA專用履歷</a>
															<a href="javascript:;" class="m-button b-primary">富邦MA<i class="m-icon m-icon-facebook"></i></a>
														</div>
														<h3>人壽組</h3>
														<p>富邦人壽擁有健全的財務結構、穩定的獲利能力和持續的業務成長力，以正向力量回饋社會並發揮影響力。透過創新策略及多元行銷通路，提供更專業、完整與便利的保險服務業務。壽險儲備幹部將透過任務及專案參與等歷練，有系統地學習全面性壽險業務包括壽險行政、通路經營、策略規劃與創新服務，期以培養具創新思維、國際視野並掌握趨勢脈動的電子商務業務拓展之經營管理人才，與公司共同朝向大型化、國際化、專業化的「亞洲一流金融機構」願景邁進。</p>
														<h3>投信組</h3>
														<p>富邦投信為募集發行共同基金、私募基金、總代理以及全權委託業務，總管理資產規模達新臺幣1,194億元，為投資人嚴選最佳投資標的、及時掌握最新趨勢變化，不錯過任何投資標的之最新訊息，以最專業的素養、最認真的態度，用心管理投資人所託付的每一分錢。加入投信儲備幹部初期將以投資研究為主、包括台灣、大中華以及亞太等地區總體經濟與個別產業，參訪國內上市上櫃公司提供研究分析報告，中長期將以培養成基金經理人為目標。</p>
													</div>
												</main>
											</article>
										</div>
									</li>
									<li class="b-clearfix">
										<a href="javascript:;" class="m-tab-button b-col-md-2 b-col-sm-12 b-col-xs-6">
											培訓發展
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
										<div class="m-tab-content b-clearfix b-cloak">
											<article class="m-article is-titles">
												<main class="m-article-bd">
													<div class="m-article-data">
														<p>富邦金控致力於儲備幹部(MA)計劃，持續培育多位金融菁英與管理人才！我們在兩岸三地有最完整的金融平台，能開拓您的金融視野，讓您擁有更多的機會與發揮空間。經由為期兩年系統性及多元化的培訓制度，建立廣度與深度的專業知識，瞭解金融業務與作業流程；並藉由專案參與，盡情發揮創意；透過導師(Mentor)機制，近距離學習高階主管思維與格局，以加速金融專業經理人的養成。邀請您與我們一同邁向「亞洲一流金融機構」的願景，成為金融保險領域的佼佼者。</p>
														<ul class="m-icon-stack m-icon-border b-row b-clearfix">
															<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-right b-align-sm-right b-align-xs-center">
																<div class="m-icon-border-item">
																	<div class="b-middle">
																		<span>
																			<i class="m-icon m-icon-user-profile m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
																			<em>Mentor 輔導</em>
																		</span>	
																	</div>
																	<p>高階主管輔導<br />適時提供職涯發展建議</p>
																</div>
															</li>
															<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
																<div class="m-icon-border-item">
																	<div class="b-middle">
																		<span>
																			<i class="m-icon m-icon-stock  m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
																			<em>多元化課程<br />訓練</em>
																		</span>	
																	</div>
																	<p>團隊凝聚<br />培養核心競爭力<br />培養財經時事敏感度</p>
																</div>
															</li>
															<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-left b-align-sm-left b-align-xs-center">
																<div class="m-icon-border-item">
																	<div class="b-middle">
																		<span>
																			<i class="m-icon m-icon-shuffle-o  m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
																			<em>計劃性輪調</em>
																		</span>	
																	</div>
																	<p>培養綜觀業務的視野及高度<br />快速了解各項業務流程</p>
																</div>
															</li>
															<li class="b-col-md-6 b-col-sm-6 b-col-xs-6 b-align-md-right b-align-sm-right b-align-xs-center">
																<div class="m-icon-border-item">
																	<div class="b-middle">
																		<span>
																			<i class="m-icon m-icon-identity-card-line m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
																			<em>專案實習</em>
																		</span>	
																	</div>
																	<p>強化核心競爭力<br />綜合理論與實務，激盪創意思維</p>
																</div>
															</li>
															<li class="b-col-md-6 b-col-sm-6 b-col-xs-6 b-align-md-left b-align-sm-left b-align-xs-center">
																<div class="m-icon-border-item">
																	<div class="b-middle">
																		<span>
																			<i class="m-icon m-icon-earth  m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
																			<em>海外研習</em>
																		</span>	
																	</div>
																	<p>國際金融實務接軌<br />兩岸三地金融業務模式運作研習</p>
																</div>
															</li>
														</ul>
													</div>
												</main>
											</article>
										</div>
									</li>
									<li class="b-clearfix">
										<a href="javascript:;" class="m-tab-button b-col-md-2 b-col-sm-12 b-col-xs-6">
											經驗分享
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
										<div class="m-tab-content b-clearfix b-cloak">
											<div class="m-accordion is-no-number ng-accordion">
												<em class="b-h3">投信組</em>
												<ol>
													<li>
														<div class="m-accordion-hd">
															<em class="b-h3">吳允翔 2012/投信組</em>
															<i class="m-icon m-icon-arrow-angle-right"></i>
														</div>
														<div class="m-accordion-bd">
															<div class="m-accordion-content">
																<div class="m-personal is-sm b-col-md-3 b-col-sm-3 b-col-md-6">
																	<ul class="b-clearfix">
																		<li class="b-align-xs-center">
																			<figure class="m-personal-item">
																				<!--[if IE 8]><span></span><![endif]-->
																				<img src="../../Content/img/hr/jobs/01.jpg" alt="吳允翔">
																			</figure>
																		</li>
																	</ul>
																</div>
																<div class="b-col-md-9 b-col-sm-9 b-col-md-6">
																	<p>University of Illinois at Urbana-Champaign, Master of Science in Policy Economics<br />大同大學電機工程系</p>
																	<em class="b-h3">快速調整學校與職場之間的心態差異</em>
																	<p>儲備幹部往往是新鮮人心目中通往管理職務的快速通道，如何扮演好儲備幹部這個職位，沒有一定的勝利方程式，過去學校強調的是學術專業，而儲備幹部強調的是問題解決的能力，除此之外，展現高度的整合能力，才能利用簡易的方式創造出客戶或公司的最大利益。富邦鼓勵MA從基層做起，不僅能夠領悟到不同單位的運作方式外，進而可了解核心業務、產業狀況以及未來前景。加入富邦MA Program，你會找到屬於自己的舞台，同時有機會接觸到不同部門的主管與不同專業領域的同事，將為你未來的人脈打下深厚的基礎！</p>	
																</div>
															</div>
														</div>
													</li>
												</ol>
												<em class="b-h3">產險組</em>
												<ol>
													<li>
														<div class="m-accordion-hd">
															<em class="b-h3">邱振淵 2014/產險組</em>
															<i class="m-icon m-icon-arrow-angle-right"></i>
														</div>
														<div class="m-accordion-bd">
															<div class="m-accordion-content">
																<div class="m-personal is-sm b-col-md-3 b-col-sm-3 b-col-md-6">
																	<ul class="b-clearfix">
																		<li class="b-align-xs-center">
																			<figure class="m-personal-item">
																				<!--[if IE 8]><span></span><![endif]-->
																				<img src="../../Content/img/hr/jobs/02.jpg" alt="邱振淵">
																			</figure>
																		</li>
																	</ul>
																</div>
																<div class="b-col-md-9 b-col-sm-9 b-col-md-6">
																	<p>University of Illinois at Urbana-Champaign,<br />Master of Human Resources and Industrial Relations<br />政治大學 新聞系</p>
																	<em class="b-h3">把自己的職涯，交給值得託付一輩子的卓越表現</em>
																	<p>富邦產險在業界保持領先地位，同時在兩岸三地與東南亞有完整的佈局，象徵著我們舞台的規模。<br />作為富邦產險第一屆MA，擔心自己非本科系出身是否能成為一個專業的保險從業人員，但憑著對產險的一股熱情，從報到的第一天開始，便把自己全心投入由HR精心設計與安排的密集訓練課程中，他們的用心與貼心，讓我的擔心都變成了放心。在這裡，富邦重視的不是MA間的競爭廝殺，而是希望培養密不可分的同梯情誼，未來不論彼此在金控的哪個崗位上，都能在關鍵時刻提供對方協助。<br />進入產險服務這段日子以來，深覺產險就像個大家庭，非常重視創新與合作。我們擁有來自不同專業領域的同儕以及經驗豐富的高階主管擔任Mentor提供必要的資源與支援，不斷鼓勵我們提出新的想法。<br />富邦產險，秉持誠信原則，透過親切又不失專業的服務，提供創新的保險商品。歡迎優秀的您加入我們的行列，因為產險，比您想像得更豐富！</p>	
																</div>
															</div>
														</div>
													</li>
												</ol>
											</div>
										</div>
									</li>
									<li class="b-clearfix">
										<a href="javascript:;" class="m-tab-button b-col-md-2 b-col-sm-12 b-col-xs-6">
											加入我們
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
										<div class="m-tab-content b-clearfix b-cloak">
											<article class="m-article is-titles">
												<main class="m-article-bd">
													<div class="m-article-data">
														<div class="m-button-group m-button-icon article-margin-default b-align-md-right b-align-sm-right b-align-xs-right">
															<a href="javascript:;" class="m-button b-primary">MA專用履歷</a>
															<a href="javascript:;" class="m-button b-primary">富邦MA<i class="m-icon m-icon-facebook"></i></a>
														</div>
														<h3>應徵資格及方式</h3>
														<b>理想人選</b>
														<ul class="m-item">
															<li>主動積極，勇於承擔責任。</li>
															<li>強烈企圖心，展現自信與熱情。</li>
															<li>具邏輯思考與問題分析解決能力。</li>
															<li>具創新精神，樂於接受挑戰與解決問題。</li>
															<li>具良好溝通表達能力。</li>
														</ul>
														<b>應徵資格</b>
														<ul class="m-item">
															<li>研究所以上學歷，科系不限。</li>
															<li>工作經驗不限，具兩年以下工作經驗者尤佳。</li>
															<li>良好的中、英文能力。</li>
														</ul>
														<p>
															<b>應徵資格</b><br />
															3月31日前完成線上履歷<br />報到日：7月15日
														</p>
														<h3>甄選流程</h3>
														<p>履歷採隨到隨審制，通過履歷篩選者，將依順序安排後續甄選程序，招募小組將以Email通知應徵者每一階段的甄選結果與訊息。<br />最新甄選進度，將公告於<a href="javascript:;" target="_blank" class="b-link">Facebook粉絲團</a>。</p>
														<ul class="m-time-line m-time-line-horizontal b-row">
															<li class="b-clearfix b-col-md-2 b-col-sm-2 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
																<time class="m-time-line-time"><em>2-3月</em></time>
																<div class="m-time-line-item">履歷篩選</div>
															</li>
															<li class="b-clearfix b-col-md-2 b-col-sm-2 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
																<time class="m-time-line-time"><em>2-4月</em></time>
																<div class="m-time-line-item">英語口說檢測</div>
															</li>
															<li class="b-clearfix b-col-md-2 b-col-sm-2 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
																<time class="m-time-line-time"><em>4月</em></time>
																<div class="m-time-line-item">團體面談</div>
															</li>
															<li class="b-clearfix b-col-md-2 b-col-sm-2 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
																<time class="m-time-line-time"><em>4-5月</em></time>
																<div class="m-time-line-item">領導力潛質評鑑</div>
															</li>
															<li class="b-clearfix b-col-md-2 b-col-sm-2 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
																<time class="m-time-line-time"><em>5月</em></time>
																<div class="m-time-line-item">事業單位<br />高階主管面談</div>
															</li>
															<li class="b-clearfix b-col-md-2 b-col-sm-2 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
																<time class="m-time-line-time"><em>5-6月</em></time>
																<div class="m-time-line-item">金控董事長<br />副董事長<br />總經理面談</div>
															</li>
														</ul>
														<h3>MA招募小組</h3>
														<p>Email：<a href="mailto:hrd.thc@fubon.com" class="b-link">hrd.thc@fubon.com</a><br />徐小姐 <a href="tel:+886-2-6602-7312">+886-2-6602-7312</a><br />盧小姐 <a href="tel:+886-2-6602-7258">+886-2-6602-7258</a></p>
													</div>
												</main>
											</article>
										</div>
									</li>
									<li class="b-clearfix">
										<a href="javascript:;" class="m-tab-button b-col-md-2 b-col-sm-12 b-col-xs-6">
											說明會資訊
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
										<div class="m-tab-content b-clearfix b-cloak">
											<p>針對有志從事銀行個人金融業務者，以系統化的培訓方式，從專業課程、實務演練、輪調實習等一系列教育訓練，儲備個人金融業務人才。</p>
										</div>
									</li>
									<li class="b-clearfix">
										<a href="javascript:;" class="m-tab-button b-col-md-2 b-col-sm-12 b-col-xs-6">
											Q&A
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
										<div class="m-tab-content b-clearfix b-cloak">
											<div class="m-accordion ng-accordion">
												<em class="b-h3">申請資格相關</em>
												<ol>
													<li>
														<div class="m-accordion-hd">
															<h3>我不是商學相關科系畢業，也沒有金融相關的工作經驗，是否可以申請？</h3>
															<i class="m-icon m-icon-arrow-angle-right"></i>
														</div>
														<div class="m-accordion-bd">
															<div class="m-accordion-content">
																<p>可以，只要您具備研究所以上學歷，並有強烈的企圖心、樂於接受挑戰，我們不限科系及工作經驗，非常歡迎優秀的青年學子與職場菁英申請報名。</p>
															</div>
														</div>
													</li>
													<li>
														<div class="m-accordion-hd">
															<h3>我是應屆畢業生，但尚未取得畢業證書或正在服兵役，是否可以申請？</h3>
															<i class="m-icon m-icon-arrow-angle-right"></i>
														</div>
														<div class="m-accordion-bd">
															<div class="m-accordion-content">
																<p>可以，若您尚未取得畢業證書，請提供在學成績單；若您還在服兵役，建議您盡早完成線上履歷表，將有助後續甄選時間的安排。</p>
															</div>
														</div>
													</li>
												</ol>
												<em class="b-h3">甄選流程相關</em>
												<ol>
													<li>
														<div class="m-accordion-hd">
															<h3>於線上完成履歷表後，大約多久可以收到通知？</h3>
															<i class="m-icon m-icon-arrow-angle-right"></i>
														</div>
														<div class="m-accordion-bd">
															<div class="m-accordion-content">
																<p>我們採隨到隨審制。原則上，當您完成並送出線上履歷表後，約2~3週會以Email通知您是否進入下一階段的甄選程序；建議您盡早完成線上履歷，即可優先進行履歷審查。</p>
															</div>
														</div>
													</li>
												</ol>
											</div>
										</div>
									</li>
								</ul>
								<span class="m-tab-bar b-col-md-2" ng-style="{'left' : Common.Tab.Left , 'width' : Common.Tab.Width}"></span>
							</div>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
				<!-- ==================== l-side begin =================== -->
				<div class="l-side">
					<aside class="m-aside m-aside-accordion ng-aside-accordion" ng-class="{'is-selected' : Common.Aside.Selected}">
						<header class="m-aside-hd">
							<button class="ng-cloak ng-aside-select">
								{{ Common.Aside.Toggle.Text || '焦點職缺' }}
								<span class="m-icon-stack m-icon-toggle">
									<i class="m-icon m-icon-arrow-angle-down"></i>
									<i class="m-icon m-icon-arrow-angle-up"></i>
								</span>
							</button>
						</header>
						<main class="m-aside-bd">
							<ul id="aside-item" class="ng-aside-accordion-item">
								<li data-channel="jobs">
									<h6>
										<a href="../../Views/hr/jobs.html" class="b-middle">
											<em>焦點職缺</em>
										</a>
									</h6>
								</li>
								<li>
									<h6>
										<a href="javascript:;" class="b-middle">
											<em>目前職缺查詢</em>
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
									</h6>
									<div>
										<ul>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦金控(總處、各處及中心)</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦人壽</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>台北富邦銀行</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦產險</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦證券</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦投信</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦投顧</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦期貨</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦行銷</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦人壽(越南)</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦銀行(香港)</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦華ㄧ銀行(大陸)</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦財險(大陸)</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>富邦產險(越南)</em>
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li data-channel="development">
									<h6>
										<a href="../../Views/hr/development.html" class="b-middle">
											<em>多元學習與發展</em>
										</a>
									</h6>
								</li>
								<li data-channel="life">
									<h6>
										<a href="../../Views/hr/life.html" class="b-middle">
											<em>富邦生活</em>
										</a>
									</h6>
								</li>
								<li data-channel="announcements">
									<h6>
										<a href="../../Views/hr/announcements.html" class="b-middle">
											<em>重要資訊公告</em>
										</a>
									</h6>
								</li>
								<li data-channel="FAQ">
									<h6>
										<a href="../../Views/hr/FAQ.html" class="b-middle">
											<em>FAQ</em>
										</a>
									</h6>
								</li>
							</ul>
						</main>
					</aside>
					<div class="m-aside">
						<div class="m-aside-bd">
							<ul class="m-icon-stack m-icon-circle-group b-row">
								<li class="b-col-md-12 b-col-sm-6 b-col-xs-6 b-align-md-center b-align-sm-right b-align-xs-center">
									<a href="javascript:;" class="m-icon-circle-item">
										<span>
											<i class="m-icon m-icon-download m-icon-size-md-4 m-icon-size-sm-4 m-icon-size-xs-4 is-absolute"></i>
											<i class="m-icon m-icon-circle m-icon-size-md-8 m-icon-size-sm-8 m-icon-size-xs-8"></i>
										</span>
										<em>富邦金控制式履歷下載</em>
									</a>
								</li>
								<li class="b-col-md-12 b-col-sm-6 b-col-xs-6 b-align-md-center b-align-sm-left b-align-xs-center">
									<a href="../../Views/hr/contact.html" class="m-icon-circle-item">
										<span>
											<i class="m-icon m-icon-comment m-icon-size-md-4 m-icon-size-sm-4 m-icon-size-xs-4 is-absolute"></i>
											<i class="m-icon m-icon-circle m-icon-size-md-8 m-icon-size-sm-8 m-icon-size-xs-8"></i>
										</span>
										<em>與我們聯繫</em>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- ==================== l-side end =================== -->

				<!-- ==================== top botton begin =================== -->
				<button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button>
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer b-clearfix">
			<footer class="m-footer">
				<div class="m-footer-hd">
					<div class="m-button-group is-inline-block">
						<button type="button" class="m-button m-button-sitemap ng-sitemap">
							網站導覽
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-up is-hide" ng-class="{'is-hide' : ! Common.Footer.Sitemap.Click}"></i>
								<i class="m-icon m-icon-arrow-angle-down" ng-class="{'is-hide' : Common.Footer.Sitemap.Click}"></i>
							</span>
						</button>
					</div>
					<div class="m-sitemap" ng-class="{'is-show' : Common.Footer.Sitemap.Click}">
						<div class="m-sitemap-bd b-row">
							<ul>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/about/info.html">關於富邦金控</a></li>
										<li><a href="../../Views/about/info.html">富邦金控簡介</a></li>
										<li><a href="../../Views/about/business_philosophy.html">核心價值</a></li>
										<li><a href="../../Views/about/team.html">經營團隊</a></li>
										<li><a href="../../Views/about/sub.html">金控子公司成員</a></li>
										<li><a href="../../Views/about/honor.html">專業殊榮</a></li>
										<li><a href="../../Views/about/milestone.html">大事紀</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/story/future.html">品牌故事</a></li>
										<li><a href="../../Views/story/future.html">延續傳承 走向未來</a></li>
										<li><a href="../../Views/story/positive.html">正向的力量</a></li>
										<li><a href="../../Views/story/identity.html">富邦品牌標誌</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/csr/chairmans_messages.html">企業社會責任</a></li>
										<li><a href="../../Views/csr/chairmans_messages.html">董事長的話</a></li>
										<li><a href="../../Views/csr/sustainable_operations.html">永續經營</a></li>
										<li><a href="../../Views/csr/corporate_governance.html">公司治理</a></li>
										<li><a href="../../Views/csr/commitment.html">客戶承諾</a></li>
										<li><a href="../../Views/csr/carehtml">員工關懷</a></li>
										<li><a href="../../Views/csr/core_competencies.html">核心職能</a></li>
										<li><a href="../../Views/csr/green.html">綠色金融</a></li>
										<li><a href="../../Views/csr/foundation.html">基金會</a></li>
										<li><a href="../../Views/csr/sponsorship.html">體育贊助</a></li>
										<li><a href="../../Views/csr/stakeholders.html">利害關係人專區</a></li>
										<li><a href="../../Views/csr/contact.html">聯絡我們</a></li>
										<li><a href="../../Views/csr/news.html">最新消息</a></li>
										<li><a href="../../Views/csr/media.html">影音專區</a></li>
										<li><a href="../../Views/csr/downloadlist.html">企業社會責任報告下載</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/ir/overview.html">投資人關係</a></li>
										<li><a href="../../Views/ir/overview.html">公司概況</a></li>
										<li><a href="../../Views/ir/financial.html">財務資訊</a></li>
										<li><a href="../../Views/ir/shareholder-Services.html">股務資訊</a></li>
										<li><a href="../../Views/ir/announcements.html">活動與公告</a></li>
										<li><a href="../../Views/ir/contact.html">聯絡我們</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/governance/status.html">公司治理</a></li>
										<li><a href="../../Views/governance/status.html">公司治理現況</a></li>
										<li><a href="../../Views/governance/framework.html">公司治理架構</a></li>
										<li><a href="../../Views/governance/operation.html">公司治理運作情形</a></li>
										<li><a href="../../Views/governance/shareholders.html">股東會</a></li>
										<li><a href="../../Views/governance/board_of_directors.html">董事會</a></li>
										<li><a href="../../Views/governance/committee.html">功能性委員會</a></li>
										<li><a href="../../Views/governance/organization.html">內部稽核組織及運作</a></li>
										<li><a href="../../Views/governance/regulation.html">公司重要章則</a></li>
										<li><a href="../../Views/governance/mail.html">獨立董事信箱</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/news/list.html">新聞中心</a></li>
									</ul>
								</li>	
							</ul>
						</div>
					</div>
				</div>
				<ul class="m-footer-bd b-clearfix">
					<li><a href="../../Views/hr/jobs.html">人才招募</a></li>
					<li><a href="../../Views/announcement/announcement.html">法定揭露事項</a></li>
					<li><a href="../../Views/location/location_tw.html">海內外服務據點</a></li>
					<li><a href="../../Views/privacy_policy/privacy.html">隱私權聲明</a></li>
					<li><a href="../../Views/consumer_protection/consumer_protection.html">消費者保護</a></li>
					<li><a href="../../Views/service/contact.html">服務中心</a></li>
					<li><a href="../../Views/epaper/list.html">富邦理財電子報</a></li>
				</ul>
				<small class="m-footer-ft">© 富邦金融控股股份有限公司</small>
			</footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->

	<!-- ==================== l-nav begin =================== -->
	<nav class="l-nav" ng-class="{'is-animate' : Common.Nav.Mobile.Click}">
		<div class="m-nav ng-nav" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
			<ul class="b-clearfix ng-nav-item">
				<li class="b-middle" data-channel="about">
					<a href="../../Views/about/info.html">
						<em>關於富邦金控</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/about/info.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦金控簡介</em></a></li>
							<li><a href="../../Views/about/business_philosophy.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心價值</em></a></li>
							<li><a href="../../Views/about/team.html"><i class="m-icon m-icon-nav-arrow"></i><em>經營團隊</em></a></li>
							<li><a href="../../Views/about/sub.html"><i class="m-icon m-icon-nav-arrow"></i><em>金控子公司成員</em></a></li>
							<li><a href="../../Views/about/honor.html"><i class="m-icon m-icon-nav-arrow"></i><em>專業殊榮</em></a></li>
							<li><a href="../../Views/about/milestone.html"><i class="m-icon m-icon-nav-arrow"></i><em>大事記</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle" data-channel="story">
					<a href="../../Views/story/future.html">
						<em>品牌故事</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/story/future.html"><i class="m-icon m-icon-nav-arrow"></i><em>延續傳承 走向未來</em></a></li>
							<li><a href="../../Views/story/positive.html"><i class="m-icon m-icon-nav-arrow"></i><em>正向的力量</em></a></li>
							<li><a href="../../Views/story/identity.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦品牌標誌</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle" data-channel="csr">
					<a href="../../Views/csr/chairmans_messages.html">
						<em>企業社會責任</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/csr/chairmans_messages.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事長的話</em></a></li>
							<li><a href="../../Views/csr/sustainable_operations.html"><i class="m-icon m-icon-nav-arrow"></i><em>永續經營</em></a></li>
							<li><a href="../../Views/csr/corporate_governance.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理</em></a></li>
							<li><a href="../../Views/csr/commitment.html"><i class="m-icon m-icon-nav-arrow"></i><em>客戶承諾</em></a></li>
							<li><a href="../../Views/csr/care.html"><i class="m-icon m-icon-nav-arrow"></i><em>員工關懷</em></a></li>
							<li><a href="../../Views/csr/core_competencies.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心職能</em></a></li>
							<li><a href="../../Views/csr/green.html"><i class="m-icon m-icon-nav-arrow"></i><em>綠色金融</em></a></li>
							<li><a href="../../Views/csr/foundation.html"><i class="m-icon m-icon-nav-arrow"></i><em>基金會</em></a></li>
							<li><a href="../../Views/csr/sponsorship.html"><i class="m-icon m-icon-nav-arrow"></i><em>體育贊助</em></a></li>
							<li><a href="../../Views/csr/stakeholders.html"><i class="m-icon m-icon-nav-arrow"></i><em>利害關係人專區</em></a></li>
							<li><a href="../../Views/csr/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
							<li><a href="../../Views/csr/news.html"><i class="m-icon m-icon-nav-arrow"></i><em>最新消息</em></a></li>
							<li><a href="../../Views/csr/media.html"><i class="m-icon m-icon-nav-arrow"></i><em>影音專區</em></a></li>
							<li><a href="../../Views/csr/downloadlist.html"><i class="m-icon m-icon-nav-arrow"></i><em>企業社會責任報告下載</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle" data-channel="ir">
					<a href="../../Views/ir/overview.html">
						<em>投資人關係</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/ir/overview.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司概況</em></a></li>
							<li><a href="../../Views/ir/financial.html"><i class="m-icon m-icon-nav-arrow"></i><em>財務資訊</em></a></li>
							<li><a href="../../Views/ir/shareholder_services.html"><i class="m-icon m-icon-nav-arrow"></i><em>股務資訊</em></a></li>
							<li><a href="../../Views/ir/announcements.html"><i class="m-icon m-icon-nav-arrow"></i><em>活動與公告</em></a></li>
							<li><a href="../../Views/ir/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle" data-channel="governance">
					<a href="../../Views/governance/status.html">
						<em>公司治理</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/governance/status.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理現況</em></a></li>
							<li><a href="../../Views/governance/framework.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理架構</em></a></li>
							<li><a href="../../Views/governance/operation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理運作情形</em></a></li>
							<li><a href="../../Views/governance/letter.html"><i class="m-icon m-icon-nav-arrow"></i><em>股東會</em></a></li>
							<li><a href="../../Views/governance/board_of_directors.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事會</em></a></li>
							<li><a href="../../Views/governance/committee.html"><i class="m-icon m-icon-nav-arrow"></i><em>功能性委員會</em></a></li>
							<li><a href="../../Views/governance/organization.html"><i class="m-icon m-icon-nav-arrow"></i><em>內部稽核組織及運作</em></a></li>
							<li><a href="../../Views/governance/regulation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司重要章則</em></a></li>
							<li><a href="../../Views/governance/mail.html"><i class="m-icon m-icon-nav-arrow"></i><em>獨立董事信箱</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle" data-channel="news">
					<a href="../../Views/news/list.html">
						<em>新聞中心</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
				</li>
			</ul>
			<span class="m-nav-bar" ng-class="{'is-show' : Common.Nav.Bar.Hover}" ng-style="{'left' : Common.Nav.Bar.Left , 'width' : Common.Nav.Bar.Width}"></span>
			<div class="m-nav-path ng-nav-path" ng-style="{'top' : Common.Nav.Path.Top , 'height' : Common.Nav.Path.Height}">
				<ul>
					<li ng-style="{'height' : Common.Nav.Path.Height}">
						<a href="javascript:;" class="ng-path">
							服務捷徑
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<!--[if lt IE 10]><span></span><![endif]-->
						<div>
							<ul>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>台北富邦銀行</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦銀行(香港)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦華一銀行(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦財險(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦證券</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投信</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦期貨</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投顧</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦行銷 | 富昇保代</a></li>
							</ul>	
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- ==================== l-nav end =================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular/angular.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/common.js?JS=20150630_01"></script>
<!-- master page include scripts end -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="../../Scripts/js/hr/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>