html , body  {
	font       : 13px/1.6em $font-family;
	color      : $text-minor-color;
	width      : 100%;
	min-width  : $main-min-width;
	background : $default-html-bgcolor;
}

mark {
	color      : $major-color;
	background : transparent;
}

a {
	text-decoration : none;
	color           : $text-minor-color;
	outline         : 0;

	&[href^="tel"] {
		cursor : text;
	}

	&:hoevr {
		text-decoration : none;
	}

	&.b-link {
		color           : $color-link;
		text-decoration : underline;
		/*@include inline-block;*/
		@include transition(color $transition-times);

		&:hover {
			color : darken($color-link , 15%);
		}

		.m-icon {
			margin-right : 5px;
			font-size    : 20px;
		}
	}
}

/* cloak */
.b-cloak {
	display : none !important;
}

/* vertical-align middle */
.b-middle {
	position  : relative;
	height    : 100%;
	font-size : 0;

	&:before {
		content : "";
		height  : 100%;
		@include inline-block;
	}

	> * {
		font-size : initial;
		@include inline-block;
	}
}

/* clearfix */
.b-clearfix {
	&:after {
		content : "";
		width   : 100%;
		height  : 0;
		clear   : both;
		@include clearfix;
		@include display(block);
	}
}

/* no-transition */
.b-no-transition {
	@include transition-none;
}


/* slide */
.b-slide {
	left     : 0;
	width    : 200%;
	position : relative;
	@include clearfix;
	@include transition((left $transition-times , height $transition-times));
}

/* h1 ~ h6 font size */
h2 , .b-h2 {
	font-size   : 32px !important;
	line-height : 1.6;
	color       : $major-color;
	@include display(block);
}

h3 , .b-h3 {
	font-size   : 18px !important;
	line-height : 1.6;
	color       : $major-color;
	@include display(block);
}

/* row */
.b-row {
	margin-right : -5px;
	margin-left  : -5px;
	@include clearfix;
}

/* col-md-0 */
.b-col-md-0 {
	display : none !important;
}

/* col-md-padding */
.b-col-md-padding {
	padding-left  : 5px;
	padding-right : 5px;
}

/* col-md-padding-reset */
.b-col-md-padding-reset {
	padding-left  : 0px;
	padding-right : 0px;
}

/* col */
$types : 12;
$total : 12;
@while $types > 0 {
	.b-col-md-#{$types} {
		padding-right : 5px;
		padding-left  : 5px;
		width         : ((100% / $total) * $types) !important;
		min-height    : 1px;
		float         : left;
		display       : block;
		position      : relative;
		@include box-sizing(border-box);
	}

	$types : $types - 1;
}

[class^="b-col-md-"] , [class*=" b-col-md-"] {
	[class^="b-col-md-"] , [class*=" b-col-md-"] {
		padding-left  : 0;
		padding-right : 0;
	}
}

/* loading */
.b-loading {
	top      : 0;
	right    : 0;
	bottom   : 0;
	left     : 0;
	margin   : auto;
	width    : 100%;
	height   : 100%;
	visibility: visible;
	position : absolute;
	@inclide opacity(1);
	@include transition(opacity $transition-times);

	&.is-hide {
		visibility: hidden;
		z-index : 0;
		@inclide opacity(0);
	}

	.m-icon-stack {
		top       : 0;
		right     : 0;
		bottom    : 0;
		left      : 0;
		margin    : auto;
		width     : 36px;
		height    : 36px;
		font-size : 36px;
		position  : absolute;

		.m-icon-fubon-blue {
			color : $major-color;
		}

		.m-icon-fubon-green {
			color : $minor-color;
		}
	}

	&:after {
		content             : "";
		top                 : 0;
		right               : 0;
		bottom              : 0;
		left                : 0;
		margin              : auto;
		width               : 60px;
		height              : 60px;
		position            : absolute;
		border              : 1px solid rgba(#FFF , .5);
		border-bottom-color : $major-color;
		@include border-radius(100%);
		@include animation(rotate 1s linear 0s infinite);
	}
}

@include keyframes(rotate){
	from {
		@include rotate(0deg);
	}
	to {
		@include rotate(360deg);
	}
}

@include respond-to(Tables) {
	html , body  {
		min-width  : inherit;
		height     : 100%;
		min-height : 100%;
	}

	a {
		&.b-link {
			&:hover {
				color : $color-link;
			}
		}
	}

	/* h1 ~ h6 font size */
	h2 , .b-h2 {
		font-size : 28px !important;
	}

	h3 , .b-h3 {
		font-size : 17px !important;
	}

	.b-col-md-0 {
		display : block !important;
	}

	/* col-md-padding */
	.b-col-md-padding {
		padding-left  : 0;
		padding-right : 0;
	}

	/* col-md-padding-reset */
	.b-col-md-padding-reset {
		padding-left  : 5px;
		padding-right : 5px;
	}

	[class^="b-col-md-"] , [class*=" b-col-md-"] {
		padding-right : 0;
		padding-left  : 0;
		width         : auto !important;
		float         : none;
	}
}

@include respond-to(Tables-Mobile) {
	/* col-0 */
	.b-col-sm-0 {
		display : none !important;
	}

	/* col-sm-padding */
	.b-col-sm-padding {
		padding-left  : 5px;
		padding-right : 5px;
	}

	/* col-sm-padding-reset */
	.b-col-sm-padding-reset {
		padding-left  : 0;
		padding-right : 0;
	}

	$types : 12;
	$total : 12;
	@while $types > 0 {
		.b-col-sm-#{$types} {
			padding-right : 5px;
			padding-left  : 5px;
			width         : ((100% / $total) * $types) !important;
			min-height    : 1px;
			float         : left;
			display       : block;
			position      : relative;
			@include box-sizing(border-box);
		}

		$types : $types - 1;
	}
}

@include respond-to(Mobile) {
	a {
		&[href^="tel"] {
			color           : $color-link;
			text-decoration : underline;
			cursor          : pointer;
		}
	}

	.b-col-sm-0 {
		display : block !important;
	}

	/* col-sm-padding */
	.b-col-sm-padding {
		padding-left  : 0;
		padding-right : 0;
	}

	/* col-sm-padding-reset */
	.b-col-sm-padding-reset {
		padding-left  : 5px;
		padding-right : 5px;
	}

	/* col-0 */
	.b-col-xs-0 {
		display : none !important;
	}

	/* col-xs-padding */
	.b-col-xs-padding {
		padding-left  : 5px;
		padding-right : 5px;
	}

	/* col-xs-padding-reset */
	.b-col-xs-padding-reset {
		padding-left  : 0;
		padding-right : 0;
	}

	[class^="b-col-sm-"] , [class*=" b-col-sm-"] {
		padding-right : 0;
		padding-left  : 0;
		width         : auto !important;
		float         : none;
	}

	/* col */
	$types : 6;
	$total : 6;
	@while $types > 0 {
		.b-col-xs-#{$types} {
			padding-right : 5px;
			padding-left  : 5px;
			width         : ((100% / $total) * $types) !important;
			min-height    : 1px;
			float         : left;
			display       : block;
			position      : relative;
			@include box-sizing(border-box);
		}

		$types : $types - 1;
	}
}