/* cloak */
.b-cloak {
	display : none !important;
}

/* vertical-align middle */
.b-middle {
	font-size  : 0;
	max-height : 100%;

	&:before {
		content : "";
		height  : 100%;
		@include inline-block;
	}

	> * {
		font-size : initial;
		zoom      : 1;
		@include inline-block;
	}
}

/* clearfix */
.b-clearfix {
	&:after {
		content : "";
		width   : 100%;
		height  : 0;
		clear   : both;
		@include clearfix;
		@include display(block);
	}
}

/* no-transition */
.b-no-transition {
	@include transition-none;
}


/* slide */
.b-slide {
	left     : 0;
	width    : 200%;
	position : relative;
	@include clearfix;
	@include transition((left $transition-times , height $transition-times));
}

/* h1 ~ h6 font size */
h2 , .b-h2 {
	font-size   : 32px;
	line-height : 1.6;
	color       : $major-color;
	@include display(block);
}

h3 , .b-h3 {
	margin-bottom : 10px;
	font-size     : 18px;
	line-height   : 1.6;
	color         : $major-color;
	@include display(block);
}

/* row */
.b-row {
	margin-right : -5px;
	margin-left  : -5px;
	@include clearfix;
}

/* col */
[class^="b-col-"] , [class*=" b-col-"] {
	min-height    : 1px;
	position      : relative;
	@include box-sizing(border-box);

	/*[class^="b-col-"] , [class*=" b-col-"] {
		padding-left  : 0;
		padding-right : 0;
	}*/
}

/* loading */
.b-loading {
	top      : 0;
	right    : 0;
	bottom   : 0;
	left     : 0;
	margin   : auto;
	width    : 100%;
	height   : 100%;
	visibility: visible;
	position : absolute;
	@inclide opacity(1);
	@include transition(opacity $transition-times);

	&.is-hide {
		visibility: hidden;
		z-index : 0;
		@inclide opacity(0);
	}

	&.is-relative {
		position   : relative;
		min-height : 70px;
	}

	.m-icon-stack {
		top       : 0;
		right     : 0;
		bottom    : 0;
		left      : 0;
		margin    : auto;
		width     : 36px;
		height    : 36px;
		font-size : 36px;
		position  : absolute;

		.m-icon-fubon-blue {
			color : $major-color;
		}

		.m-icon-fubon-green {
			color : $minor-color;
		}
	}

	&:after {
		content             : "";
		top                 : 0;
		right               : 0;
		bottom              : 0;
		left                : 0;
		margin              : auto;
		width               : 60px;
		height              : 60px;
		position            : absolute;
		border              : 1px solid rgba($color-white , .5);
		border-bottom-color : $major-color;
		@include border-radius(100%);
		@include animation(rotate 1s linear 0s infinite);
	}
}

@include keyframes(rotate){
	from {
		@include rotate(0deg);
	}
	to {
		@include rotate(360deg);
	}
}

@include respond-to(Desktops) {
	/* align */
	.b-align-md-left {
		text-align : left;
	}

	.b-align-md-center {
		text-align : center;
	}

	.b-align-md-right {
		text-align : right;
	}

	/* col */
	[class^="b-col-md-"] , [class*=" b-col-md-"] {
		padding-right : 5px;
		padding-left  : 5px;
	}

	/* col-md-0 */
	.b-col-md-0 {
		display : none !important;
	}

	/* col-md-padding */
	.b-col-md-padding {
		padding-left  : 5px;
		padding-right : 5px;
	}

	/* col-md-padding-reset */
	.b-col-md-padding-reset {
		padding-left  : 0 !important;
		padding-right : 0 !important;
	}

	/* col */
	$types : 12;
	$total : 12;
	@while $types > 0 {
		.b-col-md-#{$types} {
			width : ((100% / $total) * $types);
			float : left;

			@if $types == 12 {
				clear : both;
			}
		}

		$types : $types - 1;
	}
}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {
	/* h1 ~ h6 font size */
	h2 , .b-h2 {
		font-size : 28px;
	}

	h3 , .b-h3 {
		font-size : 17px;
	}

	.b-align-sm-left {
		text-align : left;
	}

	.b-align-sm-center {
		text-align : center;
	}

	.b-align-sm-right {
		text-align : right;
	}

	/* col */
	[class^="b-col-sm-"] , [class*=" b-col-sm-"] {
		padding-right : 5px;
		padding-left  : 5px;
	}

	/* col-0 */
	.b-col-sm-0 {
		display : none !important;
	}

	/* col-sm-padding */
	.b-col-sm-padding {
		padding-left  : 5px !important;
		padding-right : 5px !important;
	}

	/* col-sm-padding-reset */
	.b-col-sm-padding-reset {
		padding-left  : 0;
		padding-right : 0;
	}

	$types : 12;
	$total : 12;
	@while $types > 0 {
		.b-col-sm-#{$types} {
			width : ((100% / $total) * $types);
			float : left;

			@if $types == 12 {
				clear : both;
			}
		}

		$types : $types - 1;
	}
}

@include respond-to(Mobiles) {
	a {
		&[href^="tel"] , &[href^="TEL"] {
			color           : $color-link;
			text-decoration : underline;
			cursor          : pointer;
		}
	}

	.b-align-xs-left {
		text-align : left;
	}

	.b-align-xs-center {
		text-align : center;
	}

	.b-align-xs-right {
		text-align : right;
	}

	/* col */
	[class^="b-col-xs-"] , [class*=" b-col-xs-"] {
		padding-right : 5px;
		padding-left  : 5px;
	}

	/* col-0 */
	.b-col-xs-0 {
		display : none !important;
	}

	/* col-xs-padding */
	.b-col-xs-padding {
		padding-left  : 5px;
		padding-right : 5px;
	}

	/* col-xs-padding-reset */
	.b-col-xs-padding-reset {
		padding-left  : 0 !important;
		padding-right : 0 !important;
	}

	/* col */
	$types : 6;
	$total : 6;
	@while $types > 0 {
		.b-col-xs-#{$types} {
			width : ((100% / $total) * $types);
			float : left;

			@if $types == 6 {
				clear : both;
			}
		}

		$types : $types - 1;
	}
}