html , body  {
	font       : 13px/1.6 $font-family;
	color      : $text-minor-color;
	width      : 100%;
	background : $default-html-bgcolor;
	@include text-size-adjust;
}

/* mark */
mark , .b-mark {
	color      : $major-color;
	background : transparent;
}

b , strong {
	font-weight : bold;
}

button {
	@include buttom-default;
}

a {
	@include buttom-default;
	text-decoration : none;
	color           : $text-minor-color;
	outline         : 0;

	&[href^="tel"] , &[href^="TEL"] {
		cursor : text;
	}

	&:hoevr {
		text-decoration : none;
	}

	&.b-link {
		color           : $color-link;
		text-decoration : underline;
		@include transition(color $transition-times);

		&:hover {
			color : darken($color-link , 15%);
		}

		.m-icon {
			margin-right : 5px;
			font-size    : 20px;
		}
	}
}

@include respond-to(Desktops) {
	html , body  {
		min-width : $main-min-width;
	}
}

@include respond-to(Tablets) {
	html , body  {
		min-height : 100%;
	}

	a {
		&.b-link {
			&:hover {
				color : $color-link;
			}
		}
	}
}
