.m-attachement {
	font-size   : 14px;
	line-height : 28px;
	position    : relative;
	border      : 1px solid $border-minor-color;
	@include  clearfix;
	@include box-sizing(border-box);

	&:before {
		content    : "";
		top        : -6px;
		left       : 0;
		width      : 4px;
		height     : 100%;
		background : $major-color;
		position   : absolute;
		z-index    : 2;
		@include clearfix;
	}
}

.m-attachement-hd {
	padding  : 15px 20px 0 20px;
	position : relative;
	z-index  : 1;
	@include box-sizing(border-box);

	> .m-icon {
		font-size   : 25px;
		width       : 25px;
		height      : 25px;
		line-height : 25px;
		float       : left;
		@include display(block);
	}

	> em {
		float : left;
		@include display(block);
	}
}

.m-attachement-bd {
	margin-bottom : 1px;
	padding       : 0 20px 18px 55px;
	border-bottom : 1px solid $border-minor-color;
	position      : relative;
	z-index       : 1;
	@include box-sizing(border-box);

	&:before , &:after {
		content    : "";
		left       : 0;
		width      : 100%;
		height     : 1px;
		position   : absolute;
		background : $border-minor-color;
		@include clearfix;
	}

	&:before {
		bottom : 3px;
	}

	&:after {
		bottom : 1px;
	}

	> li {
		> a {
			@include transition(color $transition-times);

			&:hover {
				color : $major-color;
			}
		}
	}
}