.m-article {
	margin-bottom : -40px;
	position      : relative;

	&.is-graphic-left {
		.m-article-bd {
			.m-article-graphic {
				float : left;
			}

			.m-article-data {
				float : right;
			}
		}
	}

	&.is-graphic-right {
		.m-article-bd {
			.m-article-graphic {
				float : right;
			}

			.m-article-data {
				float : left;
			}
		}
	}

	&.is-titles {
		margin-bottom : -30px;
		
		.m-article-data {
			> p {
				margin-top    : 0;
				margin-bottom : 30px;
			}
		}
	}
}

.m-article-hd {
	margin-bottom : 40px;

	.m-article-tools {
		margin-top : 5px;
		font-size  : 16px;
		color      : $text-sub-color;

		.m-icon {
			margin-top   : -4px;
			margin-right : 5px;
			font-size    : 18px;
		}
	}
}

.m-article-bd {
	position : relative;
}

.m-article-data {
	font-size     : 14px;
	line-height   : 28px;

	> h3 {
		margin-top    : 40px;
		margin-bottom : 0;

		&:first-child {
			margin-top : 0;
		}
	}

	> * {
		margin-bottom : 40px;
	}

	> p {
		&:first-child {
			margin-top : 0;
		}
	}

	h3:first-child + p {
		margin-top : 0;
	}

	img {
		max-width      : 100%;
		vertical-align : top;

		&:first-child {
			margin-top : 0;
		}
	}

	.article-margin-default {
		margin-bottom : 10px !important;
	}
}

@include respond-to(Tables) {}

@include respond-to(Tables-Mobile) {}

@include respond-to(Mobile) {}