.m-aside {
	position : relative;

	&.m-aside-accordion {
		@include box-sizing(border-box);

		.m-aside-bd {
			padding-right : 0;
			padding-left  : 0;

			> ul {
				> li {
					&.is-curr , &.is-active {
						.m-icon-stack {
							.m-icon {
								@include inline-block;

								&:first-child {
									display : none;
								}
							}
						}

						> h6 {
							a {
								color : $major-color;
							}
						}

						> div {
							max-height : 999px;
						}
					}

					&.is-curr {
						&.is-hide {
							> div {
								max-height : 0;
							}
						}

						&.is-curred {
							> h6 {
								a {
									color : $text-minor-color;
								}
							}
						}
					}

					&.is-curred {
						> h6 {
							a {
								color : $major-color;
							}
						}

						&.is-hide {
							.m-icon-stack {
								.m-icon {
									display : none;

									&:first-child {
										@include display(block);
									}
								}
							}

							> h6 {
								a {
									color : $major-color;
								}
							}
						}
					}

					&:first-child {
						> h6 {
							a {
								border-top : 0;
							}
						}
					}

					.m-icon-stack {
						padding-left : 5px;
						color        : $major-color;
						font-size    : 12px;
						width        : 12px;
						height       : 12px;
						position     : relative;
						@include display(table-cell);

						.m-icon {
							height  : auto;
							display : none;

							&:first-child {
								@include inline-block;
							}
						}
					}

					h6 {
						padding  : 0 ($inner-Width - 5);
						position : relative;
						z-index  : 1;

						a {
							line-height : 1.6;
							position    : relative;
							display     : block;
							border-top  : 1px solid $border-minor-color;
							@include box-sizing(border-box);
							@include transition(color $transition-times);

							> em {
								font-size : 15px;
							}
						}
					}

					> div {
						margin-top : -1px;
						max-height : 0;
						position   : relative;
						z-index    : 2;
						@include clearfix;
						@include transition(max-height $transition-times);

						> ul {
							padding    : 10px 10px 10px ($inner-Width - 7);
							background : $major-color;

							> li {
								> a {
									padding-top    : 10px;
									padding-bottom : 10px;
									color          : $color-white;
									@include display(block);

									> .m-icon {
										visibility : hidden;
									}

									> em {
										font-size     : 14px;
										line-height   : 20px;
										border-bottom : 1px solid transparent;
										@include inline-block;
										@include transition(border-color $transition-times);
									}
								}

								&.is-active {
									> a {
										> .m-icon {
											visibility : visible;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&.m-aside-list {
		.m-aside-hd {
			> h5 {
				padding-top    : 15px;
				padding-bottom : 5px;
				padding-left   : 15px;
				
				&:before {
					display : none;
				}
			}
		}

		.m-aside-bd {
			padding-right : 0;
			padding-left  : 0;

			> ul {
				> li {
					&:first-child {
						> h6 {
							a {
								border-top : 0;
							}
						}
					}

					h6 {
						padding  : 0 ($inner-Width - 5);
						position : relative;
						z-index  : 1;

						a {
							padding     : 10px 0;
							line-height : 28px;
							position    : relative;
							border-top  : 1px solid $border-minor-color;
							@include display(block);
							@include box-sizing(border-box);
							@include transition(color $transition-times);

							&:hover {
								color : $major-color;
							}

							> em {
								padding-left : 14px;
								font-size    : 14px;
								position     : relative;

								&:before {
									content    : "";
									top        : 11px;
									left       : 0;
									width      : 4px;
									height     : 6px;
									background : $major-color;
									position   : absolute;
									@include clearfix;
									@include inline-block;
								}
							}
						}
					}
				}
			}
		}
	}
}

.m-aside-hd {
	> h5 {
		padding-left : 15px;
		font-size    : 18px;
		line-height  : 1.7;
		color        : $major-color;
		position     : relative;
		float        : left;
		@include box-sizing(border-box);

		&:before {
			content    : "";
			top        : 0;
			left       : 0;
			width      : 4px;
			height     : 100%;
			position   : absolute;
			background : $major-color;
			@include clearfix;
		}
	}

	.m-aside-tools {
		padding-top   : 5px;
		padding-right : 10px;
		text-align    : right;
		width         : 1%;
		white-space   : nowrap;
		@include display(table-cell);
		@include box-sizing(border-box);

		> a {
			font-size       : 12px;
			color           : $major-color;
			text-decoration : underline;
		}
	}
}

.m-aside-bd {
	padding  : 0 ($inner-Width - 5);
}

@include respond-to(Desktops) {
	.m-aside {
		&.m-aside-accordion {
			border-bottom : 1px solid $border-minor-color;

			.m-aside-hd {
				display : none;
			}

			.m-aside-bd {
				> ul {

					> li {
						h6 {
							a {
								padding     : 5px 0 5px 13px;
								width       : 100%;
								min-height  : 50px;
								line-height : 20px;
								@include display(table);

								&:hover {
									color : $major-color;
								}

								> em {
									@include display(table-cell);

									&:before {
										content    : "";
										top        : 50%;
										left       : 0;
										margin-top : -3px;
										width      : 4px;
										height     : 6px;
										background : $major-color;
										position   : relative;
										position   : absolute;
										@include clearfix;
									}
								}
							}
						}

						> div {
							> ul {
								> li {
									> a {
										@include display(table);

										&:hover {
											> em {
												border-bottom-color : $color-white;
											}
										}

										> .m-icon {
											padding-right : 5px;
											width         : 1%;
											white-space   : nowrap;
											@include display(table-cell);
										}
									}

									&.is-active {
										> a {
											&:hover {
												> em {
													border-bottom-color : transparent;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@include respond-to(Desktops-Tablets) {
	.m-aside {
		margin-top : 25px;

		&:first-child {
			margin-top : 0;
		}
	}
}

@include respond-to(Tablets) {
	.m-aside {
		padding-right : ($inner-Width - 10);
		padding-left  : ($inner-Width - 10);

		&.m-aside-accordion {
			top           : 50px;
			left          : 0;
			width         : 100%;
			border-bottom : 0;
			position      : absolute;
			z-index       : 20;
			@include display(block);

			&.is-disabled {
				.m-aside-hd {
					border-color : lighten($border-major-color , 25%);

					> button {
						cursor : not-allowed;

						.m-icon-stack {
							display : none;
						}
					}
				}
			}

			&.is-selected {
				.m-aside-hd {
					> button {
						.m-icon-stack {
							.m-icon {
								@include display(block);

								&:first-child {
									display : none;
								}
							}
						}
					}
				}

				.m-aside-bd {
					max-height : 999px;
				}
			}

			.m-aside-hd {
				padding     : 10px 0;
				min-height  : 40px;
				line-height : 20px;
				border      : 1px solid $border-major-color;
				background  : $color-inverse;
				position    : relative;
				@include box-sizing(border-box);

				> button {
					padding     : 0 15px;
					font-size   : 20px;
					text-align  : left;
					width       : 100%;
					height      : 100%;
					line-height : 1.2;
					@include display(block);
					@include box-sizing(border-box);

					.m-icon-stack {
						top         : 50%;
						right       : 15px;
						margin-top  : -10px;
						color       : $major-color;
						width       : 20px;
						height      : 20px;
						line-height : 20px;
						position    : absolute;
						@include clearfix;

						.m-icon {
							display : none;

							&:first-child {
								@include display(block);
							}
						}
					}
				}
			}

			.m-aside-bd {
				max-height : 0;
				background : $color-inverse;
				@include clearfix;
				@include transition(max-height $transition-times);

				> ul {
					border     : 1px solid $border-major-color;
					border-top : 0;

					> li {
						&.is-curr {
							.m-icon-stack {
								.m-icon {
									display : none;

									&:first-child {
										@include display(block);
									}
								}
							}

							> div {
								max-height : 0;
							}
						}

						> h6 {
							a {
								padding-top    : 5px;
								padding-bottom : 5px;
								width          : 100%;
								min-height     : 40px;
								@include display(table);
							}	
						}

						> div {
							> ul {
								padding-left : 20px;

								> li {
									> a {
										> .m-icon {
											display : none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.m-aside-bd {
		padding-left  : 0;
		padding-right : 0;
	}

}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {
	.m-aside {
		margin-top : 10px;

		&:first-child {
			margin-top : 0;
		}
	}
}