.m-button-group {
	width : 100%;
	@include inline-block;

	&:after {
		content : "";
		width   : 100%;
		height  : 0;
		clear   : both;
		@include clearfix;
		@include display(table);
	}
}

@include respond-to(Tables) {}

@include respond-to(Tables-Mobile) {}

@include respond-to(Mobile) {}