.m-button-group {
	/*width : 100%;*/
	@include display(block);

	&.is-inline-block {
		@include inline-block;	
	}

	&:after {
		content : "";
		width   : 100%;
		height  : 0;
		clear   : both;
		@include clearfix;
		@include display(table);
	}

	&.m-button-icon {
		.m-button {
			.m-icon {
				font-size  : 145%;
			}
		}
	}

	.m-button {
		margin-left : 2px;

		&:first-child {
			margin-left : 0;
		}
	}
}

@include respond-to(Tables) {}

@include respond-to(Tables-Mobile) {}

@include respond-to(Mobile) {
	.m-button-group {
		.m-button {
			&.b-xs-full , &.b-lg {
				margin-left : 0;
			}
		}
	}
}