.m-button {
	@include m-buttom-default;
	padding : 7px 15px;
	@include transition((background (($transition-times * 2) - 0.1) , color (($transition-times * 2) - 0.1)));

	&.m-button-search {
		width      : 28px;
		height     : 28px;
		border     : 0;
		text-align : center;
	}

	&.m-button-sitemap {
		padding    : 0 10px;
		color      : $text-minor-color;
		height     : 24px;
		border     : 1px solid $border-major-color;
		background : #EDEDED;
		@include border-radius(30px);
		@include box-sizing(border-box);
		@include box-shadow(rgba(#000 , .5) 0 1px 3px);

		.m-icon {
			margin-top  : -2px;
			margin-left : 3px;
			font-size   : 12px;
		}
	}

	&.m-button-navicon {
		padding     : 5px 10px;
		border      : 0;
		line-height : inherit;

		.m-icon {
			margin-top : 3px;
		}
	}

	&.m-button-map {
		padding     : 0 0 0 22px;
		white-space : normal;
		
		.m-icon {
			top       : 0;
			left      : 0;
			font-size : 20px;
			width     : 20px;
			height    : 20px;
			position  : absolute;
			color     : $color-map;
		}
	}

	&.m-button-top {
		right        : 50%;
		top          : 90%;
		margin-right : (($main-min-width / 2 * (-1)) - 40);
		padding      : 0;
		width        : 40px;
		text-align   : center;
		color        : $major-color;
		position     : fixed;
		z-index      : 25;

		&:hover {
			.m-icon {
				background : darken($major-color , 15%);
			}
		}

		.m-icon {
			font-size  : 30px;
			width      : 40px;
			height     : 30px;
			color      : $color-white;
			background : $major-color;
			@include display(block);
			@include transition(background (($transition-times * 2) - 0.1));
		}
	}

	&.b-lg {
		margin-right  : 2px;
		margin-left   : 2px;
		padding-right : 60px;
		padding-left  : 60px;
	}

	&[class^="m-button-size-"] , &[class*=" m-button-size-"] {
		padding-right : 0;
		padding-left  : 0;
		text-align    : center;
	}

	&.m-button-size-xs {
		width : 60px;
	}

	&.m-button-size-sm {
		width : 125px;
	}

	&.m-button-size-lg {
		width : 190px;
	}

	/* 顏色設定 */
	@each $key , $value in $color {
		&.b-#{'' + $key} {
			@if ( $key != 'disabled' ) {
				@if ( $key != 'inverse' ) {
					color : $color-white;
				} @else {
					color  : $text-minor-color;
					border : 1px solid darken($color-inverse , 10%);
				}
				
				background : $value;


			} @else if ( $key == 'disabled' ) {
				@include disabled;
			}

			&:hover {
				background   : darken($value , 15%);

				@if ( $key == 'disabled' ) {
					color : lighten($text-sub-color , 5%);
				}
			}
		}
	}
}

@include respond-to(1085px) {
	.m-button {
		&.m-button-top {
			margin-right : (($main-min-width / 2 * (-1)));

			&:hover {
				.m-icon {
					background : $major-color;
				}
			}
		}
	}
}

@include respond-to(Tables) {
	.m-button {
		padding-right : 12px;
		padding-left  : 12px;

		&.m-button-top {
			right        : 10px;
			margin-right : auto;
		}

		/* 顏色設定 移除 Hover */
		@each $key , $value in $color {
			&.b-#{'' + $key} {
				&:hover {
					background : $value;

					@if ( $key == 'disabled' ) {
						color : $text-sub-color;
					}
				}
			}
		}
	}
}

@include respond-to(Tables-Mobile) {}

@include respond-to(Mobile) {
	.m-button {
		padding : 6px 8px;

		&.m-button-navicon {
			padding-right : 5px;
			padding-left  : 2px;
		}

		&.b-xs-full , &.b-lg {
			margin-top  : 5px;
			width       : 100%;
			@include box-sizing(border-box);

			&[class^="m-button-size-"] , &[class*=" m-button-size-"] {
				width : 100%;
			}
		}
	}
}