.m-form {
	margin      : 0;
	padding     : 0;
	font-family : $font-family;
	color       : $text-major-color;
	position    : relative;
	outline     : none;
	@include appearance(none);
	@include border-radius(0);
	@include box-shadow(transparent 0 0 0 , transparent 0 0 0 inset);

	&.m-form-control {
		padding     : 5px 10px;
		font-size   : 13px;
		width       : 100%;
		height      : 34px;
		line-height : 1.6;
		border      : 1px solid $border-major-color;
		@include autofill();
		@include placeholder();
		@include box-sizing(border-box);
		@include transition(all .5s);

		&:focus {
			border-color : $focus-color !important;
		}
	}

	&[type="radio"] , &[type="checkbox"] {
		margin-top : -2px;
		@include inline-block;
	}

	&[type="radio"] {
		@include appearance(radio);
	}

	&[type="checkbox"] {
		@include appearance(checkbox);
	}

	&.is-disabled {
		@include disabled;
		@include placeholder(lighten($text-sub-color , 15%));
	}

	&[readonly="readonly"] {
		border-color : lighten($border-major-color , 12%);
		cursor       : not-allowed;

		&:focus {
			border-color : lighten($focus-color , 35%) !important;
		}
	}
}

textarea.m-form {
	&.m-form-control {
		height      : auto;
		min-height  : 120px;
		line-height : 1.4;
		overflow    : auto;
		resize      : none;

		&[resize] {
			resize : both;
		}
	}
}

select.m-form {
	&.m-form-control {
		padding-right : 35px;
		padding-left  : 5px;
		width         : 100%;
		height        : 40px;
		line-height   : 1.6;
		background    : transparent;
		@include appearance;

		&[disabled] {
			@include disabled;
		}

		&[multiple] {
			height   : auto;
			overflow : auto;

			option {
				@include transition(background ($transition-times * 1.5));

				&:nth-child(even) {
					background : lighten($border-major-color , 6.5%);
				}

				&:hover {
					background : lighten($border-major-color , 2.5%);
				}
			}
		}
	}

	option {
		width : 100%;
		@include box-sizing(border-box);

		&:disabled {
			color  : lighten($text-sub-color , 35%);
			cursor : not-allowed;
			@include appearance(none);
		}
	}
}

.m-form-addon {
	@include display(block);

	&:after {
		content : "";
	}

	$types : 12;
	$total : 12;
	@while $types > 0 {
		&.is-padding-#{$types} {
			padding-left : (10px * $types) !important;
		}

		$types : $types - 1;
	}

	&.is-text-left {
		text-align : left;
	}

	&.is-text-center {
		text-align : center;
	}

	&.is-text-right {
		text-align : right;
	}
}

/* IE8 */
.IE8 {
	select.m-form {
		&.m-form-control {
			padding-top    : 10px;
			padding-bottom : 10px;
		}
	}
}

.IE8 , .IE9 {
	select.m-form {
		&.m-form-control {
			padding-right : 5px;
		}
	}
}

@include respond-to(Tables) {
	.m-form {
		&.m-form-control {
			font-size : 15px;
		}
	}
}

@include respond-to(Tables-Mobile) {}

@include respond-to(Mobile) {
	.m-form-addon {
		&.is-text-right {
			text-align : left;
		}

		&[class^="is-padding-"] , &[class*=" is-padding-"] {
			padding-left : 5px !important;
		}
	}
}