.m-footer {
	color : $color-white;
	width : 100%;
}

.m-footer-hd {
	text-align : center;
	width      : 100%;
	position   : relative;

	> .m-button-group {
		margin-top : -22px;

		.m-button {
			font-size : 14px;
		}
	}

	.m-sitemap {
		text-align : left;
	}
}

.m-footer-bd {
	margin : 25px auto 0 auto;
	@include box-sizing(border-box);

	> li {
		position : relative;
		@include box-sizing(border-box);

		> a {
			color         : $color-white;
			border-bottom : 1px solid transparent;
			@include display(table-cell);
			@include box-sizing(border-box);
			@include transition(border-color $transition-times);

			
		}
	}
}

.m-footer-ft {
	margin      : 5px auto 0 auto;
	max-width   : $main-min-width;
	line-height : 2;
	@include display(block);
	@include box-sizing(border-box);
}

@include respond-to(Desktops) {
	.m-footer {
		margin-bottom : 22px;
	}

	.m-footer-bd {
		max-width  : $main-min-width;
		
		> li {
			> a {
				&:hover {
					border-bottom-color : $color-white;
				}
			}
		}
	}
}

@include respond-to(Desktops-Tablets) {
	.m-footer-bd {
		> li {
			float    : left;
			@include display(table);

			&:before {
				content : "|";
				padding : 0 5px;
				@include display(table-cell);
			}

			&:first-child {
				&:before {
					display : none;
				}
			}
		}
	}
}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {
	.m-footer {
		margin-bottom : 15px;
	}

	.m-footer-bd {
		padding-right : ($inner-Width - 15);
		padding-left  : ($inner-Width - 15);
	}

	.m-footer-ft {
		padding-right : ($inner-Width - 15);
		padding-left  : ($inner-Width - 15);
	}
}

@include respond-to(Mobiles) {
	.m-footer {
		margin-bottom : 0;
	}

	.m-footer-bd {
		margin-top : 5px;

		> li {
			border-bottom : 1px solid $border-major-color;

			> a {
				padding-right : ($inner-Width - 5);
				padding-left  : ($inner-Width - 5);
				height        : 50px;
				line-height   : 50px;
				@include display(block);
			}
		}
	}

	.m-footer-ft {
		margin-top  : 0;
		padding     : 15px ($inner-Width - 5);
		max-width   : inherit;
		min-height  : 50px;
		line-height : 20px;
	}
}