.m-group-paragraph {
	margin-bottom : 35px;
	font-size     : 14px;
	line-height   : 28px;
	position      : relative;
}

.m-group-paragraph-hd {
	padding    : 5px 0;
	color      : $major-color;
	@include display(table);

	.m-icon {
		padding-right : 5px;
		font-size     : 30px;
		width         : 1%;
		height        : 30px;
		line-height   : 30px;
		white-space   : nowrap;
		/*float        : left;*/
		@include display(table-cell);
	}

	h3 , .b-h3 {
		margin-bottom : 0;
		@include display(table-cell);
		/*float         : left;*/
	}
}

.m-group-paragraph-bd {
	position : relative;
}

@include respond-to(Desktops) {
	.m-group-paragraph {
		margin-top : 70px;

		&:first-child {
			margin-top : 0;
		}
	}
}

@include respond-to(Desktops-Tablets) {
	.m-group-paragraph {
		&.is-item-absolute {
			.m-group-paragraph-item {
				top      : 0;
				right    : 0;
				position : absolute;
			}
		}
	}
}

@include respond-to(Tablets) {
	.m-group-paragraph {
		margin-top : 55px;

		&:first-child {
			margin-top : 0;
		}
	}
}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {
	.m-group-paragraph {
		margin-top : 25px;

		&:first-child {
			margin-top : 0;
		}
	}

	.m-group-paragraph-ft {
		position : relative;
	}
}