.m-icon {
	/* 顏色設定 */
	@each $key , $value in $color {
		&.b-#{'' + $key} {
			color : $value !important;
		}
	}

	/* icon-size */
	$types : 20;
	$Size  : 12px;
	@while $types > 0 {
		&.m-icon-size-md-#{$types} {
			font-size : $Size * $types;
		}

		$types : $types - 1;
	}
}

/* m-icon-stack */
.m-icon-stack {
	position : relative;
	@include inline-block;
	@include box-sizing(border-box);

	/* icon-size */
	$types : 20;
	$Size  : 12px;
	@while $types > 0 {
		&.m-icon-size-md-#{$types} {
			.m-icon {
				font-size : $Size * $types;
			}
		}

		$types : $types - 1;
	}

	.m-icon {
		top        : 0;
		left       : 0;
		text-align : center;
		height     : 100%;
		display    : block;

		&.is-absolute {
			position : absolute !important;
		}

		&.is-hide {
			display : none !important;
		}
	}

	&.m-icon-fubon-group {
		.m-icon {
			@include display(table-cell);

			&.m-icon-fubon-blue {
				color : $color-fubon-blue;
			}

			&.m-icon-fubon-green {
				color : $color-fubon-green;
			}
		}

		&.is-story {
			font-size : attr(data-size);
		}
	}

	&.m-icon-circle-group {
		margin-bottom : -30px;
		@include clearfix;
		@include display(block);

		> li {
			margin-bottom : 30px;
			position      : relative;
		}

		.m-icon-circle-item {
			color    : $major-color;
			position : relative;
			@include inline-block;

			> span {
				position : relative;
				@include display(block);
			}

			> em {
				margin-top : 5px;
				font-size  : 15px;
				text-align : center;
				@include display(block);
				@include transition(color $transition-times);
			}

			&:hover {
				.m-icon {
					&.m-icon-circle {
						color : darken($major-color , 15%);
					}
				}

				> em {
					color : darken($major-color , 15%);
				}
			}
		}

		.m-icon {
			top        : 0;
			right      : 0;
			bottom     : 0;
			left       : 0;
			text-align : center;
			color      : #FFF;
			width      : 100%;
			height     : 100%;
			position   : relative;
			z-index    : 2;

			&:after {
				content : "";
				height  : 100%;
				@include inline-block;
			}

			&:before {
				@include inline-block;
			}

			&.m-icon-circle {
				color   : $major-color;
				z-index : 1;
				@include text-shadow(rgba(#000 , .15) 3px 3px 0);
				@include transition(color $transition-times);

				&:after {
					display : none;
				}

				&:before {
					top : 0;
					@include display(block);
				}
			}
		}
	}

	&.m-icon-number-group {
		> em {
			top            : 0;
			left           : 0;
			font-size      : 45%;
			color          : #FFF;
			width          : 100%;
			height         : 100%;
			position       : absolute;
			display        : block;
			vertical-align : middle;
			z-index        : 2;
			@include box-sizing(border-box);

			&:before {
				content        : "";
				vertical-align : middle;
				height         : 100%;
				@include inline-block;
			}

			> * {
				font-size      : inherit;
				vertical-align : middle;
				@include inline-block;
			}
		}
	}

	&.m-icon-toggle {
		.m-icon {
			top        : 0;
			left       : 0;
			text-align : center;
			height     : 100%;
			display    : block;
		}
	}

	&.m-icon-border {
		margin-top : 5px;
		@include clearfix;
		@include display(block);

		> li {
			margin-top    : 10px;
			margin-bottom : 10px;
			@include box-sizing(border-box);

			&.b-align-md-left {
				padding-left : 30px;
			}

			&.b-align-md-right {
				padding-right : 30px;
			}
		}

		.m-icon-border-item {
			min-width : 190px;
			@include inline-block;

			> div {
				margin     : 0 auto;
				text-align : center;
				color      : $major-color;
				width      : 110px;
				height     : 110px;
				position   : relative;
				display    : block;
				@include clearfix;
				@include border-radius(50%);
				@include box-sizing(border-box);
				@include background-vertical-gradient($minor-color , 0% , $major-color , 100%);

				&:after {
					content    : "";
					top        : 50%;
					left       : 50%;
					margin     : -50px 0 0 -50px;
					width      : 100px;
					height     : 100px;
					background : #FFF;
					position   : absolute;
					z-index    : 1;
					@include clearfix;
					@include border-radius(50%);
				}

				.m-icon {
					top        : 0;
					left       : 0;
					text-align : center;
					height     : auto;
					@include display(block);
				}

				> span {
					position : relative;
					z-index  : 2;

					em {
						margin      : 3px 10px 0 10px;
						font-size   : 15px;
						line-height : 1.2;
						@include display(block);
					}
				}
			}

			> p {
				margin-top  : 10px;
				font-size   : 14px;
				text-align  : center;
				color       : $major-color;
				line-height : 26px;
				@include display(block);
			}
		}
	}
}

.IE8 , .IE9 {
	.m-icon-stack {
		&.m-icon-border {
			.m-icon-border-item {
				> div {
					background : none;
					filter     : none;

					&:after {
						margin     : -55px 0 0 -55px;
						width      : 110px;
						height     : 110px;
						background : image-url('m-icon-border-mask.png') no-repeat center center;
						@include border-radius(0);
					}
				}
			}
		}
	}
}

@include respond-to(Tables) {
	.m-icon-stack {
		&.m-icon-circle-group {
			.m-icon-circle-item {
				&:hover {
					.m-icon {
						&.m-icon-circle {
							color : $major-color;
						}
					}

					> em {
						color : $major-color;
					}
				}
			}
		}
	}
}

@include respond-to(Tables-Mobile) {
	.m-icon {
		/* icon-size */
		$types : 20;
		$Size  : 12px;
		@while $types > 0 {
			&.m-icon-size-sm-#{$types} {
				font-size : $Size * $types;
			}

			$types : $types - 1;
		}
	}

	.m-icon-stack {
		/* icon-size */
		$types : 20;
		$Size  : 12px;
		@while $types > 0 {
			&.m-icon-size-sm-#{$types} {
				.m-icon {
					font-size : $Size * $types;
				}
			}

			$types : $types - 1;
		}

		&.m-icon-border {
			> li {
				&.b-align-md-left {
					padding-right : 0;
					padding-left  : 0;
				}

				&.b-align-md-center {
					padding-right : 0;
					padding-left  : 0;
				}

				&.b-align-md-right {
					padding-right : 0;
					padding-left  : 0;
				}

				&.b-align-sm-left {
					padding-left : 15px;
				}

				&.b-align-sm-right {
					padding-right : 15px;
				}
			}

			.m-icon-border-item {
				min-width : 175px;
			}
		}	
	}
}

@include respond-to(Mobile) {
	.m-icon {
		/* icon-size */
		$types : 20;
		$Size  : 12px;
		@while $types > 0 {
			&.m-icon-size-xs-#{$types} {
				font-size : $Size * $types;
			}

			$types : $types - 1;
		}
	}

	.m-icon-stack {
		/* icon-size */
		$types : 20;
		$Size  : 12px;
		@while $types > 0 {
			&.m-icon-size-xs-#{$types} {
				.m-icon {
					font-size : $Size * $types;
				}
			}

			$types : $types - 1;
		}

		&.m-icon-border {
			> li {
				&.b-align-sm-left {
					padding-right : 0;
					padding-left  : 0;
				}

				&.b-align-sm-center {
					padding-right : 0;
					padding-left  : 0;
				}

				&.b-align-sm-right {
					padding-right : 0;
					padding-left  : 0;
				}
			}

			.m-icon-border-item {
				> p {
					padding-left : 20px;
				}
			}
		}
	}
}