.m-item {
	font-size   : 14px;
	line-height : 28px;

	& , ul {
		> li {
			padding-left : 1em;
			position : relative;

			&:before {
				content  : "•";
				top      : 0;
				left     : 0;
				color    : $major-color;
				width    : 1em;
				position : absolute;
			}
		}
	}

	&.m-item-table {
		> li {
			@include display(table);

			.m-item-title {
				white-space : nowrap;
				@include display(table-cell , top);
			}

			.m-item-item {
				@include display(table-cell);
			}
		}
	}
}

ol.m-item {
	counter-reset : section;

	> li {
		padding-left : 1.5em;
		@include display(table);

		&:before {
			counter-increment : section;
			content           : counter(section)".";
			color             : inherit;
			width             : 1.5em;
			@include display(table-cell , top);
		}
	}

	&.is-china-number {
		> li {
			margin-bottom : 5px;
			padding-left  : 0;
			width         : 100%;
			position      : relative;
			@include display(table);

			&:before {
				content     : attr(data-index);
				color       : inherit;
				width       : 1%;
				white-space : nowrap;
				position    : relative;
				@include display(table-cell , top);
			}

			> h5 , h6 {
				font-weight : bold;
			}
		}
	}
}