$FontNum : 2015100502;

@font-face {
	font-family : 'FuBon-Font';
	src         : font-url('FuBon-Font.eot?#{$FontNum}');
	src         : font-url('FuBon-Font.eot?#iefix#{$FontNum}') format('embedded-opentype'),
				  font-url('FuBon-Font.woff?#{$FontNum}') format('woff'),
				  font-url('FuBon-Font.ttf?#{$FontNum}') format('truetype'),
				  font-url('FuBon-Font.svg?#{$FontNum}#skmFount') format('svg');
	font-weight : normal;
	font-style  : normal;
}

.m-icon {
	font           : normal normal normal 14px/1 FuBon-Font;
	font-size      : inherit;
	text-rendering : auto;
	text-transform : none;
	speak          : none;
	@include transform(translate(0, 0));
	@include inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

/* close */
.m-icon-close:before {
	content: "\00d7";
}

/* fonts icon */
.m-icon-arrow-angle-down:before {
	content: "\e900";
}
.m-icon-arrow-angle-left:before {
	content: "\e901";
}
.m-icon-arrow-angle-right:before {
	content: "\e902";
}
.m-icon-arrow-angle-up:before {
	content: "\e903";
}
.m-icon-arrow-circle-o-down:before {
	content: "\e904";
}
.m-icon-arrow-circle-o-left:before {
	content: "\e905";
}
.m-icon-arrow-circle-o-right:before {
	content: "\e906";
}
.m-icon-arrow-circle-o-up:before {
	content: "\e907";
}
.m-icon-arrow-pagination-left:before {
	content: "\e908";
}
.m-icon-arrow-pagination-right:before {
	content: "\e909";
}
.m-icon-badge-o:before {
	content: "\e90a";
}
.m-icon-banner:before {
	content: "\e90b";
}
.m-icon-bar-chart-o:before {
	content: "\e90c";
}
.m-icon-basketball-o:before {
	content: "\e90d";
}
.m-icon-book:before {
	content: "\e90e";
}
.m-icon-book-line:before {
	content: "\e90f";
}
.m-icon-bookmark-alt:before {
	content: "\e910";
}
.m-icon-bookmark-o:before {
	content: "\e911";
}
.m-icon-bowling-o:before {
	content: "\e912";
}
.m-icon-building:before {
	content: "\e913";
}
.m-icon-bulb-o:before {
	content: "\e914";
}
.m-icon-cake:before {
	content: "\e915";
}
.m-icon-calendar:before {
	content: "\e916";
}
.m-icon-calendar-line:before {
	content: "\e917";
}
.m-icon-cash:before {
	content: "\e918";
}
.m-icon-check:before {
	content: "\e919";
}
.m-icon-check-mark:before {
	content: "\e91a";
}
.m-icon-check-square-o:before {
	content: "\e91b";
}
.m-icon-chevron-down:before {
	content: "\e91c";
}
.m-icon-chevron-left:before {
	content: "\e91d";
}
.m-icon-chevron-right:before {
	content: "\e91e";
}
.m-icon-chevron-up:before {
	content: "\e91f";
}
.m-icon-child:before {
	content: "\e920";
}
.m-icon-circle:before {
	content: "\e921";
}
.m-icon-circle-o:before {
	content: "\e922";
}
.m-icon-comment:before {
	content: "\e923";
}
.m-icon-comment-double:before {
	content: "\e924";
}
.m-icon-comment-line:before {
	content: "\e925";
}
.m-icon-comment-o:before {
	content: "\e926";
}
.m-icon-contact:before {
	content: "\e927";
}
.m-icon-contact-book:before {
	content: "\e928";
}
.m-icon-database-o:before {
	content: "\e929";
}
.m-icon-dot-circle:before {
	content: "\e92a";
}
.m-icon-dot-circle-o:before {
	content: "\e92b";
}
.m-icon-download:before {
	content: "\e92c";
}
.m-icon-earth:before {
	content: "\e92d";
}
.m-icon-eye-o:before {
	content: "\e92e";
}
.m-icon-facebook:before {
	content: "\e92f";
}
.m-icon-facebook-official:before {
	content: "\e930";
}
.m-icon-finance:before {
	content: "\e931";
}
.m-icon-fire-o:before {
	content: "\e932";
}
.m-icon-flag:before {
	content: "\e933";
}
.m-icon-follow:before {
	content: "\e934";
}
.m-icon-fubon:before {
	content: "\e935";
}
.m-icon-fubon-blue:before {
	content: "\e936";
}
.m-icon-fubon-green:before {
	content: "\e937";
}
.m-icon-fubon-text:before {
	content: "\e938";
}
.m-icon-fubon-text-en:before {
	content: "\e939";
}
.m-icon-gallery-o:before {
	content: "\e93a";
}
.m-icon-global:before {
	content: "\e93b";
}
.m-icon-graduate:before {
	content: "\e93c";
}
.m-icon-graph:before {
	content: "\e93d";
}
.m-icon-heart:before {
	content: "\e93e";
}
.m-icon-heart-o:before {
	content: "\e93f";
}
.m-icon-heart-plus:before {
	content: "\e940";
}
.m-icon-home:before {
	content: "\e941";
}
.m-icon-identity-card:before {
	content: "\e942";
}
.m-icon-identity-card-line:before {
	content: "\e943";
}
.m-icon-leaf-o:before {
	content: "\e944";
}
.m-icon-link-o:before {
	content: "\e945";
}
.m-icon-list-square:before {
	content: "\e946";
}
.m-icon-lock-o:before {
	content: "\e947";
}
.m-icon-mail:before {
	content: "\e948";
}
.m-icon-mail-o:before {
	content: "\e949";
}
.m-icon-map:before {
	content: "\e94a";
}
.m-icon-minus:before {
	content: "\e94b";
}
.m-icon-m-plus:before {
	content: "\e94c";
}
.m-icon-nav-arrow:before {
	content: "\e94d";
}
.m-icon-navicon:before {
	content: "\e94e";
}
.m-icon-newspaper:before {
	content: "\e94f";
}
.m-icon-note-search:before {
	content: "\e950";
}
.m-icon-note-text-o:before {
	content: "\e951";
}
.m-icon-number-0:before {
	content: "\e952";
}
.m-icon-number-1:before {
	content: "\e953";
}
.m-icon-number-2:before {
	content: "\e954";
}
.m-icon-number-3:before {
	content: "\e955";
}
.m-icon-number-4:before {
	content: "\e956";
}
.m-icon-number-5:before {
	content: "\e957";
}
.m-icon-number-6:before {
	content: "\e958";
}
.m-icon-number-7:before {
	content: "\e959";
}
.m-icon-number-8:before {
	content: "\e95a";
}
.m-icon-number-9:before {
	content: "\e95b";
}
.m-icon-palm-o:before {
	content: "\e95c";
}
.m-icon-paperclip:before {
	content: "\e95d";
}
.m-icon-pencil:before {
	content: "\e95e";
}
.m-icon-pencil-o:before {
	content: "\e95f";
}
.m-icon-pie-chart-o:before {
	content: "\e960";
}
.m-icon-play-circle-o:before {
	content: "\e961";
}
.m-icon-plus:before {
	content: "\e962";
}
.m-icon-point:before {
	content: "\e963";
}
.m-icon-recycle:before {
	content: "\e964";
}
.m-icon-search:before {
	content: "\e965";
}
.m-icon-seasun:before {
	content: "\e966";
}
.m-icon-share-o:before {
	content: "\e967";
}
.m-icon-shirt:before {
	content: "\e968";
}
.m-icon-shopping:before {
	content: "\e969";
}
.m-icon-shuffle-o:before {
	content: "\e96a";
}
.m-icon-sitemap-o:before {
	content: "\e96b";
}
.m-icon-smile:before {
	content: "\e96c";
}
.m-icon-square-o:before {
	content: "\e96d";
}
.m-icon-star:before {
	content: "\e96e";
}
.m-icon-star-o:before {
	content: "\e96f";
}
.m-icon-stock:before {
	content: "\e970";
}
.m-icon-structure:before {
	content: "\e971";
}
.m-icon-thumb-tack-o:before {
	content: "\e972";
}
.m-icon-umbrella:before {
	content: "\e973";
}
.m-icon-user:before {
	content: "\e974";
}
.m-icon-user-double:before {
	content: "\e975";
}
.m-icon-user-o:before {
	content: "\e976";
}
.m-icon-user-profile:before {
	content: "\e977";
}
.m-icon-youtube-horizontal:before {
	content: "\e978";
}
.m-icon-youtube-play:before {
	content: "\e979";
}
.m-icon-youtube-tube:before {
	content: "\e97a";
}
.m-icon-youtube-vertical:before {
	content: "\e97b";
}
.m-icon-youtube-you:before {
	content: "\e97c";
}