.m-item {
	font-size   : 14px;
	line-height : 28px;

	> li {
		padding-left : 22px;
		position     : relative;
		@include box-sizing(border-box);

		&[class^="b-col-"] , &[class*=" b-col-"] {
			padding-left  : 27px;
			padding-right : 5px;

			&:before {
				left : 5px;
			}
		}

		> ul {
			li {
				padding-left : 20px;
				position     : relative;
			}
		}
	}

	&.is-text-overflow {
		width : 100%;
		@include clearfix;

		> li {
			height        : 28px;
			white-space   : nowrap;
			text-overflow : ellipsis;
			@include clearfix;

			> * {
				/*width         : 100%;*/
				/*height        : 28px;*/
				white-space   : nowrap;
				text-overflow : ellipsis;
				@include clearfix;
				@include display(block);
			}
		}
	}

	& , ul {
		> li {
			&:before {
				content     : "•";
				top         : 0;
				left        : -1px;
				text-align  : center;
				color       : $major-color;
				width       : 20px;
				position    : absolute;
			}
		}
	}

	&.m-item-table {
		> li {
			@include display(table);

			.m-item-title {
				white-space : nowrap;
				@include display(table-cell , top);
			}

			.m-item-item {
				@include display(table-cell);
			}
		}
	}
}

ol.m-item {
	counter-reset : section;

	> li {
		&:before {
			counter-increment : section;
			content           : counter(section)".";
			top               : 0;
			left              : 0;
			text-align        : right;
			color             : inherit;
			width             : 20px;
		}
	}

	&.is-china-number {
		> li {
			margin-bottom : 5px;
			padding-left  : 0;
			width         : 100%;
			position      : relative;
			@include display(table);

			&:before {
				content     : attr(data-index);
				color       : inherit;
				width       : 1%;
				white-space : nowrap;
				position    : relative;
				@include display(table-cell , top);
			}

			> h5 , h6 {
				font-weight : bold;
			}
		}
	}
}