/* m-icon-stack */
.m-icon-stack {
	position : relative;
	@include inline-block;
	@include box-sizing(border-box);

	/* icon-size */
	$types : 20;
	$Size  : 12px;
	@while $types > 0 {
		&.m-icon-size-md-#{$types} {
			.m-icon {
				font-size : $Size * $types;
			}
		}

		$types : $types - 1;
	}

	.m-icon {
		top        : 0;
		left       : 0;
		text-align : center;
		height     : 100%;
		display    : block;

		&.is-absolute {
			position : absolute !important;
		}

		&.is-hide {
			display : none !important;
		}
	}

	&.m-icon-fubon-group {
		.m-icon {
			@include display(table-cell);

			&.m-icon-fubon-blue {
				color : #09C;
			}

			&.m-icon-fubon-green {
				color : #0AA;
			}
		}

		&.is-story {
			font-size : attr(data-size);
		}
	}

	&.m-icon-circle-group {
		.m-icon {
			z-index  : 1;

			&:first-child {
				font-size   : 45%;
				color       : #FFF;
				width       : 100%;
				/*line-height : 2.3;*/
				z-index     : 2;

				&:after {
					content        : "";
					vertical-align : middle;
					height         : 100%;
					@include inline-block;
				}

				&:before {
					font-size      : inherit;
					vertical-align : middle;
					@include inline-block;
				}
			}
		}
	}

	&.m-icon-number-group {
		> em {
			top            : 0;
			left           : 0;
			/*padding        : 23% 0;*/
			font-size      : 45%;
			color          : #FFF;
			width          : 100%;
			height         : 100%;
			position       : absolute;
			display        : block;
			vertical-align : middle;
			z-index        : 2;
			@include box-sizing(border-box);

			&:before {
				content        : "";
				vertical-align : middle;
				height         : 100%;
				@include inline-block;
			}

			> * {
				font-size      : inherit;
				vertical-align : middle;
				@include inline-block;
			}
		}

		/*.m-icon {
			position : absolute;
			z-index: 1;
		}*/
	}

	&.m-icon-toggle {
		.m-icon {
			top        : 0;
			left       : 0;
			text-align : center;
			height     : 100%;
			display    : block;
		}
	}

	&.m-icon-border {
		margin : 5px 0;
		@include clearfix;
		@include display(block);

		> div {
			margin     : 0 auto;
			font-size  : 18px;
			text-align : center;
			color      : $major-color;
			width      : 110px;
			height     : 110px;
			position   : relative;
			display    : block;
			@include clearfix;
			@include border-radius(50%);
			@include box-sizing(border-box);
			@include background-vertical-gradient($minor-color , 0% , $major-color , 100%);

			&:after {
				content    : "";
				top        : 50%;
				left       : 50%;
				margin     : -50px 0 0 -50px;
				width      : 100px;
				height     : 100px;
				background : #FFF;
				position   : absolute;
				z-index    : 1;
				@include clearfix;
				@include border-radius(50%);
			}

			.m-icon {
				top           : 0;
				left          : 0;
				margin-bottom : 5px;
				text-align    : center;
				height        : auto;
				@include display(block);
			}

			> span {
				margin-left : -4px;
				position    : relative;
				z-index     : 2;
			}
		}

		> em {
			margin-top : 15px;
			font-size  : 14px;
			text-align : center;
			color      : $major-color;
			@include display(block);
		}
	}
}

.IE8 , .IE9 {
	.m-icon-stack {
		&.m-icon-border {
			> div {
				background : none;
				filter     : none;

				&:after {
					margin     : -55px 0 0 -55px;
					width      : 110px;
					height     : 110px;
					background : image-url('m-icon-border-mask.png') no-repeat center center;
					@include border-radius(0);
				}
			}
		}
	}
}

@include respond-to(Tables) {}

@include respond-to(Tables-Mobile) {
	.m-icon-stack {
		/* icon-size */
		$types : 20;
		$Size  : 12px;
		@while $types > 0 {
			&.m-icon-size-sm-#{$types} {
				.m-icon {
					font-size : $Size * $types;
				}
			}

			$types : $types - 1;
		}
	}
}

@include respond-to(Mobile) {
	.m-icon-stack {
		/* icon-size */
		$types : 20;
		$Size  : 12px;
		@while $types > 0 {
			&.m-icon-size-xs-#{$types} {
				.m-icon {
					font-size : $Size * $types;
				}
			}

			$types : $types - 1;
		}

		&.m-icon-border {
			@include display(table);

			> div {
				@include display(table-cell);

				.m-icon {
					font-size : 42px;
				}
			}

			> em {
				padding-left : 20px;
				text-align   : left;
				@include display(table-cell);
			}
		}
	}
}