.m-item {
	font-size   : 14px;
	line-height : 28px;

	ol & {
		margin-top : 30px;
	}

	&.is-china-number {
		> li {
			margin-bottom : 5px;
			width         : 100%;
			position : relative;
			@include display(table);

			&:before {
				content : attr(data-index);
				width   : 1%;
				@include display(table-cell , top);
			}

			> h5 , h6 {
				font-weight : bold;
			}
		}
	}

	ul & , ul {
		> li {
			padding-left : 1em;
			position : relative;

			&:before {
				content  : "•";
				top      : 0;
				left     : 0;
				color    : $major-color;
				width    : 1em;
				position : absolute;
			}
		}
	}
}