$FontNum : 2015072702;

@font-face {
	font-family : 'FuBon-Font';
	src         : font-url('FuBon-Font.eot?#{$FontNum}');
	src         : font-url('FuBon-Font.eot?#iefix#{$FontNum}') format('embedded-opentype'),
				  font-url('FuBon-Font.woff?#{$FontNum}') format('woff'),
				  font-url('FuBon-Font.ttf?#{$FontNum}') format('truetype'),
				  font-url('FuBon-Font.svg?#{$FontNum}#skmFount') format('svg');
	font-weight : normal;
	font-style  : normal;
}

.m-icon {
	font           : normal normal normal 14px/1 FuBon-Font;
	font-size      : inherit;
	text-rendering : auto;
	text-transform : none;
	speak          : none;
	@include transform(translate(0, 0));
	@include inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

/* close */
.m-icon-close:before {
	content: "\00d7";
}

/* fonts icon */
.m-icon-arrow-angle-down:before {
	content: "\e600";
}
.m-icon-arrow-angle-left:before {
	content: "\e601";
}
.m-icon-arrow-angle-right:before {
	content: "\e602";
}
.m-icon-arrow-angle-up:before {
	content: "\e603";
}
.m-icon-arrow-circle-o-down:before {
	content: "\e604";
}
.m-icon-arrow-circle-o-left:before {
	content: "\e605";
}
.m-icon-arrow-circle-o-right:before {
	content: "\e606";
}
.m-icon-arrow-circle-o-up:before {
	content: "\e607";
}
.m-icon-arrow-pagination-left:before {
	content: "\e608";
}
.m-icon-arrow-pagination-right:before {
	content: "\e609";
}
.m-icon-badge-o:before {
	content: "\e60a";
}
.m-icon-banner:before {
	content: "\e60b";
}
.m-icon-bar-chart-o:before {
	content: "\e60c";
}
.m-icon-basketball-o:before {
	content: "\e60d";
}
.m-icon-book:before {
	content: "\e60e";
}
.m-icon-book-line:before {
	content: "\e60f";
}
.m-icon-bookmark-alt:before {
	content: "\e610";
}
.m-icon-bookmark-o:before {
	content: "\e611";
}
.m-icon-bowling-o:before {
	content: "\e612";
}
.m-icon-building:before {
	content: "\e613";
}
.m-icon-bulb-o:before {
	content: "\e614";
}
.m-icon-cake:before {
	content: "\e615";
}
.m-icon-calendar:before {
	content: "\e616";
}
.m-icon-calendar-line:before {
	content: "\e617";
}
.m-icon-cash:before {
	content: "\e618";
}
.m-icon-check:before {
	content: "\e619";
}
.m-icon-check-mark:before {
	content: "\e61a";
}
.m-icon-check-square-o:before {
	content: "\e61b";
}
.m-icon-chevron-down:before {
	content: "\e61c";
}
.m-icon-chevron-left:before {
	content: "\e61d";
}
.m-icon-chevron-right:before {
	content: "\e61e";
}
.m-icon-chevron-up:before {
	content: "\e61f";
}
.m-icon-child:before {
	content: "\e620";
}
.m-icon-circle:before {
	content: "\e621";
}
.m-icon-circle-o:before {
	content: "\e622";
}
.m-icon-comment:before {
	content: "\e623";
}
.m-icon-comment-double:before {
	content: "\e624";
}
.m-icon-comment-line:before {
	content: "\e625";
}
.m-icon-comment-o:before {
	content: "\e626";
}
.m-icon-contact:before {
	content: "\e627";
}
.m-icon-contact-book:before {
	content: "\e628";
}
.m-icon-database-o:before {
	content: "\e629";
}
.m-icon-dot-circle:before {
	content: "\e62a";
}
.m-icon-dot-circle-o:before {
	content: "\e62b";
}
.m-icon-download:before {
	content: "\e62c";
}
.m-icon-earth:before {
	content: "\e62d";
}
.m-icon-eye-o:before {
	content: "\e62e";
}
.m-icon-facebook:before {
	content: "\e62f";
}
.m-icon-facebook-official:before {
	content: "\e630";
}
.m-icon-finance:before {
	content: "\e631";
}
.m-icon-fire-o:before {
	content: "\e632";
}
.m-icon-flag:before {
	content: "\e633";
}
.m-icon-follow:before {
	content: "\e634";
}
.m-icon-fubon:before {
	content: "\e635";
}
.m-icon-fubon-blue:before {
	content: "\e636";
}
.m-icon-fubon-green:before {
	content: "\e637";
}
.m-icon-fubon-text:before {
	content: "\e638";
}
.m-icon-gallery-o:before {
	content: "\e639";
}
.m-icon-global:before {
	content: "\e63a";
}
.m-icon-graduate:before {
	content: "\e63b";
}
.m-icon-graph:before {
	content: "\e63c";
}
.m-icon-heart:before {
	content: "\e63d";
}
.m-icon-heart-o:before {
	content: "\e63e";
}
.m-icon-heart-plus:before {
	content: "\e63f";
}
.m-icon-home:before {
	content: "\e640";
}
.m-icon-identity-card:before {
	content: "\e641";
}
.m-icon-identity-card-line:before {
	content: "\e642";
}
.m-icon-leaf-o:before {
	content: "\e643";
}
.m-icon-link-o:before {
	content: "\e644";
}
.m-icon-list-square:before {
	content: "\e645";
}
.m-icon-lock-o:before {
	content: "\e646";
}
.m-icon-mail:before {
	content: "\e647";
}
.m-icon-mail-o:before {
	content: "\e648";
}
.m-icon-map:before {
	content: "\e649";
}
.m-icon-minus:before {
	content: "\e64a";
}
.m-icon-m-plus:before {
	content: "\e64b";
}
.m-icon-nav-arrow:before {
	content: "\e64c";
}
.m-icon-navicon:before {
	content: "\e64d";
}
.m-icon-newspaper:before {
	content: "\e64e";
}
.m-icon-note-search:before {
	content: "\e64f";
}
.m-icon-note-text-o:before {
	content: "\e650";
}
.m-icon-number-0:before {
	content: "\e651";
}
.m-icon-number-1:before {
	content: "\e652";
}
.m-icon-number-2:before {
	content: "\e653";
}
.m-icon-number-3:before {
	content: "\e654";
}
.m-icon-number-4:before {
	content: "\e655";
}
.m-icon-number-5:before {
	content: "\e656";
}
.m-icon-number-6:before {
	content: "\e657";
}
.m-icon-number-7:before {
	content: "\e658";
}
.m-icon-number-8:before {
	content: "\e659";
}
.m-icon-number-9:before {
	content: "\e65a";
}
.m-icon-palm-o:before {
	content: "\e65b";
}
.m-icon-paperclip:before {
	content: "\e65c";
}
.m-icon-pencil:before {
	content: "\e65d";
}
.m-icon-pencil-o:before {
	content: "\e65e";
}
.m-icon-pie-chart-o:before {
	content: "\e65f";
}
.m-icon-play-circle-o:before {
	content: "\e660";
}
.m-icon-plus:before {
	content: "\e661";
}
.m-icon-point:before {
	content: "\e662";
}
.m-icon-recycle:before {
	content: "\e663";
}
.m-icon-search:before {
	content: "\e664";
}
.m-icon-seasun:before {
	content: "\e665";
}
.m-icon-share-o:before {
	content: "\e666";
}
.m-icon-shirt:before {
	content: "\e667";
}
.m-icon-shopping:before {
	content: "\e668";
}
.m-icon-shuffle-o:before {
	content: "\e669";
}
.m-icon-sitemap-o:before {
	content: "\e66a";
}
.m-icon-smile:before {
	content: "\e66b";
}
.m-icon-square-o:before {
	content: "\e66c";
}
.m-icon-star:before {
	content: "\e66d";
}
.m-icon-star-o:before {
	content: "\e66e";
}
.m-icon-stock:before {
	content: "\e66f";
}
.m-icon-structure:before {
	content: "\e670";
}
.m-icon-thumb-tack-o:before {
	content: "\e671";
}
.m-icon-umbrella:before {
	content: "\e672";
}
.m-icon-user:before {
	content: "\e673";
}
.m-icon-user-double:before {
	content: "\e674";
}
.m-icon-user-o:before {
	content: "\e675";
}
.m-icon-user-profile:before {
	content: "\e676";
}
.m-icon-youtube-horizontal:before {
	content: "\e677";
}
.m-icon-youtube-tube:before {
	content: "\e678";
}
.m-icon-youtube-vertical:before {
	content: "\e679";
}
.m-icon-youtube-you:before {
	content: "\e67a";
}
.m-icon-padlock:before {
	content: "\e800";
}
.m-icon-user-plus:before {
	content: "\e801";
}