.sugarfunbox {
	&.is-mobile {
		.sugarfunbox-hd {
			background : #FFF;

			.sugarfunbox-close {
				margin-right  : 0;
				margin-bottom : 0;
				padding       : 0;
				text-align    : center;
				width         : 30px;
				height        : 30px;
				line-height   : 30px;

				> em {
					display : none;
				}

				.m-icon {
					top         : 0;
					margin-left : 0;
					font-size   : 25px;
					width       : 100%;
					height      : 100%;
					@include display(block);
				}
			}
		}
	}
}

.sugarfunbox-close {
	margin-right  : 20px;
	margin-bottom : 1px;
	padding       : 0 10px;
	font-size     : 14px;
	line-height   : 25px;
	background    : $major-color;

	.m-icon {
		top         : -3px;
		margin-left : 3px;
		position    : relative;
	}
}