<<<<<<< HEAD
.m-list {
	position : relative;

	&.m-list-object {
		.m-list-content {
			> li {
				padding-top : 30px;

				&:first-child {
					padding-top : 0;
				}
			}
		}
	}

	&.m-list-table {
		.m-list-content {
			> li {
				padding-top    : 10px;
				padding-bottom : 10px;
				width          : 100%;
				@include display(table);
				@include transition(background $transition-times);

				&:hover {
					background : $sub-color;
				}

				> * {
					@include display(table-cell);
				}
			}
		}
	}
}

.m-list-hd {
	font-size   : 15px;
	line-height : 1.6;

	> * {
		margin-bottom : 30px;
	}

	> em {
		margin-bottom : 0;
	}

	&.is-col {
		> em {
			margin-bottom : 30px;
			float         : left;
		}

		.m-list-tools {
			text-align  : right;
			width       : 1%;
			@include display(table-cell);
			@include box-sizing(border-box);

			> * {
				@include inline-block;
			}
		}
	}
}

.m-list-bd {
	width    : 100%;
	position : relative;
	@include clearfix;
	@include transition(height $transition-times);
}

.m-list-content {
	> li {
		font-size  : 14px;
		list-style : 1.6;
		position   : relative;
		@include clearfix;
		@include box-sizing(border-box);
		

		> * {
			@include box-sizing(border-box);
		}
	}

	.m-icon {
		padding-right  : 5px;
		padding-left   : 5px;
		font-size      : 15px;
		line-height    : 1.6;
		color          : $major-color;
		width          : 1%;
		vertical-align : top;
	}

	.m-list-link {
		width : 99%;
	}

	.m-list-item {
		padding-right  : 10px;
		padding-left   : 20px;
		color          : $major-color;
		vertical-align : top;
		width          : 1%;
	}
}

.m-list-ft {
	margin-top : 30px;
}

@include respond-to(Tables) {}

@include respond-to(Tables-Mobile) {
	.m-list-ft {
		margin-top : 20px;
	}
}

@include respond-to(Mobile) {
	.m-list {
		&.m-list-table {
			.m-list-content {
				&.is-item-top {
					> li {
						margin-bottom : 10px;
						padding-top   : 20px;
					}
				}
			}
		}
	}

	.m-list-hd {
		> * {
			margin-bottom : 20px;
		}

		&.is-col {
			> em {
				margin-bottom : 20px;
			}
		}
	}

	.m-list-content {
		&.is-item-top {
			.m-list-item {
				top           : 0;
				left          : 0;
				padding-right : 0;
				padding-left  : 5px;
				width         : 100%;
				position      : absolute;
				@include display(block);
			}
		}
	}

	.m-list-ft {
		margin-top : 15px;
	}
=======
.m-list {
	position : relative;

	&.m-list-ajax {
		.m-list-hd {
			margin-bottom : 0;
			max-height    : 0;
			visibility    : hidden;
			@include clearfix;
		}
	}
}

.m-list-hd {
	margin-bottom : 30px;
	font-size     : 15px;

	&.is-col {
		> em {
			float : left;
		}

		.m-list-tools {
			text-align  : right;
			width       : 1%;
			@include display(table-cell);
			@include box-sizing(border-box);

			> * {
				@include inline-block;
			}
		}
	}
}

.m-list-bd {
	width    : 100%;
	position : relative;
	@include clearfix;
	@include transition(height $transition-times);
	
	.b-slide {
		> ul {
			width : 50%;
			float : left;
		}
	}

	ul {
		&:first-child {
			&.is-height-zero {
				height : auto;
			}			
		}

		&.is-height-zero {
			height : 0;
			@include clearfix;
		}

		> li {
			padding-top    : 10px;
			padding-bottom : 10px;
			font-size      : 14px;
			width          : 100%;
			list-style     : 1.6;
			position       : relative;
			@include clearfix;
			@include display(table);
			@include box-sizing(border-box);
			@include transition(background $transition-times);

			&:hover {
				background : $sub-color;
			}

			> * {
				@include display(table-cell);
				@include box-sizing(border-box);
			}
		}
	}

	.m-icon {
		padding-right  : 5px;
		padding-left   : 5px;
		font-size      : 15px;
		line-height    : 1.6;
		color          : $major-color;
		width          : 1%;
		vertical-align : top;
	}

	.m-list-link {
		width : 99%;
	}

	.m-list-item {
		padding-right  : 10px;
		padding-left   : 20px;
		color          : $major-color;
		vertical-align : top;
		width          : 1%;
	}
}

.m-list-ft {
	margin-top : 30px;
}

@include respond-to(Tables) {}

@include respond-to(Tables-Mobile) {
	.m-list-ft {
		margin-top : 20px;
	}
}

@include respond-to(Mobile) {
	.m-list-hd {
		margin-bottom : 20px;
	}

	.m-list-bd {
		&.is-item-top {
			> ul {
				> li {
					margin-bottom : 10px;
					padding-top   : 20px;
				}
			}

			.m-list-item {
				top           : 0;
				left          : 0;
				padding-right : 0;
				padding-left  : 5px;
				width         : 100%;
				position      : absolute;
				@include display(block);
			}
		}

		> ul {
			display : none;

			&:first-child {
				@include display(block);
			}

			&.is-height-zero {
				height : auto;
			}

			&.is-show {
				@include display(block);
			}
		}
	}

	.m-list-ft {
		margin-top : 15px;
	}
>>>>>>> origin/master
}