.m-nav {
	padding-top : 10px;
	width       : 100%;
	height      : 100%;
	position    : relative;
	@include box-sizing(border-box);
	@include transition(margin-top $transition-times);

	> a {
		color : $color-white;
	}

	> div {
		@include box-sizing(border-box);

		&:first-child {
			margin    : 0 auto;
			width     : 100%;
			max-width : $main-min-width;
			position  : relative;
			z-index   : 2;

			> ul {
				padding  : 16px 183px 0 210px;
				height   : $header-height;
				position : relative;
				z-index  : 2;
				@include box-sizing(border-box);

				> li {
					height   : 100%;
					float    : left;
					position : static;

					&.is-curr {
						> a {
							color : $major-color;
						}
					}

					&:hover {
						> div {
							visibility : visible;
							@include opacity(1);
						}
					}

					> a {
						margin    : 0 14px;
						font-size : 15px;
						color     : $text-major-color;
						position  : relative;
						@include transition(color $transition-times);

						.m-icon-stack {
							color   : $major-color;
							height  : 100%;
							float   : right;
							display : none;

							.m-icon {
								margin-top : -3px;
								height     : auto;
							}
						}
					}

					> div {
						top         : 66px;
						padding-top : 12px;
						max-width   : $main-min-width;
						position    : absolute;
						visibility  : hidden;
						@include opacity(0);
						@include box-sizing(border-box);
						@include transition((max-height $transition-times , opacity $transition-times));
						

						> ul {
							padding    : 8px 10px;
							font-size  : 14px;
							width      : 100%;
							background : rgba($color-white , .95);
							@include clearfix;
							@include border-radius(15px);
							@include box-sizing(border-box);
							@include box-shadow(rgba(#000 , .25) 0 0 3px);

							> li {
								float : left;

								> a {
									margin        : 7px 14px;
									color         : $text-minor-color;
									line-height   : 20px;
									position      : relative;
									@include display(block);

									> em {
										border-bottom : 1px solid transparent;
										@include transition(border-color $transition-times);
									}

									&:hover {
										> em {
											border-bottom-color : $text-minor-color;
										}
									}

									.m-icon {
										margin-top   : -2px;
										margin-right : 5px;
										font-size    : 15px;
										color        : $major-color;
										width        : 15px;
										height       : 15px;
									}
								}
							}	
						}
					}
				}
			}

			.m-nav-bar {
				bottom     : 1px;
				width      : 0;
				height     : 5px;
				position   : absolute;
				background : #D9D9D9;
				z-index    : 1;
				@include opacity(0);
				@include transition((left $transition-times , width $transition-times , opacity $transition-times));

				&.is-show {
					@include opacity(1);	
				}
			}
		}
	}
}

.m-nav-path {
	top        : -76px;
	left       : 0;
	width      : 100%;
	height     : 86px;
	/*max-height : 86px;*/
	position   : absolute;
	z-index    : 5;

	&:before , &:after {
		content  : "";
		top      : 0;
		width    : 50%;
		height   : 100%;
		position : absolute;
		z-index  : 1;
	}

	&:before {
		left       : 0;
		background : $major-color;
	}

	&:after {
		right      : 0;
		background : $minor-color;
	}

	> ul {
		> li {
			margin    : 0 auto;
			position  : relative;
			width     : 100%;
			max-width : $main-min-width;
			height    : 100%;
			z-index   : 2;
			@include background-horizontal-gradient($major-color , 0% , $minor-color , 100%);

			> a {
				right       : 0;
				bottom      : -24px;
				padding     : 0 20px;
				text-align  : center;
				color       : $color-white;
				font-size   : 12px;
				height      : 25px;
				line-height : 22px;
				position    : absolute;
				background  : $minor-color;
				@include box-sizing(border-box);
				@include border-radius(0 0 20px 20px);

				.m-icon-stack {
					color   : $color-white;
					height  : 100%;
					float   : right;
					display : none;

					.m-icon {
						margin-top : -3px;
						height     : auto;
					}
				}
			}

			> div {
				position : relative;
				z-index  : 2;

				> ul {
					margin-right   : -8px;
					margin-left    : -8px;
					padding-top    : 13px;
					padding-bottom : 5px;
					position       : relative;
					@include clearfix;
					@include box-sizing(border-box);

					> li {
						float : left;

						> a {
							margin        : 7px 8px;
							font-size     : 13px;
							color         : $color-white;
							line-height   : 1.5;
							border-bottom : 1px solid transparent;
							@include display(block);
							@include transition(border-color $transition-times);

							.m-icon {
								color : lighten($minor-color , 5%);
							}


							&:hover {
								border-bottom-color : $color-white;
							}
						}
					}	
				}
			}
		}
	}
}

/* subsidiary */
.is-subsidiary {
	.m-nav {
		> div {
			&:first-child {
				> ul {
					padding-right : 135px;
					padding-left  : 285px;

					> li {
						> a {
							margin-right : 12px;
							margin-left  : 12px;
						}
					}
				}
			}
		}
	}
}

/* IE8 */
.IE8 {
	.m-nav {
		> div {
			&:first-child {
				> ul {
					> li {
						> div {
							background : image-url('blank.gif');

							> ul {
								background : $color-white;
							}
						}
					}
				}
			}
		}
	}
}

/* IE8 & IE9 */
.IE8 , .IE9 {
	.m-nav-path {
		> ul {
			> li {
				background : none;
				filter     : none;

				> span {
					top      : 0;
					left     : 0;
					width    : 100%;
					height   : 100%;
					position : absolute;
					z-index  : 1;
					@include background-horizontal-gradient($major-color , 0% , $minor-color , 100%);
				}
			}	
		}
	}
}

@include respond-to(Tables) {
	.is-subsidiary .m-nav , .m-nav {
		padding-top : 5px;
		@include background-horizontal-gradient($major-color , 0% , $minor-color , 100%);

		> div {
			&:first-child {
				max-width : inherit;

				> ul {
					padding : 0;
					height  : auto;

					> li {
						float      : none;
						position   : relative;
						background : $color-white;

						&.b-middle {
							&:before {
								display : none;
							}
						}

						&.is-active {
							> a {
								border-bottom-color : transparent;

								.m-icon-stack {
									.m-icon {
										@include inline-block;

										&:first-child {
											display : none;
										}
									}
								}
							}

							> div {
								max-height : 550px;
							}
						}

						&:last-child {
							> a {
								border-bottom-color : transparent;
							}
						}

						> a {
							margin        : 0 15px;
							height        : 50px;
							line-height   : 50px;
							border-bottom : 1px solid $border-minor-color;
							@include display(block);

							.m-icon-stack {
								@include display(block);

								.m-icon {
									display : none;

									&:first-child {
										@include inline-block;
									}
								}
							}
						}

						> div {
							top         : 0;
							padding-top : 0;
							width       : 100%;
							max-width   : inherit;
							max-height  : 0;
							position    : relative;
							visibility  : visible;
							background  : $major-color;
							@include clearfix;
							@include opacity(1);
							@include display(block);

							> ul {
								padding    : 0;
								background : none;
								@include box-shadow(rgba(#000 , .25) 0 0 0);

								> li {
									float : none;

									> a {
										margin              : 0 15px;
										color               : $color-white;
										height              : 40px;
										line-height         : 40px;
										border-bottom-width : 0;
										@include display(block);

										&:before {
											content      : "";
											margin-top   : -3px;
											margin-right : 10px;
											width        : 3px;
											height       : 5px;
											background   : lighten($major-color , 10%);
											@include inline-block;
										}

										.m-icon {
											display : none;
										}
									}
								}	
							}
						}
					}
				}

				.m-nav-bar {
					display : none;
				}
			}
		}
	}

	.m-nav-path {
		width    : 100%;
		height   : auto;
		position : relative;

		&:before , &:after {
			display : none;
		}

		> ul {
			> li {
				max-width : inherit;
				height    : auto;

				&.is-active {
					> a {
						.m-icon-stack {
							.m-icon {
								@include inline-block;

								&:first-child {
									display : none;
								}
							}
						}
					}

					> div {
						max-height : 550px;
					}
				}

				> a {
					bottom      : 0;
					margin      : 0 15px;
					padding     : 0;
					font-size   : 15px;
					text-align  : left;
					height      : 50px;
					line-height : 50px;
					position    : relative;
					background  : none;
					@include display(block);
					@include border-radius(0);

					.m-icon-stack {
						@include display(block);

						.m-icon {
							display : none;

							&:first-child {
								@include inline-block;
							}
						}
					}
				}

				> div {
					max-height : 0;
					@include clearfix;
					@include transition(max-height $transition-times);

					> ul {
						margin  : 0;
						padding : 0;

						> li {
							float : none;

							> a {
								margin              : 0 15px;
								font-size           : 13px;
								color               : $color-white;
								line-height         : 30px;
								border-bottom-width : 0;

								&:before {
									content      : "";
									margin-top   : -3px;
									margin-right : 10px;
									width        : 3px;
									height       : 5px;
									background   : lighten($major-color , 10%);
									@include inline-block;
								}

								.m-icon {
									display : none;
								}
							}
						}
					}
				}
			}
		}
	}
}

@include respond-to(Tables-Mobile) {}

@include respond-to(Mobile) {
	.is-subsidiary .m-nav , .m-nav {
		> div {
			&:first-child {
				> ul {
					> li {
						> div {
							> ul {
								> li {
									> a {
										height      : 35px;
										line-height : 35px;
									}
								}	
							}
						}
					}
				}
			}
		}
	}
}