.m-nav {
	width    : 100%;
	height   : 100%;
	position : relative;
	@include box-sizing(border-box);
	@include transition(margin-top $transition-times);

	> a {
		color : $color-white;
	}

	> ul {
		margin   : 0 auto;
		width    : 100%;
		position : relative;
		z-index  : 2;
		@include box-sizing(border-box);

		> li {
			height : 100%;

			> a {
				font-size : 15px;
				color     : $text-major-color;
				position  : relative;
				@include transition(color $transition-times);

				> em {
					white-space : nowrap;
					@include inline-block;
				}
			}

			> div {
				@include box-sizing(border-box);
				@include transition((max-height $transition-times , opacity $transition-times));

				> ul {
					font-size  : 14px;
					width      : 100%;
					@include clearfix;
					@include border-radius(15px);
					@include box-sizing(border-box);

					> li {
						> a {
							position : relative;
							@include display(block);
							@include box-sizing(border-box);

							> em {
								border-bottom : 1px solid transparent;
								@include transition(border-color $transition-times);
							}
						}
					}	
				}
			}
		}
	}
}

.m-nav-path {
	top     : -76px;
	left    : 0;
	width   : 100%;
	z-index : 5;

	&:before {
		left       : 0;
		background : $major-color;
	}

	&:after {
		right      : 0;
		background : $minor-color;
	}

	> ul {
		> li {
			margin    : 0 auto;
			width     : 100%;
			position  : relative;
			z-index   : 2;
			@include background-horizontal-gradient($major-color , 0% , $minor-color , 100%);

			> a {
				right : 0;
				color : $color-white;
				@include box-sizing(border-box);
			}

			> div {
				position : relative;
				z-index  : 2;

				> ul {
					position : relative;
					@include clearfix;
					@include box-sizing(border-box);

					> li {
						> a {
							font-size     : 13px;
							color         : $color-white;
							border-bottom : 1px solid transparent;
							position      : relative;
							@include display(block);
							@include box-sizing(border-box);
							@include transition(border-color $transition-times);
						}
					}	
				}
			}
		}
	}
}

/* subsidiary */
.is-subsidiary {
	.m-nav {
		> div {
			&:first-child {
				> ul {
					padding-right : 135px;
					padding-left  : 285px;

					> li {
						> a {
							margin-right : 12px;
							margin-left  : 12px;
						}
					}
				}
			}
		}
	}
}

@include respond-to(Desktops) {
	.m-nav {
		padding-top : 10px;

		> ul {
			padding   : 16px 183px 0 210px;
			max-width : $main-min-width;
			height    : $header-height;

			> li {
				float : left;

				&.is-curr {
					> a {
						color : $major-color;
					}
				}

				&:hover {
					> div {
						visibility : visible;
						@include opacity(1);
					}
				}

				> a {
					margin : 0 14px;

					.m-icon-stack {
						display : none;
					}
				}

				> div {
					top         : 66px;
					padding-top : 12px;
					max-width   : $main-min-width;
					position    : absolute;
					visibility  : hidden;
					@include opacity(0);

					> ul {
						padding    : 8px 10px;
						background : rgba($color-white , .95);
						@include box-shadow(rgba(#000 , .25) 0 0 3px);

						> li {
							float : left;

							> a {
								margin      : 7px 14px;
								color       : $text-minor-color;
								line-height : 20px;
								
								&:hover {
									> em {
										border-bottom-color : $text-minor-color;
									}
								}

								.m-icon {
									margin-top   : -2px;
									margin-right : 5px;
									font-size    : 15px;
									color        : $major-color;
									width        : 15px;
									height       : 15px;
								}
							}
						}	
					}
				}
			}
		}
	}

	.m-nav-bar {
		bottom     : 1px;
		width      : 0;
		height     : 5px;
		position   : absolute;
		background : #D9D9D9;
		z-index    : 1;
		@include opacity(0);
		@include transition((left $transition-times , width $transition-times , opacity $transition-times));

		&.is-show {
			@include opacity(1);
		}
	}

	.m-nav-path {
		height     : 86px;
		position   : absolute;

		&:before , &:after {
			content  : "";
			top      : 0;
			width    : 50%;
			height   : 100%;
			position : absolute;
			z-index  : 1;
		}

		> ul {
			> li {
				max-width : $main-min-width;
				height    : 100%;

				&.is-active {
					> a {
						.m-icon-stack {
							.m-icon {
								@include inline-block;

								&:first-child {
									display : none;
								}
							}
						}
					}

					> div {
						max-height : 550px;
					}
				}

				> a {
					bottom      : -24px;
					margin      : 0 15px;
					padding     : 0 20px;
					text-align  : center;
					font-size   : 12px;
					height      : 25px;
					line-height : 22px;
					position    : absolute;
					background  : $minor-color;
					@include display(block);
					@include border-radius(0 0 20px 20px);

					.m-icon-stack {
						display : none;
					}
				}

				> div {
					width : 100%;

					> ul {
						margin-right   : -8px;
						margin-left    : -8px;
						padding-top    : 13px;
						padding-bottom : 5px;

						> li {
							float : left;

							> a {
								margin        : 7px 8px;
								line-height   : 1.5;

								.m-icon {
									color : lighten($minor-color , 5%);
								}

								&:hover {
									border-bottom-color : $color-white;
								}
							}
						}
					}
				}
			}
		}
	}
}

@include respond-to(Tablets) {
	.is-subsidiary .m-nav , .m-nav {
		padding-top : 5px;
		@include background-horizontal-gradient($major-color , 0% , $minor-color , 100%);

		> ul {
			> li {
				position   : relative;
				background : $color-white;

				&.b-middle {
					&:before {
						display : none;
					}
				}

				&.is-active {
					> a {
						border-bottom-color : transparent;

						.m-icon-stack {
							.m-icon {
								@include inline-block;

								&:first-child {
									display : none;
								}
							}
						}
					}

					> div {
						max-height : 550px;
					}
				}

				&:last-child {
					> a {
						border-bottom-color : transparent;
					}
				}

				> a {
					margin        : 0 15px;
					height        : 50px;
					line-height   : 50px;
					border-bottom : 1px solid $border-minor-color;
					@include display(block);

					.m-icon-stack {
						color  : $major-color;
						float  : right;
						@include display(block);

						.m-icon {
							margin-top : -3px;
							display    : none;

							&:first-child {
								@include inline-block;
							}
						}
					}
				}

				> div {
					max-height  : 0;
					background  : $major-color;
					@include clearfix;
					@include display(block);

					> ul {
						@include box-shadow(rgba(#000 , .25) 0 0 0);

						> li {
							> a {
								margin              : 0 15px;
								padding             : 7px 0 7px 13px;
								color               : $color-white;
								min-height          : 40px;
								line-height         : 25px;
								border-bottom-width : 0;

								&:before {
									content      : "";
									top          : 16px;
									left         : 0;
									margin-right : 10px;
									width        : 3px;
									height       : 5px;
									background   : lighten($major-color , 10%);
									position     : absolute;
									@include display(block);
								}

								.m-icon {
									display : none;
								}
							}
						}	
					}
				}
			}
		}
	}

	.m-nav-bar {
		display : none;
	}

	.m-nav-path {
		position : relative;

		> ul {
			> li {
				&.is-active {
					> a {
						.m-icon-stack {
							.m-icon {
								@include inline-block;

								&:first-child {
									display : none;
								}
							}
						}
					}

					> div {
						max-height : 550px;
					}
				}

				> a {
					margin      : 0 15px;
					font-size   : 15px;
					height      : 50px;
					line-height : 50px;
					@include display(block);

					.m-icon-stack {
						color : $color-white;
						float : right;
						@include display(block);

						.m-icon {
							display : none;

							&:first-child {
								@include inline-block;
							}
						}
					}
				}

				> div {
					max-height : 0;
					@include clearfix;
					@include transition(max-height $transition-times);

					> ul {
						> li {
							> a {
								margin      : 0 15px;
								padding     : 7px 0 7px 13px;
								min-height  : 40px;
								line-height : 25px;

								&:before {
									content    : "";
									top        : 16px;
									left       : 0;
									width      : 3px;
									height     : 5px;
									background : lighten($major-color , 10%);
									position   : absolute;
									@include inline-block;
								}

								.m-icon {
									display : none;
								}
							}
						}
					}
				}
			}
		}
	}
}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {
	.is-subsidiary .m-nav , .m-nav {
		> ul {
			> li {
				> div {
					> ul {
						> li {
							> a {
								padding-top    : 5px;
								padding-bottom : 5px;
								min-height     : 35px;

								&:before {
									top : 14px;
								}
							}
						}	
					}
				}
			}
		}
	}

	.m-nav-path {
		> ul {
			> li {
				> div {
					> ul {
						> li {
							> a {
								padding-top    : 5px;
								padding-bottom : 5px;
								min-height     : 35px;

								&:before {
									top : 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@include browsers('IE8&IE9') {
	.m-nav-path {
		> ul {
			> li {
				background : none;
				filter     : none;

				> span {
					top      : 0;
					left     : 0;
					width    : 100%;
					height   : 100%;
					position : absolute;
					z-index  : 1;
					@include background-horizontal-gradient($major-color , 0% , $minor-color , 100%);
				}
			}	
		}
	}
}

@include browsers('IE8') {
	.m-nav {
		> ul {
			width : $main-min-width;

			> li {
				&.b-middle {
					margin-left : -1px;
					font-size   : 0.1px;
				}

				> div {
					background : image-url('blank.gif');

					> ul {
						background : $color-white;
					}
				}
			}
		}
	}
}