.m-personal {
	margin-bottom : -35px;
	position      : relative;

	&.is-sm {
		.m-personal-item {
			width   : 102px;
			height  : 102px;
		}
	}

	&.is-lg {
		.m-personal-item {
			width   : 176px;
			height  : 176px;
		}
	}

	> ul {
		> li {
			margin-bottom : 35px;
		}
	}
}

.m-personal-item {
	padding  : 1px;
	position : relative;
	border   : 1px solid $border-minor-color;
	@include clearfix;
	@include inline-block;
	/*@include border-radius(50%);*/
	@include box-sizing(border-box);
	/*@include background-image(linear-gradient($major-color , $minor-color));*/

	img {
		max-width  : 100%;
		max-height : 100%;
		position   : relative;
		z-index    : 1;
		@include clearfix;
		@include display(block);
		/*@include border-radius(50%);*/
	}
}

.m-personal-info {
	margin-top  : 15px;
	font-size   : 14px;
	line-height : 22px;
}

.m-personal-name {
	color : $major-color;
}

@include browsers('IE8') {
	.m-personal {
		.m-personal-item {
			> span {
				content  : "";
				top      : 0;
				left     : 0;
				width    : 100%;
				height   : 100%;
				position : absolute;
				z-index  : 2;
			}
		}

		/*&.is-sm {
			.m-personal-item {
				> span {
					background : image-url('m-personal-border-mask-sm.png') no-repeat center center;
				}
			}
		}

		&.is-lg {
			.m-personal-item {
				> span {
					background : image-url('m-personal-border-mask-lg.png') no-repeat center center;
				}
			}
		}*/
	}
}