.m-search {
	position : relative;
}

.m-search-hd {
	margin-bottom : 20px;

	.m-form-group {
		.m-search-data {
			margin-top  : -5px;
			line-height : 25px;
		}
	}
}

.m-search-data {
	font-size : 14px;
	position  : relative;
	
}

.m-search-bd {
	&.is-margin-bottom {
		> * {
			margin-top : 15px;

			&:first-child {
				margin-top : 0;
			}
		}
	}
}

.m-search-item {
	padding    : 30px 0;
	border-top : 1px solid $border-minor-color;

	&:first-child {
		padding-top : 0;
		border-top  : 0;
	}

	> em {
		margin-bottom : 5px;
	}

	> p {
		margin-bottom : 10px;
		font-size     : 14px;
		line-height   : 28px;
		word-break    : break-all;
	}
}

@include respond-to(Desktops) {}

@include respond-to(Desktops-Tablets) {
	.m-search-bd {
		&.is-margin-bottom {
			> * {
				margin-bottom : 25px;
			}	
		}
	}
}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {
	.m-search-bd {
		&.is-margin-bottom {
			> * {
				margin-top : 10px;
			}
		}
	}
}

@include respond-to(Mobiles) {
	.m-search-bd {
		&.is-margin-bottom {
			> * {
				margin-top : 10px;
			}
		}
	}
}