.m-step {
	position : relative;
	@include clearfix;
	@include display(table);

	&.b-disabled {
		.m-step-title {
			color : darken($color-disabled , 20%);

			.m-icon {
				color : darken($color-disabled , 20%);
			}
		}
	}
}

.m-step-title {
	width       : 1%;
	min-height  : 80px;
	white-space : nowrap;
	@include display(table-cell);
	@include clearfix;
	@include transition(color $transition-times);

	&.no-number {
		&.is-line-height {
			line-height: 80px;
		}

		.m-icon {
			display : none;
		}

		> em {
			margin-left : 0;

			&:before {
				display : none;
			}
		}
	}

	.m-icon {
		font-size   : 35px;
		color       : $major-color;
		line-height : 80px;
		@include inline-block;
		@include transition(color $transition-times);
	}

	> em {
		margin-left : -8px;
		font-size   : 16px;
		position    : relative;
		@include inline-block;

		&:before {
			content         : "";
			width           : 50px;
			height          : 80px;
			background      : image-url('m-step-line.png') no-repeat 0 0;
			background-size : 100%;
			@include inline-block;
		}
	}
}

.m-step-item {
	padding-left : 5px;
	font-size    : 14px;
	@include display(table-cell);

	&.is-text-left {
		text-align : left;
	}

	&.is-text-center {
		text-align : center;
	}

	&.is-text-right {
		text-align : right;
	}
}

@media screen and ( -ms-high-contrast : active ) , ( -ms-high-contrast : none ) {
	.m-step {
		&.m-step-point {
			.m-step-title {
				.m-icon {
					top : 0;
					
					&:after {
						top         : 1px;
						margin-left : -10px;
					}
				}
			}
		}
	}
}

@include respond-to(Tables) {}

@include respond-to(Tables-Mobile) {
	.m-step-title {
		min-height : 60px;

		&.no-number {
			&.is-line-height {
				line-height: 60px;
			}
		}

		.m-icon {
			font-size   : 28px;
			line-height : 60px;
		}

		> em {
			&:before {
				width  : 37px;
				height : 60px;
			}
		}
	}
}

@include respond-to(Mobile) {
	.m-step-title {
		width      : 100%;
		min-height : 40px;
		@include display(block);

		&.no-number {
			&.is-line-height {
				line-height: 40px;
			}
		}

		&[class^="b-col-"] , &[class*=" b-col-"] {
			float : none;
		}

		.m-icon {
			font-size   : 25px;
			line-height : 40px;
		}

		> em {
			&:before {
				width  : 25px;
				height : 40px;
			}
		}
	}

	.m-step-item {
		padding-left : 0;
		font-size    : 12px;
		
		@include display(block);

		&.is-text-left , &.is-text-right {
			text-align : left;
		}

		&.is-text-center {
			text-align : center;
		}

		/*.m-form-group {
			margin-right : -5px;
			margin-left  : -5px;
		}*/
	}
}