.m-search-item {
	position : relative;
}

.m-search-item-hd {
	> * {
		margin-bottom : 25px;
	}
}

.m-search-item-bd {
	> * {
		margin-top : 15px;

		&:first-child {
			margin-top : 0;
		}
	}
}

.m-search-item-ft {
}

@include respond-to(Tables) {}

@include respond-to(Tables-Mobile) {
	.m-search-item-bd {
		> * {
			margin-top : 10px;
		}
	}
}

@include respond-to(Mobile) {
	.m-search-item-bd {
		> * {
			margin-top : 10px;
		}
	}
}