.m-sitemap {
	margin-top : -20px;
	max-height : 0;
	position   : relative;
	background : $major-color;
	@include clearfix;
	@include transition(max-height $transition-times);

	&.is-show {
		max-height : 999px;
	}
}

.m-sitemap-bd {
	position : relative;
	@include box-sizing(border-box);

	&:after {
		content    : "";
		bottom     : 0;
		left       : 0;
		width      : 100%;
		height     : 1px;
		background : darken($color-footer , 5%);
		position   : absolute;
		@include clearfix;
		@include display(block);
	}

	> ul {
		margin : 0 auto;
		width  : 100%;
		@include box-sizing(border-box);

		> li {
			position : relative;

			> ul {
				margin-top: 20px;

				&:first-child {
					margin-top : 0;
				}

				> li {
					line-height : 2;

					&:first-child {
						margin-bottom : 10px;
						font-size     : 16px;
						line-height   : 1.6;
					}

					> a {
						color         : $color-white;
						border-bottom : 1px solid transparent;
						@include transition(border-color $transition-times);
					}
				}
			}
		}	
	}
}

@include respond-to(Desktops) {
	.m-sitemap-bd {
		> ul {
			max-width : $main-min-width;

			> li {
				> ul {
					> li {
						> a {
							&:hover {
								border-color : $color-white;
							}
						}
					}
				}
			}
		}
	}
}

@include respond-to(Desktops-Tablets) {
	.m-sitemap-bd {
		padding-top    : 40px;
		padding-bottom : 40px;
		border-bottom  : 1px solid lighten($color-footer , 10%);

		> ul {
			@include display(table);

			> li {
				@include display(table-cell , top);
			}
		}
	}
}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {
	.m-sitemap-bd {
		> ul {
			padding-right : 5px;
			padding-left  : 5px;
			@include display(table);
		}
	}
}

@include respond-to(Mobiles) {
	.m-sitemap {
		&.is-show {
			max-height : 3000px;
		}
	}

	.m-sitemap-bd {
		padding-top : 20px;

		> ul {
			> li {
				padding-top    : 10px;
				padding-bottom : 10px;
				border-top     : 1px solid darken($major-color , 5%);

				&:after {
					content    : "";
					top        : 0;
					left       : 0;
					width      : 100%;
					height     : 1px;
					background : lighten($major-color , 10%);
					position   : absolute;
					@include clearfix;
					@include display(block);
				}

				&:first-child {
					border-top-color : transparent;

					&:after {
						display : none;
					}
				}

				> ul {
					padding-right : ($inner-Width - 5);
					padding-left  : ($inner-Width - 5);

					> li {
						margin-bottom  : 0;

						> a {
							&:hover {
								border-color : transparent;
							}
						}
					}
				}
			}
		}
	}
}