.m-table {
	margin-bottom   : 10px;
	font-size       : 14px;
	vertical-align  : middle;
	width           : 100%;
	max-width       : 100%;
	border-spacing  : 0;
	border-collapse : collapse;
	background      : transparent;

	[class^="b-col-"] , [class*=" b-col-"] {
		padding : 0;
		float   : none;
		@include display(table-cell);
	}

	thead {
		color          : #FFF;
		vertical-align : middle;
		background     : tint($major-color , 42%);
	}

	tbody {
		vertical-align : middle;

		tr {
			@include transition(background $transition-times);

			&:hover {
				background : $color-inverse;

				&.is-bgcolor {
					background : darken($sub-color , 3%);
				}
			}

			&.is-bgcolor {
				background : $sub-color;
			}
		}
	}

	tr {
		vertical-align : middle;
	}

	th , td {
		padding        : 12px 7px;
		vertical-align : middle;
		line-height    : 1.6;
		@include box-sizing(border-box);

		&[class^="b-col-"] , &[class*=" b-col-"] {
			padding : 7px;
		}
	}

	&.is-table-center {
		th , td {
			text-align : center;
		}
	}
}

@include respond-to(Tables) {}

@include respond-to(Tables-Mobile) {}

@include respond-to(Mobile) {
	.m-table {
		[class^="b-col-"] , [class*=" b-col-"] {
			@include display(table);
		}

		thead {
			display : none;
		}

		tr {
			margin-top : 10px;
			/*border     : 1px solid $border-minor-color;*/
			@include display(block);
			/*@include border-radius($module-border-radius);*/
			@include clearfix;

			&:first-child {
				margin-top : 0;
			}
		}

		tbody {
			tr {
				&.is-bgcolor {
					background : none;

					&:hover {
						background : none;
					}
				}

				&:hover {
					background : none;
				}
			}

			th , td {
				padding     : 5px 0;
				width       : 100%;
				line-height : 1.6;
				min-height  : 40px;
				/*border-top  : 1px solid $border-minor-color;*/
				@include display(table);

				&:first-child {
					border-top : 0;
				}

				&:nth-child(odd) {
					background : $sub-color;

					&:before {
						background : tint($major-color , 32%);
					}
				}

				&:before {
					content        : attr(data-label);
					padding-right  : 5px;
					text-align     : right;
					text-transform : uppercase;
					color          : #FFF;
					width          : 33.3333%;
					background     : tint($major-color , 42%);
					@include display(table-cell);
					@include box-sizing(border-box);
				}

				> *:not(before) {
					padding-left : 5px;
					word-wrap    : break-word;
					word-break   : break-all;
					@include display(table-cell);
				}
			}
		}
	}
}