.m-time-line {
	position    : relative;

	&.m-time-line-horizontal {
		> li {
			padding-top  : 0;
			padding-left : 0;
			@include clearfix;

			&[class^="b-col-"] , &[class*=" b-col-"] {
				padding-left : 5px;
			}

			&:first-child {
				padding-top : 0;
			}

			&:before {
				top    : 32px;
				left   : 0;
				width  : 100%;
				height : 1px;
			}

			.m-time-line-time {
				top      : 0;
				left     : 0;
				position : relative;

				> em {
					font-size : 16px;
				}
			}

			.m-time-line-item {
				margin-top  : 20px;
				font-size   : 14px;
				line-height : 1.6;
			}
		}
	}

	> li {
		padding-top    : 45px;
		padding-bottom : 15px;
		padding-left   : 100px;
		position       : relative;
		@include box-sizing(border-box);

		&:first-child {
			padding-top : 20px;

			.m-time-line-time {
				top : 0;
			}
		}

		&:before {
			content    : "";
			top        : 0;
			left       : 42px;
			width      : 2px;
			height     : 100%;
			position   : absolute;
			background : $minor-color;
			@include clearfix;
		}
	}
}

.m-time-line-time {
	top         : 26px;
	left        : 10px;
	color       : $major-color;
	text-align  : center;
	width       : 65px;
	height      : 65px;
	position    : absolute;
	@include inline-block;
	@include clearfix;
	@include border-radius(50%);
	@include box-sizing(border-box);

	&:before , &:after {
		content  : "";
		position : absolute;
		@include clearfix;
		@include border-radius(50%);
		@include box-sizing(border-box);
	}

	&:before {
		top     : 0;
		left    : 0;
		width   : 100%;
		height  : 100%;
		z-index : 1;
		@include background-image(linear-gradient($major-color , $minor-color));
	}

	&:after {
		top        : 50%;
		left       : 50%;
		margin     : -42% 0 0 -42%;
		width      : 85%;
		height     : 85%;
		background : #FFF;
		z-index    : 2;
	}

	> em {
		top         : 0;
		right       : 0;
		bottom      : 0;
		left        : 0;
		margin      : auto;
		font-size   : 18px;
		width       : 100%;
		height      : 20px;
		line-height : 20px;
		position    : absolute;
		z-index     : 3;
	}
}

.m-time-line-item {
	@include box-sizing(border-box);
}

.IE8 {
	.m-time-line-time {
		&:before {
			background : image-url('m-time-line-border-mask.png') no-repeat center top;	
			z-index    : 2;
		}

		&:after {
			z-index : 1;
		}
	}
}

@include respond-to(Tables) {}

@include respond-to(Tables-Mobile) {}

@include respond-to(Mobile) {
	.m-time-line {
		&.m-time-line-horizontal {
			> li {
				.m-time-line-time {
					> em {
						font-size : 14px;
					}
				}

				.m-time-line-item {
					margin-top : -28px;
				}
			}
		}

		> li {
			margin-top   : -28px;
			padding-top  : 0;
			padding-left : 0;

			&:first-child {
				margin-top  : 0;
				padding-top : 0;
			}

			&:last-child {
				.m-time-line-item {
					padding-bottom : 0;
				}
			}

			&:before {
				display : none;
			}
		}
	}

	.m-time-line-time {
		top      : 0;
		left     : 0;
		width    : 55px;
		height   : 55px;
		position : relative;

		> em {
			font-size : 14px;
		}
	}

	.m-time-line-item {
		margin-top : -28px;
		padding    : 40px 10px;
		border-top : 1px solid $minor-color;
	}
}
