.m-time-line {
	position : relative;
	@include clearfix;

	&.m-time-line-horizontal {
		&.is-item-align-bottom {
			> ul {
				> li {
					vertical-align : bottom;
				}	
			}
		}

		> ul {
			margin-right : 0;
			margin-left  : 0;
			width        : 100%;
			@include display(table);

			> li {
				padding-top  : 0;
				padding-left : 5px;
				@include clearfix;
				@include display(table-cell , top);

				&[class^="b-col-"] , &[class*=" b-col-"] {
					padding-right : 0;
					padding-left  : 0;
					float         : none;
				}

				&:first-child {
					padding-top : 0;
				}

				.m-time-line-time {
					top      : 0;
					left     : 0;
					position : relative;

					&:before {
						top    : 32px;
						left   : 0;
						width  : 100%;
						height : 1px;
					}

					> span {
						> em {
							font-size : 15px;
						}	
					}
				}

				.m-time-line-item {
					margin-top    : 20px;
					margin-bottom : 10px;
					font-size     : 14px;
					line-height   : 1.6;
				}
			}	
		}
	}

	> ul {
		> li {
			padding-top    : 45px;
			padding-bottom : 18px;
			padding-left   : 100px;
			position       : relative;
			@include box-sizing(border-box);

			&:first-child {
				margin-top : -26px;
			}
		}
	}
}

.m-time-line-time {
	top      : 26px;
	left     : 10px;
	height   : 100%;
	position : absolute;
	@include display(block);

	&:before {
		content     : "";
		top         : 0;
		left        : 50%;
		width       : 2px;
		margin-left : -1px;
		height      : 100%;
		position    : absolute;
		background  : $minor-color;
		@include clearfix;
	}

	> span {
		color      : $major-color;
		text-align : center;
		width      : 65px;
		height     : 65px;
		position   : relative;
		@include clearfix;
		@include inline-block;
		@include border-radius(50%);
		@include box-sizing(border-box);

		&:before , &:after {
			content  : "";
			position : absolute;
			@include clearfix;
			@include border-radius(50%);
			@include box-sizing(border-box);
		}

		&:before {
			top     : 0;
			left    : 0;
			width   : 100%;
			height  : 100%;
			z-index : 1;
			@include background-image(linear-gradient($major-color , $minor-color));
		}

		&:after {
			top        : 50%;
			left       : 50%;
			margin     : -42% 0 0 -42%;
			width      : 85%;
			height     : 85%;
			background : #FFF;
			z-index    : 2;
		}

		> em {
			top         : 0;
			right       : 0;
			bottom      : 0;
			left        : 0;
			margin      : auto;
			font-size   : 18px;
			width       : 100%;
			height      : 20px;
			line-height : 20px;
			position    : absolute;
			z-index     : 3;
		}
	}
}

.m-time-line-item {
	@include box-sizing(border-box);
}

.IE8 {
	.m-time-line-time {
		> span {
			&:before {
				background : image-url('m-time-line-border-mask.png') no-repeat center top;	
				z-index    : 2;
			}

			&:after {
				display : none;
			}	
		}
	}
}

@include respond-to(Tables) {}

@include respond-to(Tables-Mobile) {}

@include respond-to(Mobile) {
	.m-time-line {
		&.m-time-line-horizontal {
			> ul {
				@include display(block);

				> li {
					@include display(block);

					.m-time-line-time {
						> span {
							> em {
								font-size : 14px;
							}	
						}
					}

					.m-time-line-item {
						margin-top : 0;
					}
				}	
			}
		}

		> ul {
			> li {
				margin-top     : -10px;
				padding-top    : 0;
				padding-bottom : 25px;
				padding-left   : 0;

				&:first-child {
					margin-top  : 0;
					padding-top : 0;
				}

				&:last-child {
					padding-bottom : 0;
				}

				> *:first-child {
					margin-bottom : 20px;
				}

				/*&:before {
					display : none;
				}*/
			}	
		}
	}

	.m-time-line-time {
		top      : 0;
		left     : 0;
		position : relative;

		&:before {
			content    : "";
			top        : 50%;
			left       : 0;
			width      : 100%;
			height     : 1px;
			background : $minor-color;
		}

		> span {
			> em {
				font-size : 14px;
			}	
		}
	}

	.m-time-line-item {
		padding : 0 10px;
		/*border-top : 1px solid $minor-color;*/
	}
}
