.m-time-line {
	position : relative;
	@include clearfix;

	&.m-time-line-horizontal {
		&.is-item-align-bottom {
			> ul {
				> li {
					vertical-align : bottom;
				}	
			}
		}

		> ul {
			margin-right : 0;
			margin-left  : 0;
			width        : 100%;
			

			> li {
				padding-top  : 0;
				padding-left : 5px;
				@include clearfix;
				

				&:first-child {
					padding-top : 0;
				}

				.m-time-line-time {
					top      : 0;
					left     : 0;
					position : relative;

					&:before {
						top         : 32px;
						left        : 0;
						margin-left : 0;
						width       : 100%;
						height      : 1px;
					}

					> span {
						> em {
							font-size : 15px;
						}	
					}
				}

				.m-time-line-item {
					margin-bottom : 10px;
					font-size     : 14px;
					line-height   : 1.6;
				}
			}	
		}
	}

	> ul {
		> li {
			position : relative;
			@include box-sizing(border-box);
		}
	}
}

.m-time-line-time {
	height : 100%;
	@include display(block);

	&:before {
		content     : "";
		margin-left : -1px;
		position    : absolute;
		background  : $minor-color;
		@include clearfix;
	}

	> span {
		color      : $major-color;
		text-align : center;
		width      : 66px;
		height     : 66px;
		position   : relative;
		@include clearfix;
		@include inline-block;
		@include border-radius(50%);
		@include box-sizing(border-box);

		&:before , &:after {
			content  : "";
			position : absolute;
			@include clearfix;
			@include border-radius(50%);
			@include box-sizing(border-box);
		}

		&:before {
			top     : 1px;
			left    : 1px;
			width   : 64px;
			height  : 64px;
			z-index : 1;
			@include background-image(linear-gradient($major-color , $minor-color));
		}

		&:after {
			top        : 0;
			right      : 0;
			bottom     : 0;
			left       : 0;
			margin     : auto;
			width      : 56px;
			height     : 56px;
			background : $color-white;
			z-index    : 2;
		}

		> em {
			top         : 0;
			right       : 0;
			bottom      : 0;
			left        : 0;
			margin      : auto;
			width       : 100%;
			height      : 20px;
			line-height : 20px;
			position    : absolute;
			z-index     : 3;
		}
	}
}

.m-time-line-item {
	@include box-sizing(border-box);
}

@include respond-to(Desktops) {}

@include respond-to(Desktops-Tablets) {
	.m-time-line {
		&.m-time-line-horizontal {
			> ul {
				@include display(table);

				> li {
					padding-right : 0;
					padding-left  : 0;
					@include display(table-cell , top);

					.m-time-line-item {
						margin-top : 20px;
					}
				}
			}
		}

		> ul {
			> li {
				margin-bottom  : -1px;
				padding-top    : 45px;
				padding-bottom : 18px;
				padding-left   : 100px;

				&:first-child {
					margin-top : -26px;
				}
			}
		}
	}

	.m-time-line-time {
		top      : 25px;
		left     : 10px;
		position : absolute;

		&:before {
			content : "";
			top     : 0;
			left    : 50%;
			width   : 2px;
			height  : 100%;
		}

		> span {
			> em {
				font-size : 18px;
			}
		}
	}
}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {
	.m-time-line {
		&.m-time-line-horizontal {
			> ul {
				> li {
					.m-time-line-time {
						> span {
							> em {
								font-size : 14px;
							}	
						}
					}
				}	
			}
		}

		> ul {
			> li {
				margin-top     : -10px;
				padding-bottom : 25px;

				&:first-child {
					margin-top : 0;
				}

				&:last-child {
					padding-bottom : 0;
				}

				> *:first-child {
					margin-bottom : 20px;
				}

				/*&:before {
					display : none;
				}*/
			}	
		}
	}

	.m-time-line-time {
		position : relative;

		&:before {
			top    : 50%;
			left   : 0;
			width  : 100%;
			height : 1px;
		}

		> span {
			> em {
				font-size : 14px;
			}
		}
	}

	.m-time-line-item {
		padding : 0 10px;
	}
}

@include browsers('IE8') {
	.m-time-line {
		&.m-time-line-horizontal {
			&.is-item-align-bottom {
				> ul {
					> li {
						vertical-align : bottom;
					}
				}
			}

			> ul {
				> li {
					&:first-child {
						padding-top : 45px;
					}
				}
			}
		}

		> ul {
			> li {
				margin-bottom : 0;
			}
		}
	}

	.m-time-line-time {
		> span {
			&:before {
				width      : 100%;
				height     : 100%;
				background : image-url('m-time-line-border-mask.png') no-repeat left top;
				z-index    : 2;
			}

			&:after {
				display : none;
			}
		}
	}
}