.m-video {
	position : relative;
}

.m-video-bd {
	position : relative;
}

.m-video-frame {
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
	position : absolute;
	display  : none;

	&.is-show {
		@include display(block);
	}
}