<!DOCTYPE HTML>
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>台北富邦銀行</title>
	<link rel="canonical" href="" />
	<link rel="shortcut icon" type="image/x-icon" href="/Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="/Scripts/plugin/angular/angular.css?CSS=20150508_03">
	<link rel="stylesheet" href="/Content/css/reset.css?CSS=20150508_03">
	<link rel="stylesheet" href="/Content/css/style.css?CSS=20150508_03">
	<!-- master page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="/Scripts/plugin/modernizr/modernizr.custom.js?JS=20150508_04"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-nav begin =================== -->
	<div class="l-nav">
		<nav class="m-nav">
			nav
		</nav>
	</div>
	<!-- ==================== l-nav end =================== -->

	<!-- ==================== l-body begin =================== -->
	<div class="l-body">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<main class="l-main">
			<!-- ==================== l-main-content begin =================== -->
			<div class="l-main-content b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-breadcrumb begin =================== -->
					<!-- <ol class="m-breadcrumb b-clearfix">
						<li class="m-icon m-icon-breadcrumb-right">
							<a href="/Views/Layouts/Grids.html">Home</a>
						</li>
						<li class="m-icon m-icon-breadcrumb-right">
							<em>LAYOUTS</em>
						</li>
						<li class="m-icon m-icon-breadcrumb-right">
							<em>Grids</em>
						</li>
					</ol> -->
					<!-- ==================== m-breadcrumb end =================== -->

					<!-- ==================== m-section begin =================== -->
					<section class="m-section">
						<header class="m-section-hd b-clearfix">
							
						</header>
						<main class="m-section-bd">
							
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
				<!-- ==================== l-side begin =================== -->
				<div class="l-side is-left">
					
				</div>
				<!-- ==================== l-side end =================== -->
			</div>
			<!-- ==================== l-main-content end =================== -->
		</main>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer">
			<footer class="m-footer"></footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="/Scripts/plugin/jquery/jquery.min.js?JS=20150508_04"></script>
<script type="text/javascript" src="/Scripts/plugin/angular/angular.min.js?JS=20150508_04"></script>
<script type="text/javascript" src="/Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150508_04"></script>
<script type="text/javascript" src="/Scripts/js/common.js?JS=20150508_04"></script>
<!-- master page include scripts end -->
</html>