.m-article-hd h2 {
	color : $text-minor-color;
}

.m-article-data {
	> * {
		margin-bottom : 0;
		line-height   : 30px;
	}

	p em {
		color : $major-color;
	}
}

ol.m-item.is-china-number > li {
	> h5, h6, &:before {
		color : $major-color;
	}
}

.m-form-item {
	margin-right : -40px;
	margin-left  : -40px;

	.m-form-item-hd, .m-form-item-bd {
		padding    : 0 40px;
	}
	
	.is-bgcolor {
		background : $color-inverse;
	}

	.m-form-item-hd {
		margin-bottom : 0;

		> * {
			margin-bottom : 0;
		}

		.m-form-addon {
			margin-bottom : 0;
			padding-top   : 18px;
			height        : 72px;
			border-top    : 1px solid $border-minor-color;
			color         : $major-color;
			line-height   : 72px;
		}
	}

	.m-form-item-bd {
		padding-bottom : 32px;

		p {
			margin-top  : 0;
			clear       : both;
			overflow    : hidden;
			font-size   : 14px;
			line-height : 30px;

			label {
				float : left;

				&.m-form-addon {
					margin-right : 10px;
				}
			}
		}
	}

	.m-form-item-ft {
		margin-top : 20px;
		padding    : 0 40px;
		border-top : 0;
	}
}

.m-form.m-form-control {
	margin : 0 10px 0 0;
	width  : 125px;
	height : 32px;
}