.m-step {
	@include box-sizing(border-box);
	padding-right : 5px;
	display       : block;
	width         : 33.333%;
	text-align    : right;
}

.m-form-item-hd .m-form-addon {
	color     : $text-minor-color;
	font-size : 24px;
}

.m-form-group .m-form-ctrl-table > .m-form-addon {
	clear : both;
}

.m-section-bd {
	padding-right : 40px;
	padding-left  : 40px;
}

.m-step-title.no-number .m-icon {
	display : none;
}

@include respond-to(Desktops) {
	.l-main-bd:before {
		background : transparent;
	}

	.m-footer {
		margin : 0;
		height : 100px;
	}

	.m-footer-ft {
		line-height : 100px;
	}
}

@include respond-to(Tablets-Mobiles) {
	.m-section {
		margin-top : 0;
	}

	.m-section-hd {
		&.is-col .m-section-tools {
			padding-top : 0;
		}

		> h2 {
			display : block;
		}
	}

	.m-footer {
		margin : 0;
		height : 50px;
	}

	.m-footer-ft {
		line-height : 50px;
	}
}

@include respond-to(Mobiles) {
	.m-section {
		margin-top : 0;
	}

	.m-section-hd.is-col {
		&.is-col .m-section-tools {
			display : block;
			width   : 100%;
		}

		> h2 {
			@include box-sizing(border-box);
			padding     : 10px 15px;
			background  : $color-inverse;
			display     : block;
			min-height  : 40px;
			position    : relative;
			float       : none;
			border      : 1px solid $border-major-color;
			color       : $text-major-color;
			font-size   : 20px;
			line-height : 20px;
			text-align  : left;
		}
	}
}