.m-form-item-hd .m-form-addon {
	color     : $text-minor-color;
	font-size : 24px;
}

.m-section-bd {
	padding-right : 40px;
	padding-left  : 40px;
}

.m-form-item-ft {
	padding-right : 30px;
	padding-left  : 30px;

	em {
		color : $major-color;
	}

	ul {
		margin-top : 0;

		.m-icon {
			color : $major-color;
		}
	}
}

.m-footer {
	margin : 0;
	height : 100px;
}

.m-footer-ft {
	line-height : 100px;
}

@include respond-to(Desktops) {
	.l-main-bd:before {
		background : transparent;
	}
}

@include respond-to(Desktops-Tablets) {
	.m-button-group .m-button:first-child {
		margin-left : 8px;
	}
}