.m-icon {
	font-size : 33px;
}

.m-header {
	height : 72px;
}

.m-section-hd.is-col {
	h2 {
		display : table-cell;
		float   : none;
	}

	.m-section-tools {
		padding-top   : 0;
		padding-right : 15px;

		.m-form-addon {
			font-size : 18px;
		}
	}
}

.l-main-bd {
	background-color: $color-white;

	&:before, &:after {
		display : none;
	}
}

.bio-title {
	color     : $text-minor-color;
	font-size : 24px;
}

.bio-wrap {
	padding-left : 32px;
}

.p-table {
	margin-top  : 0;
	width       : 100%;
	font-size   : 14px;
	line-height : 36px;

	thead {
		padding          : 0 24px;
		background-color : #d3e9f7;
		height           : 52px;
		border-bottom    : 2px solid $color-white;
		font-size        : 18px;
	}

	.is-adaptation {
		padding : 0;
	}

	.is-title {
		border-bottom : 1px solid #e5e5e5;
	}

	.is-bgcolor {
		background-color : #fafafa;
	}

	.p-pic {
		position : absolute;
		top      : 20px;
		right    : 0;
	}

	.sub-table {
		margin-top  : 10px;
		width       : 100%;
		line-height : 22px;

		td {
			padding    : 10px 0 10px 24px;
			word-break : break-all;
		}
	}

	td {
		padding  : 10px 24px;
		position : relative;
	}

	em {
		display : block;
	}
}

/* col */
$types : 24;
$total : 24;
@while $types > 0 {
	.b-col-#{$types} {
		width : ((100% / $total) * $types);

		@if $types == 24 {
			clear : both;
		}
	}

	$types : $types - 1;
}

@media print {
	.l-nav {
		display : none;
	}
}