/* 
   07/10 01-hide loading 02-media item opacity 100
*/
.m-breadcrumb
{
    position: relative;

    display: block;
    overflow: hidden;

    margin-right: 25px;
    margin-left: 25px;

    vertical-align: middle;
    white-space: nowrap;

    color: #727272;

    *zoom: 1;
}.m-breadcrumb:after
{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    display: none;

    width: 50px;
    height: 100%;

    background: #fff;
    background:    -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 80%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(80%, #fff));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 80%);
    background:      -o-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 80%);
    background:     -ms-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 80%);
    background:         linear-gradient(to right, rgba(255,255,255,0) 0%,#fff 80%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,0)' , endColorstr='#fff',GradientType=1)
}.m-breadcrumb > li
{
    font-size: 13px;
    line-height: 1.2;

    position: relative;
    z-index: 1;

    display: table-cell;

    vertical-align: middle;
}.m-breadcrumb > li:before
{
    display: inline-block;

    margin: 0 5px;

    content: '\003E';
    vertical-align: middle;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}.m-breadcrumb > li:first-child:before
{
    display: none;
}.m-breadcrumb > li:first-child > a:hover
{
    color: #0089d1;
    border-bottom-color: transparent;
}.m-breadcrumb > li > a
{
    display: inline-block;

    -webkit-transition: color .3s,border-bottom-color .3s;
       -moz-transition: color .3s,border-bottom-color .3s;
        -ms-transition: color .3s,border-bottom-color .3s;
         -o-transition: color .3s,border-bottom-color .3s;
            transition: color .3s,border-bottom-color .3s;
    -webkit-transition-delay: 0;
       -moz-transition-delay: 0;
        -ms-transition-delay: 0;
         -o-transition-delay: 0;
            transition-delay: 0;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
        -ms-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    vertical-align: middle;

    color: #727272;
    border-bottom: 1px solid transparent;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}.m-breadcrumb > li > a:hover
{
    border-bottom-color: #727272;
}.m-breadcrumb > li > a > .m-icon
{
    font-size: 150%;
}.m-breadcrumb > li > em
{
    display: inline-block;

    vertical-align: middle;

    border-bottom: 1px solid transparent;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}@media screen and (max-width: 999px)
{
    .m-breadcrumb
    {
        margin-right: 15px;
        margin-left: 15px;
    }.m-breadcrumb:after
    {
        display: block;
    }
}.m-section
{
    margin-top: 15px;
}.m-section.is-line .m-section-hd
{
    margin-bottom: 5px;
    padding-bottom: 10px;

    border-bottom: 1px solid #d7d7d7;
}.m-section.is-line .m-section-hd:before
{
    position: absolute;
    bottom: -3px;
    left: 0;

    width: 100%;
    height: 1px;

    content: '';

    background: #d7d7d7;
}.m-section.is-line .m-section-bd
{
    border-top: 1px solid #d7d7d7;
}.m-section.is-line .m-section-bd:before
{
    position: absolute;
    top: -3px;
    left: 0;

    width: 100%;
    height: 1px;

    content: '';

    background: #d7d7d7;
}.m-section-hd
{
    position: relative;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 25px;
    padding-left: 25px;
}.m-section-hd.is-title-hide h2
{
    text-indent: -99999px;
}.m-section-hd.is-col > h2
{
    float: left;
}.m-section-hd.is-col .m-section-tools
{
    display: table-cell;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 1%;
    margin-top: 0;
    padding-top: 5px;

    text-align: right;
    vertical-align: middle;
}.m-section-hd.is-col .m-section-tools > *
{
    display: inline-block;

    vertical-align: middle;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}.m-section-hd.is-col .m-section-tools-group
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    min-height: 46px;
    padding-top: 12px;

    text-align: right;
}.m-section-hd.is-col .m-section-tools-group > *
{
    display: inline-block;

    width: auto;

    vertical-align: middle;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}.m-section-hd.is-col .m-section-tools-group .m-section-tools-addon
{
    margin-left: 20px;
}.m-section-hd.is-col .m-section-tools-group .m-section-tools-addon:first-child
{
    margin-left: 0;
}.m-section-hd h2
{
    display: block;

    vertical-align: middle;
}.m-section-hd .m-section-tools
{
    font-size: 14px;

    display: block;

    margin-top: 10px;

    vertical-align: middle;
}.m-section-bd
{
    position: relative;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 25px 25px 0 25px;
}.m-section-bd > *
{
    margin-top: 25px;
}.m-section-bd > *:first-child
{
    margin-top: 0;
}@media screen and (max-width: 999px)
{
    .m-section
    {
        margin-top: 55px;
    }.m-section-hd
    {
        padding-right: 15px;
        padding-left: 15px;
    }.m-section-hd > h2
    {
        display: none;
    }.m-section-hd.is-col .m-section-tools
    {
        padding-top: 20px;
    }.m-section-hd .m-section-tools
    {
        margin-top: 0;
    }.m-section-bd
    {
        padding-right: 15px;
        padding-left: 15px;
    }.m-section-bd > *
    {
        margin-top: 20px;
    }
}@media screen and (max-width: 600px)
{
    .m-section-hd .m-section-tools .m-form-group .m-form-ctrl
    {
        display: table;

        vertical-align: middle;
    }.m-section-hd.is-col .m-section-tools-group
    {
        padding-top: 0;
    }.m-section-hd.is-col .m-section-tools-group .m-section-tools-addon
    {
        display: block;
        clear: both;
        overflow: hidden;

        width: 0;
        height: 0;

        vertical-align: middle;

        *zoom: 1;
    }.m-section-bd > *
    {
        margin-top: 15px;
    }
}.m-pagination
{
    position: relative;

    text-align: center;
}.m-pagination:after
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 1px;

    content: '';

    background: #d7d7d7;

    *zoom: 1;
}.m-pagination-hd
{
    display: none;
}.m-pagination-hd .m-button
{
    width: 100%;
}.m-pagination-bd
{
    position: relative;
    z-index: 2;

    display: inline-block;
    overflow: hidden;

    padding-right: 20px;
    padding-left: 20px;

    vertical-align: middle;
    white-space: nowrap;

    background: #fff;

    *zoom: 1;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}.m-pagination-bd > li
{
    position: relative;

    display: block;
    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 6px;

    vertical-align: middle;

    color: #ababab;
}.m-pagination-bd > li > a
{
    font-size: 14px;
    line-height: 24px;

    position: relative;
    z-index: 2;

    display: block;
    overflow: hidden;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 24px;
    height: 24px;

    -webkit-transition: background .3s,color .3s;
       -moz-transition: background .3s,color .3s;
        -ms-transition: background .3s,color .3s;
         -o-transition: background .3s,color .3s;
            transition: background .3s,color .3s;
    -webkit-transition-delay: 0;
       -moz-transition-delay: 0;
        -ms-transition-delay: 0;
         -o-transition-delay: 0;
            transition-delay: 0;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
        -ms-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    text-align: center;
    vertical-align: middle;
    text-indent: -1px;
    letter-spacing: -1px;

    color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: #ababab;

    *zoom: 1;
}.m-pagination-bd > li > a:hover
{
    background: #787878;
}.m-pagination-bd > li > a.is-active
{
    background: #0089d1;
}.m-pagination-bd > li > a.is-prev,
.m-pagination-bd > li > a.is-next
{
    color: #ababab;
    background: none;
}.m-pagination-bd > li > a.is-prev:hover,
.m-pagination-bd > li > a.is-next:hover
{
    color: #0089d1;
}.m-pagination-bd > li > a.is-disabled
{
    cursor: not-allowed;

    color: #989898;
    border-color: #e2e2e2;
    background: none !important;
    background: #efefef;
    text-shadow: #fff 1px 1px 0;
}.m-pagination-bd > li > a.is-disabled:hover
{
    color: #989898;
}@media screen and (max-width: 600px)
{
    .m-pagination:after
    {
        display: none;
    }.m-pagination-hd
    {
        display: block;

        vertical-align: middle;
    }.m-pagination-bd
    {
        display: none;
    }
}.m-aside
{
    position: relative;

    margin-top: 25px;
}.m-aside:first-child
{
    margin-top: 0;
}.m-aside .m-aside-hd > h5
{
    font-size: 18px;
    line-height: 1.7;

    position: relative;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20px;

    color: #0089d1;
}.m-aside .m-aside-hd > h5:before
{
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 4px;
    height: 100%;

    content: '';

    background: #0089d1;

    *zoom: 1;
}.m-aside.m-aside-accordion
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    border-bottom: 1px solid #d7d7d7;
}.m-aside.m-aside-accordion .m-aside-hd
{
    line-height: 40px;

    position: relative;

    display: none;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 40px;

    border: 1px solid #a8a8a8;
    background: #f0f0f0;
}.m-aside.m-aside-accordion .m-aside-hd > button
{
    font: 20px/1.6 '微軟正黑體','新細明體',sans-serif,serif;

    position: relative;
    z-index: 1;

    display: block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 15px;

    border-spacing: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    text-indent: 0;

    color: #2a2a2a;
    border: 0;
    outline: 0;
    background: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}.m-aside.m-aside-accordion .m-aside-hd > button .m-icon-stack
{
    line-height: 20px;

    position: absolute;
    top: 50%;
    right: 15px;

    overflow: hidden;

    width: 20px;
    height: 20px;
    margin-top: -10px;

    color: #0089d1;

    *zoom: 1;
}.m-aside.m-aside-accordion .m-aside-hd > button .m-icon-stack .m-icon
{
    display: none;
}.m-aside.m-aside-accordion .m-aside-hd > button .m-icon-stack .m-icon:first-child
{
    display: block;

    vertical-align: middle;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curr .m-icon-stack .m-icon,
.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-active .m-icon-stack .m-icon
{
    display: block;

    vertical-align: middle;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curr .m-icon-stack .m-icon:first-child,
.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-active .m-icon-stack .m-icon:first-child
{
    display: none;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curr > h6 a,
.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-active > h6 a
{
    color: #0089d1;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curr > div,
.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-active > div
{
    max-height: 999px;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curr.is-hide > div
{
    max-height: 0;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curr.is-curred > h6 a
{
    color: #535353;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curred > h6 a
{
    color: #0089d1;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curred.is-hide .m-icon-stack .m-icon
{
    display: none;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curred.is-hide .m-icon-stack .m-icon:first-child
{
    display: block;

    vertical-align: middle;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curred.is-hide > h6 a
{
    color: #0089d1;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li:first-child > h4 a
{
    border-top: 0;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li .m-icon-stack
{
    font-size: 12px;

    position: absolute;
    top: 50%;
    right: 5px;

    display: block;

    width: 12px;
    height: 12px;
    margin-top: -6px;

    color: #0089d1;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li .m-icon-stack .m-icon
{
    display: none;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li .m-icon-stack .m-icon:first-child
{
    display: block;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li h6
{
    position: relative;
    z-index: 1;

    padding: 0 20px;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li h6 a
{
    line-height: 1.6;

    position: relative;

    display: block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 50px;

    -webkit-transition: color .3s;
       -moz-transition: color .3s;
        -ms-transition: color .3s;
         -o-transition: color .3s;
            transition: color .3s;
    -webkit-transition-delay: 0;
       -moz-transition-delay: 0;
        -ms-transition-delay: 0;
         -o-transition-delay: 0;
            transition-delay: 0;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
        -ms-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;

    border-top: 1px solid #d7d7d7;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li h6 a:hover
{
    color: #0089d1;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li h6 a > em
{
    font-size: 15px;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li h6 a > em:before
{
    display: inline-block;
    overflow: hidden;

    width: 4px;
    height: 6px;
    margin-top: -3px;
    margin-right: 10px;

    content: '';
    vertical-align: middle;

    background: #0089d1;

    *zoom: 1;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li > div
{
    position: relative;
    z-index: 2;

    overflow: hidden;

    max-height: 0;
    margin-top: -1px;

    -webkit-transition: max-height .3s;
       -moz-transition: max-height .3s;
        -ms-transition: max-height .3s;
         -o-transition: max-height .3s;
            transition: max-height .3s;
    -webkit-transition-delay: 0;
       -moz-transition-delay: 0;
        -ms-transition-delay: 0;
         -o-transition-delay: 0;
            transition-delay: 0;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
        -ms-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;

    *zoom: 1;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li > div > ul
{
    padding: 10px 10px 10px 18px;

    background: #0089d1;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li > div > ul > li > a
{
    display: block;

    padding-top: 10px;
    padding-bottom: 10px;

    vertical-align: middle;

    color: #fff;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li > div > ul > li > a > .m-icon
{
    visibility: hidden;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li > div > ul > li > a > em
{
    font-size: 14px;
    line-height: 20px;

    display: inline-block;

    -webkit-transition: border-color .3s;
       -moz-transition: border-color .3s;
        -ms-transition: border-color .3s;
         -o-transition: border-color .3s;
            transition: border-color .3s;
    -webkit-transition-delay: 0;
       -moz-transition-delay: 0;
        -ms-transition-delay: 0;
         -o-transition-delay: 0;
            transition-delay: 0;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
        -ms-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    vertical-align: middle;

    border-bottom: 1px solid transparent;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li > div > ul > li > a:hover > em
{
    border-bottom-color: #fff;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li > div > ul > li.is-active > a > .m-icon
{
    visibility: visible;
}.m-aside.m-aside-accordion .m-aside-bd > ul > li > div > ul > li.is-active > a:hover > em
{
    border-bottom-color: transparent;
}@media screen and (max-width: 999px)
{
    .m-aside
    {
        padding-right: 15px;
        padding-left: 15px;
    }.m-aside.m-aside-accordion
    {
        position: absolute;
        z-index: 20;
        top: 50px;
        left: 0;

        display: block;

        width: 100%;

        border-bottom: 0;
    }.m-aside.m-aside-accordion.is-disabled .m-aside-hd
    {
        border-color: #e8e8e8;
    }.m-aside.m-aside-accordion.is-disabled .m-aside-hd > button
    {
        cursor: not-allowed;
    }.m-aside.m-aside-accordion.is-disabled .m-aside-hd > button .m-icon-stack
    {
        display: none;
    }.m-aside.m-aside-accordion.is-selected .m-aside-hd > button .m-icon-stack .m-icon
    {
        display: block;
    }.m-aside.m-aside-accordion.is-selected .m-aside-hd > button .m-icon-stack .m-icon:first-child
    {
        display: none;
    }.m-aside.m-aside-accordion.is-selected .m-aside-bd
    {
        max-height: 999px;
    }.m-aside.m-aside-accordion .m-aside-hd
    {
        display: block;
    }.m-aside.m-aside-accordion .m-aside-bd
    {
        overflow: hidden;

        max-height: 0;

        -webkit-transition: max-height .3s;
           -moz-transition: max-height .3s;
            -ms-transition: max-height .3s;
             -o-transition: max-height .3s;
                transition: max-height .3s;
        -webkit-transition-delay: 0;
           -moz-transition-delay: 0;
            -ms-transition-delay: 0;
             -o-transition-delay: 0;
                transition-delay: 0;
        -webkit-transition-timing-function: ease;
           -moz-transition-timing-function: ease;
            -ms-transition-timing-function: ease;
             -o-transition-timing-function: ease;
                transition-timing-function: ease;

        background: #f0f0f0;

        *zoom: 1;
    }.m-aside.m-aside-accordion .m-aside-bd > ul
    {
        border: 1px solid #a8a8a8;
        border-top: 0;
    }.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curr .m-icon-stack .m-icon
    {
        display: none;
    }.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curr .m-icon-stack .m-icon:first-child
    {
        display: block;

        vertical-align: middle;
    }.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curr > div
    {
        max-height: 0;
    }.m-aside.m-aside-accordion .m-aside-bd > ul > li.is-active > h6 a:hover,
    .m-aside.m-aside-accordion .m-aside-bd > ul > li.is-curred > h6 a:hover
    {
        color: #0089d1;
    }.m-aside.m-aside-accordion .m-aside-bd > ul > li:first-child > h6 a
    {
        border-top: 0;
    }.m-aside.m-aside-accordion .m-aside-bd > ul > li > h6 a
    {
        height: 40px;
    }.m-aside.m-aside-accordion .m-aside-bd > ul > li > h6 a:hover
    {
        color: #535353;
    }.m-aside.m-aside-accordion .m-aside-bd > ul > li > h6 a > em:before
    {
        display: none;
    }.m-aside.m-aside-accordion .m-aside-bd > ul > li > div > ul
    {
        padding-left: 20px;
    }.m-aside.m-aside-accordion .m-aside-bd > ul > li > div > ul > li > a > .m-icon
    {
        display: none;
    }
}
