<!DOCTYPE HTML>
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-公司治理-股東會-股東會資訊</title>
	<link rel="canonical" href="" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="../../Content/css/governance/letter.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				<div class="m-header-logo b-clearfix b-middle">
					<button class="m-button m-button-navicon ng-navicon"><i class="m-icon m-icon-navicon"></i></button>
					<a href="../../Views/home/index.html" class="m-icon-stack m-icon-fubon-group">
						<i class="m-icon m-icon-fubon-blue is-absolute"></i>
						<i class="m-icon m-icon-fubon-green"></i>
						<i class="m-icon m-icon-fubon-text"></i>
					</a>
					<div class="m-header-company">
						<h1>富邦金控</h1>
					</div>
				</div>
				<ul class="m-header-tools">
					<li class="b-middle"><a href="../../eng/">EN</a></li>
					<li class="m-header-search b-middle" ng-class="{'is-open' : Common.Search.Click}">
						<a href="../../Views/search/search.html?k={{ Common.Search.Value }}" class="m-button m-button-search ng-search"><i class="m-icon m-icon-search"></i></a>
						<div class="m-form-group m-form-search">
							<input type="search" class="m-form m-form-control ng-search-result" ng-model="Common.Search.Value" />
						</div>
					</li>
				</ul>
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main letter-content ng-controller" ng-controller="Governance">
			<!-- ==================== l-main-hd begin =================== -->
			<header class="l-main-hd b-clearfix">
				<div class="m-media ng-image-load">
					<div class="b-loading">
						<span class="m-icon-stack">
							<i class="m-icon m-icon-fubon-blue is-absolute"></i>
							<i class="m-icon m-icon-fubon-green"></i>
						</span>
					</div>
					<figure class="m-media-item">
						<img ng-src="../../Content/img/governance/kv.jpg" alt="富邦金控-公司治理">
					</figure>
					<ul class="m-media-tools is-right-top b-middle">
						<li><a href="javascript:;"><i class="m-icon m-icon-m-plus"></i></a></li>
						<li>
							<a href="javascript:;">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-youtube-you is-absolute"></i>
									<i class="m-icon m-icon-youtube-tube"></i>
								</span>
							</a>
						</li>
						<li><a href="javascript:;"><i class="m-icon m-icon-facebook-official"></i></a></li>
					</ul>
				</div>
			</header>
			<!-- ==================== l-main-hd end =================== -->

			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd is-content-left b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-breadcrumb begin =================== -->
					<ol class="m-breadcrumb b-clearfix">
						<li>
							<a href="../../Views/home/index.html"><i class="m-icon m-icon-home"></i></a>
						</li>
						<li>
							<a href="../../Views/governance/letter.html">公司治理</a>
						</li>
						<li>
							<a href="../../Views/governance/shareholders.html">股東會</a>
						</li>
						<li>
							<em>致股東報告書</em>
						</li>
					</ol>
					<!-- ==================== m-breadcrumb end =================== -->

					<!-- ==================== m-section begin =================== -->
					<section class="m-section">
						<header class="m-section-hd is-col b-clearfix">
							<h2>致股東報告書</h2>
						</header>
						<main class="m-section-bd b-clearfix">
							<article class="m-article is-titles">
								<main class="m-article-bd b-clearfix">
									<div class="m-article-data">
										<p>各位親愛的股東：<br />在美國景氣攀升帶動台灣出口亮麗表現，以及台灣股市回溫、觀光客來台人數成長等有利因素帶動下，2014年台灣景氣明顯好轉。富邦金控旗下各子公司的營運表現亦十分亮眼，2014年金控稅後淨利達602億元，每股盈餘5.89元，再創金控成立以來的歷史新高！並連續六年穩居台灣金控業獲利龍頭寶座。</p>
										<p>深耕台灣市場的同時，富邦金控也積極進行區域佈局。2014年1月，富邦金控與台北富邦銀行正式取得華一銀行80%控制性股權，並於4月更名為富邦華一銀行，富邦金控成為唯一「在兩岸三地均擁有銀行子行」的台資金融機構，為富邦的大陸佈局跨出歷史性的一大步。</p>
										<p>目前富邦金控已成功打造台灣、香港、大陸三地完整的金融服務平台，業務範疇涵括銀行、保險與資產管理領域。未來也將充分發揮團隊合作精神，持續拓展區域市場業務，共同努力朝「亞洲一流金融機構」願景穩步邁進！</p>
										<h3>獲利、淨值與總資產均創下歷史新高</h3>
										<p>回顧2014年，雖然歐元區、中國及日本經濟表現疲弱，但由於美國經濟擺脫年初暴風雪的負面影響，景氣逐季攀升，帶動台灣出口亮麗表現。出口增長推升企業獲利，提高企業投資、用人意願；隨著就業情況改善，在股市回溫及觀光客來台人數成長影響下，內需消費表現穩健，台灣景氣持續好轉。2014年全年經濟成長率為3.74%，較2013年(2.23%)大幅成長。</p>
										<p>受惠於金控旗下主要子公司均衡且多元的獲利來源，再加上「金控獲利雙引擎」富邦人壽與台北富邦銀行強勁的業績表現帶動金控稅後盈餘及每股盈餘雙雙締造歷史新高。富邦金控2014年全年稅後盈餘達602億元，相較於2013年大幅成長56%，每股盈餘(EPS)為5.89元，連續第六年穩居金控業之首。</p>
										<p>富邦金控2014年資產報酬率(ROA)及股東權益報酬率(ROE)，分別為1.2%及16.07%，淨值達4,080億元，均創下歷史新高。</p>
										<p>在富邦人壽資產快速成長以及富邦華一案的帶動下，富邦金控總資產持續成長。至2014年12月底，富邦金控總資產達5兆4,384億元，較2013年底大幅成長18%，穩居國內第二大上市金控公司。</p>
										<h3>銀行與人壽 金控獲利重要雙引擎</h3>
										<p>富邦金控旗下主要子公司均有優異表現，其中台北富邦銀行與富邦人壽在2014年雙雙創下佳績，兩者合計稅後盈餘佔金控獲利達89%，為金控最重要的獲利雙引擎。</p>
										<p>台北富邦銀行2014年稅後盈餘達182億元，佔金控獲利30%，較2013年成長50%。北富銀核心獲利持續成長，隨著利差回穩，北富銀2014年利息淨收益較2013年成長10%；在財富管理業務成長的帶動下，2014年手續費收入也大幅成長24%。</p>
										<p>富邦人壽2014年稅後盈餘高達354億元，佔金控獲利59%，較2013年大幅成長41%，再度刷新歷史紀錄，亦居壽險同業之冠。強勁的獲利成長來自於多元化投資佈局與出色的投資績效，富邦人壽2014年可運用資金持續成長，總資產近2.8兆元。</p>
										<p>由於彈性調整商品結構及多元化通路銷售等策略奏效，富邦人壽持續穩固保費業績表現。2014年初年度保費收入(First Year Premium)達1,910億元，市佔率為16.3%；總保費收入(Total Premium)達4,250億元，市佔率為15.3%，均穩居市場第二。</p>
										<h3>富邦產險連續33年穩居市場龍頭</h3>
										<p>富邦產險以穩健的核保策略及合宜的成本控制，持續提升核保利潤，自留綜合成本率(Net Combined Ratio)亦維持在優異水準。富邦產險2014年稅後盈餘28億元，2014年直接簽單保費收入(Direct Written Premium)為291.8億元，保費市佔率為22.1%，連續33年穩居產險業龍頭。</p>
										<p>富邦產險大陸子公司富邦財產保險2010年10月在廈門正式開業，是兩岸經濟合作架構協定（ECFA）生效後，第一家進入大陸取得開業許可的台資保險公司。</p>
										<p>秉持「專業來自台灣，在地親切服務」的服務理念，富邦財險積極深耕海西及重慶，並佈局東北遼寧及大連，已設有31個服務據點。2014年富邦財險簽單保費收入為人民幣6.9億元，成長率高達80%，在廈門的市佔率排名第6；在大陸22家外資產險公司中，排名第8。未來富邦財險將聚焦於三省(福建、四川、遼寧)及三市(廈門、重慶、大連)，持續深化在地經營服務的深度與廣度。</p>
										<p>富邦證券2014年稅後盈餘為14億元，核心業務證券經紀及融資業務，皆較2013年穩健成長，現貨市佔率由5.58%提升至5.73%，市場排名第三。積極發展海外複委託業務，2014年複委託總交易量893億元，較2013年成長36%。領先同業結合台灣大哥大推出富邦證券m+ VIP行動加值服務，擴大客源基礎。2014年電子交易自佔率由2013年的42%提升到2014年的48.75%。</p>
										<h3>富邦華一銀行 大陸佈局里程碑</h3>
										<p>2014年4月，華一銀行正式更名為富邦華一銀行。富邦華一銀行與富邦現有的兩岸三地銀行佈局(台灣/香港/大陸)具備高度的互補性，不但是富邦金控佈局大陸市場的里程碑，也是富邦深耕大陸市場的重要金融服務平台。</p>
										<p>富邦華一銀行深耕華東長江三角洲地區、華南珠江三角洲地區及華北環渤海地區等經濟發達地區，共有14個營業網點(3家分行與11家支行)，其中上海地區有9個營業據點(9支行)，其他據點分佈在蘇州(1分行)、深圳(1分行、1支行)、天津(1分行、1支行)。2014年將上海青浦支行搬遷轉型為陸家嘴旗艦支行，並獲准籌建上海長寧支行、上海自貿區支行、南京分行，將於2015年陸續開業。</p>
										<p>富邦華一銀行在2014年致力調整業務結構，重整零售業務體系，推出財富管理與數位分行旗艦行，並成為中國大陸首家發行銀聯借記卡的台資銀行。截至2014年12月底，富邦華一銀行總資產為人民幣616億元，較2013年底增長25%；淨利潤為人民幣4.22億元，較2013年增長52%，均為該行成立以來歷史新高，不良貸款率則降至0.89%。</p>
										<p>2014年香港經濟仍溫和增長，2014年11月推出的滬港通，進一步鞏固了香港作為領先離岸人民幣中心的地位。富邦銀行(香港)於2014年的全年稅後淨利為4.81億港元，較2013年增長27%，為自2008年金融風暴之後的最高稅後淨利。利息淨收益上升12%至8.42億港元，非利息收入上升9%至4.65億港元，營運支出則僅增加7%至8.97億港元；致力對資產質素採取有效的監控，逾放比率維持在0.02%的極低水平。富邦銀行(香港)參股之廈門銀行的業績表現也在2014年保持強勁的增幅，對富邦銀行(香港)之獲利貢獻按年增長27%至1.58億港元。展望2015年，富邦銀行(香港)將推出全新的分行設計及配置，並提升網上理財服務平台，為客戶創造全新的銀行服務體驗。</p>
										<h3>重視風控 資產品質遠優於市場水準</h3>
										<p>在致力拓展金控版圖的同時，富邦金控長期重視風險控管，以維持優於市場平均水準的資產品質以及強健的資本結構。2014年富邦金控的資本適足率(CAR)約達137.36%，遠高於法定的100%。</p>
										<p>為配合金管會強化本國銀行不動產貸款風險承擔能力之政策，不動產貸款備抵呆帳提存比率應至少達1.5%，北富銀已提前於2014年完成增提，已達成金管會之提存要求。</p>
										<p>北富銀2014年底的資本適足率(BIS)達13.11 %，資本強健。隨著放款持續成長，北富銀資產品質仍維持優異的水準，2014年底的逾放比為0.17%，優於業界平均(0.25%)。2014年底北富銀的備抵呆帳覆蓋率高達788.58%，亦遠優於業界平均(516.38%)。</p>
										<p>中華信用評等公司於2014年11月19日發佈的信評報告指出，富邦金控維持長期信用評等「twAA」，短期信用評等「twA-1+」；穆迪信用評等在2014年12月11日最新發佈的評等展望則維持「穩定」。評等結果充分反映富邦金控優於同業之獲利能力與資產品質。</p>
										<p>2014年富邦金控信用評等結果如下表所示：</p>
										<table class="m-table">
											<thead>
												<tr>
													<th rowspan="2" class="b-col-md-2 b-col-sm-2 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-left">評等類別</th>
													<th rowspan="2" class="b-col-md-2 b-col-sm-2 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-left">評等機構</th>
													<th colspan="2" class="b-col-md-4 b-col-sm-4 b-col-xs-6 is-line b-align-md-center b-align-sm-center b-align-xs-left">信用評等等級</th>
													<th rowspan="2" class="b-col-md-2 b-col-sm-2 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-left">展望</th>
													<th rowspan="2" class="b-col-md-2 b-col-sm-2 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-left">生效日期</th>
												</tr>
												<tr class="is-bgcolor">
													<th class="b-col-md-2 b-col-sm-2 b-col-xs-6 is-line b-align-md-center b-align-sm-center b-align-xs-left">長期</th>
													<th class="b-col-md-2 b-col-sm-2 b-col-xs-6 is-line b-align-md-center b-align-sm-center b-align-xs-left">短期</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="評等類別"><em>國際評等</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="評等機構"><em>標準普爾</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="信用評等等級長期"><em>BBB+</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="信用評等等級短期"><em>A-2</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="展望"><em>Stable</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="生效日期"><em>2013/11/13</em></td>
												</tr>
												<tr class="is-bgcolor">
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="評等類別"><em>國際評等</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="評等機構"><em>穆迪信用評等</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="信用評等等級長期"><em>Baa1</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="信用評等等級短期"><em></em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="展望"><em>Stable</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="生效日期"><em>2013/08/09</em></td>
												</tr>
												<tr>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="評等類別"><em>國際評等</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="評等機構"><em>中華信用評等</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="信用評等等級長期"><em>twAA</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="信用評等等級短期"><em>twA-1+</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="展望"><em>穩定</em></td>
													<td class="b-align-md-center b-align-sm-center b-align-xs-left" data-label="生效日期"><em>2013/11/14</em></td>
												</tr>
											</tbody>
										</table>
										<h3>公司治理典範   五度榮獲金控業標竿龍頭殊榮</h3>
										<p>2014年富邦金控第五度榮登《天下》雜誌「最佳聲望標竿企業」金控產業龍頭，連續三年躋身「跨產業總排行」前十名，2014年在跨產業總排行更上升至第六名。《天下》雜誌表示，富邦金控在銀行、保險、證券三大金融業務發展完整，並持續引進專業經理人、廣納人才，因此第五度榮登「最佳聲望標竿企業」金控業龍頭。同時，《今周刊》2014年金控整體經營績效總評比，富邦金控亦榮獲第一名。</p>
										<p>富邦金控長期致力提升公司治理，不但是台灣第一家引進獨立董事制度的上市公司，也是第一家獨立董事比重達三分之一的金融機構，創下公司治理新典範。2014年，富邦金控及旗下子公司台北富邦銀行、富邦產險及富邦人壽同步通過中華公司治理協會所推動之「CG6009公司治理制度評量認證」，也是唯一一家金控率三家子公司共同通過「進階版認證」之金融機構，充分顯示富邦金控致力提升公司治理的決心與努力。</p>
										<p>2009年至2014年，富邦金控連續六年榮獲《亞洲公司治理(Corporate Governance Asia)》雜誌頒發「亞洲地區最佳公司治理」殊榮。富邦金控董事長蔡明忠2010年至2014年連續五年榮獲《亞洲公司治理》雜誌頒發「亞洲企業領袖成就獎」，以表彰其落實公司治理、企業社會責任、環境保護等相關議題的貢獻。</p>
										<p>資訊透明化亦是公司治理重要的一環，富邦金控長期經營投資人關係，自2011年起，亦連續四年獲得《亞洲公司治理》雜誌評選為「台灣最佳投資人關係」。</p>
										<p>同時，富邦金控致力落實企業社會責任，亦深受國內外重要媒體肯定。多年來穩居《天下》雜誌「天下企業公民獎」大型企業組前十名。至2014年，富邦金控已連續四年獲《亞洲公司治理》雜誌頒發「台灣最佳企業社會責任」獎項，亦連續四年獲《財資(The Asset)》雜誌評選為「公司治理白金獎」。2014年亦榮獲《財訊》雜誌第五屆消費者金融品牌暨金控CSR大獎評選為金控CSR優等獎，《數位時代》雜誌頒發「綠色品牌大調查」金融服務業特優。</p>
										<h3>子公司傑出表現 屢獲大獎肯定</h3>
										<p>富邦金控旗下各子公司的卓越表現，在2014年也屢獲國內外財經媒體的肯定。</p>
										<p>2014年北富銀榮獲《亞洲貨幣(Asiamoney)》雜誌評選為「台灣最佳本國私人銀行」、「企業票選台灣最佳外匯服務銀行」及「大型企業票選台灣最佳現金管理銀行」等3項大獎、《金融亞洲(FinanceAsia)》雜誌評選為「台灣最佳外匯交易銀行」、《財資》雜誌頒發「台灣最佳私人銀行」等5項殊榮。隨著個資運用備受客戶重視，北富銀在2014年通過英國標準協會(BSI)BS10012：2009個人資訊管理制度認證，而高品質的服務讓北富銀在2014年榮獲《遠見》雜誌「服務業大調查」金融銀行類第二名，以及《今周刊》第八屆財富管理銀行評鑑最佳服務獎等大獎。</p>
										<p>2014年富邦人壽第三度獲得《世界金融(World Finance)》雜誌評選為台灣最佳保險公司，2014年榮獲《天下》雜誌「最佳聲望標竿企業」保險業第二名、「金牌服務業調查」人壽保險業第一名，同時亦獲得「2014保險信望愛獎」包括「最佳保險專業獎」等8項大獎肯定以及《現代保險》雜誌保險龍鳳獎6項殊榮。</p>
										<p>富邦產險導入個人資訊管理制度，並取得英國標準協會(BSI)BS10012：2009個人資訊管理制度認證及SGS台灣檢驗科技(股)公司的個資法規遵循性查核，並榮獲《亞洲保險論壇(Asia Insurance Review) 》及共同主辦單位Celent頒發「亞洲保險科技獎」創新獎，「2014保險信望愛獎」包括「最佳保險專業獎」等7項大獎。</p>
										<p>富邦證券2014年獲台灣證券交易所頒發「證券商活絡經濟獎」IPO籌資金額第一名、權證發行檔數最佳進步獎，以及《財訊》雜誌消費者金融品牌調查「最佳券商」、「最佳服務」、「最佳形象」優等獎等3項殊榮。</p>
										<h3>四大基金會公益平台 善盡企業社會責任</h3>
										<p>富邦集團故總裁蔡萬才先生畢生堅守「取之於社會，用之於社會」的公益理念，回饋社會。多年來，富邦金控透過集團四大基金會為公益平台，投入不同領域的公益活動，長期實踐企業社會責任。同時，亦成立「愛心志工社」、推出「公益假」制度，鼓勵員工積極參與公益活動，發揮企業資源整合綜效，創造社會共好。</p>
										<p>富邦慈善基金會2014年「用愛心做朋友」助學活動，總計各界捐款金額逾1.15億元，共計助學15,974位學生。富邦文教基金會自2012年起與台北富邦銀行合作推動《希望小富翁 前進校園計畫》，2014年由富邦金控總經理許婉美以及北富銀主管們擔任講師，搭配《富邦勇者傳說》動畫及理財手冊，前進54所小學，教導健康金錢觀和正確理財概念，總受益數逾7,000人。</p>
										<p>富邦藝術基金會致力於「藝術生活化，生活藝術化」，東區當代藝術展《粉樂町》已開辦九年，以「無牆美術館」方式讓藝術品與市民共享。邁入第14年的《富邦講堂》，累計邀請685位國內外講師，超過95,000會員，17萬人次參與，舉辦1,700堂生活美學課程。台北富邦銀行公益慈善基金會則長期推動關懷銀髮長者、身心障礙者才藝獎、協助經濟弱勢者脫貧等公益專案。</p>
										<h3>深耕台灣 佈局區域市場</h3>
										<p>展望2015年，全球經濟將呈現緩步復甦，需求不振加上原物料價格大幅下挫，使部份國家通縮疑慮惡化，迫使各國央行擴大實施寬鬆貨幣政策。主要經濟體在經濟表現及貨幣政策出現明顯分歧，使市場波動風險加大，為景氣發展帶來不確定因素。受惠於美國經濟好轉、中國經濟回穩及國際原油價格下跌而加速台灣經濟成長，2015年經濟展望較2014年更佳。</p>
										<p>2015年富邦金控主要子公司之發展策略，重點如下：</p>
										<p>(一)富邦人壽：強化年金險、醫療險及長期照護等保險商品銷售，開發新型態退休規劃商品，提供客戶全面之退休規劃商品與服務。推動連結債券配息基金之年金保單、全權委託投資帳戶及月配息投資型保單，提供客戶多元化商品選擇。推動全國區域發展戰略，由側重都會型發展蛻變為遍佈全國均衡發展之壽險公司。啟動雲端服務平台，擴大雲端服務範疇。隨著金管會開放網路投保，將積極發展數位創新服務。越南子公司持續推動新商品，提升業務品質；大陸子公司各項籌設準備工作仍持續進行，並同步進行香港子公司籌設工作，在取得主管機關核准後，進軍香港壽險市場。</p>
										<p>(二)台北富邦銀行：加速海外據點佈建，擴張海外分行業務，建立區域及產業矩陣；持續開發中小企業客群，增加中小企業資產規模比重。持續推展新種貿易融資業務，積極佈局人民幣相關業務，加速建立人民幣營運量規模。擴增人民幣商品之報價範圍及能力，發展台外幣債券交易，並分散配置各幣別部位，使獲利來源均衡發展。因應主管機關積極推動Bank 3.0線上業務，擴大網路銀行/行動銀行的服務功能與業務範疇。推動虛實平台整合，發揮個金全功能分行優勢。</p>
										<p>(三)富邦銀行(香港)：強化業務團隊，提供高效及訂製的金融服務，積極開發新客戶並深耕與現有客戶之關係往來。爭取優質銀團貸款，為客戶提供金融市場產品及人民幣相關服務。隨著私人貸款中心的成立，積極發展私人貸款業務。加強交叉銷售，推動銀行整體收益。</p>
										<p>(四)富邦華一銀行：繼續以台商主體客戶為基礎，在中國大陸政策扶持的重點產業領域，以跨境金融服務、金融行銷業務(TMU)、貿易融資、銀團及同業業務拓展本地客戶，擴大市場份額；加強流動性管理，嚴控風險；積極進行機構建設及牌照申請。實踐企業社會責任，通過成立富邦華一公益基金會，幫助弱勢，在中國大陸市場傳播富邦正能量。</p>
										<p>(五)富邦產險：強化運用行動業務與行動理賠服務平台，提升數位化服務競爭力；推動網路投保業務，開發網路創新商品。企業保險則以穩固市場費率為主，妥善運用再保險，分散巨災風險；與國際災後復原技術公司合作，引進災後復原技術，協助客戶更快速從災害中復原。大陸子公司富邦財險將審慎核保爭取良質業務；越南富邦產險提升個人保險業務規模，降低企業保險業務比重，控制經營風險。</p>
										<p>(六)富邦證券：規劃營業員轉型為全方位理財顧問，積極發展財管信託及國際證券業務分公司(OSU)；精進電子交易平台，提升電子交易業績佔比。提供優質核心客戶資本市場整體性規劃服務，成為客戶的長期策略夥伴。大中華區之佈局，擬透過申請參股徽商期貨，並待法規進一步開放後，規劃設立大陸合資證券子公司，朝大中華區一流券商的目標邁進。</p>
										<p>展望2015年，富邦金控旗下子公司將持續發揮組織綜效、整合資源，以提供客戶更多元的產品與更優質的服務，深耕台灣市場。同時，富邦金控也將積極進行區域佈局，拓展區域市場業務，朝「亞洲一流金融機構」的目標邁進。</p>
										<p class="b-align-md-right b-align-sm-right b-align-xs-right">富邦金控董事長<br>富邦金控副董事長</p>
									</div>
								</main>
							</article>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
				<!-- ==================== l-side begin =================== -->
				<div class="l-side">
					<aside class="m-aside m-aside-accordion ng-aside-accordion" ng-class="{'is-selected' : Common.Aside.Selected}">
						<header class="m-aside-hd">
							<button class="ng-cloak ng-aside-select">
								{{ Common.Aside.Toggle.Text }}
								<span class="m-icon-stack m-icon-toggle">
									<i class="m-icon m-icon-arrow-angle-down"></i>
									<i class="m-icon m-icon-arrow-angle-up"></i>
								</span>
							</button>
						</header>
						<main class="m-aside-bd">
							<ul id="aside-item" class="ng-aside-accordion-item">
								<li data-channel="status">
									<h6>
										<a href="../../Views/governance/status.html" class="b-middle">
											<em>公司治理現況</em>
										</a>
									</h6>
								</li>
								<li data-channel="framework">
									<h6>
										<a href="../../Views/governance/framework.html" class="b-middle">
											<em>公司治理架構</em>
										</a>
									</h6>
								</li>
								<li data-channel="operation">
									<h6>
										<a href="../../Views/governance/operation.html" class="b-middle">
											<em>公司治理運作情形</em>
										</a>
									</h6>
								</li>
								<li>
									<h6>
										<a href="javascript:;" class="b-middle">
											<em>股東會</em>
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
									</h6>
									<div>
										<ul>
											<li data-channel="letter">
												<a href="../../Views/governance/letter.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>致股東報告書</em>
												</a>
											</li>
											<li data-channel="shareholders">
												<a href="../../Views/governance/shareholders.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>股東會資訊</em>
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<h6>
										<a href="javascript:;" class="b-middle">
											<em>董事會</em>
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
									</h6>
									<div>
										<ul>
											<li data-channel="board_of_directors">
												<a href="../../Views/governance/board_of_directors.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>董事會成員</em>
												</a>
											</li>
											<li data-channel="election">
												<a href="../../Views/governance/election.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>獨立董事選任資訊</em>
												</a>
											</li>
											<li>
												<a href="http://mops.twse.com.tw/mops/web/t93sc03_1" target="_blank">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>董事會出席情形</em>
												</a>
											</li>
											<li data-channel="resolutions">
												<a href="../../Views/governance/resolutions.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>董事會重要決議</em>
												</a>
											</li>
											<li data-channel="rules">
												<a href="../../Views/governance/rules.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>董事會議事規範</em>
												</a>
											</li>
											<li data-channel="study">
												<a href="../../Views/governance/study.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>董事進修</em>
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li data-channel="committee">
									<h6>
										<a href="../../Views/governance/committee.html" class="b-middle">
											<em>功能性委員會</em>
										</a>
									</h6>
								</li>
								<li data-channel="organization">
									<h6>
										<a href="../../Views/governance/organization.html" class="b-middle">
											<em>內部稽核組織及運作</em>
										</a>
									</h6>
								</li>
								<li data-channel="regulation">
									<h6>
										<a href="../../Views/governance/regulation.html" class="b-middle">
											<em>公司重要章則</em>
										</a>
									</h6>
								</li>
								<li>
									<h6>
										<a href="javascript:;" class="b-middle">
											<em>獨立董事信箱</em>
										</a>
									</h6>
								</li>
							</ul>
						</main>
					</aside>
				</div>
				<!-- ==================== l-side end =================== -->

				<!-- ==================== top botton begin =================== -->
				<button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button>
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer b-clearfix">
			<footer class="m-footer">
				<div class="m-footer-hd">
					<div class="m-button-group is-inline-block">
						<button type="button" class="m-button m-button-sitemap ng-sitemap">
							網站導覽
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-up is-hide" ng-class="{'is-hide' : ! Common.Footer.Sitemap.Click}"></i>
								<i class="m-icon m-icon-arrow-angle-down" ng-class="{'is-hide' : Common.Footer.Sitemap.Click}"></i>
							</span>
						</button>
					</div>
					<div class="m-sitemap" ng-class="{'is-show' : Common.Footer.Sitemap.Click}">
						<div class="m-sitemap-bd b-row">
							<ul>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/about/info.html">關於富邦金控</a></li>
										<li><a href="../../Views/about/info.html">富邦金控簡介</a></li>
										<li><a href="../../Views/about/business_philosophy.html">核心價值</a></li>
										<li><a href="../../Views/about/team.html">經營團隊</a></li>
										<li><a href="../../Views/about/sub.html">金控子公司成員</a></li>
										<li><a href="../../Views/about/honor.html">專業殊榮</a></li>
										<li><a href="../../Views/about/milestone.html">大事紀</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/story/future.html">品牌故事</a></li>
										<li><a href="../../Views/story/future.html">延續傳承 走向未來</a></li>
										<li><a href="../../Views/story/positive.html">正向的力量</a></li>
										<li><a href="../../Views/story/identity.html">富邦品牌標誌</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/csr/chairmans_messages.html">企業社會責任</a></li>
										<li><a href="../../Views/csr/chairmans_messages.html">董事長的話</a></li>
										<li><a href="../../Views/csr/sustainable_operations.html">永續經營</a></li>
										<li><a href="../../Views/csr/corporate_governance.html">公司治理</a></li>
										<li><a href="../../Views/csr/commitment.html">客戶承諾</a></li>
										<li><a href="../../Views/csr/carehtml">員工關懷</a></li>
										<li><a href="../../Views/csr/core_competencies.html">核心職能</a></li>
										<li><a href="../../Views/csr/green.html">綠色金融</a></li>
										<li><a href="../../Views/csr/foundation.html">基金會</a></li>
										<li><a href="../../Views/csr/sponsorship.html">體育贊助</a></li>
										<li><a href="../../Views/csr/stakeholders.html">利害關係人專區</a></li>
										<li><a href="../../Views/csr/contact.html">聯絡我們</a></li>
										<li><a href="../../Views/csr/news.html">最新消息</a></li>
										<li><a href="../../Views/csr/media.html">影音專區</a></li>
										<li><a href="../../Views/csr/downloadlist.html">企業社會責任報告下載</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/ir/overview.html">投資人關係</a></li>
										<li><a href="../../Views/ir/overview.html">公司概況</a></li>
										<li><a href="../../Views/ir/financial.html">財務資訊</a></li>
										<li><a href="../../Views/ir/shareholder-Services.html">股務資訊</a></li>
										<li><a href="../../Views/ir/announcements.html">活動與公告</a></li>
										<li><a href="../../Views/ir/contact.html">聯絡我們</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/governance/status.html">公司治理</a></li>
										<li><a href="../../Views/governance/status.html">公司治理現況</a></li>
										<li><a href="../../Views/governance/framework.html">公司治理架構</a></li>
										<li><a href="../../Views/governance/operation.html">公司治理運作情形</a></li>
										<li><a href="../../Views/governance/shareholders.html">股東會</a></li>
										<li><a href="../../Views/governance/board_of_directors.html">董事會</a></li>
										<li><a href="../../Views/governance/committee.html">功能性委員會</a></li>
										<li><a href="../../Views/governance/organization.html">內部稽核組織及運作</a></li>
										<li><a href="../../Views/governance/regulation.html">公司重要章則</a></li>
										<li><a href="../../Views/governance/mail.html">獨立董事信箱</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/news/list.html">新聞中心</a></li>
									</ul>
								</li>	
							</ul>
						</div>
					</div>
				</div>
				<ul class="m-footer-bd b-clearfix">
					<li><a href="../../Views/hr/jobs.html">人才招募</a></li>
					<li><a href="../../Views/announcement/announcement.html">法定揭露事項</a></li>
					<li><a href="../../Views/location/location_tw.html">海內外服務據點</a></li>
					<li><a href="../../Views/privacy_policy/privacy.html">隱私權聲明</a></li>
					<li><a href="../../Views/consumer_protection/consumer_protection.html">消費者保護</a></li>
					<li><a href="../../Views/service/contact.html">服務中心</a></li>
					<li><a href="../../Views/epaper/list.html">富邦理財電子報</a></li>
				</ul>
				<small class="m-footer-ft">© 富邦金融控股股份有限公司</small>
			</footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->

	<!-- ==================== l-nav begin =================== -->
	<nav class="l-nav" ng-class="{'is-animate' : Common.Nav.Mobile.Click}">
		<div class="m-nav ng-nav" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
			<ul class="b-clearfix ng-nav-item">
				<li class="b-middle">
					<a href="../../Views/about/info.html">
						<em>關於富邦金控</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/about/info.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦金控簡介</em></a></li>
							<li><a href="../../Views/about/business_philosophy.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心價值</em></a></li>
							<li><a href="../../Views/about/team.html"><i class="m-icon m-icon-nav-arrow"></i><em>經營團隊</em></a></li>
							<li><a href="../../Views/about/sub.html"><i class="m-icon m-icon-nav-arrow"></i><em>金控子公司成員</em></a></li>
							<li><a href="../../Views/about/honor.html"><i class="m-icon m-icon-nav-arrow"></i><em>專業殊榮</em></a></li>
							<li><a href="../../Views/about/milestone.html"><i class="m-icon m-icon-nav-arrow"></i><em>大事記</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle">
					<a href="../../Views/story/future.html">
						<em>品牌故事</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/story/future.html"><i class="m-icon m-icon-nav-arrow"></i><em>延續傳承 走向未來</em></a></li>
							<li><a href="../../Views/story/positive.html"><i class="m-icon m-icon-nav-arrow"></i><em>正向的力量</em></a></li>
							<li><a href="../../Views/story/identity.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦品牌標誌</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle">
					<a href="../../Views/csr/chairmans_messages.html">
						<em>企業社會責任</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/csr/chairmans_messages.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事長的話</em></a></li>
							<li><a href="../../Views/csr/sustainable_operations.html"><i class="m-icon m-icon-nav-arrow"></i><em>永續經營</em></a></li>
							<li><a href="../../Views/csr/corporate_governance.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理</em></a></li>
							<li><a href="../../Views/csr/commitment.html"><i class="m-icon m-icon-nav-arrow"></i><em>客戶承諾</em></a></li>
							<li><a href="../../Views/csr/care.html"><i class="m-icon m-icon-nav-arrow"></i><em>員工關懷</em></a></li>
							<li><a href="../../Views/csr/core_competencies.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心職能</em></a></li>
							<li><a href="../../Views/csr/green.html"><i class="m-icon m-icon-nav-arrow"></i><em>綠色金融</em></a></li>
							<li><a href="../../Views/csr/foundation.html"><i class="m-icon m-icon-nav-arrow"></i><em>基金會</em></a></li>
							<li><a href="../../Views/csr/sponsorship.html"><i class="m-icon m-icon-nav-arrow"></i><em>體育贊助</em></a></li>
							<li><a href="../../Views/csr/stakeholders.html"><i class="m-icon m-icon-nav-arrow"></i><em>利害關係人專區</em></a></li>
							<li><a href="../../Views/csr/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
							<li><a href="../../Views/csr/news.html"><i class="m-icon m-icon-nav-arrow"></i><em>最新消息</em></a></li>
							<li><a href="../../Views/csr/media.html"><i class="m-icon m-icon-nav-arrow"></i><em>影音專區</em></a></li>
							<li><a href="../../Views/csr/downloadlist.html"><i class="m-icon m-icon-nav-arrow"></i><em>企業社會責任報告下載</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle">
					<a href="../../Views/ir/overview.html">
						<em>投資人關係</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/ir/overview.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司概況</em></a></li>
							<li><a href="../../Views/ir/financial.html"><i class="m-icon m-icon-nav-arrow"></i><em>財務資訊</em></a></li>
							<li><a href="../../Views/ir/shareholder_services.html"><i class="m-icon m-icon-nav-arrow"></i><em>股務資訊</em></a></li>
							<li><a href="../../Views/ir/announcements.html"><i class="m-icon m-icon-nav-arrow"></i><em>活動與公告</em></a></li>
							<li><a href="../../Views/ir/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle">
					<a href="../../Views/governance/status.html">
						<em>公司治理</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/governance/status.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理現況</em></a></li>
							<li><a href="../../Views/governance/framework.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理架構</em></a></li>
							<li><a href="../../Views/governance/operation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理運作情形</em></a></li>
							<li><a href="../../Views/governance/letter.html"><i class="m-icon m-icon-nav-arrow"></i><em>股東會</em></a></li>
							<li><a href="../../Views/governance/board_of_directors.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事會</em></a></li>
							<li><a href="../../Views/governance/committee.html"><i class="m-icon m-icon-nav-arrow"></i><em>功能性委員會</em></a></li>
							<li><a href="../../Views/governance/organization.html"><i class="m-icon m-icon-nav-arrow"></i><em>內部稽核組織及運作</em></a></li>
							<li><a href="../../Views/governance/regulation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司重要章則</em></a></li>
							<li><a href="../../Views/governance/mail.html"><i class="m-icon m-icon-nav-arrow"></i><em>獨立董事信箱</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle">
					<a href="../../Views/news/list.html">
						<em>新聞中心</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
				</li>
			</ul>
			<span class="m-nav-bar" ng-class="{'is-show' : Common.Nav.Bar.Hover}" ng-style="{'left' : Common.Nav.Bar.Left , 'width' : Common.Nav.Bar.Width}"></span>
			<div class="m-nav-path ng-nav-path" ng-style="{'top' : Common.Nav.Path.Top , 'height' : Common.Nav.Path.Height}">
				<ul>
					<li ng-style="{'height' : Common.Nav.Path.Height}">
						<a href="javascript:;" class="ng-path">
							服務捷徑
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<!--[if lt IE 10]><span></span><![endif]-->
						<div>
							<ul>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>台北富邦銀行</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦銀行(香港)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦華一銀行(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦財險(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦證券</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投信</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦期貨</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投顧</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦行銷 | 富昇保代</a></li>
							</ul>	
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- ==================== l-nav end =================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular/angular.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/common.js?JS=20150630_01"></script>
<!-- master page include scripts end -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="../../Scripts/js/governance/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>