<!DOCTYPE HTML>
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-公司治理-公司治理現況</title>
	<link rel="canonical" href="" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="../../Content/css/governance/status.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				<div class="m-header-logo b-clearfix b-middle">
					<button class="m-button m-button-navicon ng-navicon"><i class="m-icon m-icon-navicon"></i></button>
					<a href="../../Views/home/index.html" class="m-icon-stack m-icon-fubon-group">
						<i class="m-icon m-icon-fubon-blue is-absolute"></i>
						<i class="m-icon m-icon-fubon-green"></i>
						<i class="m-icon m-icon-fubon-text"></i>
					</a>
					<div class="m-header-company">
						<h1>富邦金控</h1>
					</div>
				</div>
				<ul class="m-header-tools">
					<li class="b-middle"><a href="../../eng/">EN</a></li>
					<li class="m-header-search b-middle" ng-class="{'is-open' : Common.Search.Click}">
						<a href="../../Views/search/search.html?k={{ Common.Search.Value }}" class="m-button m-button-search ng-search"><i class="m-icon m-icon-search"></i></a>
						<div class="m-form-group m-form-search">
							<input type="search" class="m-form m-form-control ng-search-result" ng-model="Common.Search.Value" />
						</div>
					</li>
				</ul>
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main status-content ng-controller" ng-controller="Governance">
			<!-- ==================== l-main-hd begin =================== -->
			<header class="l-main-hd b-clearfix">
				<div class="m-media ng-image-load">
					<div class="b-loading">
						<span class="m-icon-stack">
							<i class="m-icon m-icon-fubon-blue is-absolute"></i>
							<i class="m-icon m-icon-fubon-green"></i>
						</span>
					</div>
					<figure class="m-media-item">
						<img ng-src="../../Content/img/governance/kv.jpg" alt="富邦金控-公司治理">
					</figure>
					<ul class="m-media-tools is-right-top b-middle">
						<li><a href="javascript:;"><i class="m-icon m-icon-m-plus"></i></a></li>
						<li>
							<a href="javascript:;">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-youtube-you is-absolute"></i>
									<i class="m-icon m-icon-youtube-tube"></i>
								</span>
							</a>
						</li>
						<li><a href="javascript:;"><i class="m-icon m-icon-facebook-official"></i></a></li>
					</ul>
				</div>
			</header>
			<!-- ==================== l-main-hd end =================== -->

			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd is-content-left b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-breadcrumb begin =================== -->
					<ol class="m-breadcrumb b-clearfix">
						<li>
							<a href="../../Views/home/index.html"><i class="m-icon m-icon-home"></i></a>
						</li>
						<li>
							<a href="../../Views/governance/letter.html">公司治理</a>
						</li>
						<li>
							<em>公司治理現況</em>
						</li>
					</ol>
					<!-- ==================== m-breadcrumb end =================== -->

					<!-- ==================== m-section begin =================== -->
					<section class="m-section">
						<header class="m-section-hd is-col b-clearfix">
							<h2>公司治理現況</h2>
						</header>
						<main class="m-section-bd b-clearfix">
							<article class="m-article is-titles">
								<main class="m-article-bd b-clearfix">
									<div class="m-article-data">
										<p>富邦金控在公司治理方面的努力，多年來屢獲國內外知名財經媒體肯定，至2014年，《天下》雜誌第五度評選富邦金控為「最佳聲望標竿企業」金控產業龍頭，並連續三年蟬聯「跨產業總排名」前十名，2014年總排名更上升至第六名。《亞洲公司治理(Corporate Governance Asia)》雜誌連續六年頒發「亞洲地區最佳公司治理獎」，《財資(The Asset)》雜誌連續四年頒發「公司治理白金獎」。</p>
										<p>爲有效檢視公司治理制度之落實，富邦金控暨旗下主要子公司自 2009年起持續參加由社團法人中華公司治理協會舉辦之「公司治理制度評量認證」，並連續四屆通過認證，顯示富邦金控致力提升公司治理的決心與努力。</p>
										<ul class="m-icon-stack m-icon-border b-row b-clearfix">
											<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-right b-align-sm-right b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-banner m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
															<em>第五度</em>
														</span>	
													</div>
													<p>天下雜誌<br />最佳聲望標竿企業</p>
												</div>
											</li>
											<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-stock  m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
															<em>連續六年</em>
														</span>	
													</div>
													<p>亞洲公司治理<br />(Corporate Governance Asia)<br />亞洲地區最佳公司治理獎</p>
												</div>
											</li>
											<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-left b-align-sm-left b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-badge-o  m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
															<em>連續四年</em>
														</span>	
													</div>
													<p>財資 (The Asset)<br />公司治理白金獎</p>
												</div>
											</li>
										</ul>
										<p>富邦金控不僅為第一家引進獨立董事制度的上市公司，更是第一家獨立董事席次達三分之一的金融機構。為求公司治理品質之精進，2011年股東常會率業界之先，採逐案票決方式進行議案表決，使股東對議案之意見得充分表達。為維護股東權益、公平對待公司股東，並落實強化董事提名審查作業之透明度，本公司於2014年新一屆董事選任，採用全體董事候選人提名制度進行全面改選，並順利選任13席董事(外部董事席次過半)。為使獨立董事客觀行使職權，避免因久任降低獨立性，改選後實際在任之獨立董事任期皆未超過九年。</p>
										<p>富邦金控為強化管理機能，於董事會下設有「審計委員會」、「薪資報酬委員會」及「公司治理委員會」三功能性委員會。「審計委員會」依法由全體獨立董事組成，除依法審議各類案件外，也特別重視子/孫公司的風險管理與督導，以達監督集團內各項風險之目的。「薪資報酬委員會」亦由本公司全體獨立董事組成，協助董事會訂定並檢討評估本公司董事及經理人績效評估與薪資報酬之政策、制度、標準與結構，定期評估並訂定本公司董事及經理人之薪資報酬。「公司治理委員會」之成員除全體獨立董事外尚包含本公司最大股東明東實業及臺北市政府之法人代表各1位，其功能除包含當前公司治理致力倡導「提名委員會」之協助董事會完成全體董事候選人提名相關作業外，並致力於向董事會建議組織運作及管理等事宜，以強化董事會職能。</p>
										<ul class="m-icon-stack m-icon-border b-row b-clearfix">
											<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-right b-align-sm-right b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-contact-book m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>公司治理委員會</p>
												</div>
											</li>
											<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-center b-align-sm-center b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-note-search m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>審計委員會</p>
												</div>
											</li>
											<li class="b-col-md-4 b-col-sm-4 b-col-xs-6 b-align-md-left b-align-sm-left b-align-xs-center">
												<div class="m-icon-border-item">
													<div class="b-middle">
														<span>
															<i class="m-icon m-icon-identity-card m-icon-size-md-3 m-icon-size-sm-3 m-icon-size-xs-3"></i>
														</span>	
													</div>
													<p>薪資報酬委員會</p>
												</div>
											</li>
										</ul>
										<p>富邦金控基於廉潔、透明及負責之經營理念，樹立誠信經營之企業文化及創造永續發展之經營環境，先於 1996年通過「道德行為準則」之制定，更於 2011年通過制定「誠信經營守則」及「企業社會責任守則」，朝向落實企業誠信經營、建立良好商業運作模式及風險控管機制、推動社會公益等目標持續邁進。</p>
									</div>
								</main>
							</article>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
				<!-- ==================== l-side begin =================== -->
				<div class="l-side">
					<aside class="m-aside m-aside-accordion ng-aside-accordion" ng-class="{'is-selected' : Common.Aside.Selected}">
						<header class="m-aside-hd">
							<button class="ng-cloak ng-aside-select">
								{{ Common.Aside.Toggle.Text }}
								<span class="m-icon-stack m-icon-toggle">
									<i class="m-icon m-icon-arrow-angle-down"></i>
									<i class="m-icon m-icon-arrow-angle-up"></i>
								</span>
							</button>
						</header>
						<main class="m-aside-bd">
							<ul id="aside-item" class="ng-aside-accordion-item">
								<li data-channel="status">
									<h6>
										<a href="../../Views/governance/status.html" class="b-middle">
											<em>公司治理現況</em>
										</a>
									</h6>
								</li>
								<li data-channel="framework">
									<h6>
										<a href="../../Views/governance/framework.html" class="b-middle">
											<em>公司治理架構</em>
										</a>
									</h6>
								</li>
								<li data-channel="operation">
									<h6>
										<a href="../../Views/governance/operation.html" class="b-middle">
											<em>公司治理運作情形</em>
										</a>
									</h6>
								</li>
								<li>
									<h6>
										<a href="javascript:;" class="b-middle">
											<em>股東會</em>
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
									</h6>
									<div>
										<ul>
											<li data-channel="letter">
												<a href="../../Views/governance/letter.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>致股東報告書</em>
												</a>
											</li>
											<li data-channel="shareholders">
												<a href="../../Views/governance/shareholders.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>股東會資訊</em>
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<h6>
										<a href="javascript:;" class="b-middle">
											<em>董事會</em>
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
									</h6>
									<div>
										<ul>
											<li data-channel="board_of_directors">
												<a href="../../Views/governance/board_of_directors.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>董事會成員</em>
												</a>
											</li>
											<li data-channel="election">
												<a href="../../Views/governance/election.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>獨立董事選任資訊</em>
												</a>
											</li>
											<li data-channel="attendance">
												<a href="../../Views/governance/attendance.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>董事會出席情形</em>
												</a>
											</li>
											<li data-channel="resolutions">
												<a href="../../Views/governance/resolutions.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>董事會重要決議</em>
												</a>
											</li>
											<li data-channel="rules">
												<a href="../../Views/governance/rules.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>董事會議事規範</em>
												</a>
											</li>
											<li data-channel="study">
												<a href="../../Views/governance/study.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>董事進修</em>
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li data-channel="committee">
									<h6>
										<a href="../../Views/governance/committee.html" class="b-middle">
											<em>功能性委員會</em>
										</a>
									</h6>
								</li>
								<li data-channel="organization">
									<h6>
										<a href="../../Views/governance/organization.html" class="b-middle">
											<em>內部稽核組織及運作</em>
										</a>
									</h6>
								</li>
								<li data-channel="regulation">
									<h6>
										<a href="../../Views/governance/regulation.html" class="b-middle">
											<em>公司重要章則</em>
										</a>
									</h6>
								</li>
								<li>
									<h6>
										<a href="javascript:;" class="b-middle">
											<em>獨立董事信箱</em>
										</a>
									</h6>
								</li>
							</ul>
						</main>
					</aside>
				</div>
				<!-- ==================== l-side end =================== -->

				<!-- ==================== top botton begin =================== -->
				<button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button>
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer b-clearfix">
			<footer class="m-footer">
				<div class="m-footer-hd">
					<div class="m-button-group">
						<button type="button" class="m-button m-button-sitemap ng-sitemap">
							網站導覽
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-up is-hide" ng-class="{'is-hide' : ! Common.Footer.Sitemap.Click}"></i>
								<i class="m-icon m-icon-arrow-angle-down" ng-class="{'is-hide' : Common.Footer.Sitemap.Click}"></i>
							</span>
						</button>
					</div>
					<div class="m-sitemap" ng-class="{'is-show' : Common.Footer.Sitemap.Click}">
						<div class="m-sitemap-bd b-row">
							<ul>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/about/info.html">關於富邦金控</a></li>
										<li><a href="../../Views/about/info.html">富邦金控簡介</a></li>
										<li><a href="../../Views/about/business_philosophy.html">核心價值</a></li>
										<li><a href="../../Views/about/team.html">經營團隊</a></li>
										<li><a href="../../Views/about/sub.html">金控子公司成員</a></li>
										<li><a href="../../Views/about/honor.html">專業殊榮</a></li>
										<li><a href="../../Views/about/milestone.html">大事紀</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/story/future.html">品牌故事</a></li>
										<li><a href="../../Views/story/future.html">延續傳承 走向未來</a></li>
										<li><a href="../../Views/story/positive.html">正向的力量</a></li>
										<li><a href="../../Views/story/identity.html">富邦品牌標誌</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/csr/chairmans_messages.html">企業社會責任</a></li>
										<li><a href="../../Views/csr/chairmans_messages.html">董事長的話</a></li>
										<li><a href="../../Views/csr/sustainable_operations.html">永續經營</a></li>
										<li><a href="../../Views/csr/corporate_governance.html">公司治理</a></li>
										<li><a href="../../Views/csr/commitment.html">客戶承諾</a></li>
										<li><a href="../../Views/csr/carehtml">員工關懷</a></li>
										<li><a href="../../Views/csr/core_competencies.html">核心職能</a></li>
										<li><a href="../../Views/csr/green.html">綠色金融</a></li>
										<li><a href="../../Views/csr/foundation.html">基金會</a></li>
										<li><a href="../../Views/csr/sponsorship.html">體育贊助</a></li>
										<li><a href="../../Views/csr/stakeholders.html">利害關係人專區</a></li>
										<li><a href="../../Views/csr/contact.html">聯絡我們</a></li>
										<li><a href="../../Views/csr/news.html">最新消息</a></li>
										<li><a href="../../Views/csr/media.html">影音專區</a></li>
										<li><a href="../../Views/csr/downloadlist.html">企業社會責任報告下載</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/ir/overview.html">投資人關係</a></li>
										<li><a href="../../Views/ir/overview.html">公司概況</a></li>
										<li><a href="../../Views/ir/financial.html">財務資訊</a></li>
										<li><a href="../../Views/ir/shareholder-Services.html">股務資訊</a></li>
										<li><a href="../../Views/ir/announcements.html">活動與公告</a></li>
										<li><a href="../../Views/ir/contact.html">聯絡我們</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/governance/status.html">公司治理</a></li>
										<li><a href="../../Views/governance/status.html">公司治理現況</a></li>
										<li><a href="../../Views/governance/framework.html">公司治理架構</a></li>
										<li><a href="../../Views/governance/operation.html">公司治理運作情形</a></li>
										<li><a href="../../Views/governance/shareholders.html">股東會</a></li>
										<li><a href="../../Views/governance/board_of_directors.html">董事會</a></li>
										<li><a href="../../Views/governance/committee.html">功能性委員會</a></li>
										<li><a href="../../Views/governance/organization.html">內部稽核組織及運作</a></li>
										<li><a href="../../Views/governance/regulation.html">公司重要章則</a></li>
										<li><a href="../../Views/governance/mail.html">獨立董事信箱</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/news/list.html">新聞中心</a></li>
									</ul>
								</li>	
							</ul>
						</div>
					</div>
				</div>
				<ul class="m-footer-bd b-clearfix">
					<li><a href="../../Views/hr/jobs.html">人才招募</a></li>
					<li><a href="../../Views/announcement/announcement.html">法定揭露事項</a></li>
					<li><a href="../../Views/location/location_tw.html">海內外服務據點</a></li>
					<li><a href="../../Views/privacy_policy/privacy.html">隱私權聲明</a></li>
					<li><a href="../../Views/consumer_protection/consumer_protection.html">消費者保護</a></li>
					<li><a href="../../Views/service/contact.html">服務中心</a></li>
					<li><a href="../../Views/epaper/list.html">富邦理財電子報</a></li>
				</ul>
				<small class="m-footer-ft">© 富邦金融控股股份有限公司</small>
			</footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->

	<!-- ==================== l-nav begin =================== -->
	<nav class="l-nav" ng-class="{'is-animate' : Common.Nav.Mobile.Click}">
		<div class="m-nav ng-nav" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
			<div>
				<ul class="b-clearfix ng-nav-item">
					<li class="b-middle">
						<a href="../../Views/about/info.html">
							<em>關於富邦金控</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/about/info.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦金控簡介</em></a></li>
								<li><a href="../../Views/about/business_philosophy.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心價值</em></a></li>
								<li><a href="../../Views/about/team.html"><i class="m-icon m-icon-nav-arrow"></i><em>經營團隊</em></a></li>
								<li><a href="../../Views/about/sub.html"><i class="m-icon m-icon-nav-arrow"></i><em>金控子公司成員</em></a></li>
								<li><a href="../../Views/about/honor.html"><i class="m-icon m-icon-nav-arrow"></i><em>專業殊榮</em></a></li>
								<li><a href="../../Views/about/milestone.html"><i class="m-icon m-icon-nav-arrow"></i><em>大事記</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/story/future.html">
							<em>品牌故事</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/story/future.html"><i class="m-icon m-icon-nav-arrow"></i><em>延續傳承 走向未來</em></a></li>
								<li><a href="../../Views/story/positive.html"><i class="m-icon m-icon-nav-arrow"></i><em>正向的力量</em></a></li>
								<li><a href="../../Views/story/identity.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦品牌標誌</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/csr/chairmans_messages.html">
							<em>企業社會責任</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/csr/chairmans_messages.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事長的話</em></a></li>
								<li><a href="../../Views/csr/sustainable_operations.html"><i class="m-icon m-icon-nav-arrow"></i><em>永續經營</em></a></li>
								<li><a href="../../Views/csr/corporate_governance.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理</em></a></li>
								<li><a href="../../Views/csr/commitment.html"><i class="m-icon m-icon-nav-arrow"></i><em>客戶承諾</em></a></li>
								<li><a href="../../Views/csr/care.html"><i class="m-icon m-icon-nav-arrow"></i><em>員工關懷</em></a></li>
								<li><a href="../../Views/csr/core_competencies.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心職能</em></a></li>
								<li><a href="../../Views/csr/green.html"><i class="m-icon m-icon-nav-arrow"></i><em>綠色金融</em></a></li>
								<li><a href="../../Views/csr/foundation.html"><i class="m-icon m-icon-nav-arrow"></i><em>基金會</em></a></li>
								<li><a href="../../Views/csr/sponsorship.html"><i class="m-icon m-icon-nav-arrow"></i><em>體育贊助</em></a></li>
								<li><a href="../../Views/csr/stakeholders.html"><i class="m-icon m-icon-nav-arrow"></i><em>利害關係人專區</em></a></li>
								<li><a href="../../Views/csr/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
								<li><a href="../../Views/csr/news.html"><i class="m-icon m-icon-nav-arrow"></i><em>最新消息</em></a></li>
								<li><a href="../../Views/csr/media.html"><i class="m-icon m-icon-nav-arrow"></i><em>影音專區</em></a></li>
								<li><a href="../../Views/csr/downloadlist.html"><i class="m-icon m-icon-nav-arrow"></i><em>企業社會責任報告下載</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/ir/overview.html">
							<em>投資人關係</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/ir/overview.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司概況</em></a></li>
								<li><a href="../../Views/ir/financial.html"><i class="m-icon m-icon-nav-arrow"></i><em>財務資訊</em></a></li>
								<li><a href="../../Views/ir/shareholder_services.html"><i class="m-icon m-icon-nav-arrow"></i><em>股務資訊</em></a></li>
								<li><a href="../../Views/ir/announcements.html"><i class="m-icon m-icon-nav-arrow"></i><em>活動與公告</em></a></li>
								<li><a href="../../Views/ir/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/governance/status.html">
							<em>公司治理</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/governance/status.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理現況</em></a></li>
								<li><a href="../../Views/governance/framework.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理架構</em></a></li>
								<li><a href="../../Views/governance/operation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理運作情形</em></a></li>
								<li><a href="../../Views/governance/letter.html"><i class="m-icon m-icon-nav-arrow"></i><em>股東會</em></a></li>
								<li><a href="../../Views/governance/board_of_directors.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事會</em></a></li>
								<li><a href="../../Views/governance/committee.html"><i class="m-icon m-icon-nav-arrow"></i><em>功能性委員會</em></a></li>
								<li><a href="../../Views/governance/organization.html"><i class="m-icon m-icon-nav-arrow"></i><em>內部稽核組織及運作</em></a></li>
								<li><a href="../../Views/governance/regulation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司重要章則</em></a></li>
								<li><a href="../../Views/governance/mail.html"><i class="m-icon m-icon-nav-arrow"></i><em>獨立董事信箱</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/news/list.html">
							<em>新聞中心</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
					</li>
				</ul>
				<span class="m-nav-bar" ng-class="{'is-show' : Common.Nav.Bar.Hover}" ng-style="{'left' : Common.Nav.Bar.Left , 'width' : Common.Nav.Bar.Width}"></span>
			</div>
			<div class="m-nav-path ng-nav-path" ng-style="{'top' : Common.Nav.Path.Top , 'height' : Common.Nav.Path.Height}">
				<ul>
					<li ng-style="{'height' : Common.Nav.Path.Height}">
						<a href="javascript:;" class="ng-path">
							服務捷徑
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<!--[if lt IE 10]><span></span><![endif]-->
						<div>
							<ul>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>台北富邦銀行</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦銀行(香港)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦華一銀行(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦財險(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦證券</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投信</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦期貨</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投顧</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦行銷 | 富昇保代</a></li>
							</ul>	
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- ==================== l-nav end =================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular/angular.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/common.js?JS=20150630_01"></script>
<!-- master page include scripts end -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="../../Scripts/js/governance/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>