<!DOCTYPE HTML>
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-服務中心-會員常見問題</title>
	<link rel="canonical" href="" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/sugarfunbox/css/sugarfunbox.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/Service/faq.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				<div class="m-header-logo b-clearfix b-middle">
					<button class="m-button m-button-navicon ng-navicon"><i class="m-icon m-icon-navicon"></i></button>
					<a href="../../Views/home/index.html" class="m-icon-stack m-icon-fubon-group">
						<i class="m-icon m-icon-fubon-blue is-absolute"></i>
						<i class="m-icon m-icon-fubon-green"></i>
						<i class="m-icon m-icon-fubon-text"></i>
					</a>
					<div class="m-header-company">
						<h1>富邦金控</h1>
					</div>
				</div>
				<ul class="m-header-tools">
					<li class="b-middle"><a href="../../eng">EN</a></li>
					<li class="m-header-search b-middle" ng-class="{'is-open' : Common.Search.Click}">
						<a href="../../Views/search/search.html?k={{ Common.Search.Value }}" class="m-button m-button-search ng-search"><i class="m-icon m-icon-search"></i></a>
						<div class="m-form-group m-form-search">
							<input type="search" class="m-form m-form-control ng-search-result" ng-model="Common.Search.Value" />
						</div>
					</li>
				</ul>
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main faq-content ng-controller" ng-controller="Service">
			<!-- ==================== l-main-hd begin =================== -->
			<header class="l-main-hd b-clearfix">
				<div class="m-media ng-image-load">
					<div class="b-loading">
						<span class="m-icon-stack">
							<i class="m-icon m-icon-fubon-blue is-absolute"></i>
							<i class="m-icon m-icon-fubon-green"></i>
						</span>
					</div>
					<figure class="m-media-item">
						<img ng-src="../../Content/img/service/kv.jpg" alt="富邦金控-服務中心">
					</figure>
					<ul class="m-media-tools is-right-top b-middle">
						<li><a href="javascript:;"><i class="m-icon m-icon-m-plus"></i></a></li>
						<li>
							<a href="javascript:;">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-youtube-you is-absolute"></i>
									<i class="m-icon m-icon-youtube-tube"></i>
								</span>
							</a>
						</li>
						<li><a href="javascript:;"><i class="m-icon m-icon-facebook-official"></i></a></li>
					</ul>
				</div>
			</header>
			<!-- ==================== l-main-hd end =================== -->

			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd is-content-left b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-breadcrumb begin =================== -->
					<ol class="m-breadcrumb b-clearfix">
						<li>
							<a href="../../Views/home/index.html"><i class="m-icon m-icon-home"></i></a>
						</li>
						<li>
							<a href="../../Views/Service/Contact.html">服務中心</a>
						</li>
						<li>
							<em>會員常見問題</em>
						</li>
					</ol>
					<!-- ==================== m-breadcrumb end =================== -->

					<!-- ==================== m-section begin =================== -->
					<section class="m-section">
						<header class="m-section-hd b-clearfix">
							<h2>會員常見問題</h2>
							<!-- <div class="m-section-tools"></div> -->
						</header>
						<main class="m-section-bd b-clearfix">
							<div class="m-accordion ng-accordion">
								<ol>
									<li>
										<div class="m-accordion-hd">
											<h3 class="b-h3">忘記Fubon.com的密碼怎麼辦？</h3>
											<i class="m-icon m-icon-arrow-angle-right"></i>
										</div>
										<div class="m-accordion-bd">
											<div class="m-accordion-content">
												<p>請選擇富邦金控網站「服務中心」，點選「會員登入」之「忘記密碼」功能，填寫您的身分證字號、生日，及當初會員註冊時所填寫的行動電話，按「確認送出」鍵，經系統確認資料無誤後，我們將提供密碼給您(email至您註冊時填寫的會員信箱)。請您收到密碼確認信後，上網進行密碼變更。若您仍未接收到"忘記密碼通知信"，請您填寫<a href="https://www.fubon.com/member/quest/quest.jsp?buCate=F&questCategory=7">客服信箱</a>反應。</p>
											</div>
										</div>
									</li>
									<li>
										<div class="m-accordion-hd">
											<h3 class="b-h3">如何取消Fubon.com會員帳號？</h3>
											<i class="m-icon m-icon-arrow-angle-right"></i>
										</div>
										<div class="m-accordion-bd">
											<div class="m-accordion-content">
												<p>Fubon.com會員如需取消會員帳號，請填寫<a href="https://www.fubon.com/member/quest/quest.jsp?buCate=F&questCategory=5">客服信箱</a>，我們將有專人與您聯絡，為您處理。</p>
											</div>
										</div>
									</li>
									<li>
										<div class="m-accordion-hd">
											<h3 class="b-h3">想要更換個人帳號（ID）該怎麼做？</h3>
											<i class="m-icon m-icon-arrow-angle-right"></i>
										</div>
										<div class="m-accordion-bd">
											<div class="m-accordion-content">
												<p>因會員帳號即為會員本人之身分證字號，故不提供更換功能。</p>
											</div>
										</div>
									</li>
									<li>
										<div class="m-accordion-hd">
											<h3 class="b-h3">如何更改密碼？</h3>
											<i class="m-icon m-icon-arrow-angle-right"></i>
										</div>
										<div class="m-accordion-bd">
											<div class="m-accordion-content">
												<p>請選擇富邦金控網站「服務中心」，點選「會員登入」之「修改密碼」功能，先填寫舊密碼，之後設定一組新密碼，確認新密碼後，再輸入畫面上之驗證碼，按「確認送出」鍵，經系統確認資料無誤後，即完成密碼變更。</p>
											</div>
										</div>
									</li>
									<li>
										<div class="m-accordion-hd">
											<h3 class="b-h3">如何進行個人資料修改？</h3>
											<i class="m-icon m-icon-arrow-angle-right"></i>
										</div>
										<div class="m-accordion-bd">
											<div class="m-accordion-content">
												<p>請選擇富邦金控網站「服務中心」，點選「會員專區」之「修改個人資料」功能，請輸入需修改之個人資料 (身份證字號及生日不可修改)，之後再輸入畫面上之驗證碼，按「確認送出」鍵，即完成個人資料修改。</p>
											</div>
										</div>
									</li>
									<li>
										<div class="m-accordion-hd">
											<h3 class="b-h3">如果發生密碼輸入錯誤時該怎麼處理？密碼會被鎖住嗎？</h3>
											<i class="m-icon m-icon-arrow-angle-right"></i>
										</div>
										<div class="m-accordion-bd">
											<div class="m-accordion-content">
												<p>如果您輸入密碼錯誤連續達五次，密碼即會被鎖住，請您點選「<a href="https://www.fubon.com/member/password/pwd_form.jsp">忘記密碼</a>」功能，我們將寄發新密碼給您。</p>
											</div>
										</div>
									</li>
								</ol>
							</div>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
				<!-- ==================== l-side begin =================== -->
				<div class="l-side">
					<aside class="m-aside m-aside-accordion ng-aside-accordion" ng-class="{'is-selected' : Common.Aside.Selected}">
						<header class="m-aside-hd">
							<button class="ng-cloak ng-aside-select">
								{{ Common.Aside.Toggle.Text }}
								<span class="m-icon-stack m-icon-toggle">
									<i class="m-icon m-icon-arrow-angle-down"></i>
									<i class="m-icon m-icon-arrow-angle-up"></i>
								</span>
							</button>
						</header>
						<main class="m-aside-bd">
							<ul id="aside-item" class="ng-aside-accordion-item">
								<li data-channel="contact">
									<h6>
										<a href="../../Views/service/contact.html" class="b-middle">
											<em>聯絡富邦金控</em>
										</a>
									</h6>
								</li>
								<li data-channel="sub_contact">
									<h6>
										<a href="../../Views/service/sub_contact.html" class="b-middle">
											<em>子公司地址與電話</em>
										</a>
									</h6>
								</li>
								<li data-channel="investors">
									<h6>
										<a href="../../Views/service/investors.html" class="b-middle">
											<em>投資人與媒體服務</em>
										</a>
									</h6>
								</li>
								<li data-channel="agency">
									<h6>
										<a href="../../Views/service/agency.html" class="b-middle">
											<em>股務代理</em>
										</a>
									</h6>
								</li>
								<li data-channel="service">
									<h6>
										<a href="javascript:;" class="b-middle">
											<em>會員專區</em>
											<span class="m-icon-stack m-icon-toggle">
												<i class="m-icon m-icon-plus"></i>
												<i class="m-icon m-icon-minus"></i>
											</span>
										</a>
									</h6>
									<div>
										<ul>
											<li>
												<a href="../../Views/member/login.html" class="ng-member">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>會員登入</em>
												</a>
											</li>
											<li>
												<a href="../../Views/member/password.html" class="ng-member">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>修改密碼</em>
												</a>
											</li>
											<li>
												<a href="../../Views/member/edit_profile.html" class="ng-member">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>修改個人資料</em>
												</a>
											</li>
											<li>
												<a href="javascript:;">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>會員登出</em>
												</a>
											</li>
											<li data-channel="faq">
												<a href="../../Views/service/faq.html">
													<i class="m-icon m-icon-arrow-angle-right"></i>
													<em>會員常見問題</em>
												</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</main>
					</aside>
				</div>
				<!-- ==================== l-side end =================== -->

				<!-- ==================== top botton begin =================== -->
				<button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button>
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer b-clearfix">
			<footer class="m-footer">
				<div class="m-footer-hd">
					<div class="m-button-group">
						<button type="button" class="m-button m-button-sitemap ng-sitemap">
							網站導覽
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-up is-hide" ng-class="{'is-hide' : ! Common.Footer.Sitemap.Click}"></i>
								<i class="m-icon m-icon-arrow-angle-down" ng-class="{'is-hide' : Common.Footer.Sitemap.Click}"></i>
							</span>
						</button>
					</div>
					<div class="m-sitemap" ng-class="{'is-show' : Common.Footer.Sitemap.Click}">
						<div class="m-sitemap-bd b-row">
							<ul>
								<li class="b-col-md-2 b-col-md-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/about/info.html">關於富邦金控</a></li>
										<li><a href="../../Views/about/info.html">富邦金控簡介</a></li>
										<li><a href="../../Views/about/business_philosophy.html">核心價值</a></li>
										<li><a href="../../Views/about/team.html">經營團隊</a></li>
										<li><a href="../../Views/about/sub.html">金控子公司成員</a></li>
										<li><a href="../../Views/about/honor.html">專業殊榮</a></li>
										<li><a href="../../Views/about/milestone.html">大事紀</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-md-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/story/future.html">品牌故事</a></li>
										<li><a href="../../Views/story/future.html">延續傳承 走向未來</a></li>
										<li><a href="../../Views/story/positive.html">正向的力量</a></li>
										<li><a href="../../Views/story/identity.html">富邦品牌標誌</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-md-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/csr/chairmans_messages.html">企業社會責任</a></li>
										<li><a href="../../Views/csr/chairmans_messages.html">董事長的話</a></li>
										<li><a href="../../Views/csr/sustainable_operations.html">永續經營</a></li>
										<li><a href="../../Views/csr/corporate_governance.html">公司治理</a></li>
										<li><a href="../../Views/csr/commitment.html">客戶承諾</a></li>
										<li><a href="../../Views/csr/carehtml">員工關懷</a></li>
										<li><a href="../../Views/csr/core_competencies.html">核心職能</a></li>
										<li><a href="../../Views/csr/green.html">綠色金融</a></li>
										<li><a href="../../Views/csr/foundation.html">基金會</a></li>
										<li><a href="../../Views/csr/sponsorship.html">體育贊助</a></li>
										<li><a href="../../Views/csr/stakeholders.html">利害關係人專區</a></li>
										<li><a href="../../Views/csr/contact.html">聯絡我們</a></li>
										<li><a href="../../Views/csr/news.html">最新消息</a></li>
										<li><a href="../../Views/csr/media.html">影音專區</a></li>
										<li><a href="../../Views/csr/downloadlist.html">企業社會責任報告下載</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-md-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/ir/overview.html">投資人關係</a></li>
										<li><a href="../../Views/ir/overview.html">公司概況</a></li>
										<li><a href="../../Views/ir/financial.html">財務資訊</a></li>
										<li><a href="../../Views/ir/shareholder-Services.html">股務資訊</a></li>
										<li><a href="../../Views/ir/announcements.html">活動與公告</a></li>
										<li><a href="../../Views/ir/contact.html">聯絡我們</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-md-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/governance/status.html">公司治理</a></li>
										<li><a href="../../Views/governance/status.html">公司治理現況</a></li>
										<li><a href="../../Views/governance/framework.html">公司治理架構</a></li>
										<li><a href="../../Views/governance/operation.html">公司治理運作情形</a></li>
										<li><a href="../../Views/governance/shareholders.html">股東會</a></li>
										<li><a href="../../Views/governance/board_of_directors.html">董事會</a></li>
										<li><a href="../../Views/governance/committee.html">功能性委員會</a></li>
										<li><a href="../../Views/governance/organization.html">內部稽核組織及運作</a></li>
										<li><a href="../../Views/governance/regulation.html">公司重要章則</a></li>
										<li><a href="../../Views/governance/mail.html">獨立董事信箱</a></li>
									</ul>
								</li>
								<li class="b-col-md-2 b-col-md-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/news/list.html">新聞中心</a></li>
									</ul>
								</li>	
							</ul>
						</div>
					</div>
				</div>
				<ul class="m-footer-bd b-clearfix">
					<li><a href="../../Views/hr/jobs.html">人才招募</a></li>
					<li><a href="../../Views/announcement/announcement.html">法定揭露事項</a></li>
					<li><a href="../../Views/location/location_tw.html">海內外服務據點</a></li>
					<li><a href="../../Views/privacy_policy/privacy.html">隱私權聲明</a></li>
					<li><a href="../../Views/consumer_protection/consumer_protection.html">消費者保護</a></li>
					<li><a href="../../Views/service/contact.html">服務中心</a></li>
					<li><a href="../../Views/epaper/list.html">富邦理財電子報</a></li>
				</ul>
				<small class="m-footer-ft">© 富邦金融控股股份有限公司</small>
			</footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->

	<!-- ==================== l-nav begin =================== -->
	<nav class="l-nav" ng-class="{'is-animate' : Common.Nav.Mobile.Click}">
		<div class="m-nav ng-nav" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
			<ul class="b-clearfix ng-nav-item">
				<li class="b-middle">
					<a href="../../Views/about/info.html">
						<em>關於富邦金控</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/about/info.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦金控簡介</em></a></li>
							<li><a href="../../Views/about/business_philosophy.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心價值</em></a></li>
							<li><a href="../../Views/about/team.html"><i class="m-icon m-icon-nav-arrow"></i><em>經營團隊</em></a></li>
							<li><a href="../../Views/about/sub.html"><i class="m-icon m-icon-nav-arrow"></i><em>金控子公司成員</em></a></li>
							<li><a href="../../Views/about/honor.html"><i class="m-icon m-icon-nav-arrow"></i><em>專業殊榮</em></a></li>
							<li><a href="../../Views/about/milestone.html"><i class="m-icon m-icon-nav-arrow"></i><em>大事記</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle">
					<a href="../../Views/story/future.html">
						<em>品牌故事</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/story/future.html"><i class="m-icon m-icon-nav-arrow"></i><em>延續傳承 走向未來</em></a></li>
							<li><a href="../../Views/story/positive.html"><i class="m-icon m-icon-nav-arrow"></i><em>正向的力量</em></a></li>
							<li><a href="../../Views/story/identity.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦品牌標誌</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle">
					<a href="../../Views/csr/chairmans_messages.html">
						<em>企業社會責任</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/csr/chairmans_messages.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事長的話</em></a></li>
							<li><a href="../../Views/csr/sustainable_operations.html"><i class="m-icon m-icon-nav-arrow"></i><em>永續經營</em></a></li>
							<li><a href="../../Views/csr/corporate_governance.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理</em></a></li>
							<li><a href="../../Views/csr/commitment.html"><i class="m-icon m-icon-nav-arrow"></i><em>客戶承諾</em></a></li>
							<li><a href="../../Views/csr/care.html"><i class="m-icon m-icon-nav-arrow"></i><em>員工關懷</em></a></li>
							<li><a href="../../Views/csr/core_competencies.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心職能</em></a></li>
							<li><a href="../../Views/csr/green.html"><i class="m-icon m-icon-nav-arrow"></i><em>綠色金融</em></a></li>
							<li><a href="../../Views/csr/foundation.html"><i class="m-icon m-icon-nav-arrow"></i><em>基金會</em></a></li>
							<li><a href="../../Views/csr/sponsorship.html"><i class="m-icon m-icon-nav-arrow"></i><em>體育贊助</em></a></li>
							<li><a href="../../Views/csr/stakeholders.html"><i class="m-icon m-icon-nav-arrow"></i><em>利害關係人專區</em></a></li>
							<li><a href="../../Views/csr/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
							<li><a href="../../Views/csr/news.html"><i class="m-icon m-icon-nav-arrow"></i><em>最新消息</em></a></li>
							<li><a href="../../Views/csr/media.html"><i class="m-icon m-icon-nav-arrow"></i><em>影音專區</em></a></li>
							<li><a href="../../Views/csr/downloadlist.html"><i class="m-icon m-icon-nav-arrow"></i><em>企業社會責任報告下載</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle">
					<a href="../../Views/ir/overview.html">
						<em>投資人關係</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/ir/overview.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司概況</em></a></li>
							<li><a href="../../Views/ir/financial.html"><i class="m-icon m-icon-nav-arrow"></i><em>財務資訊</em></a></li>
							<li><a href="../../Views/ir/shareholder_services.html"><i class="m-icon m-icon-nav-arrow"></i><em>股務資訊</em></a></li>
							<li><a href="../../Views/ir/announcements.html"><i class="m-icon m-icon-nav-arrow"></i><em>活動與公告</em></a></li>
							<li><a href="../../Views/ir/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle">
					<a href="../../Views/governance/status.html">
						<em>公司治理</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
					<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
						<ul class="b-clearfix">
							<li><a href="../../Views/governance/status.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理現況</em></a></li>
							<li><a href="../../Views/governance/framework.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理架構</em></a></li>
							<li><a href="../../Views/governance/operation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理運作情形</em></a></li>
							<li><a href="../../Views/governance/letter.html"><i class="m-icon m-icon-nav-arrow"></i><em>股東會</em></a></li>
							<li><a href="../../Views/governance/board_of_directors.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事會</em></a></li>
							<li><a href="../../Views/governance/committee.html"><i class="m-icon m-icon-nav-arrow"></i><em>功能性委員會</em></a></li>
							<li><a href="../../Views/governance/organization.html"><i class="m-icon m-icon-nav-arrow"></i><em>內部稽核組織及運作</em></a></li>
							<li><a href="../../Views/governance/regulation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司重要章則</em></a></li>
							<li><a href="../../Views/governance/mail.html"><i class="m-icon m-icon-nav-arrow"></i><em>獨立董事信箱</em></a></li>
						</ul>
					</div>
				</li>
				<li class="b-middle">
					<a href="../../Views/news/list.html">
						<em>新聞中心</em>
						<span class="m-icon-stack m-icon-toggle">
							<i class="m-icon m-icon-arrow-angle-right"></i>
							<i class="m-icon m-icon-arrow-angle-down"></i>
						</span>
					</a>
				</li>
			</ul>
			<span class="m-nav-bar" ng-class="{'is-show' : Common.Nav.Bar.Hover}" ng-style="{'left' : Common.Nav.Bar.Left , 'width' : Common.Nav.Bar.Width}"></span>
			<div class="m-nav-path ng-nav-path" ng-style="{'top' : Common.Nav.Path.Top , 'height' : Common.Nav.Path.Height}">
				<ul>
					<li ng-style="{'height' : Common.Nav.Path.Height}">
						<a href="javascript:;" class="ng-path">
							服務捷徑
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<!--[if lt IE 10]><span></span><![endif]-->
						<div>
							<ul>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>台北富邦銀行</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦銀行(香港)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦華一銀行(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦財險(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦證券</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投信</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦期貨</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投顧</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦行銷 | 富昇保代</a></li>
							</ul>	
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- ==================== l-nav end =================== -->

	<!-- ======================== sugarfunbox begin ======================== -->
	<div class="sugarfunbox is-hide" tabindex="-1" role="dialog">
		<div class="sugarfunbox-hd">
			<a href="javascript:;" class="sugarfunbox-close"><em>關閉</em><i class="m-icon m-icon-close"></i></a>
		</div>
		<div class="sugarfunbox-bd"></div>
	</div>
	<!-- ======================== sugarfunbox end ======================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular/angular.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/common.js?JS=20150630_01"></script>
<!-- master page include scripts end -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/sugarfunbox/js/sugarfunbox.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/Service/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>