.article
{
    font-size: 14px;
    line-height: 2em;

    width: 710px;

    text-align: justify;
    -webkit-text-align-last: left; /*Chrome*/
       -moz-text-align-last: left; /*Firefox*/
    -ms-text-justify: inter-ideograph; /*IE9*/
        text-justify: inter-ideograph;

    color: #313131;
}
.article img
{
    float: left;

    padding: 0 25px 25px 0;
}
.article p
{
    margin-bottom: 2em;
}

.contactbtn
{
    width: 75px;
    height: 300px;
    margin: 0 auto;
    padding-top: 15px;
}
.contactbtn a
{
    font-size: 15px;

    display: block;

    width: 75px;
    height: 100px;
    margin-bottom: 35px;

    text-align: center;
}
.contactbtn a.call
{
    width: 75px;
    height: 5px;
    padding-top: 80px;

    color: #0089d1;
    background: url(../../../Content/img/Responsibility/btn_contactphone.png) no-repeat;
}
.contactbtn a.call:hover
{
    background-position: -75px 0;
}
.contactbtn a.fbfans
{
    width: 75px;
    height: 5px;
    padding-top: 80px;

    color: #0089d1;
    background: url(../../../Content/img/Responsibility/btn_contactfacebook.png) no-repeat;
}
.contactbtn a.fbfans:hover
{
    background-position: -77px 0;
}


/* ----- feedback ----- */

.feedbacknumber
{
    float: left;
}
.feedbacktitle{
    display:inline-block;
    width: 100%;
}
.feedbacktitle p
{
    font-size: 18px;
    line-height: 4em;
    color: #2098d6;
}
.feedbackanswer
{
    clear: both;
    margin-top: -10px;
}
.feedbackanswer ul{}
.feedbackanswer ul li{float:left;}
.feedbackanswer li label{margin-right:10px;line-height: 2em;}
.feedbackanswer li input.inputbox{line-height: 2em;}

.feedbackanswer2
{
    clear:both;
    margin-top:-23px;
}
.feedbackanswer2 ul.other li{list-style: square inside;font-size:8px;color:#008ad0;line-height: 3em;}
.feedbackanswer2 ul.other p{display: inline-block;font-size:14px;color:#535353;vertical-align: middle;} 
.feedbackanswer2 ul.answer{display:inline-block;font-size:14px;color:#535353;vertical-align: middle;}
.feedbackanswer2 ul.other ul.answer li{float:left;list-style: none;color:#535353;font-size:14px;line-height:2em;}
table{width:100%;}

table th{text-align: center;font-size: 14px;line-height:2em; padding: 10px 0;}
table th:nth-child(1){width:25%;}
table th:nth-child(2){width:35%;}
table th:nth-child(3){width:35%;text-align: center;}
ul.level{width:50%;margin:0 auto;}
ul.level li{float:left;}
table tr:first-child th{text-align:center;background:#6cbbe4;color:#fff;}
table tr.blue30{background:#f4f9fc;}
table td:nth-child(1){width:20%;font-size:14px;text-align: center;color:#fff;background:#a7d6ef;border-bottom: 1px solid #fff;}

textarea{width:100%;height:300px;resize: none;overflow: auto;}
textarea.textarea2{  margin-top: 15px;}
a.sendbtn{display: block;width:150px;line-height: 3em;background:#008bd0;text-align: center;color:#fff; margin: 50px auto 0 auto;}
a.sendbtn:hover{background:#41c0ff;}

/* ----- news ----- */
hr.style-eight {
    width:120%;
    height:8px;
    background:url(../../../Content/img/Responsibility/hr.gif) repeat-x;
    border: none;
    float: left;
    position: relative;
    left:-5%;
}
ul.newsbox{
    font-size: 14px;
}
ul.newsbox li{
    font-size: 14px;
    line-height:3em;
    color: #008ad0;
    list-style-image:url(../../../Content/img/Responsibility/list.gif);
    list-style-position: inside;
}
ul.newsbox li a{width:85%;}
ul.newsbox li a:hover{color:#008ad0;}
ul.newsbox li em.date{float:right;}

.datebar{position: absolute;top:6%;right:0%;z-index:9;font-size: 14px;width:50%;margin-right: 25px;}
.datebar label{float:left;line-height: 2.8em;margin:0 1em;}
.datebar select#date{
    width:95px; 
    height:40px;
    padding:5px 0px;
    font-family: arial;
    font-size: 15px;
    float:left;
    margin-right:5px;
    border:1px solid #cccccc;
    color:#535353;
        appearance: none; 
        -webkit-appearance: none;        /*Removes default chrome and safari style*/
        -moz-appearance: none;          /* Removes Default Firefox style*/
        background:#f0f0f0 url(../../../Content/img/Responsibility/selectdropdown.png) no-repeat right center;         /*Adds background-image*/
}
.datebar select option{font-size: 15px;line-height: 2.5em;}
.datebar a.search{display:block;width:5em;line-height:2.9em;background:#008bd0;color:#fff;text-align: center;float:left;}

ul.pagenum{width:100%;margin:10px auto;}
ul.pagenum hr{border: none;border-top: 1px solid;color:#e6e6e6;float:left;margin:0.7em 0px;width:19.5em;}
ul.pagenum li{float:left;}
ul.pagenum li a{display: block;width:1.5em;line-height:1.5em;border-radius:15px;color:#fff;background:#ababab;text-align: center;margin:0 0.5em;}
ul.pagenum li a.on{background:#019fe6;}

ul.pagenum li.num-prev a{margin:0 0.5em;width:1em;color:#ababab;border: none;background:#fff;}
ul.pagenum li.num-next a{margin:0 0.5em;width:1em;color:#ababab;border: none;background:#fff;}

a.prev{
    display: block;background:#f0f0f0;border: 1px solid #cccccc;width: 95px;line-height:3em;text-align: center;color:#535353;

}
.newsprev{float:right;}

p.date{background: url(../../../Content/img/Responsibility/date.gif) no-repeat;width:22px;height:18px;display: block;padding-left:30px;}

article.newstext{

    padding-top: 1.5em;

    text-align: justify;
    -webkit-text-align-last: left; /*Chrome*/
    -moz-text-align-last: left; /*Firefox*/
    -ms-text-justify: inter-ideograph; /*IE9*/
    text-justify: inter-ideograph;

    font-size: 14px;
    line-height: 2.2em;
}

b{font-weight: bold;}

/* ----- video ----- */

.videobox{
    width:100%;
    height:420px;
}

.videobox a.btnprev{
    width:26px;
    height:100%;
    background: url(../../../Content/img/Responsibility/pagebtnprev.gif) no-repeat left center;
    display: block;
    float:left;
}

.videobox a.btnnext{
    width:26px;
    height:100%;
    background: url(../../../Content/img/Responsibility/pagebtnnext.gif) no-repeat left center;
    display: block;
    float:left;
}

.videobox ul.videolist{
    float:left;
    width:630px;
    padding:25px 15px 0px 15px;
    float:left;
}

.videobox ul.videolist li{float:left;    margin-bottom:5px;}

.videobox ul.videolist li .videokv{
    width:200px;
    height:148px;
    position: relative;
    margin-right:10px;
    margin-bottom:5px;
}

.videobox ul.videolist li .videokv img{
    width:200px;
    height:148px;
}

.videobox ul.videolist li .videokv a.videobtn{
    display:block;
    width:50px;
    height:50px;
    background:url(../../../Content/img/Responsibility/btn_videoplay.png) no-repeat 0px top;
    position: absolute;
    z-index:2;
    left:40%;
    top:35%;
}
.videobox ul.videolist li .videokv a.videobtn:hover{
    background-position: -50px top;
}

ul.pagenum-circle{
    width:100px;
    height:10px;
    margin:0 auto;
}

ul.pagenum-circle li{float:left;}
ul.pagenum-circle li a{display: block;width:10px;height:10px;border-radius:5px;margin-right:8px;background:#ababab;}
ul.pagenum-circle li.on a{background:#00a0e7;}

.videoplay{
    width:705px;
    padding-top:10px;
}

.videoplay p{
    text-align: justify;
    -webkit-text-align-last: left; /*Chrome*/
    -moz-text-align-last: left; /*Firefox*/
    -ms-text-justify: inter-ideograph; /*IE9*/
    text-justify: inter-ideograph;

    line-height: 2em;

    padding-top: 15px;
}
.videoplay iframe{
    padding-bottom: 35px;
}