.l-main-bd {
	background : transparent;
	@include box-shadow(rgba(#000 , 0) 0 0 0);

	&:before {
		display : none;
	}
}

.l-content {
	padding-top    : 0;
	padding-bottom : 0;
	border-top     : 0;
	overflow       : visible;
}

.l-side {
	padding-bottom : 0;
	background     : $color-white;
	@include box-shadow(rgba(#000 , 0.15) 0 1px 4px);
}

.m-media {
	background : $media-background;
}

@include respond-to(Desktops) {
	.l-main-bd {
		margin-top : 35px;

		&.is-content-right {
			.l-content {
				width : ($main-min-width - $side-width) - 30;
			}
		}

		&.is-content-left {
			.l-content {
				width : ($main-min-width - $side-width) - 30;
			}
		}
	}

	.m-media {
		height : 780px;
	}
}

@include respond-to(Tablets) {
	.l-main-bd {
		width : auto;
	}

	.l-side {
		margin-top : 20px;
	}

	.m-media {
		height : 520px;
	}
}

@include respond-to(Tablets-Mobiles) {
	.l-main-bd {
		margin-top : 25px;
	}
}

@include respond-to(Mobiles) {
	.l-main-bd {
		margin-top : 15px;
	}

	.m-media {
		height : 390px;
	}
}

@include browsers ('IE8') {
	.l-main-bd {
		background : transparent;
	}
}