<!DOCTYPE HTML>
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-關於富邦金控-大事紀</title>
	<link rel="canonical" href="" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="../../Content/css/about/milestone.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				<div class="m-header-logo b-clearfix b-middle">
					<button class="m-button m-button-navicon ng-navicon"><i class="m-icon m-icon-navicon"></i></button>
					<a href="../../Views/home/index.html" class="m-icon-stack m-icon-fubon-group">
						<i class="m-icon m-icon-fubon-blue is-absolute"></i>
						<i class="m-icon m-icon-fubon-green"></i>
						<i class="m-icon m-icon-fubon-text"></i>
					</a>
					<div class="m-header-company">
						<h1>富邦金控</h1>
					</div>
				</div>
				<ul class="m-header-tools">
					<li class="b-middle"><a href="../../eng/">EN</a></li>
					<li class="m-header-search b-middle" ng-class="{'is-open' : Common.Search.Click}">
						<a href="../../Views/search/search.html?k={{ Common.Search.Value }}" class="m-button m-button-search ng-search"><i class="m-icon m-icon-search"></i></a>
						<div class="m-form-group m-form-search">
							<input type="search" class="m-form m-form-control ng-search-result" ng-model="Common.Search.Value" />
						</div>
					</li>
				</ul>
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main milestone-content ng-controller" ng-controller="About">
			<!-- ==================== l-main-hd begin =================== -->
			<header class="l-main-hd b-clearfix">
				<div class="m-media ng-image-load">
					<div class="b-loading">
						<span class="m-icon-stack">
							<i class="m-icon m-icon-fubon-blue is-absolute"></i>
							<i class="m-icon m-icon-fubon-green"></i>
						</span>
					</div>
					<figure class="m-media-item">
						<img ng-src="../../Content/img/about/kv.jpg" alt="富邦金控-關於富邦金控">
					</figure>
					<ul class="m-media-tools is-right-top b-middle">
						<li><a href="javascript:;"><i class="m-icon m-icon-m-plus"></i></a></li>
						<li>
							<a href="javascript:;">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-youtube-you is-absolute"></i>
									<i class="m-icon m-icon-youtube-tube"></i>
								</span>
							</a>
						</li>
						<li><a href="javascript:;"><i class="m-icon m-icon-facebook-official"></i></a></li>
					</ul>
				</div>
			</header>
			<!-- ==================== l-main-hd end =================== -->

			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd is-content-left b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-breadcrumb begin =================== -->
					<ol class="m-breadcrumb b-clearfix">
						<li>
							<a href="../../Views/home/index.html"><i class="m-icon m-icon-home"></i></a>
						</li>
						<li>
							<a href="../../Views/about/info.html">關於富邦金控</a>
						</li>
						<li>
							<em>大事紀</em>
						</li>
					</ol>
					<!-- ==================== m-breadcrumb end =================== -->

					<!-- ==================== m-section begin =================== -->
					<section class="m-section is-line">
						<header class="m-section-hd is-col b-clearfix">
							<h2>大事紀</h2>
							<div class="m-section-tools">
								<div class="m-form-group m-form-select ng-select">
									<div class="m-form-ctrl">
										<span class="m-form-addon b-col-xs-0">請選擇年份</span>
										<label>
											<select class="m-form m-form-control is-bgcolor" ng-model="About.Milestone.NewYear" ng-options="option for option in About.Milestone.YearArray" ng-change="About.Milestone.OnChange()">
												<option value="">請選擇</option>
											</select>
										</label>
									</div>
								</div>
							</div>
						</header>
						<main class="m-section-bd b-clearfix">
							<ul class="m-time-line ng-time-line">
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2015</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>富邦產險大陸子公司富邦財險獲中國保監會批准籌建四川省分公司。</li>
											<li>富邦人壽以2.04億歐元投資歐洲保險公司Delta Lloyd NV。</li>
											<li>富邦華一銀行長寧支行正式開業。</li>
											<li>富邦華一銀行陸家嘴旗艦行正式啟航，結合藝術、科技與金融服務，創新打造以客戶為中心、精緻化服務的未來銀行經營模式。</li>
											<li>富邦金控旗下子公司合計捐出新台幣1,000萬元，協助尼泊爾震災之重建工作。</li>
											<li>富邦證券獲金管會核准大陸地區參股投資徽商期貨，為金管會核准台灣券商參股大陸期貨公司之首例。</li>
											<li>富邦證正式取得外匯交易業務資格。</li>
											<li>台北富邦銀行獲得新加坡金融管理局原則性核准籌設新加坡分行，預計將於明年第一季之前正式營運。</li>
											<li>富邦人壽入股韓國現代人壽，取得48%股權及5席董事，並將成為韓國現代汽車集團之策略合作夥伴。</li>
											<li>富邦金控宣布將捐出新台幣2,000萬元，協助八仙樂園粉塵氣爆事件之傷患救助與復健工作。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2014</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>富邦金控及台北富邦銀行正式取得華一銀行80%股權，並更名為富邦華一銀行，富邦金控成為唯一在「兩岸三地均擁有銀行子行」的台資金融機構。</li>
											<li>富邦金控首度冠名贊助「2014富邦LPGA台灣錦標賽」，為台灣體壇年度獎金最高職業賽事。</li>
											<li>富邦金控宣布捐出新台幣1,000萬元，協助高雄氣爆之救災與復原工作。</li>
											<li>台北富邦銀行受託管理台灣首件體育公益信託「三三足球公益信託體育基金」，基金將全數用於推展國內足球運動。  </li>
											<li>富邦金控子公司富邦金創買下台灣大籃球育樂公司，並更名為「富邦育樂股份有限公司」。</li>
											<li>富邦華一銀行12月正式發行銀聯借記卡，為台資銀行在大陸地區發行塑膠貨幣之首例。</li>
											<li>富邦金控連續六年榮登台灣金控業獲利之冠。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2013</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>富邦金控發行美金8.5億元之海外存託憑證，為台灣金融機構史上最大的海外存託憑證發行案。</li>
											<li>富邦愛心志工社成立10 周年，2013年為「富邦集團志工年」，集團總裁蔡萬才號召全體同仁及眷屬積極投入志工服務行列。富邦慈善基金會舉辦「富邦有愛‧10 在好正」捐血活動，共募得4,124 袋熱血。</li>
											<li>富邦產險之菲律賓子公司—富邦保險經紀人（菲律賓）股份有限公司4月正式開業。</li>
											<li>富邦金控捐出100萬美元，協助四川雅安大地震災區之賑災救援工作。</li>
											<li>富邦文教基金會與台北富邦銀行聯手推動「希望小富翁 前進校園」計劃，富邦金控董事長蔡明忠首度加入講師行列，到新北市三多國中講授理財課程，以實際行動支持金融智能教育推廣。</li>
											<li>台北富邦銀行8月份獲准設立舊金山代表處。</li>
											<li>台北富邦銀行與台灣大哥大聯手啟動NFC全方位服務計畫。</li>
											<li>第六屆「北富銀身心障礙才藝獎」比賽，參賽人數逾500名創新高，由得獎人組成的「愛無限樂團」8年來巡演達140場，展現「超越障礙、挑戰無限」的精神。</li>
											<li>富邦證券領先同業於9月與台哥大結盟，首創在即時通軟體M+開立官方帳號，讓客戶獲得M+主動通知服務。</li>
											<li>台北富邦銀行胡志明市支行10月正式升格為胡志明市分行，平盛分行遷址至越南平陽省並更名為平陽分行，並已於2014年1月開業。</li>
											<li>「Project One」專案10月圓滿完成階段性任務，富邦金控組織架構由「事業群」制度回歸「子公司」管理制。</li>
											<li>富邦藝術基金會「粉樂町」首度移師臺大校園續展，將無牆美術館的概念引進校園。</li>
											<li>中國銀監會核准華一銀行購併案，富邦金控與台北富邦銀行合計持有華一銀行80% 股權，成為唯一在「兩岸三地均擁有銀行子行」的台資金融機構。</li>
											<li>富邦金控連續五年榮登台灣金控業獲利之冠。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2012</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>富邦文教基金會舉辦第一屆「青少年圓夢計畫」，共資助26件，鼓勵青少年圓夢。</li>
											<li>富邦產險大陸子公司富邦財險重慶分公司3月開業，為富邦財險第一家省級分公司；大連分公司12 月開業，為富邦財險第二家省級分公司，亦為大陸東北地區首家台資產險公司。</li>
											<li>富邦慈善基金會「用愛心做朋友」10周年，邀請陶喆擔任代言人，並加入助學人行列。</li>
											<li>富邦產險越南子公司—越南富邦產物保險峴港分公司6月正式開業。</li>
											<li>富邦金控及旗下子公司台北富邦銀行及富邦人壽七月同步通過中華公司治理協會所推動之「CG6007 公司治理制度評量認證」，為第一家也是唯一一家「證書效期持續銜接」的金控公司，顯示富邦金控致力提升公司治理的決心與努力。</li>
											<li>富邦藝術基金會第七屆「粉樂町—台北東區當代藝術展」進駐富邦人壽不動產資產「大安56」，運用改建前的空檔，開放展覽14件藝術作品，以藝術活化老屋，與民眾共享。</li>
											<li>富邦證券（香港）子公司11月正式營運。</li>
											<li>富邦產險之大陸子公司富邦財險於2012年11月及12月陸續取得交強險及車險電銷經營許可，開啟車險市場的經營大門，成為台資第一家、外資第二家獲得大陸「交強險」經營許可之產險公司。</li>
											<li>富邦金控董事會與北富銀董事會通過對華一銀行之投資案，合計將持有80%控制性股權。</li>
											<li>富邦金控榮登金控業「市值、獲利及股價」三冠王。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2011</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>富邦人壽協同富邦產險，與南京紫金投資集團簽署合資合同，將在南京成立「富邦紫金人壽保險有限公司」。</li>
											<li>富邦證券買下富邦金控持有之富邦投信39.76%股權， 富邦投信正式成為富邦證券100%持有之子公司。</li>
											<li>廈門銀行泉州分行3月開業；重慶分行5月開業，首度跨出福建省。</li>
											<li>富邦人壽越南子公司—越南富邦人壽保險責任有限公司開幕，總公司設於河內，並於胡志明市成立分公司。</li>
											<li>富邦產險越南子公司—富邦產險（越南）有限公司4 月更名為越南富邦產物保險責任有限公司。</li>
											<li>4 月19 日富邦集團五十週年慶祝酒會。</li>
											<li>富邦金控旗下銀行、信用卡與證券期貨三大客戶服務部門領先通過英國標準協會BS 25999 驗證。</li>
											<li>富邦銀行（香港）撤銷在香港聯合交易所的上市地位，成為富邦金控全資子公司。</li>
											<li>富邦藝術基金會第六屆「粉樂町—台北東區當代藝術展」適逢建國百年，創下100個展點的擴大展出紀錄。</li>
											<li>富邦投信與大陸方正證券合資設立之「方正富邦基金管理公司」在北京揭牌。</li>
											<li>富邦金控暨旗下子公司出售其持有富邦媒體科技之全部持股，台灣大哥大以83.5億元取得富邦媒體科技51%股權。</li>
											<li>富邦投信發行之「富邦上証180基金」成立，為港台兩地第一檔具QFII資格的A股ETF。</li>
											<li>台北富邦銀行蘇州代表處獲中國銀監會核准設立。</li>
											<li>富邦銀行（香港）獲中國人民銀行核准運用人民幣資金投資中國銀行間債券市場，成為獲准進入大陸債市的首家台資銀行。</li>
											<li>富邦創業投資管理顧問公司解散。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2010</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>富邦人壽領先同業推出國內第一張一年期定期微型壽險保單。</li>
											<li>台北富邦銀行正式合併慶豐銀行河內分行與胡志明市支行，成為當地分行數最多的台資銀行。</li>
											<li>富邦產險越南子公司—富邦產險（越南）有限公司平陽分公司獲准設立。</li>
											<li>富邦金控宣布捐出200萬人民幣，協助青海強震賑災工作</li>
											<li>富邦慈善基金會發起「2010 富邦公益大使計畫」，協助莫拉克災後重建。</li>
											<li>富邦金控、富邦產險、富邦人壽及台北富邦銀行與福建省投資開發集團有限責任公司、廈門銀行及廈門港務控股集團簽署合作意向書，全面展開海西經濟區的交流合作</li>
											<li>富邦金控及旗下四家子公司（台北富邦銀行、富邦人壽、富邦證券及富邦產險）同步通過中華公司治理協會「CG6005 公司治理制度評量認證」。</li>
											<li>富邦人壽Fubon House開幕，首創企業與社區互動與連結空間。</li>
											<li>富邦文教基金會20 周年紀念專書「聽你 挺你」新書發表。</li>
											<li>富邦人壽協同富邦產險與南京紫金投資集團簽訂合資意向書，成為ECFA 生效後，兩岸金融機構首椿簽訂合作意向書的合資壽險公司案。</li>
											<li>富邦藝術基金會首度舉辦「粉樂町」政大校園續展，推動當代藝術進駐校園。</li>
											<li>台北富邦銀行擔任「2010 台北國際花卉博覽會」之金融協力夥伴。</li>
											<li>富邦產險大陸子公司富邦財險10月於廈門正式開業。</li>
											<li>由富邦慈善基金會捐贈造橋工程款、嘉邑行善團負責建造之屏東縣三地門鄉「富邦大橋」於12月11日通行，口社國小學生重獲安全上學之路。</li>
										</ul>
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2009</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>安泰人壽於2月11日併入金控旗下，成為金控100%持股之子公司；6月安泰人壽與富邦人壽正式合併，合併後的富邦人壽，市佔率躍居市場第二。</li>
											<li>富邦金控資訊暨作業本部榮獲ISO 27001認證。</li>
											<li>臺大法學院新館「萬才館」6月8日正式落成啟用，富邦集團總裁蔡萬才捐贈2.6億元回饋母校，期許為台灣法治教育貢獻一己之力。</li>
											<li>富邦產險在越南100%全資子公司--富邦產險(越南)有限公司河內分公司6月12日開幕，服務網絡自胡志明市延伸至河內。</li>
											<li>富邦金控人力資源處通過ISO 9001:2008認證</li>
											<li>富邦金控及旗下四家子公司(台北富邦銀行、富邦人壽、富邦證券及富邦產險)同步通過中華公司治理協會所推動之「CG6004公司治理制度評量認證」。</li>
											<li>富邦集團捐款1.2億元，協助莫拉克颱風災民重建。</li>
											<li>富邦銀行（香港）參股之廈門市商業銀行正式更名為「廈門銀行」。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2008</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>台北富邦銀行開辦「私人銀行業務」，鎖定資產3,000 萬以上之頂級客層，提供量身訂製的理財服務。</li>
											<li>富邦金控宣布將以6億美元併購ING安泰人壽。在合併後富邦人壽與ING安泰人壽合計之總保費收入(TP)市佔率上升至市場第二，初年度保費收入(FYP)市佔率則維持市場排名第二。</li>
											<li>富邦產險在越南100%全資持有之子公司-富邦產險(越南)有限公司正式開業。</li>
											<li>富邦銀行(香港)於12月20日完成對廈門市商業銀行 (於2009年11月底正式更名為「廈門商行」)參股案，取得19.99%股權，成為首家參股登陸之台資金融機構。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2007</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>台北富邦銀行取得運動彩券發行權，發行期間自民國97年4月15日起至民國102年12月31日止。</li>
											<li>運彩科技公司成立。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2006</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>「富邦台灣科技ETF」正式掛牌上市，為台灣第一檔類股型ETF。</li>
											<li>富邦文教基金會展開「MY 24 HOURS」青少年國際紀錄片計畫，帶領台灣青少年迎接全球化挑戰，培養國際競爭力。</li>
											<li>富邦銀行(香港)贊助富邦藝術基金會於香港舉辦2006 Art Buffet「同感童感」當代公共藝術展，廣受香港當地社區歡迎及媒體廣泛報導，成為富邦金控扮演區域性企業公民的良好典範。</li>
											<li>台北富邦銀行於12月25日成功完成與富邦票券之合併案。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2005</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>台北銀行與富邦銀行正式合併為台北富邦銀行，大台北地區分行市佔率高居第一。</li>
											<li>富邦金控啟動「Project One」組織重整專案，依據客戶導向成立企業金融、金融市場、消費金融、財富管理、投資管理和保險等六大事業群，成為負責業務運作之實體組織。</li>
											<li>香港港基銀行更名為富邦銀行(香港)，成為首家進軍香港金融市場且擁有24個據點的台灣金融品牌。</li>
											<li>台北銀行公益慈善基金會隨台北銀行併入富邦金控旗下，正式更名為台北富邦銀行公益慈善基金會。</li>
											<li>台北富邦銀行成功規劃發行規模近60億元之「富邦一號不動產投資信託基金」正式掛牌上市，為台灣首檔上市之REITs。</li>
											<li>富邦慈善基金會與美國柯林頓基金會合作，捐助新台幣150萬元，援助國際愛滋病童。</li>
											<li>富邦保險經紀人（泰國）股份有限公司正式開業。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2004</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>富邦金控完成收購香港港基銀行75%股權購，並納入成為富邦金控旗下子公司。</li>
											<li>富邦證券設立美國子公司。</li>
											<li>富邦媒體科技公司成立。</li>
											<li>富邦資產管理公司成立。</li>
											<li>富邦創業投資管理顧問公司成立。</li>
											<li>花旗集團與富邦金控共同宣布解除策略聯盟關係，各自追求其獨立之成長策略。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2003</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>富邦金控與阿拉伯銀行集團簽約，收購香港港基銀行55%之股權，成為首家併購香港銀行之台灣金融業者。
											<li>富邦直效行銷加入富邦金控，成為首家擁有直效行銷子公司之金控。</li>
											<li>台北銀行公益慈善基金會成立。</li>
											<li>富邦金控創業投資公司成立。</li>
											<li>富邦證券與韓國三星證券簽訂策略聯盟。</li>
											<li>富邦金控選出一名獨立監事，成為首家實施獨立監察人制度的上市公司。</li>
											<li>富邦人壽北京代表處核准成立。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2002</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>富邦金控選出兩名獨立董事，成為首家實施獨立董事制度的上市公司，創下公司治理的新典範。</li>
											<li>富邦金控募集4.3億美元海外可轉換公司債，為台灣有史以來最大發行金額的海外可轉債，也是第一家發行海外可轉債的金融企業</li>
											<li>富邦人壽北京代表處核准成立。</li>
											<li>富邦投信加入富邦金控，成為旗下第五家子公司。</li>
											<li>台北銀行加入富邦金控，成為旗下第六家子公司，富邦金控之銀行規模躍升為台灣第一大民營銀行。</li>
											<li>台北銀行正式發行國內首度上市之「公益彩券」。</li>
										</ul>
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2001</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>富邦投信合併花旗投信。</li>
											<li>富邦產險北京代表處於2月正式成立，並成為北京第一家台灣產物保險業據點。</li>
											<li>富邦人壽正式合併澳大利亞商花旗人壽台灣分公司。</li>
											<li>富邦金控正式掛牌上市，成為台灣首家成立的金融控股公司。</li>
											<li>富邦藝術基金會首度舉辦「粉樂町-台北東區當代藝術展」。</li>
										</ul>	
									</div>
								</li>
								<li class="b-align-xs-center">
									<time class="m-time-line-time"><em>2000</em></time>
									<div class="m-time-line-item b-align-xs-left">
										<ul class="m-item">
											<li>富邦集團與花旗集團正式宣佈策略聯盟，富邦集團國際化的腳步進入新的里程碑。</li>
											<li>富邦綜合證券完成七合一合併案，併購環球、中日、金山、華信、世霖、快樂等六家券商，創下國內證券史上最大宗合併案。</li>
										</ul>
									</div>
								</li>
							</ul>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
				<!-- ==================== l-side begin =================== -->
				<div class="l-side">
					<aside class="m-aside m-aside-accordion ng-aside-accordion" ng-class="{'is-selected' : Common.Aside.Selected}">
						<header class="m-aside-hd">
							<button class="ng-cloak ng-aside-select">
								{{ Common.Aside.Toggle.Text }}
								<span class="m-icon-stack m-icon-toggle">
									<i class="m-icon m-icon-arrow-angle-down"></i>
									<i class="m-icon m-icon-arrow-angle-up"></i>
								</span>
							</button>
						</header>
						<main class="m-aside-bd">
							<ul id="aside-item" class="ng-aside-accordion-item">
								<li data-channel="info">
									<h6>
										<a href="../../Views/about/info.html" class="b-middle">
											<em>富邦金控簡介</em>
										</a>
									</h6>
								</li>
								<li data-channel="business_philosophy">
									<h6>
										<a href="../../Views/about/business_philosophy.html" class="b-middle">
											<em>核心價值</em>
										</a>
									</h6>
								</li>
								<li data-channel="team">
									<h6>
										<a href="../../Views/about/team.html" class="b-middle">
											<em>經營團隊</em>
										</a>
									</h6>
								</li>
								<li data-channel="sub">
									<h6>
										<a href="../../Views/about/sub.html" class="b-middle">
											<em>金控子公司成員</em>
										</a>
									</h6>
								</li>
								<li data-channel="honor">
									<h6>
										<a href="../../Views/about/honor.html" class="b-middle">
											<em>專業殊榮</em>
										</a>
									</h6>
								</li>
								<li data-channel="milestone">
									<h6>
										<a href="../../Views/about/milestone.html" class="b-middle">
											<em>大事紀</em>
										</a>
									</h6>
								</li>
							</ul>
						</main>
					</aside>
					<aside class="m-aside">
						<header class="m-aside-hd">
							<h5>相關連結</h5>
						</header>
						<main class="m-aside-bd">
							<div class="m-video ng-youtube" data-youtube="WdhzVssc-MI">
								<div class="m-video-bd">
									<a href="m-button m-button-video">
										https://youtu.be/WdhzVssc-MI
										<!-- <figure>
											<img ng-src="" alt="富邦員工出動 台東蓋樹屋">
										</figure> -->
									</a>
									<div class="m-video-frame"></div>
								</div>
								<div class="m-video-ft">富邦金控簡介影片</div>
							</div>
						</main>
					</aside>
				</div>
				<!-- ==================== l-side end =================== -->

				<!-- ==================== top botton begin =================== -->
				<button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button>
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer b-clearfix">
			<footer class="m-footer">
				<div class="m-footer-hd">
					<div class="m-button-group">
						<button type="button" class="m-button m-button-sitemap ng-sitemap">
							網站導覽
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-up is-hide" ng-class="{'is-hide' : ! Common.Footer.Sitemap.Click}"></i>
								<i class="m-icon m-icon-arrow-angle-down" ng-class="{'is-hide' : Common.Footer.Sitemap.Click}"></i>
							</span>
						</button>
					</div>
					<div class="m-sitemap" ng-class="{'is-show' : Common.Footer.Sitemap.Click}">
						<div class="m-sitemap-bd b-row">
							<ul>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/about/info.html">關於富邦金控</a></li>
										<li><a href="../../Views/about/info.html">富邦金控簡介</a></li>
										<li><a href="../../Views/about/business_philosophy.html">核心價值</a></li>
										<li><a href="../../Views/about/team.html">經營團隊</a></li>
										<li><a href="../../Views/about/sub.html">金控子公司成員</a></li>
										<li><a href="../../Views/about/honor.html">專業殊榮</a></li>
										<li><a href="../../Views/about/milestone.html">大事紀</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/story/future.html">品牌故事</a></li>
										<li><a href="../../Views/story/future.html">延續傳承 走向未來</a></li>
										<li><a href="../../Views/story/positive.html">正向的力量</a></li>
										<li><a href="../../Views/story/identity.html">富邦品牌標誌</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/csr/chairmans_messages.html">企業社會責任</a></li>
										<li><a href="../../Views/csr/chairmans_messages.html">董事長的話</a></li>
										<li><a href="../../Views/csr/sustainable_operations.html">永續經營</a></li>
										<li><a href="../../Views/csr/corporate_governance.html">公司治理</a></li>
										<li><a href="../../Views/csr/commitment.html">客戶承諾</a></li>
										<li><a href="../../Views/csr/carehtml">員工關懷</a></li>
										<li><a href="../../Views/csr/core_competencies.html">核心職能</a></li>
										<li><a href="../../Views/csr/green.html">綠色金融</a></li>
										<li><a href="../../Views/csr/foundation.html">基金會</a></li>
										<li><a href="../../Views/csr/sponsorship.html">體育贊助</a></li>
										<li><a href="../../Views/csr/stakeholders.html">利害關係人專區</a></li>
										<li><a href="../../Views/csr/contact.html">聯絡我們</a></li>
										<li><a href="../../Views/csr/news.html">最新消息</a></li>
										<li><a href="../../Views/csr/media.html">影音專區</a></li>
										<li><a href="../../Views/csr/downloadlist.html">企業社會責任報告下載</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/ir/overview.html">投資人關係</a></li>
										<li><a href="../../Views/ir/overview.html">公司概況</a></li>
										<li><a href="../../Views/ir/financial.html">財務資訊</a></li>
										<li><a href="../../Views/ir/shareholder-Services.html">股務資訊</a></li>
										<li><a href="../../Views/ir/announcements.html">活動與公告</a></li>
										<li><a href="../../Views/ir/contact.html">聯絡我們</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/governance/status.html">公司治理</a></li>
										<li><a href="../../Views/governance/status.html">公司治理現況</a></li>
										<li><a href="../../Views/governance/framework.html">公司治理架構</a></li>
										<li><a href="../../Views/governance/operation.html">公司治理運作情形</a></li>
										<li><a href="../../Views/governance/shareholders.html">股東會</a></li>
										<li><a href="../../Views/governance/board_of_directors.html">董事會</a></li>
										<li><a href="../../Views/governance/committee.html">功能性委員會</a></li>
										<li><a href="../../Views/governance/organization.html">內部稽核組織及運作</a></li>
										<li><a href="../../Views/governance/regulation.html">公司重要章則</a></li>
										<li><a href="../../Views/governance/mail.html">獨立董事信箱</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-sm-2 b-col-xs-6">
									<ul>
										<li><a href="../../Views/news/list.html">新聞中心</a></li>
									</ul>
								</li>	
							</ul>
						</div>
					</div>
				</div>
				<ul class="m-footer-bd b-clearfix">
					<li><a href="../../Views/hr/jobs.html">人才招募</a></li>
					<li><a href="../../Views/announcement/announcement.html">法定揭露事項</a></li>
					<li><a href="../../Views/location/location_tw.html">海內外服務據點</a></li>
					<li><a href="../../Views/privacy_policy/privacy.html">隱私權聲明</a></li>
					<li><a href="../../Views/consumer_protection/consumer_protection.html">消費者保護</a></li>
					<li><a href="../../Views/service/contact.html">服務中心</a></li>
					<li><a href="../../Views/epaper/list.html">富邦理財電子報</a></li>
				</ul>
				<small class="m-footer-ft">© 富邦金融控股股份有限公司</small>
			</footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->

	<!-- ==================== l-nav begin =================== -->
	<nav class="l-nav" ng-class="{'is-animate' : Common.Nav.Mobile.Click}">
		<div class="m-nav ng-nav" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
			<div>
				<ul class="b-clearfix ng-nav-item">
					<li class="b-middle">
						<a href="../../Views/about/info.html">
							<em>關於富邦金控</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/about/info.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦金控簡介</em></a></li>
								<li><a href="../../Views/about/business_philosophy.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心價值</em></a></li>
								<li><a href="../../Views/about/team.html"><i class="m-icon m-icon-nav-arrow"></i><em>經營團隊</em></a></li>
								<li><a href="../../Views/about/sub.html"><i class="m-icon m-icon-nav-arrow"></i><em>金控子公司成員</em></a></li>
								<li><a href="../../Views/about/honor.html"><i class="m-icon m-icon-nav-arrow"></i><em>專業殊榮</em></a></li>
								<li><a href="../../Views/about/milestone.html"><i class="m-icon m-icon-nav-arrow"></i><em>大事記</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/story/future.html">
							<em>品牌故事</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/story/future.html"><i class="m-icon m-icon-nav-arrow"></i><em>延續傳承 走向未來</em></a></li>
								<li><a href="../../Views/story/positive.html"><i class="m-icon m-icon-nav-arrow"></i><em>正向的力量</em></a></li>
								<li><a href="../../Views/story/identity.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦品牌標誌</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/csr/chairmans_messages.html">
							<em>企業社會責任</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/csr/chairmans_messages.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事長的話</em></a></li>
								<li><a href="../../Views/csr/sustainable_operations.html"><i class="m-icon m-icon-nav-arrow"></i><em>永續經營</em></a></li>
								<li><a href="../../Views/csr/corporate_governance.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理</em></a></li>
								<li><a href="../../Views/csr/commitment.html"><i class="m-icon m-icon-nav-arrow"></i><em>客戶承諾</em></a></li>
								<li><a href="../../Views/csr/care.html"><i class="m-icon m-icon-nav-arrow"></i><em>員工關懷</em></a></li>
								<li><a href="../../Views/csr/core_competencies.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心職能</em></a></li>
								<li><a href="../../Views/csr/green.html"><i class="m-icon m-icon-nav-arrow"></i><em>綠色金融</em></a></li>
								<li><a href="../../Views/csr/foundation.html"><i class="m-icon m-icon-nav-arrow"></i><em>基金會</em></a></li>
								<li><a href="../../Views/csr/sponsorship.html"><i class="m-icon m-icon-nav-arrow"></i><em>體育贊助</em></a></li>
								<li><a href="../../Views/csr/stakeholders.html"><i class="m-icon m-icon-nav-arrow"></i><em>利害關係人專區</em></a></li>
								<li><a href="../../Views/csr/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
								<li><a href="../../Views/csr/news.html"><i class="m-icon m-icon-nav-arrow"></i><em>最新消息</em></a></li>
								<li><a href="../../Views/csr/media.html"><i class="m-icon m-icon-nav-arrow"></i><em>影音專區</em></a></li>
								<li><a href="../../Views/csr/downloadlist.html"><i class="m-icon m-icon-nav-arrow"></i><em>企業社會責任報告下載</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/ir/overview.html">
							<em>投資人關係</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/ir/overview.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司概況</em></a></li>
								<li><a href="../../Views/ir/financial.html"><i class="m-icon m-icon-nav-arrow"></i><em>財務資訊</em></a></li>
								<li><a href="../../Views/ir/shareholder_services.html"><i class="m-icon m-icon-nav-arrow"></i><em>股務資訊</em></a></li>
								<li><a href="../../Views/ir/announcements.html"><i class="m-icon m-icon-nav-arrow"></i><em>活動與公告</em></a></li>
								<li><a href="../../Views/ir/contact.html"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/governance/status.html">
							<em>公司治理</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/governance/status.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理現況</em></a></li>
								<li><a href="../../Views/governance/framework.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理架構</em></a></li>
								<li><a href="../../Views/governance/operation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理運作情形</em></a></li>
								<li><a href="../../Views/governance/letter.html"><i class="m-icon m-icon-nav-arrow"></i><em>股東會</em></a></li>
								<li><a href="../../Views/governance/board_of_directors.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事會</em></a></li>
								<li><a href="../../Views/governance/committee.html"><i class="m-icon m-icon-nav-arrow"></i><em>功能性委員會</em></a></li>
								<li><a href="../../Views/governance/organization.html"><i class="m-icon m-icon-nav-arrow"></i><em>內部稽核組織及運作</em></a></li>
								<li><a href="../../Views/governance/regulation.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司重要章則</em></a></li>
								<li><a href="../../Views/governance/mail.html"><i class="m-icon m-icon-nav-arrow"></i><em>獨立董事信箱</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/news/list.html">
							<em>新聞中心</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
					</li>
				</ul>
				<span class="m-nav-bar" ng-class="{'is-show' : Common.Nav.Bar.Hover}" ng-style="{'left' : Common.Nav.Bar.Left , 'width' : Common.Nav.Bar.Width}"></span>
			</div>
			<div class="m-nav-path ng-nav-path" ng-style="{'top' : Common.Nav.Path.Top , 'height' : Common.Nav.Path.Height}">
				<ul>
					<li ng-style="{'height' : Common.Nav.Path.Height}">
						<a href="javascript:;" class="ng-path">
							服務捷徑
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<!--[if lt IE 10]><span></span><![endif]-->
						<div>
							<ul>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>台北富邦銀行</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦銀行(香港)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦華一銀行(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦財險(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦證券</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投信</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦期貨</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投顧</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦行銷 | 富昇保代</a></li>
							</ul>	
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- ==================== l-nav end =================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular/angular.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/common.js?JS=20150630_01"></script>
<!-- master page include scripts end -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="../../Scripts/js/about/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>