<!DOCTYPE HTML>
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-海內外服務據點-台灣地區服務據點</title>
	<link rel="canonical" href="" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/angular/angular.css?CSS=20150508_03">
	<link rel="stylesheet" href="../../Content/css/reset.css?CSS=20150508_03">
	<link rel="stylesheet" href="../../Content/css/style.css?CSS=20150508_03">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/sugarfunbox/css/sugarfunbox.css?CSS=20150508_03">
	<link rel="stylesheet" href="../../Content/css/Branches/branches.css?CSS=20150508_03">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../Scripts/plugin/modernizr/modernizr.custom.js?JS=20150508_04"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				<div class="m-header-logo b-clearfix b-middle">
					<button class="m-button m-button-navicon ng-navicon"><i class="m-icon m-icon-navicon"></i></button>
					<a href="../../Views/Home/Index.html" class="m-icon-stack m-icon-fubon-group">
						<i class="m-icon m-icon-fubon-blue"></i>
						<i class="m-icon m-icon-fubon-green"></i>
						<i class="m-icon m-icon-fubon-text"></i>
					</a>
					<div class="m-header-company">
						<h1>富邦金控</h1>
					</div>
				</div>
				<ul class="m-header-tools">
					<li class="b-middle"><a href="javascript:;">EN</a></li>
					<li class="m-header-search b-middle" ng-class="{'is-open' : Common.Search.Click}">
						<button type="button" class="m-button ng-search"><i class="m-icon m-icon-search"></i></button>
						<div class="m-form-group m-form-search">
							<input type="search" class="m-form m-form-control" />
						</div>
					</li>
				</ul>
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main branches-content ng-controller" ng-controller="Branches">
			<!-- ==================== l-main-hd begin =================== -->
			<header class="l-main-hd b-clearfix">
				<div class="m-media ng-image-load">
					<div class="b-loading">
						<span class="m-icon-stack">
							<i class="m-icon m-icon-fubon-blue"></i>
							<i class="m-icon m-icon-fubon-green"></i>
						</span>
					</div>
					<figure class="m-media-item">
						<img ng-src="../../Content/img/Branches/kv-contact.jpg" alt="富邦金控-海內外服務據點">
					</figure>
					<ul class="m-media-tools is-right-top b-middle">
						<li><a href="javascript:;"><i class="m-icon m-icon-m-plus"></i></a></li>
						<li>
							<a href="javascript:;">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-youtube-you"></i>
									<i class="m-icon m-icon-youtube-tube"></i>
								</span>
							</a>
						</li>
						<li><a href="javascript:;"><i class="m-icon m-icon-facebook-official"></i></a></li>
					</ul>
				</div>
			</header>
			<!-- ==================== l-main-hd end =================== -->

			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd is-content-left b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-breadcrumb begin =================== -->
					<ol class="m-breadcrumb b-clearfix">
						<li>
							<a href="../../Views/index.html"><i class="m-icon m-icon-home"></i></a>
						</li>
						<li>
							<a href="../../Views/Service/Contact.html">海內外服務據點</a>
						</li>
						<li>
							<em>台灣地區服務據點</em>
						</li>
					</ol>
					<!-- ==================== m-breadcrumb end =================== -->

					<!-- ==================== m-section begin =================== -->
					<section class="m-section">
						<header class="m-section-hd is-col b-clearfix">
							<h2>台灣地區服務據點</h2>
						</header>
						<main class="m-section-bd b-clearfix">
							<div class="m-search-item">
								<div class="m-search-item-hd b-clearfix">
									<div class="m-step b-col-6 b-col-t-6 b-col-m-6">
										<span class="m-step-title">
											<i class="m-icon m-icon-number-1"></i>
											<em>子公司</em>
										</span>
										<div class="m-step-item b-row b-col-7 b-col-t-7">
											<div class="m-form-group m-form-select ng-select">
												<div class="m-form-ctrl">
													<label class="b-col-12 b-col-t-12 b-col-m-6">
														<select class="m-form m-form-control is-bgcolor" ng-model="Branches.Local.Model.Company">
															<option value="">請選擇子公司</option>
															<option value="富邦人壽">富邦人壽</option>
															<option value="台北富邦銀行">台北富邦銀行</option>
															<option value="富邦證券">富邦證券</option>
															<option value="富邦投信">富邦投信</option>
															<option value="富邦行銷">富邦行銷</option>
															<option value="富邦產險">富邦產險</option>
															<option value="富邦期貨">富邦期貨</option>
															<option value="富邦投顧">富邦投顧</option>
														</select>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="m-step b-disabled b-col-6 b-col-t-6 b-col-m-6" ng-class="{'b-disabled' : ! Branches.Local.Model.Company}">
										<span class="m-step-title">
											<i class="m-icon m-icon-number-2"></i>
											<em>請選擇地區</em>
										</span>
										<div class="m-step-item b-row b-col-6 b-col-t-6">
											<div class="m-form-group m-form-select ng-select">
												<div class="m-form-ctrl">
													<label class="b-col-12 b-col-t-12 b-col-m-6">
														<select class="m-form m-form-control is-bgcolor" disabled ng-disabled="! Branches.Local.Model.Company" ng-model="Branches.Local.Model.County">
															<option value="">請選擇縣市</option>
															<option value="台北市">台北市</option>
															<option value="新北市">新北市</option>
														</select>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="m-search-item-bd">
									<table class="m-table">
										<thead>
											<tr>
												<th class="b-col-4 b-col-t-4">據點名稱</th>
												<th>客服電話</th>
												<th class="b-col-5 b-col-t-5">地址</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td data-label="據點名稱"><em>高鐵車站ATM台中.(2號出口)右</em></td>
												<td data-label="客服電話">
													<span>
														<a href="tel:(02)8751-6665" class="ng-tel">(02)8751-6665</a>
													</span>
												</td>
												<td data-label="地址">
													<div class="m-button-group">
														<a href="../../Views/Home/Map.html" class="m-button m-button-map ng-map"><i class="m-icon m-icon-map"></i>台中市烏日區站區二路8號</a>
													</div>
												</td>
											</tr>
											<tr class="is-bgcolor">
												<td data-label="據點名稱"><em>高鐵車站ATM台中.(2號出口)左</em></td>
												<td data-label="客服電話">
													<span>
														<a href="tel:(02)8751-6665" class="ng-tel">(02)8751-6665</a>
													</span>
												</td>
												<td data-label="地址">
													<div class="m-button-group">
														<a href="../../Views/Home/Map.html" class="m-button m-button-map ng-map"><i class="m-icon m-icon-map"></i>台中市烏日區站區二路8號</a>
													</div>
												</td>
											</tr>
											<tr>
												<td data-label="據點名稱"><em>高鐵車站ATM台中.(4B15出口)右</em></td>
												<td data-label="客服電話">
													<span>
														<a href="tel:(02)8751-6665" class="ng-tel">(02)8751-6665</a>
													</span>
												</td>
												<td data-label="地址">
													<div class="m-button-group">
														<a href="../../Views/Home/Map.html" class="m-button m-button-map ng-map"><i class="m-icon m-icon-map"></i>台中市烏日鄉站區二路8號</a>
													</div>
												</td>
											</tr>
											<tr class="is-bgcolor">
												<td data-label="據點名稱"><em>高鐵車站ATM台中.(4B15出口)左</em></td>
												<td data-label="客服電話">
													<span>
														<a href="tel:(02)8751-6665" class="ng-tel">(02)8751-6665</a>
													</span>
												</td>
												<td data-label="地址">
													<div class="m-button-group">
														<a href="../../Views/Home/Map.html" class="m-button m-button-map ng-map"><i class="m-icon m-icon-map"></i>台中市烏日鄉站區二路8號</a>
													</div>
												</td>
											</tr>
											<tr>
												<td data-label="據點名稱"><em>高鐵車站ATM台中.(4B18出口)右</em></td>
												<td data-label="客服電話">
													<span>
														<a href="tel:(02)8751-6665" class="ng-tel">(02)8751-6665</a>
													</span>
												</td>
												<td data-label="地址">
													<div class="m-button-group">
														<a href="../../Views/Home/Map.html" class="m-button m-button-map ng-map"><i class="m-icon m-icon-map"></i>台中市烏日鄉站區二路8號</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
				<!-- ==================== l-side begin =================== -->
				<div class="l-side">
					<aside class="m-aside m-aside-accordion ng-aside-accordion" ng-class="{'is-selected' : Common.Aside.Selected}">
						<header class="m-aside-hd">
							<button class="ng-cloak ng-aside-select">
								{{ Common.Aside.Toggle.Text }}
								<span class="m-icon-stack m-icon-toggle">
									<i class="m-icon m-icon-arrow-angle-down"></i>
									<i class="m-icon m-icon-arrow-angle-up"></i>
								</span>
							</button>
						</header>
						<main class="m-aside-bd">
							<ul class="ng-aside-accordion-item">
								<li class="is-curr">
									<h6>
										<a href="../../Views/Branches/Local.html" class="b-middle">
											<em>台灣地區服務據點</em>
										</a>
									</h6>
								</li>
								<li>
									<h6>
										<a href="../../Views/Branches/Overseas.html" class="b-middle">
											<em>海外地區服務據點</em>
										</a>
									</h6>
								</li>
							</ul>
						</main>
					</aside>
				</div>
				<!-- ==================== l-side end =================== -->

				<!-- ==================== top botton begin =================== -->
				<button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button>
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer b-clearfix">
			<footer class="m-footer">
				<div class="m-footer-hd">
					<div class="m-button-group">
						<button type="button" class="m-button m-button-sitemap ng-sitemap">
							網站導覽
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-up is-hide" ng-class="{'is-hide' : ! Common.Footer.Sitemap.Click}"></i>
								<i class="m-icon m-icon-arrow-angle-down" ng-class="{'is-hide' : Common.Footer.Sitemap.Click}"></i>
							</span>
						</button>
					</div>
					<div class="m-sitemap" ng-class="{'is-show' : Common.Footer.Sitemap.Click}">
						<div class="m-sitemap-bd b-row">
							<ul>
								<li class="b-col-2 b-col-t-2 b-col-m-6">
									<ul>
										<li><a href="javascript:;">關於富邦金控</a></li>
										<li><a href="javascript:;">富邦金控簡介</a></li>
										<li><a href="javascript:;">核心價值</a></li>
										<li><a href="javascript:;">經營團隊</a></li>
										<li><a href="javascript:;">金控子公司成員</a></li>
										<li><a href="javascript:;">專業殊榮</a></li>
										<li><a href="javascript:;">大事紀</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-t-2 b-col-m-6">
									<ul>
										<li><a href="javascript:;">品牌故事</a></li>
										<li><a href="javascript:;">延續傳承 走向未來</a></li>
										<li><a href="javascript:;">我們的願景</a></li>
										<li><a href="javascript:;">我們的承諾</a></li>
										<li><a href="javascript:;">我們的特質</a></li>
										<li><a href="javascript:;">富邦品牌標誌</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-t-2 b-col-m-6">
									<ul>
										<li><a href="javascript:;">企業社會責任</a></li>
										<li><a href="javascript:;">董事長的話</a></li>
										<li><a href="javascript:;">永續經營</a></li>
										<li><a href="javascript:;">公司治理</a></li>
										<li><a href="javascript:;">客戶承諾</a></li>
										<li><a href="javascript:;">員工關懷</a></li>
										<li><a href="javascript:;">核心職能</a></li>
										<li><a href="javascript:;">綠色金融</a></li>
										<li><a href="javascript:;">基金會</a></li>
										<li><a href="javascript:;">體育贊助</a></li>
										<li><a href="javascript:;">利害關係人專區</a></li>
										<li><a href="javascript:;">聯絡我們</a></li>
										<li><a href="javascript:;">最新消息</a></li>
										<li><a href="javascript:;">影音專區</a></li>
										<li><a href="javascript:;">企業社會責任報告下載</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-t-2 b-col-m-6">
									<ul>
										<li><a href="javascript:;">投資人關係</a></li>
										<li><a href="javascript:;">公司概況</a></li>
										<li><a href="javascript:;">財務資訊</a></li>
										<li><a href="javascript:;">股務資訊</a></li>
										<li><a href="javascript:;">活動與公告</a></li>
										<li><a href="javascript:;">聯絡我們</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-t-2 b-col-m-6">
									<ul>
										<li><a href="javascript:;">公司治理</a></li>
										<li><a href="javascript:;">公司治理現況說明</a></li>
										<li><a href="javascript:;">公司治理架構</a></li>
										<li><a href="javascript:;">公司治理運作情形</a></li>
										<li><a href="javascript:;">股東會</a></li>
										<li><a href="javascript:;">董事會</a></li>
										<li><a href="javascript:;">功能性委員</a></li>
										<li><a href="javascript:;">內部稽核組織及運作</a></li>
										<li><a href="javascript:;">公司重要章則</a></li>
										<li><a href="javascript:;">獨立董事信箱</a></li>
									</ul>
								</li>
								<li class="b-col-2 b-col-t-2 b-col-m-6">
									<ul>
										<li><a href="javascript:;">新聞中心</a></li>
									</ul>
								</li>	
							</ul>
						</div>
					</div>
				</div>
				<ul class="m-footer-bd b-clearfix">
					<li><a href="../../Views/Careers/Careers.html">人才招募</a></li>
					<li><a href="../../Views/Home/Public.html">法定揭露事項</a></li>
					<li><a href="../../Views/Branches/Local.html">海內外服務據點</a></li>
					<li><a href="../../Views/Privacy/Privacy.html">隱私權聲明</a></li>
					<li><a href="../../Views/Home/Auspices.html">消費者保護</a></li>
					<li><a href="../../Views/Service/Contact.html">服務中心</a></li>
					<li><a href="../../Views/Epaper/List.html">富邦理財電子報</a></li>
				</ul>
				<small class="m-footer-ft">copyright Fubon Financial.All Rights Reserved</small>
			</footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->

	<!-- ==================== l-nav begin =================== -->
	<nav class="l-nav" ng-class="{'is-animate' : Common.Nav.Mobile.Click}">
		<div class="m-nav ng-nav" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
			<div>
				<ul class="b-clearfix ng-nav-item">
					<li class="b-middle">
						<a href="../../Views/About/About.html">
							<em>關於富邦金控</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/About/About.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦金控簡介</em></a></li>
								<li><a href="../../Views/About/Core.html"><i class="m-icon m-icon-nav-arrow"></i><em>核心價值</em></a></li>
								<li><a href="../../Views/About/Team.html"><i class="m-icon m-icon-nav-arrow"></i><em>經營團隊</em></a></li>
								<li><a href="../../Views/About/Members.html"><i class="m-icon m-icon-nav-arrow"></i><em>金控子公司成員</em></a></li>
								<li><a href="../../Views/About/Awards.html"><i class="m-icon m-icon-nav-arrow"></i><em>專業殊榮</em></a></li>
								<li><a href="../../Views/About/Events.html"><i class="m-icon m-icon-nav-arrow"></i><em>大事記</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/Brand/Future.html">
							<em>品牌故事</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/Brand/Future.html"><i class="m-icon m-icon-nav-arrow"></i><em>延續傳承 走向未來</em></a></li>
								<li><a href="../../Views/Brand/Wish.html"><i class="m-icon m-icon-nav-arrow"></i><em>我們的願景</em></a></li>
								<li><a href="../../Views/Brand/Promise.html"><i class="m-icon m-icon-nav-arrow"></i><em>我們的承諾</em></a></li>
								<li><a href="../../Views/Brand/Feature.html"><i class="m-icon m-icon-nav-arrow"></i><em>我們的特質</em></a></li>
								<li><a href="../../Views/Brand/Mark.html"><i class="m-icon m-icon-nav-arrow"></i><em>富邦品牌標誌</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="javascript:;">
							<em>企業社會責任</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>董事長的話</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>永續經營</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>客戶承諾</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>員工關懷</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>核心職能</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>綠色金融</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>基金會</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>體育贊助</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>利害關係人專區</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>最新消息</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>影音專區</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>企業社會責任報告下載</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="javascript:;">
							<em>投資人關係</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>公司概況</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>財務資訊</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>股務資訊</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>活動與公告</em></a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-nav-arrow"></i><em>聯絡我們</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="javascript:;">
							<em>公司治理</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<div ng-style="{'left' : Common.Nav.Submenu.Left , 'margin-left' : Common.Nav.Submenu.MarginLeft}">
							<ul class="b-clearfix">
								<li><a href="../../Views/Manage/Model.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理典範</em></a></li>
								<li><a href="../../Views/Manage/Architecture.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理架構</em></a></li>
								<li><a href="../../Views/Manage/Operating.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司治理運作情形</em></a></li>
								<li><a href="../../Views/Manage/Shareholder.html"><i class="m-icon m-icon-nav-arrow"></i><em>股東會</em></a></li>
								<li><a href="../../Views/Manage/Chairman.html"><i class="m-icon m-icon-nav-arrow"></i><em>董事會</em></a></li>
								<li><a href="../../Views/Manage/Function.html"><i class="m-icon m-icon-nav-arrow"></i><em>功能性委員</em></a></li>
								<li><a href="../../Views/Manage/Organization.html"><i class="m-icon m-icon-nav-arrow"></i><em>內部稽核組織及運作</em></a></li>
								<li><a href="../../Views/Manage/Rule.html"><i class="m-icon m-icon-nav-arrow"></i><em>公司重要章則</em></a></li>
								<li><a href="../../Views/Manage/Mail.html"><i class="m-icon m-icon-nav-arrow"></i><em>獨立董事信箱</em></a></li>
							</ul>
						</div>
					</li>
					<li class="b-middle">
						<a href="../../Views/News/List.html">
							<em>新聞中心</em>
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
					</li>
				</ul>
				<span class="m-nav-bar" ng-class="{'is-show' : Common.Nav.Bar.Hover}" ng-style="{'left' : Common.Nav.Bar.Left , 'width' : Common.Nav.Bar.Width}"></span>
			</div>
			<div class="m-nav-path ng-nav-path" ng-style="{'top' : Common.Nav.Path.Top , 'height' : Common.Nav.Path.Height}">
				<ul>
					<li ng-style="{'height' : Common.Nav.Path.Height}">
						<a href="javascript:;" class="ng-path">
							服務捷徑
							<span class="m-icon-stack m-icon-toggle">
								<i class="m-icon m-icon-arrow-angle-right"></i>
								<i class="m-icon m-icon-arrow-angle-down"></i>
							</span>
						</a>
						<!--[if lt IE 10]><span></span><![endif]-->
						<div>
							<ul>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>台北富邦銀行</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦人壽(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦銀行(香港)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦華一銀行(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦產險(越南)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦財險(大陸)</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦證券</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投信</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦期貨</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦投顧</a></li>
								<li><a href="javascript:;"><i class="m-icon m-icon-chevron-right"></i>富邦行銷 | 富昇保代</a></li>
							</ul>	
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- ==================== l-nav end =================== -->

	<!-- ======================== sugarfunbox begin ======================== -->
	<div class="sugarfunbox is-hide" tabindex="-1" role="dialog">
		<div class="sugarfunbox-hd">
			<a href="javascript:;" class="sugarfunbox-close"><em>關閉</em><i class="m-icon m-icon-close"></i></a>
		</div>
		<div class="sugarfunbox-bd"></div>
	</div>
	<!-- ======================== sugarfunbox end ======================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?JS=20150508_04"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular/angular.min.js?JS=20150508_04"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150508_04"></script>
<script type="text/javascript" src="../../Scripts/js/common.js?JS=20150508_04"></script>
<!-- master page include scripts end -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/sugarfunbox/js/sugarfunbox.js?JS=20150508_04"></script>
<script type="text/javascript" src="../../Scripts/js/Branches/branches.js?JS=20150508_04"></script>
<!-- self page include scripts end -->
</html>