<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-公司治理-董事會-董事會重要決議</title>
	<link rel="canonical" href="https://www.fubon.com/financialholdings/governance/resolutions.html" />
	<link rel="shortcut icon" type="image/x-icon" href="/financialholdings/Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="/financialholdings/Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="/financialholdings/Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="/financialholdings/Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="/financialholdings/Content/css/governance/resolutions.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="/financialholdings/Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<div>
		<input type="hidden" id="page" value="2">
	</div>
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!--#include virtual="/financialholdings/header.inc" -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main resolutions-content ng-controller" ng-controller="Governance" ng-init="Common.Channel = 'governance'">
			<!--#include virtual="header.inc" -->
			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd is-content-left b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-breadcrumb begin =================== -->
					<ol class="m-breadcrumb b-clearfix">
						<li>
							<a href="/financialholdings/home/index.html"><i class="m-icon m-icon-home"></i></a>
						</li>
						<li>
							<a href="/financialholdings/governance/letter.html">公司治理</a>
						</li>
						<li>
							<a href="/financialholdings/governance/shareholders.html">股東會</a>
						</li>
						<li>
							<em>董事會重要決議</em>
						</li>
					</ol>
					<!-- ==================== m-breadcrumb end =================== -->

					<!-- ==================== m-section begin =================== -->
					<section class="m-section is-line">
						<header class="m-section-hd is-col b-clearfix">
							<h2>董事會重要決議</h2>
							<div class="m-section-tools">
								<div class="m-form-group m-form-select ng-select">
									<div class="m-form-ctrl">
										<span class="m-form-addon b-col-xs-0">請選擇年份</span>
										<label>
											<select class="m-form m-form-control is-bgcolor" ng-model="Governance.Resolutions.Model" ng-options="option for option in Governance.Resolutions.Year" ng-change="Governance.Resolutions.OnChange()"></select>	
										</label>
									</div>
								</div>
							</div>
						</header>
						<main class="m-section-bd b-clearfix">
							<div class="m-list m-list-table b-cloak" ng-class="{'b-cloak' : Common.Cloak}">
								<div class="m-list-hd">
									<ul class="m-ajax ng-ajax" data-length="7">
										<li>
											<time>2015.06.22</time>
											<em>通過子公司富邦人壽收購韓國現代人壽股權案。</em>
										</li>
										<li>
											<time>2015.06.12</time>
											<em>通過本公司第五屆「公司治理委員會」委員任命案。</em>
										</li>
										<li>
											<time>2015.06.12</time>
											<em>通過辦理本公司現金增資發行甲種特別股案。</em>
										</li>
										<li>
											<time>2015.04.28</time>
											<em>通過審查本公司第六屆獨立董事被提名人案。</em>
										</li>
										<li>
											<time>2015.04.28</time>
											<em>通過本公司103年度盈餘分配案。</em>
										</li>
										<li>
											<time>2015.04.28</time>
											<em>通過修正本公司「章程」案。</em>
										</li>
										<li>
											<time>2015.04.28</time>
											<em>通過本公司擬規劃辦理長期資金募集案。</em>
										</li>
										<li>
											<time>2015.03.20</time>
											<em>通過本公司104年度預算與營運計畫案。</em>
										</li>
										<li>
											<time>2015.03.20</time>
											<em>通過本公司103年度財務報表案。</em>
										</li>
										<li>
											<time>2015.03.20</time>
											<em>通過本公司第二屆「薪資報酬委員會」委員委任案。</em>
										</li>
										<li>
											<time>2015.03.20</time>
											<em>通過辦理提名本公司第六屆獨立董事候選人案。</em>
										</li>
										<li>
											<time>2015.03.20</time>
											<em>通過本公司103年度營業報告書案。</em>
										</li>
										<li>
											<time>2015.02.09</time>
											<em>通過擇定104年股東常會日期、地點及受理提名、提案等相關事宜案。</em>
										</li>
										<li>
											<time>2015.02.09</time>
											<em>通過本公司第六屆獨立董事補選案。</em>
										</li>
										<li>
											<time>2015.02.09</time>
											<em>通過本公司及子公司簽證會計師103年度績效衡量評核結果案。</em>
										</li>
										<li>
											<time>2015.02.09</time>
											<em>通過本公司「布局亞洲發展計畫」案。</em>
										</li>
										<li>
											<time>2014.11.18</time>
											<em>通過訂定本公司104年董事會年度計畫案。</em>
										</li>
										<li>
											<time>2014.11.18</time>
											<em>通過訂定本公司「公司治理實務守則」案。</em>
										</li>
										<li>
											<time>2014.11.18</time>
											<em>通過本公司擬發行民國104年度無擔保普通公司債案。</em>
										</li>
										<li>
											<time>2014.11.18</time>
											<em>通過富邦資產擬參與大陸地區「中信富通融資租賃有限公司」增資案。</em>
										</li>
										<li>
											<time>2014.11.18</time>
											<em>通過富邦人壽擬辦理中信資本投資案。</em>
										</li>
										<li>
											<time>2014.11.18</time>
											<em>通過富邦人壽擬於香港設立壽險子公司案。</em>
										</li>
										<li>
											<time>2014.09.30</time>
											<em>通過本公司及子公司針對投資性不動產之後續衡量會計政策，擬自103年度第三季起由成本模式變更為公允價值模式案。</em>
										</li>
										<li>
											<time>2014.08.21</time>
											<em>通過本公司103年上半年度財務報表案。</em>
										</li>
										<li>
											<time>2014.04.22</time>
											<em>通過本公司102年度盈餘分配案。</em>
										</li>
										<li>
											<time>2014.04.22</time>
											<em>通過本公司擬發行民國103年度無擔保普通公司債案。</em>
										</li>
										<li>
											<time>2014.04.22</time>
											<em>通過本公司擬規劃辦理長期資金募集案，提請股東會授權董事會於適當時機採取適當方式辦理案。</em>
										</li>
										<li>
											<time>2014.04.22</time>
											<em>通過本公司擬增資運彩科技股份有限公司案。</em>
										</li>
										<li>
											<time>2014.04.22</time>
											<em>通過本公司擬參與認購富邦銀行(香港)現金增資案。</em>
										</li>
										<li>
											<time>2014.04.22</time>
											<em>通過本公司第六屆董事選舉（含股東提名之審查）案。</em>
										</li>
										<li>
											<time>2014.04.22</time>
											<em>通過解除本公司第六屆董事競業禁止之限制案。</em>
										</li>
										<li>
											<time>2014.03.20</time>
											<em>通過本公司102年度營業報告書案。</em>
										</li>
										<li>
											<time>2014.03.20</time>
											<em>通過本公司102年度財務報表案。</em>
										</li>
										<li>
											<time>2014.03.20</time>
											<em>通過本公司103年度預算與營運計畫案。</em>
										</li>
										<li>
											<time>2014.03.20</time>
											<em>通過修正本公司「取得或處分資產處理程序」案。</em>
										</li>
										<li>
											<time>2014.01.21</time>
											<em>通過本公司及子公司簽證會計師102年度績效衡量評核結果案。</em>
										</li>
										<li>
											<time>2014.01.21</time>
											<em>通過擇定103年股東常會日期、地點案。</em>
										</li>
										<li>
											<time>2013.12.30</time>
											<em>通過本公司參與認購台北富邦銀行現金增資案。</em>
										</li>
										<li>
											<time>2013.11.01</time>
											<em>通過訂定本公司103年董事會年度計畫案。</em>
										</li>
										<li>
											<time>2013.10.01</time>
											<em>通過本公司總經理及財務主管聘任案。</em>
										</li>
										<li>
											<time>2013.08.23</time>
											<em>通過本公司102年上半年度財務報表案。</em>
										</li>
										<li>
											<time>2013.08.23</time>
											<em>通過本公司轉投資台北富邦銀行美金3億元案。</em>
										</li>
										<li>
											<time>2013.05.03</time>
											<em>通過本公司101年度盈餘分配案。</em>
										</li>
										<li>
											<time>2013.05.03</time>
											<em>通過本公司擬規劃辦理長期資金募集案，提請股東會授權董事會於適當時機採取適當方式辦理案。</em>
										</li>
										<li>
											<time>2013.05.03</time>
											<em>通過解除董事競業禁止之限制案。</em>
										</li>
										<li>
											<time>2013.05.03</time>
											<em>通過擬發行民國102年度無擔保普通公司債案。</em>
										</li>
										<li>
											<time>2013.04.17</time>
											<em>通過擬依101年度股東會之授權，辦理現金增資發行普通股參與發行海外存託憑證案。</em>
										</li>
										<li>
											<time>2013.03.20</time>
											<em>通過101年度營業報告書案。</em>
										</li>
										<li>
											<time>2013.03.20</time>
											<em>通過本公司101年度財務報表案。</em>
										</li>
										<li>
											<time>2013.03.20</time>
											<em>通過本公司102年度預算與營運計畫案。</em>
										</li>
										<li>
											<time>2013.03.20</time>
											<em>通過本公司擬增資運彩科技股份有限公司案。</em>
										</li>
										<li>
											<time>2013.02.01</time>
											<em>通過為適用國際會計準則規定，重新制定本公司會計制度案。</em>
										</li>
										<li>
											<time>2013.02.01</time>
											<em>通過修正本公司「董事會議事規範」案。</em>
										</li>
										<li>
											<time>2012.12.27</time>
											<em>通過本公司轉投資大陸地區華一銀行案。</em>
										</li>
										<li>
											<time>2012.12.27</time>
											<em>通過本公司轉投資台北富邦銀行新台幣約69.654億元案。</em>
										</li>
										<li>
											<time>2012.10.26</time>
											<em>通過訂定本公司102年董事會年度計畫案。</em>
										</li>
										<li>
											<time>2012.08.24</time>
											<em>通過本公司及各子公司101年上半年度財務報表案。</em>
										</li>
										<li>
											<time>2012.08.24</time>
											<em>通過本公司董事長暨副董事長之董事報酬案。</em>
										</li>
										<li>
											<time>2012.06.22</time>
											<em>通過設置金控資訊治理委員會案。</em>
										</li>
										<li>
											<time>2012.06.22</time>
											<em>通過本公司持有之富邦銀行(香港)特別股轉換為富邦銀行(香港)普通股案。</em>
										</li>
										<li>
											<time>2012.04.27</time>
											<em>通過修訂本公司「取得或處分資產處理程序」案。</em>
										</li>
										<li>
											<time>2012.04.27</time>
											<em>通過100年度盈餘分配案。</em>
										</li>
										<li>
											<time>2012.04.27</time>
											<em>通過本公司辦理盈餘轉增資發行新股案。</em>
										</li>
										<li>
											<time>2012.04.27</time>
											<em>通過修訂本公司「章程」第32條規定案。</em>
										</li>
										<li>
											<time>2012.04.27</time>
											<em>通過發行民國101年度無擔保普通公司債案。</em>
										</li>
										<li>
											<time>2012.03.23</time>
											<em>通過本公司規劃辦理長期資金募集案。</em>
										</li>
										<li>
											<time>2012.03.23</time>
											<em>通過子公司運彩科技股份有限公司減增資案。</em>
										</li>
										<li>
											<time>2012.03.23</time>
											<em>通過本公司暨子公司100年度資產減損案。</em>
										</li>
										<li>
											<time>2012.03.23</time>
											<em>通過修訂本公司「章程」案。</em>
										</li>
										<li>
											<time>2012.03.23</time>
											<em>通過修訂本公司「股東會議事規則」案。</em>
										</li>
										<li>
											<time>2012.03.23</time>
											<em>通過修訂本公司「董事選任程序」案。</em>
										</li>
										<li>
											<time>2012.03.23</time>
											<em>通過修訂本公司「董事會議事規範」案。</em>
										</li>
										<li>
											<time>2012.03.23</time>
											<em>通過解除董事競業禁止之限制案。</em>
										</li>
										<li>
											<time>2012.03.23</time>
											<em>通過擇定101年股東常會日期、地點及受理提案等相關事宜案。</em>
										</li>
										<li>
											<time>2012.03.23</time>
											<em>通過本公司101年度營運計畫與預算案。</em>
										</li>
										<li>
											<time>2012.01.18</time>
											<em>通過訂定本公司「遞延獎金準則」。</em>
										</li>
										<li>
											<time>2011.12.23</time>
											<em>通過子公司富邦人壽保險股份有限公司增資案。</em>
										</li>
										<li>
											<time>2011.09.09</time>
											<em>通過提名暨審查本公司第五屆獨立董事候選人案。</em>
										</li>
										<li>
											<time>2011.08.19</time>
											<em>通過本公司第一屆「薪資報酬委員會」委員任命案。</em>
										</li>
										<li>
											<time>2011.08.19</time>
											<em>通過補選本公司二席獨立董事案。</em>
										</li>
										<li>
											<time>2011.08.19</time>
											<em>通過發行民國100年度無擔保普通公司債案。</em>
										</li>
										<li>
											<time>2011.06.24</time>
											<em>選舉本公司第五屆董事長、副董事長案。</em>
										</li>
										<li>
											<time>2011.06.24</time>
											<em>通過本公司第四屆「公司治理委員會」委員任命案。</em>
										</li>
										<li>
											<time>2011.06.24</time>
											<em>通過子公司「台北富邦商業銀行」、「富邦綜合證券公司」、「富邦產物保險公司」及「富邦人壽保險公司」董監事派任案。</em>
										</li>
										<li>
											<time>2011.04.29</time>
											<em>通過本公司擬規劃辦理長期資金募集案。</em>
										</li>
										<li>
											<time>2011.04.29</time>
											<em>通過本公司第五屆董事選舉(含股東提名之審查)案。</em>
										</li>
										<li>
											<time>2011.04.29</time>
											<em>通過制定本公司「企業社會責任守則」案。</em>
										</li>
										<li>
											<time>2011.04.29</time>
											<em>通過99年度營業報告書案。</em>
										</li>
										<li>
											<time>2011.04.29</time>
											<em>通過99年度財務報表案。</em>
										</li>
										<li>
											<time>2011.04.29</time>
											<em>通過99年度盈餘分配案。</em>
										</li>
										<li>
											<time>2011.04.29</time>
											<em>通過辦理盈餘轉增資發行新股案。</em>
										</li>
										<li>
											<time>2011.04.08</time>
											<em>通過子公司富邦金控創投出售所持有之富邦媒體科技股權案。</em>
										</li>
										<li>
											<time>2011.03.11</time>
											<em>通過提名本公司下屆獨立董事候選人案。</em>
										</li>
										<li>
											<time>2011.03.11</time>
											<em>通過訂定本公司「誠信經營守則」案。</em>
										</li>
										<li>
											<time>2011.01.21</time>
											<em>通過制定本公司暨子公司「捐贈管理準則」案。</em>
										</li>
										<li>
											<time>2011.01.10</time>
											<em>通過辦理本公司投資案(本公司擬買回富邦銀行(香港)子公司流通在外股份案)。</em>
										</li>
										<li>
											<time>2010.10.29</time>
											<em>通過訂定本公司100年度董事會年度計畫。</em>
										</li>
										<li>
											<time>2010.10.29</time>
											<em>通過100年度稽核業務工作計劃。</em>
										</li>
										<li>
											<time>2010.10.29</time>
											<em>通過本公司轉讓庫藏股予員工之施行規劃案。</em>
										</li>
										<li>
											<time>2010.08.27</time>
											<em>通過子公司富邦投信股權規劃調整案。</em>
										</li>
										<li>
											<time>2010.08.27</time>
											<em>通過本公司第七次申請買回庫藏股。</em>
										</li>
										<li>
											<time>2010.08.27</time>
											<em>通過訂定本公司「內部控制制度」。</em>
										</li>
										<li>
											<time>2010.08.27</time>
											<em>通過修訂本公司「風險管理政策」。</em>
										</li>
										<li>
											<time>2010.08.27</time>
											<em>通過制定本公司「保險風險管理政策」。</em>
										</li>
										<li>
											<time>2010.08.27</time>
											<em>通過本公司99年上半年度財務報表。</em>
										</li>
										<li>
											<time>2010.07.23</time>
											<em>通過訂定本公司98年度盈餘分配案之除權、除息基準日。</em>
										</li>
										<li>
											<time>2010.06.02</time>
											<em>通過修訂本公司「取得或處分資產處理程序」第11條取得或處分衍生性商品之處理程序。</em>
										</li>
										<li>
											<time>2010.05.14</time>
											<em>通過訂定本公司資產減損金額應提報董事會之重大性標準案。</em>
										</li>
										<li>
											<time>2010.05.14</time>
											<em>通過辦理本公司股票全面無實體化案。</em>
										</li>
										<li>
											<time>2010.05.14</time>
											<em>通過訂定「本公司暨子公司投資管理業務員工行為準則」。</em>
										</li>
										<li>
											<time>2010.05.14</time>
											<em>通過訂定本公司暨各子公司「經理人績效考核及酬金給付準則」。</em>
										</li>
										<li>
											<time>2010.05.14</time>
											<em>通過訂定本公司暨子公司「防火牆管理政策」。</em>
										</li>
										<li>
											<time>2010.04.28</time>
											<em>通過本公司98年度營業報告書、財務報表及盈餘分配案。</em>
										</li>
										<li>
											<time>2010.04.28</time>
											<em>通過辦理盈餘轉增資發行新股案。</em>
										</li>
										<li>
											<time>2010.04.28</time>
											<em>通過本公司擬規劃辦理長期資金募集案。</em>
										</li>
										<li>
											<time>2010.04.28</time>
											<em>通過訂定本公司99年股東常會議程案。</em>
										</li>
										<li>
											<time>2010.04.28</time>
											<em>通過修訂本公司「章程」。</em>
										</li>
										<li>
											<time>2010.04.28</time>
											<em>通過修訂本公司「董事會議事規範」。</em>
										</li>
										<li>
											<time>2010.04.28</time>
											<em>通過修訂本公司「受理股東提案處理規則」。</em>
										</li>
										<li>
											<time>2010.04.28</time>
											<em>通過聘任本公司99年度簽證會計師、委任報酬。</em>
										</li>
										<li>
											<time>2010.04.28</time>
											<em>通過出具本公司98年度「內部控制制度聲明書」。</em>
										</li>
										<li>
											<time>2010.04.28</time>
											<em>通過修訂本公司組織規程及組織圖。</em>
										</li>
										<li>
											<time>2010.04.28</time>
											<em>通過解除董事競業禁止之限制。</em>
										</li>
										<li>
											<time>2010.04.02</time>
											<em>通過擇定99年股東常會日期、地點及受理提案等相關事宜。</em>
										</li>
										<li>
											<time>2010.02.05</time>
											<em>通過本公司99年度預算及營業計畫。</em>
										</li>
										<li>
											<time>2010.02.05</time>
											<em>通過訂定本公司「投資人關係維護準則」。</em>
										</li>
										<li>
											<time>2010.02.05</time>
											<em>通過修訂本公司「董事進修推行準則」。</em>
										</li>
										<li>
											<time>2010.02.05</time>
											<em>通過本公司及子公司簽證會計師年度績效衡量指標評核。</em>
										</li>
										<li>
											<time>2010.02.05</time>
											<em>通過修訂本公司「會計制度」。</em>
										</li>
										<li>
											<time>2009.10.30</time>
											<em>通過訂定本公司99年度董事會年度計畫案。</em>
										</li>
										<li>
											<time>2009.10.30</time>
											<em>通過擬買回九十八年二月十一日發行之私募海外美金次順位公司債案。</em>
										</li>
										<li>
											<time>2009.10.30</time>
											<em>通過發行98年度及99年度無擔保主順位及次順位普通公司債案。</em>
										</li>
										<li>
											<time>2009.10.30</time>
											<em>通過99年度稽核業務工作計畫案。</em>
										</li>
										<li>
											<time>2009.09.23</time>
											<em>通過子公司(富邦行銷、運彩科技及富邦投信)董事派任案。</em>
										</li>
										<li>
											<time>2009.09.23</time>
											<em>通過制訂「2009年第一次現金增資發行普通股參與發行海外存託憑證員工認股準則」案。</em>
										</li>
										<li>
											<time>2009.08.28</time>
											<em>通過子公司(台北富邦銀行、運彩科技、富邦行銷及富邦金控創投)董監事派任案。</em>
										</li>
										<li>
											<time>2009.08.28</time>
											<em>通過本公司九十八年上半年度財務報表案。</em>
										</li>
										<li>
											<time>2009.08.28</time>
											<em>通過本公司簽證會計師獨立性聲明暨98年度簽證會計師委任報酬案。</em>
										</li>
										<li>
											<time>2009.08.28</time>
											<em>通過制定本公司及子公司簽證會計師年度績效衡量指標案。</em>
										</li>
										<li>
											<time>2009.08.28</time>
											<em>通過聘任張天霞女士為本公司新任內部稽核主管案。</em>
										</li>
										<li>
											<time>2009.08.10</time>
											<em>通過依本年度(98)股東會之授權，擬辦理現金增資發行普通股參與發行海外存託憑證案。</em>
										</li>
										<li>
											<time>2009.08.10</time>
											<em>通過任命陳國慈獨立董事為本公司第三屆「公司治理委員會」委員案。</em>
										</li>
										<li>
											<time>2009.05.22</time>
											<em>通過新增中國信託銀行免保商業本票發行額度暨該行及香港上海匯豐 銀行(HSBC)從事衍生性金融商品風險額度案。</em>
										</li>
										<li>
											<time>2009.05.22</time>
											<em>通過合併後之子公司「富邦人壽保險股份有限公司」董監事改派案。</em>
										</li>
										<li>
											<time>2009.04.24</time>
											<em>通過本公司97年度營業報告書、財務報表及盈餘分配案。</em>
										</li>
										<li>
											<time>2009.04.24</time>
											<em>通過提報股東會本公司98年度發行私募海外美元無擔保次順位普通公司債案。</em>
										</li>
										<li>
											<time>2009.04.24</time>
											<em>通過本公司擬規劃辦理長期資金募集，提請股東會授權董事會於適當時機採取適當方式辦理案。</em>
										</li>
										<li>
											<time>2009.04.24</time>
											<em>通過修訂本公司「取得或處分資產處理程序」案。</em>
										</li>
										<li>
											<time>2009.04.24</time>
											<em>通過訂定本公司98年股東常會議程案。</em>
										</li>
										<li>
											<time>2009.04.24</time>
											<em>通過本公司97年度內部控制制度聲明書案。</em>
										</li>
										<li>
											<time>2009.04.24</time>
											<em>通過修訂本公司「對子公司/事業群監督管理準則」案。</em>
										</li>
										<li>
											<time>2009.03.20</time>
											<em>通過提名陳國慈女士為本公司第四屆獨立董事候選人案。</em>
										</li>
										<li>
											<time>2009.03.20</time>
											<em>通過擇定98年股東常會日期、地點及提案、提名等相關事宜案。</em>
										</li>
										<li>
											<time>2009.02.27</time>
											<em>通過本公司百分之百持股之壽險子公司安泰人壽保險（股）公司及富邦人壽保險（股）公司之合併案。</em>
										</li>
										<li>
											<time>2009.02.27</time>
											<em>通過本公司98年度預算案。</em>
										</li>
										<li>
											<time>2009.02.13</time>
											<em>通過安泰人壽保險公司董監事派任案。</em>
										</li>
										<li>
											<time>2009.02.13</time>
											<em>通過制定本公司負責人兼任子公司董監事之績效考核指標案。</em>
										</li>
										<li>
											<time>2009.02.13</time>
											<em>通過聘任安侯建業會計師事務所俞安恬會計師為本公司簽證會計師案。</em>
										</li>
										<li>
											<time>2009.02.06</time>
											<em>通過本公司併購安泰人壽保險股份有限公司辦理股份轉換發行新股案，並核定本次股份轉換基準日暨增資基準日為98.02.11。</em>
										</li>
										<li>
											<time>2008.12.05</time>
											<em>通過變更參與富邦人壽97年度第一次現金增資之價格案。</em>
										</li>
										<li>
											<time>2008.12.05</time>
											<em>通過參與富邦人壽97年度第二次辦理現金增資50億案。</em>
										</li>
										<li>
											<time>2008.10.31</time>
											<em>通過訂定本公司98年度董事會年度計劃案。</em>
										</li>
										<li>
											<time>2008.10.18</time>
											<em>通過本公司擬併購安泰人壽保險股份有限公司暨私募次順位普通公司債案。</em>
										</li>
										<li>
											<time>2008.10.16</time>
											<em>通過子公司富邦人壽現金增資案。</em>
										</li>
										<li>
											<time>2008.10.16</time>
											<em>通過認購富邦銀行(香港)有限公司發行之特別股案。</em>
										</li>
										<li>
											<time>2008.06.13</time>
											<em>選舉本公司第四屆董事長、副董事長案。</em>
										</li>
										<li>
											<time>2008.06.13</time>
											<em>通過本公司第三屆「公司治理委員會」委員任命案。</em>
										</li>
										<li>
											<time>2008.06.13</time>
											<em>通過子公司「台北富邦商業銀行」、「富邦綜合證券公司」、「富邦產物保險公司」及「富邦人壽保險公司」董監事派任案。</em>
										</li>
										<li>
											<time>2008.04.25</time>
											<em>通過解除本公司第四屆董事競業禁止之限制案。</em>
										</li>
										<li>
											<time>2008.04.25</time>
											<em>通過修訂本公司組織規程及組織圖案。</em>
										</li>
										<li>
											<time>2008.04.25</time>
											<em>通過本公司投資運彩科技股份有限公司案。</em>
										</li>
										<li>
											<time>2008.04.25</time>
											<em>通過本公司96年度營業報告書及財務報表案。</em>
										</li>
										<li>
											<time>2008.04.25</time>
											<em>通過本公司96年度盈餘分配，每股配發新台幣1.5元之現金股利。</em>
										</li>
										<li>
											<time>2008.04.25</time>
											<em>通過修訂本公司「章程」案。</em>
										</li>
										<li>
											<time>2008.04.25</time>
											<em>通過修訂本公司「股東會議事規則」案。</em>
										</li>
										<li>
											<time>2008.04.16</time>
											<em>通過提名本公司下屆獨立董事候選人案。</em>
										</li>
										<li>
											<time>2008.01.25</time>
											<em>通過本公司97年度預算案，擬訂合併稅前淨利為新台幣185.5億元。較96年自結數增加16.4億元。合併稅後淨利為154.5億元，每股盈餘為2.00元。</em>
										</li>
										<li>
											<time>2008.01.25</time>
											<em>通過子公司富邦證券投資信託股份有限公司減資及增資案。</em>
										</li>
										<li>
											<time>2007.12.07</time>
											<em>通過本公司與子公司富邦產物保險公司聯名赴越南地區投資設立「富邦產物保險(越南)股份有限公司」案。</em>
										</li>
										<li>
											<time>2007.12.07</time>
											<em>通過本公司96年度董事會年度計劃之執行情形評估案。</em>
										</li>
										<li>
											<time>2007.12.07</time>
											<em>通過訂定本公司97年度董事會年度計劃案。</em>
										</li>
										<li>
											<time>2007.12.07</time>
											<em>通過修訂本公司組織規程暨組織圖案。</em>
										</li>
										<li>
											<time>2007.12.07</time>
											<em>通過依95年12月8日董事會核准之員工認股權辦法第3條第2款擬定權證分配原則案。</em>
										</li>
										<li>
											<time>2007.08.17</time>
											<em>通過本公司96年上半年度財務報表案。</em>
										</li>
										<li>
											<time>2007.08.17</time>
											<em>通過修訂本公司「會計制度」案。</em>
										</li>
										<li>
											<time>2007.08.17</time>
											<em>通過聘任王瑋小姐為本公司新任會計主管案。</em>
										</li>
										<li>
											<time>2007.08.17</time>
											<em>通過制定子公司重大資產交易提報金控董事會之標準案。</em>
										</li>
										<li>
											<time>2007.08.17</time>
											<em>通過制定本公司「董事會對於利害關係人交易審議準則」案。</em>
										</li>
										<li>
											<time>2007.08.17</time>
											<em>通過制定本公司「經營策略」案。</em>
										</li>
										<li>
											<time>2007.04.25</time>
											<em>通過本公司95年度營業報告書及財務報表案。</em>
										</li>
										<li>
											<time>2007.04.25</time>
											<em>通過本公司95年度盈餘分配，每股配發新台幣1.0元之現金股利。</em>
										</li>
										<li>
											<time>2007.04.25</time>
											<em>通過發行本公司96年度第一次無擔保公司債案。</em>
										</li>
										<li>
											<time>2007.04.25</time>
											<em>通過修訂本公司「取得或處分資產處理程序」案。</em>
										</li>
										<li>
											<time>2007.04.25</time>
											<em>通過訂定本公司96年度董事會年度計劃(加強董事會職能之目標)案。</em>
										</li>
										<li>
											<time>2007.04.25</time>
											<em>通過依95年12月8日董事會核准之員工認股權辦法第3條第2款擬定權證分配原則案。</em>
										</li>
										<li>
											<time>2007.04.25</time>
											<em>通過聘任台北富邦銀行總稽核吳國章先生為本公司總稽核案。</em>
										</li>
										<li>
											<time>2007.04.25</time>
											<em>通過聘任安侯建業會計師事務所之方燕玲會計師及丁玉山會計師為本公司96年度起之查核會計師案。</em>
										</li>
										<li>
											<time>2007.03.22</time>
											<em>通過本公司95年度內部控制制度聲明書案。</em>
										</li>
										<li>
											<time>2007.02.02</time>
											<em>通過本公司96年度預算案，擬訂合併稅前淨利為新台幣138.2億元，較95年自結數增加39.7億元，合併稅後淨利為113.5億元，每股盈餘為1.47元。</em>
										</li>
										<li>
											<time>2006.12.08</time>
											<em>為吸引及留任所需人才，激勵及提昇員工向心力及歸屬感，以共同創造公司及股東之利益，同意員工認股權憑證發行及認股辦法。</em>
										</li>
										<li>
											<time>2006.08.16</time>
											<em>任命本公司董事長蔡明忠先生兼任本公司執行長職務。</em>
										</li>
										<li>
											<time>2006.01.20</time>
											<em>通過組織改造，成立「管理本部」為本公司之組織架構，並於各營運子公司架構上設立六大事業群，作為協調管理之任務編組。</em>
										</li>
										<li>
											<time>2005.12.30</time>
											<em>聘任本公司執行副總經理龔天行先生為本公司總經理。</em>
										</li>
										<li>
											<time>2005.07.14</time>
											<em>自九十四年七月起，開辦「富邦員工持股信託」業務案。</em>
										</li>
									</ul>
								</div>
								<div class="m-list-bd" >
									<div class="m-tab m-tab-pagination">
										<div class="m-tab-bd ng-pagination-action"> 
											<ul class="m-list-content" ng-repeat="list in Governance.Resolutions.Data">
												<li class="ng-repeat-done" ng-repeat="data in list" data-filter="{{ data.Time }}">
													<i class="m-icon m-icon-chevron-right"></i>
													<em>{{ data.Title }}</em>
													<time class="m-list-item">{{ data.Time }}</time>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="m-list-ft b-cloak" ng-class="{'b-cloak' : Common.Cloak}" ng-hide="Governance.Resolutions.Data.length < 2 || ( Common.UserAgent === 'Mobile' &&  Common.Pagination.Active[0] === (Common.Pagination.Page - 1) )">
									<div class="m-pagination">
										<div class="m-pagination-hd">
											<div class="m-button-group">
												<button type="button" class="m-button b-inverse ng-pagination-more" data-value="1">MORE</button>
											</div>
										</div>
										<ol class="m-pagination-bd">
											<li><a href="javascript:;" data-value="0" class="is-prev is-disabled ng-pagination" ng-class="{'is-disabled' : Common.Pagination.Active[0] === 0}"><i class="m-icon m-icon-arrow-pagination-left"></i></a></li>
											<li ng-repeat="pagination in Governance.Resolutions.Data"><a href="javascript:;" data-value="{{ $index }}" class="ng-pagination" ng-class="{'is-active' : Common.Pagination.Active[0] === $index}">{{ ( $index + 1 ) }}</a></li>
											<li><a href="javascript:;" data-value="{{ (Governance.Resolutions.Data.length - 1) }}" class="is-next ng-pagination" ng-class="{'is-disabled' : Common.Pagination.Active[0] === (Governance.Resolutions.Data.length - 1)}"><i class="m-icon m-icon-arrow-pagination-right"></i></a></li>
										</ol>
									</div>
								</div>
							</div>
							<div class="b-loading is-relative" ng-class="{'b-cloak' : ! Common.Cloak}">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-fubon-blue is-absolute"></i>
									<i class="m-icon m-icon-fubon-green"></i>
								</span>
							</div>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
				<!--#include virtual="sub_menu.inc" -->
				<!-- ==================== top botton begin =================== -->
				<button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button>
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!--#include virtual="/financialholdings/footer.inc" -->
	</div>
	<!-- ==================== l-body end =================== -->
	<!--#include virtual="/financialholdings/nav.inc" -->
</body>
<!--#include virtual="/financialholdings/common_script.inc" -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="/financialholdings/Scripts/js/governance/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>