<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-公司治理-股東會-股東會資訊</title>
	<link rel="canonical" href="https://www.fubon.com/financialholdings/governance/shareholders.html" />
	<link rel="shortcut icon" type="image/x-icon" href="/financialholdings/Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="/financialholdings/Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="/financialholdings/Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="/financialholdings/Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="/financialholdings/Content/css/governance/shareholders.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="/financialholdings/Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!--#include virtual="/financialholdings/header.inc" -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main shareholders-content ng-controller" ng-controller="Governance" ng-init="Common.Channel = 'governance'">
			<!--#include virtual="header.inc" -->
			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd is-content-left b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-breadcrumb begin =================== -->
					<ol class="m-breadcrumb b-clearfix">
						<li>
							<a href="/financialholdings/home/index.html"><i class="m-icon m-icon-home"></i></a>
						</li>
						<li>
							<a href="/financialholdings/governance/letter.html">公司治理</a>
						</li>
						<li>
							<a href="/financialholdings/governance/shareholders.html">股東會</a>
						</li>
						<li>
							<em>股東會資訊</em>
						</li>
					</ol>
					<!-- ==================== m-breadcrumb end =================== -->

					<!-- ==================== m-section begin =================== -->
					<section class="m-section">
						<header class="m-section-hd is-col b-clearfix">
							<h2>股東會資訊</h2>
						</header>
						<main class="m-section-bd b-clearfix">
							<div class="m-list m-list-object b-cloak" ng-class="{'b-cloak' : Common.Cloak}">
								<div class="m-list-hd">
									<ul class="m-ajax ng-ajax" data-length="5">
										<li>
											<em>104年股東常會</em>
											<time>104.06.12　09:00 (台北時間)</time>
											<address>台北市中山北路二段五十號十四樓大禮堂</address>
											<span>台北</span>
											<p>一百零四年股東會議事錄 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2015_Minutes_C.pdf</button>
											<p>一百零三年度年報 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/annualreport_2013.pdf</button>
											<p>一百零四年股東會議事手冊 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2014Agenda_Handbook-C.pdf</button>
											<p>一百零四年股東會開會通知 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/Notice_of_2015_C.pdf</button>
											<a>http://doc.tse.com.tw/server-java/t57sb01?step=1&colorchg=1&co_id=2881&year=104&mtype=F&2881&</a>
										</li>
										<li>
											<em>103年股東常會</em>
											<time>103.06.06　09:00 (台北時間)</time>
											<address>台北市中山北路二段五十號十四樓大禮堂</address>
											<span>台北</span>
											<p>一百零三年股東會決議事項執行情形 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/Resolutions_of_the_2014_AGM_c.pdf</button>
											<p>一百零三年股東會投票情形與結果(電子投票) (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2014_vote_C.pdf</button>
											<p>董事選舉提名制之相關規範及執行情形 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2014_board_C.pdf</button>
											<p>一百零三年股東會議事錄 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2014_Minutes_C.pdf</button>
											<p>一百零二年度年報 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/annual_report_102.pdf</button>
											<p>一百零三年股東會議事手冊 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/Agenda_Handbook-C.pdf</button>
											<p>一百零三年股東會開會通知 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/Notice_of_2014_C.pdf</button>
											<a>http://doc.tse.com.tw/server-java/t57sb01?step=1&colorchg=1&co_id=2881&year=103&mtype=F&2881&</a>
										</li>
										<li>
											<em>102年股東常會</em>
											<time>102.06.14　09:00 (台北時間)</time>
											<address>台北市中山北路二段五十號十四樓大禮堂</address>
											<span>台北</span>
											<p>一百零二年股東會決議事項執行情形 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/Resolutions_of_the_2013_AGM_c.pdf</button>
											<p>一百零二年股東會投票情形與結果 (PDF)</p>
											<button>http://www.mzcan.com/taiwan/2881/shareholder/1/2013_Annual_General_Shareholders_Meeting.pdf</button>
											<p>一百零二年股東會議事錄 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2013_Minutes_C.pdf</button>
											<p>一百零一年度年報 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2013_annual_report.pdf</button>
											<p>一百零二年股東會議事手冊 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/Agenda_Handbook_of_2013.pdf</button>
											<p>一百零二年股東會開會通知 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/Notice_of_2013_Annual_General_Shareholders_Meeting_c.pdf</button>
											<a>http://doc.tse.com.tw/server-java/t57sb01?step=1&colorchg=1&co_id=2881&year=102&mtype=F&2881&</a>
										</li>
										<li>
											<em>101年股東常會</em>
											<time>101.06.15　09:00 (台北時間)</time>
											<address>台北市中山北路二段五十號十四樓大禮堂</address>
											<span>台北</span>
											<p>一百零一年股東會決議事項執行情形 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/Resolutions_of_the_2012_AGM_c.pdf</button>
											<p>一百零一年股東會議事錄 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2012_Annual_General_Shareholders_Meeting_Minutes.pdf</button>
											<p>一百年度年報 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2012FUBON.pdf</button>
											<p>一百零一年股東會議事手冊 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/Agenda_Handbook_of_2012.pdf</button>
											<p>一百零一年股東會開會通知 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/Notice_of_2012_Annual_General_Shareholders_Meeting_c.pdf</button>
											<a>http://doc.tse.com.tw/server-java/t57sb01?step=1&colorchg=1&co_id=2881&year=101&mtype=F&2881&</a>
										</li>
										<li>
											<em>100年股東臨時會</em>
											<time>100.10.06　09:00 (台北時間)</time>
											<address>台北市中山北路二段五十號十四樓大禮堂</address>
											<span>台北</span>
											<p>一百年股東臨時會議事錄 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2011-AGM_c_1.pdf</button>
											<p>一百年股東臨時會議事手冊 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2011-AGM_c_2.pdf</button>
											<p>一百年股東臨時會開會通知 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2011-AGM_c_3.pdf</button>
											<a>http://doc.tse.com.tw/server-java/t57sb01?step=1&colorchg=1&co_id=2881&year=100&mtype=F&2881&</a>
										</li>
										<li>
											<em>100年股東常會</em>
											<time>100.06.24　09:00 (台北時間)</time>
											<address>台北市中山北路二段五十號十四樓大禮堂</address>
											<span>台北</span>
											<p>一百年股東會議事錄 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2011-AGM_c_6.pdf</button>
											<p>九十九年度年報 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2011-AGM_c_4.pdf</button>
											<p>一百年股東會議事手冊 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2011-AGM_c_6.pdf</button>
											<p>一百年股東開會通知 (PDF)</p>
											<button>http://www.corpasia.net/taiwan/2881/irwebsite_c_new/docs/2011-AGM_c_7.pdf</button>
											<a>http://doc.tse.com.tw/server-java/t57sb01?step=1&colorchg=1&co_id=2881&year=100&mtype=F&2881&</a>
										</li>
									</ul>
								</div>
								<div class="m-list-bd">
									<div class="m-tab m-tab-pagination">
										<div class="m-tab-bd ng-pagination-action">
											<ul class="m-list-content" ng-repeat="Data in Governance.Shareholders.Data">
												<li ng-repeat="Item in Data">
													<em class="b-h3">{{ Item.Title }}</em>
													<table class="m-table">
														<thead>
															<tr>
																<th class="b-col-md-2 b-col-sm-2">日期</th>
																<th class="b-col-md-2 b-col-sm-2">時間</th>
																<th>會場</th>
																<th class="b-col-md-2 b-col-sm-2">地點</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="Table in Item.Table" ng-class="{'is-bgcolor' : $odd}">
																<td data-label="日期"><em>{{ Table.Date }}</em></td>
																<td data-label="時間"><em>{{ Table.Time }}</em></td>
																<td data-label="會場"><em>{{ Table.Address }}</em></td>
																<td data-label="地點"><em>{{ Table.County }}</em></td>
															</tr>
														</tbody>
													</table>
													<div class="m-attachement">
														<div class="m-attachement-hd b-clearfix">
															<i class="m-icon m-icon-paperclip"></i>
															<em class="b-h3">相關附件下載</em>
														</div>
														<ul class="m-attachement-bd">
															<li class="ng-repeat-done" ng-repeat="File in Item.File">
																<a ng-href="{{ File.Href }}" target="_blank">{{ File.Name }}</a>
															</li>
														</ul>
													</div>
													<div class="m-button-group b-align-xs-center">
														<a ng-href="{{ Item.More }}" class="m-button b-primary b-xs-full" target="_blank">{{ Item.Title }}相關資料</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="m-list-ft b-cloak" ng-class="{'b-cloak' : Common.Cloak}" ng-hide="Governance.Shareholders.Data.length < 2 || ( Common.UserAgent === 'Mobile' &&  Common.Pagination.Active[0] === (Common.Pagination.Page - 1) )">
									<div class="m-pagination">
										<div class="m-pagination-hd">
											<div class="m-button-group">
												<button type="button" class="m-button b-inverse ng-pagination-more" data-value="1">MORE</button>
											</div>
										</div>
										<ol class="m-pagination-bd">
											<li><a href="javascript:;" data-value="0" class="is-prev is-disabled ng-pagination" ng-class="{'is-disabled' : Common.Pagination.Active[0] === 0}"><i class="m-icon m-icon-arrow-pagination-left"></i></a></li>
											<li ng-repeat="pagination in Governance.Shareholders.Data"><a href="javascript:;" data-value="{{ $index }}" class="ng-pagination" ng-class="{'is-active' : Common.Pagination.Active[0] === $index}">{{ ( $index + 1 ) }}</a></li>
											<li><a href="javascript:;" data-value="{{ (Governance.Shareholders.Data.length - 1) }}" class="is-next ng-pagination" ng-class="{'is-disabled' : Common.Pagination.Active[0] === (Governance.Shareholders.Data.length - 1)}"><i class="m-icon m-icon-arrow-pagination-right"></i></a></li>
										</ol>
									</div>
								</div>
							</div>
							<div class="b-loading is-relative" ng-class="{'b-cloak' : ! Common.Cloak}">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-fubon-blue is-absolute"></i>
									<i class="m-icon m-icon-fubon-green"></i>
								</span>
							</div>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
				<!--#include virtual="sub_menu.inc" -->
				<!-- ==================== top botton begin =================== -->
				<button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button>
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!--#include virtual="/financialholdings/footer.inc" -->
	</div>
	<!-- ==================== l-body end =================== -->
	<!--#include virtual="/financialholdings/nav.inc" -->
</body>
<!--#include virtual="/financialholdings/common_script.inc" -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="/financialholdings/Scripts/js/governance/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>