<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-關於富邦金控-專業殊榮</title>
	<link rel="canonical" href="https://www.fubon.com/financialholdings/" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/owl.carousel/owl.carousel.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/mahr/announcement.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				<div class="m-header-logo b-clearfix b-middle">
					<button class="m-button m-button-navicon ng-navicon"><i class="m-icon m-icon-navicon"></i></button>
					<a href="../../Views/home/index.html" class="m-icon-stack m-icon-fubon-group">
						<i class="m-icon m-icon-fubon-blue is-absolute"></i>
						<i class="m-icon m-icon-fubon-green"></i>
						<i class="m-icon m-icon-fubon-text"></i>
					</a>
					<div class="m-header-company">
						<h1>富邦金控</h1>
					</div>
				</div>
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main honor-content ng-controller" ng-controller="Mahr" ng-init="Common.Channel = 'mahr'">
			<!-- ==================== l-main-hd begin =================== -->
			<header class="l-main-hd b-clearfix">
				<div class="m-media ng-image-load">
					<div class="b-loading">
						<span class="m-icon-stack">
							<i class="m-icon m-icon-fubon-blue is-absolute"></i>
							<i class="m-icon m-icon-fubon-green"></i>
						</span>
					</div>
					<div class="m-media-group">
						<div class="m-media-item">
							<figure class="m-media-figure">
								<img ng-src="../../Content/img/mahr/kv.jpg" alt="富邦金控-富邦金控儲備幹部線上履歷登錄系統">
							</figure>
						</div>
					</div>
					<ul class="m-media-tools is-right-top b-middle">
						<li><a href="javascript:;"><i class="m-icon m-icon-m-plus"></i></a></li>
						<li>
							<a href="https://www.youtube.com/channel/UCgMjSf4JsGOJ1jQpf8uWURQ" target="_blank">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-youtube-you is-absolute"></i>
									<i class="m-icon m-icon-youtube-tube"></i>
								</span>
							</a>
						</li>
						<li><a href="https://www.facebook.com/FUBON" target="_blank"><i class="m-icon m-icon-facebook-official"></i></a></li>
					</ul>
				</div>
			</header>
			<!-- ==================== l-main-hd end =================== -->

			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-section begin =================== -->
					<section class="m-section is-line">
						<header class="m-section-hd is-col b-clearfix">
							<h2>2016年儲備幹部(MA)履歷登錄</h2>
						</header>
						<main class="m-section-bd b-clearfix">
							<article class="m-article">
								<header class="m-article-hd">
									<h2>應徵者個人資料蒐集告知及聲明</h2>
								</header>
								<main class="m-article-bd b-clearfix">
									<div class="m-article-data">
										<p><em>富邦金融控股股份有限公司暨其轄下所有子公司（以下統稱富邦金控）</em>依據個人資料保護法（以下稱個資法）規定，向台端告知下列事項，請台端詳閱：</p>
										<ol class="m-item is-china-number">
											<li data-index="一、">
												<h5>特定目的</h5>
												<p>基於人力資源規劃之徵才及富邦金控人才資料庫暫存作業需要，為人事管理【特定目的項目代號002】，並為就委任或僱傭關係決定等後續處理，為通知或契約關係之要約或承諾等作業之需，即契約、類似契約或其他法律關係事務之目的【特定目的項目代號069】蒐集台端之個人資料。</p>
											</li>
											<li data-index="二、">
												<h5>蒐集項目（類別）</h5>
												<p>依履歷表上所載應徵者之個人相關資料欄位(含應徵者之中英文姓名、出生日期、身分證字號、國籍、護照號碼、手機號碼、通訊電話、電子信箱、通訊地址、學歷、證照/認證資格、工作經歷、期望待遇、語言/專長技能、電腦技能、駕照、自傳、曾獲殊榮、是否曾受主管機關、外部機構違紀處份、是否曾涉及民刑事案件、是否有遭法院或法務部行政執行署各行政執行處強制執行薪資之命令、是否曾有銀行拒絕往來、存款不足或債信不良之紀錄、是否兼任其他職務、是否罹患法定傳染病、是否與富邦金控現職人員及其配偶有二親等(含)以內之血親及姻親關係、是否曾至富邦金控相關子公司任職過等)。</p>
											</li>
											<li data-index="三、">
												<h5>利用期間、地區、對象及方式</h5>
												<p>應徵者資料僅供富邦金控於本國、海外子公司、海外分支機構及辦事處處理利用，除依據個資法及相關法令另有規定，或屬應徵者可公開蒐集資料，或應徵者前曾提供特定第三人【如政府機構就業網站或人力銀行網站等】蒐集外，應徵者個人資料僅供富邦金控於台端應徵之職位所屬之公司及本履歷表台端勾選或填寫同意推介之富邦金控內部其它公司，內部傳輸、處理與利用。<br>應徵者個人資料自富邦金控蒐集日起以台端本次應徵之職務為限，自收到台端之履歷表起保存二年，逾上述保存期限期後，富邦金控即停止處理、利用並刪除之；台端若經錄取成為富邦金控之員工，本履歷表將存於台端人事資料袋中，保存至離職後十五年。</p>
											</li>
											<li data-index="四、">
												<h5>應完整及確實揭露</h5>
												<p>本履歷表上所有填載項目應徵者若未完整及確實填寫，可能會造成無法辨識應徵者身分及通知招募相關資訊，或無法評估是否符合富邦金控招募條件等。</p>
											</li>
											<li data-index="五、">
												<h5>查閱、請求複製本、更正資料、要求停止處理利用或刪除</h5>
												<p>除依據個資法及相關法令另有規定外，若台端需要行使本項權利，僅以台端本次應徵之資料提供為限，請台端洽於富邦金控原投遞履歷之聯絡窗口辦理。</p>
											</li>
											<li data-index="六、">
												<h5>台端得自由選擇是否提供相關個人資料，惟台端若拒絕提供相關個人資料，富邦金控將無法進行必要之徵才審核及處理作業或提供 台端相關服務。</h5></p>
											</li>
											<li data-index="七、">
												<h5>台端於家屬成員等非由當事人提供之個資時，請務必確認已對該當事人告知並獲其同意，會將該當事人之個資提供予台端應徵之公司，且各該公司將依法蒐集、處理及利用其個人資料。</h5>
											</li>
										</ol>
									</div>
								</main>
							</article>
							<div class="m-form-item">
								<div class="m-form-item-hd">
									<div class="m-form-group">
										<h3 class="m-form-addon b-align-md-center b-align-sm-center b-align-xs-center">同意書</h3>
									</div>
								</div>
								<div class="m-form-item-bd">
									<p>經貴公司告知，本人已明確瞭解上述聲明及告知事項之內容，茲同意上開個人資料蒐集之特定目的、蒐集項目（類別）、利用期間、地區、對象及方式、應完整及確實揭露，以及查閱、請求複製本、更正資料、要求停止處理利用或刪除及告知家屬成員等之相關要求，並同意貴公司於上開特定目的必要範圍內蒐集、處理及利用本人之個人資料。</p>
									<p>此致<br>富邦金融控股股份有限公司暨轄下子公司</p>
									<p>
										<label class="m-form-addon">立書人姓名</label>
										<label>
											<input type="text" class="m-form m-form-control" placeholder="">(請填寫中文全名)<br>(簽名或經電腦登錄點擊發送本公司即屬同意)
										</label>
									</p>
									<p>※備註：富邦金融控股股份有限公司之轄下子公司以富邦金控官網所公告者為準。</p>
								</div>
								<div class="m-form-item-ft">
									<div class="m-button-group b-align-md-center b-align-sm-center b-align-xs-center">
										<button type="submit" class="m-button b-primary b-lg">同意</button>
										<button type="reset" class="m-button b-inverse b-lg">不同意</button>
									</div>
								</div>
							</div>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->

				<!-- ==================== top botton begin =================== -->
				<!-- <button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button> -->
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer b-clearfix">
			<footer class="m-footer">
				<small class="m-footer-ft">© 富邦金融控股股份有限公司<br />建議瀏覽器版本：IE8 (含)、Chrome 40 (含)、Safari 5 (含)、FireFox 30 (含) 以上版本</small>
			</footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->

	<!-- ==================== l-nav begin =================== -->
	<nav class="l-nav" ng-class="{'is-animate' : Common.Nav.Mobile.Click}">
		<div class="m-nav ng-nav" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
			<span class="m-nav-bar" ng-class="{'is-show' : Common.Nav.Bar.Hover}" ng-style="{'left' : Common.Nav.Bar.Left , 'width' : Common.Nav.Bar.Width}"></span>
			<div class="m-nav-path ng-nav-path" ng-style="{'top' : Common.Nav.Path.Top , 'height' : Common.Nav.Path.Height}">
				<ul>
					<li ng-style="{'height' : Common.Nav.Path.Height}">
						<!--[if lt IE 10]><span></span><![endif]-->
						<div>
							<ul></ul>	
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- ==================== l-nav end =================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular/angular.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/common.js?JS=20150630_01"></script>
<!-- master page include scripts end -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/owl.carousel/owl.carousel.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/mahr/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>