<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-關於富邦金控-專業殊榮</title>
	<link rel="canonical" href="https://www.fubon.com/financialholdings/" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="../../Content/css/mahr/print.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				<div class="m-header-logo b-clearfix b-middle">
					<a class="m-icon-stack m-icon-fubon-group">
						<i class="m-icon m-icon-fubon-blue is-absolute"></i>
						<i class="m-icon m-icon-fubon-green"></i>
						<i class="m-icon m-icon-fubon-text"></i>
					</a>
					<div class="m-header-company">
						<h1>富邦金控</h1>
					</div>
				</div>
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main">

			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-section begin =================== -->
					<section class="m-section is-line">
						<header class="m-section-hd is-col b-clearfix">
							<h2>2016年儲備幹部(MA)履歷登錄</h2>
							<div class="m-section-tools">
								<div class="m-form-group">
									<div class="m-form-ctrl">
										<span class="m-form-addon">履歷編號：A001</span>
									</div>
								</div>
							</div>
						</header>
						<main class="m-section-bd b-clearfix">
							<h3 class="bio-title">履歷預覽</h3>
							<div class="bio-wrap">
								<table class="p-table">
									<thead>
										<tr>
											<td><em>應徵志願</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<em>第一志願：投資管理組</em>
												<em>第二志願：證券組</em>
											</td>
										</tr>
									</tbody>
								</table>
								<table class="p-table">
									<thead>
										<tr>
											<td><em>基本資料</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<em>姓名：李品樺</em>
												<em>性別：女</em>
												<em>國籍：中國民國籍</em>
												<em>身分證字號：A227927632</em>
												<em>出生年月日：1995年12月29日</em>
												<em>通訊電話：(02)22818481</em>
												<em>手機號碼：0918281040</em>
												<em>兵役：服役中，預計退伍日期2016年11月28日</em>
												<em>通訊地址：台北市忠孝東路四段280號10樓</em>
												<em>目前本人是否在台灣：否，預計回台日期2017年1月15日</em>
												<span class="p-pic"><img src="../../Content/img/mahr/mugShot.jpg"></span>
											</td>
										</tr>
									</tbody>
								</table>
								<table class="p-table">
									<thead>
										<tr>
											<td><em>學歷</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="is-adaptation">
												<table class="sub-table">
													<tbody>
														<tr class="is-title">
															<td></td>
															<td><em>學歷國內外</em></td>
															<td><em>學校名稱</em></td>
															<td><em>科系名稱</em></td>
															<td><em>學位</em></td>
															<td><em>修業狀態</em></td>
															<td><em>修業期間</em></td>
														</tr>
														<tr>
															<td><em>最高學歷</em></td>
															<td><em>國內</em></td>
															<td><em>中央大學</em></td>
															<td><em>食品衛生系</em></td>
															<td><em>研究所</em></td>
															<td><em>畢業</em></td>
															<td><em>2012年9月-2014年6月</em></td>
														</tr>
														<tr>
															<td><em>次高學歷</em></td>
															<td><em>國內</em></td>
															<td><em>中正大學</em></td>
															<td><em>人力資源系</em></td>
															<td><em>大學</em></td>
															<td><em>畢業</em></td>
															<td><em>2005年9月-2009年6月</em></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr class="is-bgcolor">
											<td><em>研究論文(題目/研究目的)</em></td>
										</tr>
										<tr>
											<td><em>無</em></td>
										</tr>
										<tr class="is-bgcolor">
											<td><em>其他</em></td>
										</tr>
										<tr>
											<td><em>無</em></td>
										</tr>
									</tbody>
								</table>
								<table class="p-table">
									<thead>
										<tr>
											<td><em>經歷</em></td>
										</tr>
									</thead>
									<tbody>
										<tr class="is-bgcolor">
											<td>
												<em>工作/實習經驗</em>
											</td>
										</tr>
										<tr>
											<td class="is-adaptation">
												<table class="sub-table">
													<tbody>
														<tr class="is-title">
															<td><em>服務機構</em></td>
															<td><em>職稱</em></td>
															<td><em>服務期間</em></td>
															<td><em>主要職責</em></td>
														</tr>
														<tr>
															<td><em>達美樂</em></td>
															<td><em>食品檢驗員</em></td>
															<td><em>2005年12月-2007年8月</em></td>
															<td><em>食品衛生品質管制</em></td>
														</tr>
														<tr>
															<td><em>新光金控</em></td>
															<td><em>管理師</em></td>
															<td><em>2007年9月-2008年1月</em></td>
															<td><em>資料管理</em></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr class="is-bgcolor">
											<td>
												<em>社團/活動經驗</em>
											</td>
										</tr>
										<tr>
											<td class="is-adaptation">
												<table class="sub-table">
													<tbody>
														<tr class="is-title">
															<td><em>社團/活動</em></td>
															<td><em>主要工作</em></td>
															<td><em>參加期間</em></td>
														</tr>
														<tr>
															<td><em>第五十六屆海洋音樂季</em></td>
															<td><em>鼓手</em></td>
															<td><em>2007年12月-2007年12月</em></td>
														</tr>
														<tr>
															<td><em>熱門音樂社</em></td>
															<td><em>鼓手</em></td>
															<td><em>2001年1月-2004年3月</em></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
								<table class="p-table">
									<thead>
										<tr>
											<td><em>專長</em></td>
										</tr>
									</thead>
									<tbody>
										<tr class="is-bgcolor">
											<td>
												<em>語文能力檢定</em>
											</td>
										</tr>
										<tr>
											<td class="is-adaptation">
												<table class="sub-table">
													<tbody>
														<tr class="is-title">
															<td><em>名稱</em></td>
															<td><em>等級/分數</em></td>
															<td><em>取得日期</em></td>
														</tr>
														<tr>
															<td><em>TOEIC</em></td>
															<td><em>990</em></td>
															<td><em>2015年8月</em></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr class="is-bgcolor">
											<td>
												<em>證照/認證/榮譽成就</em>
											</td>
										</tr>
										<tr>
											<td class="is-adaptation">
												<table class="sub-table">
													<tbody>
														<tr class="is-title">
															<td><em>名稱</em></td>
															<td><em>取得日期</em></td>
														</tr>
														<tr>
															<td><em>廚師甲級</em></td>
															<td><em>1999年1月</em></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr class="is-bgcolor">
											<td>
												<em>專長</em>
											</td>
										</tr>
										<tr>
											<td><em>無</em></td>
										</tr>
									</tbody>
								</table>
								<table class="p-table">
									<thead>
										<tr>
											<td><em>自我描述</em></td>
										</tr>
									</thead>
									<tbody>
										<tr class="is-bgcolor">
											<td><em>請敘述一個你近年做過最有挑戰或最有成就的事情</em></td>
										</tr>
										<tr>
											<td><em>無</em></td>
										</tr>
										<tr class="is-bgcolor">
											<td><em>請敘述一個你近年失敗的經驗和該事件對你的影響</em></td>
										</tr>
										<tr>
											<td><em>無</em></td>
										</tr>
										<tr class="is-bgcolor">
											<td><em>請敘述你對職涯的規劃</em></td>
										</tr>
										<tr>
											<td><em>無</em></td>
										</tr>
										<tr class="is-bgcolor">
											<td><em>第一志願：投資管理組</em></td>
										</tr>
										<tr>
											<td><em>原因：無</em></td>
										</tr>
										<tr class="is-bgcolor">
											<td><em>第二志願：證券組</em></td>
										</tr>
										<tr>
											<td><em>原因：無</em></td>
										</tr>
										<tr class="is-bgcolor">
											<td><em>除了以上的資料外，是否還有其他能讓主管多瞭解你的事情，請於以下說明</em></td>
										</tr>
										<tr>
											<td><em>無</em></td>
										</tr>
									</tbody>
								</table>
								<table class="p-table">
									<thead>
										<tr>
											<td><em>聲明事項</em></td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<em>過去是否涉及民刑事案件或有不良債信，遭金融機構拒絕往來等記錄？無</em>
												<em>是否與金控現職人員及配偶有二親等(含)以內之血親及姻親關係？是，姓名：李火源，部門：人力資源部，關係：祖父</em>
												<em>是否罹患法定傳染病？否</em>
												<em>是否曾任職富邦金控相關子公司？是，2004年曾工讀</em>
												<em>若有其他合適職缺，是否同意將您的履歷轉介至富邦金控集團其他職位？同意，銀行、證券、產險</em>
												<em>您是如何得知富邦MA計畫？校園徵才活動、FaceBook</em>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer b-clearfix">
			<footer class="m-footer">
				<small class="m-footer-ft">© 富邦金融控股股份有限公司<br />建議瀏覽器版本：IE8 (含)、Chrome 40 (含)、Safari 5 (含)、FireFox 30 (含) 以上版本</small>
			</footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->

	<!-- ==================== l-nav begin =================== -->
	<nav class="l-nav" ng-class="{'is-animate' : Common.Nav.Mobile.Click}">
		<div class="m-nav ng-nav" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
			<span class="m-nav-bar" ng-class="{'is-show' : Common.Nav.Bar.Hover}" ng-style="{'left' : Common.Nav.Bar.Left , 'width' : Common.Nav.Bar.Width}"></span>
			<div class="m-nav-path ng-nav-path" ng-style="{'top' : Common.Nav.Path.Top , 'height' : Common.Nav.Path.Height}">
				<ul>
					<li ng-style="{'height' : Common.Nav.Path.Height}">
						<!--[if lt IE 10]><span></span><![endif]-->
						<div>
							<ul></ul>
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- ==================== l-nav end =================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular/angular.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/common.js?JS=20150630_01"></script>
<!-- master page include scripts end -->
</html>