<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<title>富邦金控-密碼通知</title>
	<link rel="canonical" href="https://www.fubon.com/" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
</head>
<body style="margin:0;">
	<table cellpadding="0" cellspacing="0" border="0" width="640" style="margin:0 auto;border-spacing:0px;border-collapse:collapse;">
		<thead>
			<tr>
				<td height="6" colspan="3"><img src="../../Content/img/mahr/mail/gradient-bg.jpg" width="640" height="6" style="display:block;"></td>
			</tr>
			<tr height="78">
				<td width="22"></td>
				<td colspan="2"><img src="../../Content/img/mahr/mail/logo.png"></td>
			</tr>
		</thead>
		<tbody>
			<tr height="87" bgcolor="#008bd0">
				<td width="22"></td>
				<td colspan="2"><h1 style="color:#ffffff;font-size:32px;font-family:'微軟正黑體';font-weight:normal;">密碼通知</h1></td>
			</tr>
			<tr>
				<td width="22" rowspan="3"></td>
				<td width="10" rowspan="3"></td>
				<td><p style="color:#5a5a5a;font-size:13px;line-height:28px;font-family:Arial,'微軟正黑體';">您好<br>2015/06/15  17:18:38提供MA履歷登錄系統密碼如下，請以此密碼登入系統，登入後請變更密碼，<br>謝謝您！</p></td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" border="0" bgcolor="#4caede" width="280" style="border-spacing:0px;border-collapse : collapse;">
						<tr>
							<td style="padding:16px 24px;">
								<span style="display:block;color:#ffffff;font-size:13px;line-height:28px;font-family:Arial,'微軟正黑體';">E-mail：drumnub@****</span>
								<span style="display:block;color:#ffffff;font-size:13px;line-height:28px;font-family:Arial,'微軟正黑體';">密碼：2FERK3F</span>						
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr><td><p style="color:#5a5a5a;font-size:13px;line-height:28px;font-family:Arial,'微軟正黑體';">此信為系統發送，請勿直接回覆，如有任何問題，請洽詢 MA 招募小組。<br>Email: hrd.fhc@fubon.com<br>TEL:(02)6602-7259</p></td></tr>
			<tr>
				<td height="283" colspan="3"><img src="../../Content/img/mahr/mail/main-bg.png" style="display:block;"></td>
			</tr>
			<tr height="87" bgcolor="#7c7c7c">
				<td width="22"></td>
				<td width="10"></td>
				<td><span style="color:#ffffff;font-size:12px;line-height:24px;font-family:'微軟正黑體';">© 富邦金融控股股份有限公司<br>建議瀏覽器版本：IE8、Chrome 40、Safari 5、FireFox 30 以上版本。</span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>