<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-關於富邦金控-專業殊榮</title>
	<link rel="canonical" href="https://www.fubon.com/financialholdings/" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/owl.carousel/owl.carousel.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Scripts/plugin/sugarfunbox/css/sugarfunbox.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/mahr/step.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				<div class="m-header-logo b-clearfix b-middle">
					<a href="../../Views/home/index.html" class="m-icon-stack m-icon-fubon-group">
						<i class="m-icon m-icon-fubon-blue is-absolute"></i>
						<i class="m-icon m-icon-fubon-green"></i>
						<i class="m-icon m-icon-fubon-text"></i>
					</a>
					<div class="m-header-company">
						<h1>富邦金控</h1>
					</div>
				</div>
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main honor-content ng-controller" ng-controller="Mahr" ng-init="Common.Channel = 'mahr'">
			<!-- ==================== l-main-hd begin =================== -->
			<header class="l-main-hd b-clearfix">
				<div class="m-media ng-image-load">
					<div class="b-loading">
						<span class="m-icon-stack">
							<i class="m-icon m-icon-fubon-blue is-absolute"></i>
							<i class="m-icon m-icon-fubon-green"></i>
						</span>
					</div>
					<div class="m-media-group">
						<div class="m-media-item">
							<figure class="m-media-figure">
								<img ng-src="../../Content/img/mahr/kv.jpg" alt="富邦金控-富邦金控儲備幹部線上履歷登錄系統">
							</figure>
						</div>
					</div>
					<ul class="m-media-tools is-right-top b-middle">
						<li><a href="javascript:;"><i class="m-icon m-icon-m-plus"></i></a></li>
						<li>
							<a href="https://www.youtube.com/channel/UCgMjSf4JsGOJ1jQpf8uWURQ" target="_blank">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-youtube-you is-absolute"></i>
									<i class="m-icon m-icon-youtube-tube"></i>
								</span>
							</a>
						</li>
						<li><a href="https://www.facebook.com/FUBON" target="_blank"><i class="m-icon m-icon-facebook-official"></i></a></li>
					</ul>
				</div>
			</header>
			<!-- ==================== l-main-hd end =================== -->

			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-section begin =================== -->
					<section class="m-section is-line curr-step-6">
						<header class="m-section-hd is-col b-clearfix">
							<h2>2016年儲備幹部(MA)履歷登錄</h2>
						</header>
						<main class="m-section-bd b-clearfix">
							<div class="m-form-item">
								<div class="m-form-item-hd">
									<div class="m-button-group b-align-md-right b-align-sm-right b-align-xs-right">
										<button type="button" class="m-button b-inverse b-lg">儲存</button>
										<button type="button" class="m-button b-inverse b-lg">履歷預覽</button>
										<button type="submit" class="m-button b-primary b-lg ng-box" data-href="box-confirm.html" data-width="460">履歷送出</button>
									</div>
								</div>
								<div class="m-form-item-bd">
									<ul class="m-step-progress">
										<li class="m-step-line">應徵志願</li>
										<li class="m-step-line">基本資料</li>
										<li class="m-step-line">經歷</li>
										<li class="m-step-line">專長</li>
										<li class="m-step-line">自我描述</li>
										<li class="m-step-line">聲明事項</li>
									</ul>
									<div class="box-item">
										<p>說明：下列問項內容為按台端所應徵之公司職位，依公司法及相關金融法令之資格規定或為金融秩序安定、符合金融監理要求、積極保護客戶及公司之財產，請台端勾選及說明，惟為尊重台端個人權益，台端仍得基於自由意思決定是否揭露，若台端選擇揭露，本公司〈依台端所應徵之公司為準〉將於甄選過程中或正式錄取後，請台端提供相關證明〈包括但不限於信用紀錄及「警察刑事紀錄證明書」〉，謹此告知。</p>
									</div>
									<div class="m-form-group m-form-horizontal is-radio is-margin-default ng-radio">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<label class="m-form-addon b-col-md-10 b-col-sm-10 b-col-xs-6">過去是否涉及民刑事案件或有不良債信，遭金融機構拒絕往來等記錄？</label>
									</div>
									<div class="m-form-group m-form-horizontal is-radio is-margin-default ng-radio">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<div class="m-form-ctrl b-col-md-10 b-col-sm-10 b-col-xs-6">
											<div class="b-col-md-2 b-col-sm-3 b-col-xs-6">
												<label>
													<input type="radio" class="m-form" />
													<span class="m-icon-stack">
														<i class="m-icon m-icon-dot-circle"></i>
														<i class="m-icon m-icon-dot-circle-o is-hide"></i>
													</span>
													<em>無</em>
												</label>
											</div>
											<div class="b-col-md-2 b-col-sm-3 b-col-xs-6">
												<label>
													<input type="radio" class="m-form" />
													<span class="m-icon-stack">
														<i class="m-icon m-icon-dot-circle"></i>
														<i class="m-icon m-icon-dot-circle-o is-hide"></i>
													</span>
													<em>有，請說明</em>
												</label>
											</div>
											<div class="b-col-md-8 b-col-sm-6 b-col-xs-6">
												<input type="text" class="m-form m-form-control">
											</div>
										</div>
									</div>
									<div class="m-form-group m-form-horizontal is-radio is-margin-default ng-radio">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<label class="m-form-addon b-col-md-10 b-col-sm-10 b-col-xs-6">是否與金控現職人員及配偶有二親等(含)以內之血親及姻親關係？（包括本人及配偶之祖父母、父母、兄弟姊妹、子女、孫子女、及上開人員之配偶等）</label>
									</div>
									<div class="m-form-group m-form-horizontal is-radio is-margin-default ng-radio">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<div class="m-form-ctrl b-col-md-10 b-col-sm-10 b-col-xs-6">
											<div class="b-col-md-2 b-col-sm-2 b-col-xs-6">
												<label>
													<input type="radio" class="m-form" />
													<span class="m-icon-stack">
														<i class="m-icon m-icon-dot-circle"></i>
														<i class="m-icon m-icon-dot-circle-o is-hide"></i>
													</span>
													<em>否</em>
												</label>
											</div>
											<div class="b-col-md-1 b-col-sm-1 b-col-xs-6">
												<label>
													<input type="radio" class="m-form" />
													<span class="m-icon-stack">
														<i class="m-icon m-icon-dot-circle"></i>
														<i class="m-icon m-icon-dot-circle-o is-hide"></i>
													</span>
													<em>是，</em>
												</label>
											</div>
											<div class="b-col-md-1 b-col-sm-1 b-col-xs-6">
												<em>姓名</em>
											</div>
											<div class="b-col-md-2 b-col-sm-2 b-col-xs-6">
												<input type="text" class="m-form m-form-control">
											</div>
											<div class="b-col-md-1 b-col-sm-1 b-col-xs-6">
												<em>部門</em>
											</div>
											<div class="b-col-md-2 b-col-sm-2 b-col-xs-6">
												<input type="text" class="m-form m-form-control">
											</div>
											<div class="b-col-md-1 b-col-sm-1 b-col-xs-6">
												<em>關係</em>
											</div>
											<div class="b-col-md-2 b-col-sm-2 b-col-xs-6">
												<input type="text" class="m-form m-form-control">
											</div>
										</div>
									</div>
									<div class="m-form-group m-form-horizontal is-radio is-margin-default ng-radio">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<label class="m-form-addon b-col-md-10 b-col-sm-10 b-col-xs-6">是否罹患法定傳染病？</label>
									</div>
									<div class="m-form-group m-form-horizontal is-radio is-margin-default ng-radio">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<div class="m-form-ctrl b-col-md-10 b-col-sm-10 b-col-xs-6">
											<div class="b-col-md-2 b-col-sm-3 b-col-xs-6">
												<label>
													<input type="radio" class="m-form" />
													<span class="m-icon-stack">
														<i class="m-icon m-icon-dot-circle"></i>
														<i class="m-icon m-icon-dot-circle-o is-hide"></i>
													</span>
													<em>否</em>
												</label>
											</div>
											<div class="b-col-md-2 b-col-sm-3 b-col-xs-6">
												<label>
													<input type="radio" class="m-form" />
													<span class="m-icon-stack">
														<i class="m-icon m-icon-dot-circle"></i>
														<i class="m-icon m-icon-dot-circle-o is-hide"></i>
													</span>
													<em>有，請說明</em>
												</label>
											</div>
											<div class="b-col-md-8 b-col-sm-6 b-col-xs-6">
												<input type="text" class="m-form m-form-control">
											</div>
										</div>
									</div>
									<div class="m-form-group m-form-horizontal is-radio is-margin-default ng-radio">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<label class="m-form-addon b-col-md-10 b-col-sm-10 b-col-xs-6">是否曾任職富邦金控相關子公司？</label>
									</div>
									<div class="m-form-group m-form-horizontal is-radio is-margin-default ng-radio">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<div class="m-form-ctrl b-col-md-10 b-col-sm-10 b-col-xs-6">
											<div class="b-col-md-2 b-col-sm-3 b-col-xs-6">
												<label>
													<input type="radio" class="m-form" />
													<span class="m-icon-stack">
														<i class="m-icon m-icon-dot-circle"></i>
														<i class="m-icon m-icon-dot-circle-o is-hide"></i>
													</span>
													<em>否</em>
												</label>
											</div>
											<div class="b-col-md-2 b-col-sm-3 b-col-xs-6">
												<label>
													<input type="radio" class="m-form" />
													<span class="m-icon-stack">
														<i class="m-icon m-icon-dot-circle"></i>
														<i class="m-icon m-icon-dot-circle-o is-hide"></i>
													</span>
													<em>有，請說明</em>
												</label>
											</div>
											<div class="b-col-md-8 b-col-sm-6 b-col-xs-6">
												<input type="text" class="m-form m-form-control">
											</div>
										</div>
									</div>
									<div class="m-form-group m-form-horizontal is-radio is-margin-default ng-radio">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<label class="m-form-addon b-col-md-10 b-col-sm-10 b-col-xs-6">若有其他合適職缺，是否同意將您的履歷轉介至富邦金控集團其他職位？（若同意，請於下列選項打<i class="m-icon m-icon-check-mark"></i>，可複選）</label>
									</div>
									<div class="m-form-group m-form-horizontal is-radio is-margin-default">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<ul class="m-form-sub-item b-col-md-10 b-col-sm-11">
											<li class="b-col-md-2 b-inline ng-radio">
												<div class="m-form-ctrl">
													<label>
														<input type="radio" name="1" class="m-form" />
														<span class="m-icon-stack">
															<i class="m-icon m-icon-dot-circle"></i>
															<i class="m-icon m-icon-dot-circle-o is-hide"></i>
														</span>
														<em>不同意</em>
													</label>
												</div>
												<div class="m-form-ctrl">
													<label>
														<input type="radio" name="1" class="m-form" />
														<span class="m-icon-stack">
															<i class="m-icon m-icon-dot-circle"></i>
															<i class="m-icon m-icon-dot-circle-o is-hide"></i>
														</span>
														<em>同意</em>
													</label>
												</div>
											</li>
											<li class="b-col-md-10 b-inline ng-checkbox">
												<div class="m-form-ctrl">
													<label>
														<input type="checkbox" class="m-form" />
														<span class="m-icon-stack">
															<i class="m-icon m-icon-square-o"></i>
															<i class="m-icon m-icon-check-square-o is-hide"></i>
														</span>
														<em>金控</em>
													</label>
													<label>
														<input type="checkbox" class="m-form" />
														<span class="m-icon-stack">
															<i class="m-icon m-icon-square-o"></i>
															<i class="m-icon m-icon-check-square-o is-hide"></i>
														</span>
														<em>銀行</em>
													</label>
													<label>
														<input type="checkbox" class="m-form" />
														<span class="m-icon-stack">
															<i class="m-icon m-icon-square-o"></i>
															<i class="m-icon m-icon-check-square-o is-hide"></i>
														</span>
														<em>證券</em>
													</label>
													<label>
														<input type="checkbox" class="m-form" />
														<span class="m-icon-stack">
															<i class="m-icon m-icon-square-o"></i>
															<i class="m-icon m-icon-check-square-o is-hide"></i>
														</span>
														<em>產險</em>
													</label>
													<label>
														<input type="checkbox" class="m-form" />
														<span class="m-icon-stack">
															<i class="m-icon m-icon-square-o"></i>
															<i class="m-icon m-icon-check-square-o is-hide"></i>
														</span>
														<em>人壽</em>
													</label>
													<label>
														<input type="checkbox" class="m-form" />
														<span class="m-icon-stack">
															<i class="m-icon m-icon-square-o"></i>
															<i class="m-icon m-icon-check-square-o is-hide"></i>
														</span>
														<em>期貨</em>
													</label>
													<label>
														<input type="checkbox" class="m-form" />
														<span class="m-icon-stack">
															<i class="m-icon m-icon-square-o"></i>
															<i class="m-icon m-icon-check-square-o is-hide"></i>
														</span>
														<em>投顧</em>
													</label>
													<label>
														<input type="checkbox" class="m-form" />
														<span class="m-icon-stack">
															<i class="m-icon m-icon-square-o"></i>
															<i class="m-icon m-icon-check-square-o is-hide"></i>
														</span>
														<em>投信</em>
													</label>
													<label>
														<input type="checkbox" class="m-form" />
														<span class="m-icon-stack">
															<i class="m-icon m-icon-square-o"></i>
															<i class="m-icon m-icon-check-square-o is-hide"></i>
														</span>
														<em>行銷</em>
													</label>
												</div>
											</li>
										</ul>
									</div>
									<div class="m-form-group m-form-horizontal is-checkbox is-margin-default ng-checkbox">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<label class="m-form-addon b-col-md-10 b-col-sm-10 b-col-xs-6">您是如何得知富邦MA計畫？</label>
									</div>
									<div class="m-form-group m-form-horizontal is-checkbox is-margin-default ng-checkbox">
										<label class="m-form-addon b-col-md-1 b-col-sm-1"></label>
										<div class="m-form-ctrl b-col-md-10 b-col-sm-10 b-col-xs-6">
											<label>
												<input type="checkbox" class="m-form" />
												<span class="m-icon-stack">
													<i class="m-icon m-icon-square-o"></i>
													<i class="m-icon m-icon-check-square-o is-hide"></i>
												</span>
												<em>104網站</em>
											</label>
											<label>
												<input type="checkbox" class="m-form" />
												<span class="m-icon-stack">
													<i class="m-icon m-icon-square-o"></i>
													<i class="m-icon m-icon-check-square-o is-hide"></i>
												</span>
												<em>校園徵才活動</em>
											</label>
											<label>
												<input type="checkbox" class="m-form" />
												<span class="m-icon-stack">
													<i class="m-icon m-icon-square-o"></i>
													<i class="m-icon m-icon-check-square-o is-hide"></i>
												</span>
												<em>畢業學長、姐</em>
											</label>
											<label>
												<input type="checkbox" class="m-form" />
												<span class="m-icon-stack">
													<i class="m-icon m-icon-square-o"></i>
													<i class="m-icon m-icon-check-square-o is-hide"></i>
												</span>
												<em>富邦金控網站</em>
											</label>
											<label>
												<input type="checkbox" class="m-form" />
												<span class="m-icon-stack">
													<i class="m-icon m-icon-square-o"></i>
													<i class="m-icon m-icon-check-square-o is-hide"></i>
												</span>
												<em>Facebook</em>
											</label>
											<label>
												<input type="checkbox" class="m-form" />
												<span class="m-icon-stack">
													<i class="m-icon m-icon-square-o"></i>
													<i class="m-icon m-icon-check-square-o is-hide"></i>
												</span>
												<em>Linkedin</em>
											</label>
											<label>
												<input type="checkbox" class="m-form" />
												<span class="m-icon-stack">
													<i class="m-icon m-icon-square-o"></i>
													<i class="m-icon m-icon-check-square-o is-hide"></i>
												</span>
												<em>其他</em>
												<input type="text" class="m-form m-form-control">
											</label>
										</div>
									</div>
								</div>
								<div class="m-form-item-ft">
									<div class="m-button-group b-align-md-center b-align-sm-center b-align-xs-center">
										<button type="reset" class="m-button b-inverse b-lg">上一步</button>
										<button type="submit" class="m-button b-primary b-lg">送出</button>
									</div>
								</div>
							</div>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->

				<!-- ==================== top botton begin =================== -->
				<!-- <button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button> -->
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer b-clearfix">
			<footer class="m-footer">
				<small class="m-footer-ft">© 富邦金融控股股份有限公司<br />建議瀏覽器版本：IE8 (含)、Chrome 40 (含)、Safari 5 (含)、FireFox 30 (含) 以上版本</small>
			</footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->

	<!-- ==================== l-nav begin =================== -->
	<nav class="l-nav" ng-class="{'is-animate' : Common.Nav.Mobile.Click}">
		<div class="m-nav ng-nav" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
			<span class="m-nav-bar" ng-class="{'is-show' : Common.Nav.Bar.Hover}" ng-style="{'left' : Common.Nav.Bar.Left , 'width' : Common.Nav.Bar.Width}"></span>
			<div class="m-nav-path ng-nav-path" ng-style="{'top' : Common.Nav.Path.Top , 'height' : Common.Nav.Path.Height}">
				<ul>
					<li ng-style="{'height' : Common.Nav.Path.Height}">
						<!--[if lt IE 10]><span></span><![endif]-->
						<div>
							<ul></ul>	
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- ==================== l-nav end =================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular/angular.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/common.js?JS=20150630_01"></script>
<!-- master page include scripts end -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/owl.carousel/owl.carousel.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/sugarfunbox/js/sugarfunbox.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/mahr/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>