<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="">
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="" />
	<meta property="og:image" content=""/>
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="504" />
	<meta property="og:image:height" content="504" />
	<meta property="og:site_name" content=""/>
	<title>富邦金控-關於富邦金控-專業殊榮</title>
	<link rel="canonical" href="https://www.fubon.com/financialholdings/" />
	<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/favicon.ico">
	<!-- master page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/angular/angular.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/reset.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/style.css?CSS=20150630_01">
	<!-- master page include css end -->

	<!-- self page include css begin -->
	<link rel="stylesheet" href="../../Scripts/plugin/owl.carousel/owl.carousel.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Scripts/plugin/sugarfunbox/css/sugarfunbox.css?CSS=20150630_01">
	<link rel="stylesheet" href="../../Content/css/mahr/step.css?CSS=20150630_01">
	<!-- self page include css end -->

	<!-- master page include scripts begin -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../Scripts/plugin/modernizr/modernizr.custom.js?JS=20150630_01"></script>
	<![endif]-->
	<!-- master page include scripts end -->
</head>
<body id="ng-app" ng-app="FuBon-Ctrl" ng-controller="Ctrl">
	<!-- ==================== l-body begin =================== -->
	<div class="l-body" ng-class="{'is-animate' : Common.Nav.Mobile.Click , 'is-lock' : Common.Nav.Mobile.Lock}" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
		<!-- ==================== l-header begin =================== -->
		<div class="l-header">
			<header class="m-header b-clearfix">
				<div class="m-header-logo b-clearfix b-middle">
					<button class="m-button m-button-navicon ng-navicon"><i class="m-icon m-icon-navicon"></i></button>
					<a href="../../Views/home/index.html" class="m-icon-stack m-icon-fubon-group">
						<i class="m-icon m-icon-fubon-blue is-absolute"></i>
						<i class="m-icon m-icon-fubon-green"></i>
						<i class="m-icon m-icon-fubon-text"></i>
					</a>
					<div class="m-header-company">
						<h1>富邦金控</h1>
					</div>
				</div>
			</header>
		</div>
		<!-- ==================== l-header end =================== -->
		<!-- ==================== l-main begin =================== -->
		<div class="l-main honor-content ng-controller" ng-controller="Mahr" ng-init="Common.Channel = 'mahr'">
			<!-- ==================== l-main-hd begin =================== -->
			<header class="l-main-hd b-clearfix">
				<div class="m-media ng-image-load">
					<div class="b-loading">
						<span class="m-icon-stack">
							<i class="m-icon m-icon-fubon-blue is-absolute"></i>
							<i class="m-icon m-icon-fubon-green"></i>
						</span>
					</div>
					<div class="m-media-group">
						<div class="m-media-item">
							<figure class="m-media-figure">
								<img ng-src="../../Content/img/mahr/kv.jpg" alt="富邦金控-富邦金控儲備幹部線上履歷登錄系統">
							</figure>
						</div>
					</div>
					<ul class="m-media-tools is-right-top b-middle">
						<li><a href="javascript:;"><i class="m-icon m-icon-m-plus"></i></a></li>
						<li>
							<a href="https://www.youtube.com/channel/UCgMjSf4JsGOJ1jQpf8uWURQ" target="_blank">
								<span class="m-icon-stack">
									<i class="m-icon m-icon-youtube-you is-absolute"></i>
									<i class="m-icon m-icon-youtube-tube"></i>
								</span>
							</a>
						</li>
						<li><a href="https://www.facebook.com/FUBON" target="_blank"><i class="m-icon m-icon-facebook-official"></i></a></li>
					</ul>
				</div>
			</header>
			<!-- ==================== l-main-hd end =================== -->

			<!-- ==================== l-main-bd begin =================== -->
			<main class="l-main-bd b-clearfix">
				<!-- ==================== l-content begin =================== -->
				<div class="l-content">
					<!-- ==================== m-section begin =================== -->
					<section class="m-section is-line curr-step-5">
						<header class="m-section-hd is-col b-clearfix">
							<h2>2016年儲備幹部(MA)履歷登錄</h2>
						</header>
						<main class="m-section-bd b-clearfix">
							<div class="m-form-item">
								<div class="m-form-item-hd">
									<div class="m-button-group b-align-md-right b-align-sm-right b-align-xs-right">
										<button type="button" class="m-button b-inverse b-lg">儲存</button>
										<button type="button" class="m-button b-inverse b-lg">履歷預覽</button>
										<button type="submit" class="m-button b-primary b-lg ng-box" data-href="box-remind.html" data-width="460">履歷送出</button>
									</div>
								</div>
								<div class="m-form-item-bd">
									<ul class="m-step-progress">
										<li class="m-step-line">應徵志願</li>
										<li class="m-step-line">基本資料</li>
										<li class="m-step-line">經歷</li>
										<li class="m-step-line">專長</li>
										<li class="m-step-line">自我描述</li>
										<li class="m-step-line">聲明事項</li>
									</ul>
									<div class="m-form-group m-form-horizontal m-form-select b-row ng-select">
										<label class="m-form-addon">請敘述一個你近年做過最有挑戰或最有成就的事情</label>
										<div class="m-form-ctrl-table">
											<div class="m-form-ctrl b-col-md-12 b-col-sm-12 b-col-xs-6">
												<label>
													<textarea class="m-form m-form-control"></textarea>
												</label>
											</div>
										</div>
									</div>
									<div class="m-form-group m-form-horizontal m-form-select b-row ng-select">
										<label class="m-form-addon">請敘述一個你近年失敗的經驗和該事件對你的影響</label>
										<div class="m-form-ctrl-table">
											<div class="m-form-ctrl b-col-md-12 b-col-sm-12 b-col-xs-6">
												<label>
													<textarea class="m-form m-form-control"></textarea>
												</label>
											</div>
										</div>
									</div>
									<div class="m-form-group m-form-horizontal m-form-select b-row ng-select">
										<label class="m-form-addon">請敘述你對職涯的規劃</label>
										<div class="m-form-ctrl-table">
											<div class="m-form-ctrl b-col-md-12 b-col-sm-12 b-col-xs-6">
												<label>
													<textarea class="m-form m-form-control"></textarea>
												</label>
											</div>
										</div>
									</div>
									<div class="m-form-group m-form-horizontal m-form-select b-row ng-select">
										<label class="m-form-addon">除了以上的資料外，是否還有其他能讓主管多瞭解你的事情，請於以下說明</label>
										<div class="m-form-ctrl-table">
											<div class="m-form-ctrl b-col-md-12 b-col-sm-12 b-col-xs-6">
												<label>
													<textarea class="m-form m-form-control"></textarea>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="m-form-item-ft">
									<div class="m-button-group b-align-md-center b-align-sm-center b-align-xs-center">
										<button type="reset" class="m-button b-inverse b-lg">上一步</button>
										<button type="submit" class="m-button b-primary b-lg">下一步</button>
									</div>
								</div>
							</div>
						</main>
					</section>
					<!-- ==================== m-section end =================== -->
				</div>
				<!-- ==================== l-content end =================== -->

				<!-- ==================== top botton begin =================== -->
				<!-- <button type="button" class="m-button m-button-top ng-top" ng-style="{'top' : Common.Top.Top}"><i class="m-icon m-icon-arrow-angle-up"></i><em>TOP</em></button> -->
				<!-- ==================== top botton end =================== -->
			</main>
			<!-- ==================== l-main-bd end =================== -->
		</div>
		<!-- ==================== l-main end =================== -->
		<!-- ==================== l-footer begin =================== -->
		<div class="l-footer b-clearfix">
			<footer class="m-footer">
				<small class="m-footer-ft">© 富邦金融控股股份有限公司<br />建議瀏覽器版本：IE8 (含)、Chrome 40 (含)、Safari 5 (含)、FireFox 30 (含) 以上版本</small>
			</footer>
		</div>
		<!-- ==================== l-footer end =================== -->
	</div>
	<!-- ==================== l-body end =================== -->

	<!-- ==================== l-nav begin =================== -->
	<nav class="l-nav" ng-class="{'is-animate' : Common.Nav.Mobile.Click}">
		<div class="m-nav ng-nav" ng-style="{'margin-top' : ( Common.Nav.Path.Click ? (Common.Nav.Path.Height - Common.Nav.Path.PaddingTop) : 0 )}">
			<span class="m-nav-bar" ng-class="{'is-show' : Common.Nav.Bar.Hover}" ng-style="{'left' : Common.Nav.Bar.Left , 'width' : Common.Nav.Bar.Width}"></span>
			<div class="m-nav-path ng-nav-path" ng-style="{'top' : Common.Nav.Path.Top , 'height' : Common.Nav.Path.Height}">
				<ul>
					<li ng-style="{'height' : Common.Nav.Path.Height}">
						<!--[if lt IE 10]><span></span><![endif]-->
						<div>
							<ul></ul>	
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- ==================== l-nav end =================== -->
</body>
<!-- master page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/jquery/jquery.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular/angular.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/angular-sanitize/angular-sanitize.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/common.js?JS=20150630_01"></script>
<!-- master page include scripts end -->

<!-- self page include scripts begin -->
<script type="text/javascript" src="../../Scripts/plugin/owl.carousel/owl.carousel.min.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/plugin/sugarfunbox/js/sugarfunbox.js?JS=20150630_01"></script>
<script type="text/javascript" src="../../Scripts/js/mahr/common.js?JS=20150630_01"></script>
<!-- self page include scripts end -->
</html>